/*--  Common Styles  --*/
/*==============================================================================
************************  Font Style For the Site  *****************************
===============================================================================*/
/*--  Font Open Sans  --*/
@font-face {
    font-family: 'open-sans';
    src: url("../fonts/open-sans/open-sans.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/open-sans/open-sans.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans.woff") format("woff"), url("../fonts/open-sans/open-sans.ttf") format("truetype"), url("../fonts/open-sans/open-sans.svg#svgFontName") format("svg");
    /* Legacy iOS */ }
body {
    font-family: "Roboto Medium",sans-serif; }

/*.vla-cy {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 999;
  overflow: hidden; }*/

.vla-cy, .vla-map {
    width: 100%;
    height: 100%;
    position: absolute;
    /*  left: 320px;
      top:180px;*/
    z-index: 999;
    overflow: hidden; }

.vla-map {
    z-index: 998; }

.vla-viewport {
    position: relative;
    overflow: hidden; }

.vla-selection-panel {
    display: none;
    /*  position: absolute;
      top: 5px;
      left: 54px;
      background-color: #676766;
      border: solid 1px #B9F0C9;
      z-index: 10001;
      min-width: 200px;*/
}

.vla-panel-on  {
    left: 161px; }

.vla-object-info {
    border-radius: 2px;
    background-color: #ffffff;
    color: #333;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 12px; }
.vla-object-info .vla-caption {
    font-weight: bold; }

.vla-selection-info {
    color: #FFFFFF; }

.vla-object-info-header {
    color: #B9F0C9;
    padding-bottom: 5px;
    display:none;
    text-wrap: avoid; }
.vla-object-info-header .vla-graph-link {
    border-color: #B9F0C9; }
.vla-object-info-header .vla-toggler {
    cursor: pointer;
    border-bottom: 1px dotted #B9F0C9;
    margin-left: 10px; }

.vla-panel-toggler {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: #676766;
    color: #B9F0C9;
    cursor: pointer;
    border-radius: 2px;
    z-index: 10001;
    padding: 14px;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    border: solid 1px #B9F0C9; }

.vla-panel {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 155px;
    z-index: 10000;
    /*background-color: $vla_gray;*/
    border-radius: 2px;
    border: solid 1px #B9F0C9;
    /*padding: 10px;*/
    /*padding: 50px 0 0 0;*/
    /*display: none;*/
    /*overflow-y: auto;*/
    box-sizing: border-box; }
.vla-panel input, .vla-panel button, .vla-panel select, .vla-panel textarea {
    color: #6a7a82;
    border: 0;
    background-color: #1B2735;;
    border-bottom: 1px solid #325D80;
    font-size: 13px;
    padding: 4px 0;}

.downloadGraph{
    border-bottom: 0 !important;
}

.vla-panel-on .vla-panel {
    display: block; }

.vla-type-filter-form, .vla-snapshot-form, .focus-panel, .vla-show-labels-form, .vla-layouts-form, 
.vla-node-style-panel, .vla-edge-style-panel {
    /*padding: $panels_paddings;*/ }

.vla-attr-filter {
    /*padding: $panels_paddings;*/ }
.vla-attr-filter select {
    width: 100%; }

.vla-search {
    /*	padding: $panels_paddings;*/ }

.vla-type-filter-form, .focus-panel, .vla-show-labels-form, .vla-layouts-form, .vla-node-style-panel, .vla-edge-style-panel, .vla-attr-filter {
    /*border-bottom: solid 1px $vla_green;*/ }

.vla-layouts-form select {
    width: 100%; }
.vla-layouts-form .vla-layouts-status {
    display: none; }
.vla-layouts-form .vla-layouts-start, .vla-layouts-form .vla-layouts-stop {
    display: none !important; }

.vla_spinner {
    display:none;
    color: #3bc6b1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*cursor: wait;*/
    background-color: white;
    /*color: #000;*/
    /*font-size: 2em;*/
    /*left: 0;*/
    opacity: 0.9;
    position: absolute;
    text-align: center;
    /*top: 0;*/
    height: 100%;
    width: 100%;
    z-index: 10001; }
.vla_spinner span {
    position: absolute;
    top: 50%; }
.custom-spinner {
    color: #3bc6b1;
    position: absolute;
    top: 50%;
    left: 50%;
    /*cursor: wait;*/
    /*opacity: 0.9;*/
    z-index: 10001;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.full-custom-spinner {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
}
.full-custom-spinner i{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10001;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.vla-checkbox {
    display: block;
    cursor: pointer;
    position: relative;
    width: 72px;
}
.vla-checkbox input {
    display: none; }
.vla-checkbox .vla-cb-check {
    /*color: #B9F0C9;*/
}
.vla-checkbox .vla-cb-empty {
    font-size: 33px;
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 5px;
    z-index: 99;
    width: 20px; }
.vla-checkbox:last-child .vla-cb-empty {
    right: 7px;
}
.vla-checkbox .vla-cb-check{
    font-size: 22px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 4.5px;
    z-index: 99;
    width: 20px;
}
.vla-checkbox:last-child .vla-cb-check{
    right: 6.5px;
}
.vla-checkbox .vla-cb-check {
    display: none; }
.vla-checkbox.vla-cb-checked .vla-cb-empty {
    display: none; }
.vla-checkbox.vla-cb-checked .vla-cb-check {
    display: inline-block; }
.vla-checkbox.vla-disabled {
    opacity: 0.5;
    cursor: auto; }

.on-any-selected {
    display: none; }

.sel-any .on-any-selected {
    display: block; }
.sel-any button.on-any-selected {
    display: inline-block; }

.on-any-node-selected {
    display: none; }

.sel-n-any .on-any-node-selected {
    display: block; }
.sel-n-any button.on-any-node-selected {
    display: inline-block; }

.on-any-edge-selected {
    display: none; }

.sel-e-any .on-any-edge-selected {
    display: block; }
.sel-e-any button.on-any-edge-selected {
    display: inline-block; }

.focus-panel {
    display: none; }

.vla-focused .focus-panel {
    display: block; }

.show-all-block {
    /*	position: absolute;
            top: 0;
            left: 0;
            height: 49px;
            padding-top: 7px;
            padding-right: 6px;
            padding-left: 55px;
            border-bottom: solid 1px $vla_green;
            box-sizing: border-box;*/ }
.show-all-block button {
    cursor: pointer;
    border: 1px solid lightgrey;
    background-color: #B9F0C9; }

.vla-graph-link {
    border-bottom: 1px dotted black;
    cursor: pointer; }

.vla-search input {
    width: 100%;
    background-color: transparent;
    border: 0;
    max-width: 160px;
    border-bottom: 1px solid #325D80;
    border-radius: 0;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 4px 0 0;
    padding: 3px 18px 3px 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vla-search form,
.vla-search form .twitter-typeahead{
    width:100% !important;
}
.tt-menu {
    background-color: #456176;
    border-radius: 2px;
    border: solid 1px #283c45;
    max-height: 10em;
    overflow: auto;
    width: 100%; }

.tt-suggestion {
    padding: 3px 10px;
    cursor: pointer;
    border-bottom: 1px solid #283c45;
    box-sizing: border-box; }

.tt-suggestion .vla-id {
    font-size: 0.8em; }

.tt-highlight {
    font-weight: bold; }

.tt-cursor, .tt-suggestion {
    color: #9bb5c6;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }

.tt-cursor, .tt-suggestion:hover {
    background-color: #5ba4c7;
    color: #fff; }

.selectric-items li {
    position: relative; }
.selectric-items li span.fa {
    font-size: large;
    position: absolute;
    top: 12px;
    right: 5px;
    width: 19px; }

.vla-attr-filter input {
    width: 100%;
    box-sizing: border-box;
    /*        border: 1px solid $vla_green;*/ }
.vla-attr-filter .vla-selected-filters:after {
    content: ".";
    visibility: hidden;
    /*display: block;*/
    height: 0;
    clear: both; }
.vla-attr-filter .vla-filter-block {
    position: relative;
    border: solid 1px #676766;
    border-radius: 2px;
    padding: 5px 18px 5px 5px;
    margin: 1px;
    box-sizing: border-box;
    white-space: nowrap;
    float: left;
    display: inline-block;
    max-width: 155px;
    color: #676766;
    background-color: #B9F0C9; }
.vla-attr-filter .vla-filter-block .vla-filter-content {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; }
.vla-attr-filter .vla-filter-block .vla-filter-remove {
    position: absolute;
    right: 3px;
    top: 5px;
    cursor: pointer; }

.vla-node-style-panel {
    /*background-color: mix($vla_gray, saddlebrown, 80%);*/ }

.vla-edge-style-panel {
    /*background-color: mix($vla_gray, limegreen, 80%);*/ }

.vla-time-panel {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 332px;
    z-index: 10000;
    padding: 10px;
    /*width: 400px;*/
    /*	border: solid 1px $vla_green;
            background-color: $vla_gray;*/
    border: 0;
    background-color: #384b59; }

.vla-rtl {
    unicode-bidi: bidi-override;
    direction: rtl; }

.vla-notes-block .vla-notes {
    max-width: 400px;
    max-height: 300px;
    overflow-y: auto; }
.vla-notes-block .vla-notes .vla-note {
    border-top: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block; }
.vla-notes-block .vla-notes .vla-note .vla-note-text {
    display: block; }
.vla-notes-block .vla-notes .vla-note .vla-delete {
    cursor: pointer; }
.vla-notes-block form {
    display: none; }
.vla-notes-block form textarea {
    width: 100%;
    display: block; }

.vla-object-info .vla-notes-block form {
    display: block; }

/*--  Custom Styles  --*/
.content-wrapper {
    /*padding-left: 240px;*/ }

.sidebar-wrapper {
    top: 138px;
    bottom: 0;
    border: 0;
    left: -250px;
    padding: 10px 0 0;
    position: fixed;
    min-width: 240px;
    background-color: #384b59;
    outline: none;
    overflow-x: hidden;
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    /*    &:focus,  :active{
            background-color: #384b59;        
            outline: none;
        }*/
    /*--  Node Style Panel  --*/
    /*--  Custom Scrollbar Styles  --*/ }
.sidebar-wrapper .show-all-block {
    text-align: right;
    padding: 0 10px; }
.sidebar-wrapper .show-all-block button {
    display: inline-block; }
.sidebar-wrapper .btn-primary {
    color: #FFF;
    border: 0;
    border-radius: 0;
    background-color: #5ba4c7; }
.sidebar-wrapper .btn-primary:active, .sidebar-wrapper .btn-primary:focus {
    background-color: #5ba4c7;
    outline: none; }
.sidebar-wrapper .twitter-typeahead {
    display: block !important;
    background-color: transparent; }
.sidebar-wrapper .title {
    color: #9bb5c6;
    padding: 10px 15px;
    margin: 10px 0 0;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #456176; }
.sidebar-wrapper form {
    padding: 0 10px; }
.sidebar-wrapper select,
.sidebar-wrapper input {
    width: 100%;
    border: 0;
    color: #ccc;
    padding: 5px;
    outline: none;
    min-height: 30px;
    border-radius: 0;
    border-bottom: 1px solid #0cb29a;
    background-color: transparent;
    /*        &:not(:last-child){
                margin-bottom: 10px;
            }*/ }
.sidebar-wrapper select option {
    background-color: #456176; }
.sidebar-wrapper select option:hover {
    background-color: #5ba4c7; }
.sidebar-wrapper .degree {
    margin-bottom: 5px; }
.sidebar-wrapper .focus-panel {
    padding: 0 10px; }
.sidebar-wrapper .vla-checkbox {
    margin: 10px; }
.sidebar-wrapper .element-body {
    padding: 10px; }
.sidebar-wrapper .vla-snapshot-form .btn {
    margin: 0 0 10px 10px; }
.sidebar-wrapper .vla-edge-style-panel {
    padding: 10px 0; }
.sidebar-wrapper .vla-edge-style-panel > label,
.sidebar-wrapper .vla-node-style-panel > label {
    padding: 0 10px;
    margin-top: 10px; }
.sidebar-wrapper .vla-edge-style-panel > div,
.sidebar-wrapper .vla-node-style-panel > div {
    padding: 0 10px;
    margin-top: 10px; }
.sidebar-wrapper .vla-edge-style-panel > div.title,
.sidebar-wrapper .vla-node-style-panel > div.title {
    padding: 10px 15px; }
.sidebar-wrapper .vla-edge-style-panel label,
.sidebar-wrapper .vla-node-style-panel label {
    display: block; }
.sidebar-wrapper .focus-panel {
    padding-top: 10px; }
.sidebar-wrapper .focus-panel select {
    margin-bottom: 5px; }
.sidebar-wrapper .focus-panel .btn {
    float: right; }
.sidebar-wrapper .selectric {
    height: 35px;
    padding: 0;
    margin-top: 5px;
    border-width: 1px;
    background-color: #384b59;
    border-color: #384b59;
    border-bottom-color: #0cb29a; }
.sidebar-wrapper .selectric
.label {
    padding: 7px 0;
    color: #eeeeee; }
.sidebar-wrapper .selectric .button {
    width: 35px;
    height: 35px; }
.sidebar-wrapper .selectric-focus .selectric,
.sidebar-wrapper .selectric-open .selectric,
.sidebar-wrapper .selectric-hover .selectric {
    background-color: #384b59;
    border-color: #384b59;
    border-bottom-color: #0cb29a; }
.sidebar-wrapper .sp-replacer {
    width: 100%;
    border: 0;
    display: block;
    padding: 8px 4px;
    margin-top: 5px;
    background-color: #315c7f; }
.sidebar-wrapper .sp-preview {
    width: 88%; }
.sidebar-wrapper .selectric-items {
    border: solid 1px #283c45;
    border-width: 1px; }
.sidebar-wrapper .selectric-items ul {
    width: 100%;
    background-color: #456176; }
.sidebar-wrapper .selectric-items ul li {
    color: #9bb5c6;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    font-size: 10px;
    line-height: 12px;
    min-height: 15px; }
.sidebar-wrapper .selectric-items ul li:hover {
    color: #fff;
    background-color: #5ba4c7; }
.sidebar-wrapper .selectric-items ul li.highlighted {
    color: #fff;
    background-color: #5ba4c7; }
.sidebar-wrapper .selectric-items ul li span.fa {
    top: 7px; }
.sidebar-wrapper .vla-layouts-form select {
    width: 80%; }
.sidebar-wrapper .mCSB_scrollTools {
    width: 12px; }
.sidebar-wrapper .mCSB_inside > .mCSB_container {
    margin-right: 13px; }
.sidebar-wrapper .selectric-items .mCustomScrollBox {
    background-color: #456176; }

.sp-container button.sp-choose.sp-choose {
    color: #FFF;
    border: 0;
    border-radius: 0;
    background-color: #5ba4c7;
    background-image: none;
    padding: 7px 12px; }
.sp-container button.sp-choose.sp-choose:active, .sp-container button.sp-choose.sp-choose:focus, .sp-container button.sp-choose.sp-choose :hover {
    outline: none;
    background-color: #5ba4c7;
    background-image: none; }

.vla-selection-panel {
    left: 245px;
    top: 0;
    padding: 5px;
    background-color: #384b59;
    border: 0; }
.vla-selection-panel .vla-caption {
    display: inline-block;
    min-width: 40px;
    color: #596d74;}
.vla-selection-panel .vla-caption-body {
    color: #596d74;}
.vla-selection-panel .btn-primary {
    color: #FFF;
    border: 0;
    border-radius: 0;
    background-color: #5ba4c7;
    margin-right: 10px;
    text-transform: capitalize; }
.vla-selection-panel .btn-primary:active, .vla-selection-panel .btn-primary:focus {
    background-color: #5ba4c7;
    outline: none; }
.vla-selection-panel textarea {
    margin-bottom: 10px;
    background-color: #384b59;
    color: #fff; }
.vla-selection-panel .vla-object-info-buttons {
    text-align: center; }

.vla-panel-toggler {
    display: none; }

/*--  Content Styles  --*/
.qtip .qtip-tip {
    background-color: #1D242C !important; }

.vla-object-info {
    background-color: #1b2735 !important;
    border-color: #1b2735 !important;
    color: #ccc !important; }
.vla-object-info .vla-colon{
    color: #596d74;
}
.vla-caption {
    text-transform: capitalize;
}
.vla-caption-body {
    text-transform: capitalize;
}
.qtip-bootstrap {
    background-color: #1D242C !important;
    border-color: #1D242C !important;
    color: #fff !important; }

.qtip-bootstrap .vla-caption {
    display: inline-block;
    /*min-width: 50px;*/
    font-weight: normal;
    text-transform: capitalize;
    color: #596d74;
    font-size: 11px;
    float: left;
}

.qtip-bootstrap .vla-header {
    /*display: inline-block;*/
    /*min-width: 50px;*/
    /*    font-weight: normal;
        text-transform: capitalize;
        color: #596d74;
        font-size: 11px;*/
}
.qtip-bootstrap .vla-caption-body {
    /*font-weight:normal;*/
    font-weight: normal;
    text-transform: capitalize;
    color: #596d74;
    font-size: 11px;
}

.qtip-bootstrap .vla-caption-body.custom-heading{
    color:#ffa71d;
    font-size:14px;
    position: relative;
    padding-left: 26px;
/*    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    border-bottom: 1px solid #8b9fa8;
    /*line-height: 30px;*/
}
.qtip-bootstrap .vla-caption-body.custom-heading > img{
    width:20px;
    height:20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.qtip-bootstrap span > i, #collapseOne  span > i{
    margin-right: 5px;
    font-size: 12px;
    color: #2A4B68;
}
.header-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }

/* .navbar-wrapper { */
/*     border: 0; */
/*     margin: 0; */
/*     min-height: inital; */
/*     background-color: #1b2735; } */
/* .navbar-wrapper .navbar-brand { */
/*     padding: 10px 15px; */
/*     max-width: 150px; } */
/* .navbar-wrapper .navbar-form .form-group { */
/*     position: relative; } */
/* .navbar-wrapper .navbar-form .fa { */
/*     bottom: 6px; */
/*     color: #384b59; */
/*     position: absolute; } */
/* .navbar-wrapper .navbar-form .fa.fa-search { */
/*     left: 0; */
/*     font-size: 20px; */
/*     -webkit-transform: rotate(90deg); */
/*     -ms-transform: rotate(90deg); */
/*     -o-transform: rotate(90deg); */
/*     transform: rotate(90deg); } */
/* .navbar-wrapper .navbar-form .fa.fa-angle-down { */
/*     right: 0; */
/*     font-size: 30px; */
/*     line-height: 15px; } */
/* .navbar-wrapper .navbar-form input { */
/*     border: 0; */
/*     min-width: 240px; */
/*     background: transparent; */
/*     border-bottom: 1px solid #0cb29a; */
/*     border-radius: 0; */
/*     padding: 5px 25px; */
/*     color: #ccc; */
/*     height: 30px; */
/*     -webkit-box-shadow: none; */
/*     box-shadow: none; } */
/* .navbar-wrapper .navbar-form input:focus { */
/*     -webkit-box-shadow: none; */
/*     box-shadow: none; } */
/* .navbar-wrapper .navbar-form .btn { */
/*     color: #384b59; */
/*     padding: 0; */
/*     text-transform: uppercase; */
/*     font-weight: 600; */
/*     margin-left: 20px; */
/*     outline: none; */
/*     text-decoration: none; */
/*     vertical-align: bottom; } */
/* .navbar-wrapper .navbar-nav > li > a { */
/*     color: #fff; */
/*     padding: 20px 10px; */
/*     font-weight: 600; */
/*     text-transform: uppercase; */
/*     background-color: transparent; */
/*     -webkit-transition: 0.3s all ease-in-out; */
/*     -o-transition: 0.3s all ease-in-out; */
/*     transition: 0.3s all ease-in-out; } */
/* .navbar-wrapper .navbar-nav > li > a:hover { */
/*     color: #315c7f; } */
/* .navbar-wrapper .navbar-nav > li > a:focus { */
/*     color: #fff; } */
/* .navbar-wrapper .navbar-nav > li > a .fa { */
/*     color: #315c7f; */
/*     font-size: 18px; */
/*     display: inline-block; */
/*     margin-right: 5px; */
/*     vertical-align: middle; } */
/* .navbar-wrapper .navbar-nav > li.active > a { */
/*     background-color: transparent; } */
/* .navbar-wrapper .navbar-nav > li.profile a { */
/*     position: relative; */
/*     padding: 5px 50px 5px 15px; } */
/* .navbar-wrapper .navbar-nav > li.profile span { */
/*     display: block; */
/*     font-weight: 600; } */
/* .navbar-wrapper .navbar-nav > li.profile span:first-of-type { */
/*     color: #315c7f; } */
/* .navbar-wrapper .navbar-nav > li.profile span:last-of-type { */
/*     color: #384b59; */
/*     font-size: 10px; } */
/* .navbar-wrapper .navbar-nav > li.profile img { */
/*     position: absolute; */
/*     max-width: 40px; */
/*     right: 10px; */
/*     top: 6px; } */

.middle-header {
    background-color: #C653FF; }
.middle-header .navbar-nav {
    padding-left: 50px; }
.middle-header .navbar-nav > li > a {
    color: #fff;
    padding: 10px 15px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
.middle-header .navbar-nav > li > a:hover {
    color: #0cb29a;
    background-color: transparent; }
.middle-header .navbar-nav > li > a:focus {
    background-color: transparent; }
.middle-header .navbar-nav > li.open a {
    background-color: transparent; }
.middle-header .navbar-nav > li .dropdown-menu {
    border: 0;
    background-color: #C653FF; }
.middle-header .navbar-nav > li .dropdown-menu a {
    color: #fff;
    padding: 5px 20px;
    font-size: 16px;
    text-transform: uppercase; }
.middle-header .navbar-nav > li .dropdown-menu a:hover {
    color: #0cb29a; }

.submenu-wrapper {
    max-height: 100px;
    /*overflow: auto;*/
    color: #ebeff2;
    padding: 5px 0;
    text-transform: uppercase;
    background-color: #1B2735;
    z-index: 99999;
    position: absolute;
    top: 90px;
    width: calc(100% - 396px);
    padding: 10px 0;
    /*--  New Styles  --*/ }
.submenu-wrapper .search-wrapper {
    position: relative;
    margin-right: 30px; }
.submenu-wrapper .search-wrapper .form-control {
    border: 0;
    color: #ebeff2;
    padding: 5px 25px 5px 5px;
    height: 25px;
    min-height: initial;
    background-color: transparent;
    border-bottom: 1px solid #5fc8b9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
.submenu-wrapper .search-wrapper .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
.submenu-wrapper .search-wrapper .fa-close {
    position: absolute;
    right: 0;
    top: 0; }
.submenu-wrapper label {
    margin-right: 10px; }
.submenu-wrapper .dropdown {
    display: inline-block; }
.submenu-wrapper .dropdown > a {
    color: #ebeff2;
    padding: 5px 10px;
    display: inline-block;
    font-weight: 600;
    text-decoration: none; }
.submenu-wrapper .dropdown > a:hover {
    color: #fff; }
.submenu-wrapper .dropdown .dropdown-menu {
    min-width: 130px;
    top: 40px;
    border: 0;
    padding: 10px;
    text-transform: uppercase;
    background-color: #0cb29a;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
.submenu-wrapper .dropdown .dropdown-menu li a {
    color: #ebeff2;
    padding: 8px 20px; }
.submenu-wrapper .dropdown .dropdown-menu li a:hover {
    color: #fff;
    background-color: transparent; }
.submenu-wrapper .dropdown .dropdown-menu li:not(:last-child) {
    border-bottom: 1px dashed #fff; }
.submenu-wrapper .fa-search {
    color: #6a7a82;
    font-size: 14px;
    line-height: 16px;
    right: 0;
    /*    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);*/
    top: 9px;
    z-index: 9;
    position: absolute;
}
.submenu-wrapper .list-inline {
    margin: 0;
    display: inline-block; }
.submenu-wrapper .btn {
    color: #DDE7E9;
    display: inline-block;
    border: 1px solid #60c9bb;
    background-color: #315C7F;
    -webkit-box-shadow: none;
    box-shadow: none; }
.submenu-wrapper .btn:active {
    color: #ebeff2;
    border-color: #ebeff2;
    background-color: transparent; }
.submenu-wrapper .vla-panel {
    position: initial;
    width: 100%;
    border: 0;
    margin: 0;
    padding-left: 12px; }
.submenu-wrapper .vla-panel input:focus {
    outline: none; }
.submenu-wrapper .vla-panel li {
    /*display: inline-block;*/ }
.submenu-wrapper .vla-panel li > input {
    border: 0;
    background-color: #0cb29a;
    border-bottom: 2px solid #60c9bb; }
.submenu-wrapper .vla-panel li > div {
    display: inline-block; }
.submenu-wrapper .vla-panel li > label {
    margin-right: 5px; }
.submenu-wrapper .vla-panel li:not(:last-child) {
    /*margin-right: 5px;*/ }
.submenu-wrapper .vla-panel li.vla-node-style-panel {
    text-align: right;
    font-size: 12px;
    width: 100%;
    /*border-top: 1px solid #7ae6d7;*/
    margin: 5px 0 0 0;
    padding: 5px 0 0 0; }
.submenu-wrapper .vla-panel li.vla-node-style-panel * {
    text-align: initial; }
.submenu-wrapper .vla-panel li.vla-node-style-panel .sp-replacer {
    border: 0;
    background-color: transparent; }
.submenu-wrapper .vla-panel li.vla-node-style-panel .selectric-items {
    width: auto !important; }
.submenu-wrapper .vla-panel li.vla-node-style-panel label {
    margin-bottom: 0; }
.submenu-wrapper .vla-panel li.vla-node-style-panel .sp-dd {
    display: none; }
.submenu-wrapper .vla-panel li.vla-node-style-panel .font-size .selectric-items {
    left: auto;
    right: 0; }
.submenu-wrapper .vla-panel li.vla-edge-style-panel {
    float: right;
    margin-right: 80px;
    font-size: 12px; }
.submenu-wrapper .vla-panel li.show-all-block, .submenu-wrapper .vla-panel li.focus-panel {
    display: none; }
.submenu-wrapper .vla-panel li .vla-checkbox {
    margin: 5px; }
.submenu-wrapper .vla-panel li .title {
    display: inline-block;
    padding: 5px; }
.submenu-wrapper .vla-panel li .twitter-typeahead, .submenu-wrapper .vla-panel li .degree, .submenu-wrapper .vla-panel li .vla-selected-filters, .submenu-wrapper .vla-panel li .vla-show-labels-form, .submenu-wrapper .vla-panel li .vla-checkbox, .submenu-wrapper .vla-panel li .degree, .submenu-wrapper .vla-panel li .twitter-typeahead, .submenu-wrapper .vla-panel li .vla-selected-filters, .submenu-wrapper .vla-panel li .element-body {
    display: inline-block; 
    font-size: 12px;}
.submenu-wrapper .vla-panel li .degree select {
    vertical-align: top; }
.submenu-wrapper .vla-panel li .vla-disabled {
    display: none; }
.submenu-wrapper .vla-panel li.vla-disabled {
    display: none; }
.submenu-wrapper .vla-panel li .custom-button {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 12px;
    margin-left: 5px;
    border: 1px solid #315C7F;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0;}
.submenu-wrapper .vla-panel li.vla-attr-filter form > div {
    display: inline-block;
    font-size: 12px;}
.submenu-wrapper .vla-panel li .title form .vla-selected-filters > input {
    display: inline-block; }
.submenu-wrapper .vla-panel li.vla-layouts-form select {
    display: inline-block;
    width: 75%; 
    font-size: 12px;}
.submenu-wrapper .vla-panel li > form {
    display: inline-block;
    width: 100%;}
.submenu-wrapper .vla-panel li .vla-filter-block {
    padding: 2px 25px 2px 5px;
    margin: 0px; }
.submenu-wrapper .vla-panel li .vla-filter-content {
    font-size: 12px;
    padding: 0; }
.submenu-wrapper .vla-panel li .vla-filter-remove {
    position: absolute;
    right: 3px;
    top: 2px;
    cursor: pointer;
    font-size: 14px; }
.submenu-wrapper .vla-panel li .vla-icon-select {
    display: inline-block; }
.submenu-wrapper .vla-panel li .selectric-wrapper {
    display: inline-block; }
.submenu-wrapper .vla-panel li .selectric-wrapper .mCSB_inside > .mCSB_container {
    margin-right: 15px; }
.submenu-wrapper .vla-panel li .selectric-wrapper .mCSB_scrollTools {
    width: 10px; }
.submenu-wrapper .vla-panel li .selectric {
    display: inline-block;
    vertical-align: middle;
    background-color: #0cb29a;
    border: 0;
    border-bottom: 2px solid #60c9bb; }
.submenu-wrapper .vla-panel li label {
    font-weight: normal; }
.submenu-wrapper .vla-panel li .label {
    padding: 1px 5px;
    font-size: 12px;
    vertical-align: middle;
    color: #fff;
    margin: 0 15px 0 0;
    font-weight: normal;
    border-radius: 0; }
.submenu-wrapper .vla-panel li .vla-layouts-start btn {
    display: none; }
.submenu-wrapper .vla-panel li.vla-snapshot-form {
    display: inline-block;
    margin-left: 45px;
    float: right; }
.submenu-wrapper .vla-panel li .tt-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white; }
.submenu-wrapper .vla-panel li .tt-input::-moz-placeholder {
    /* Firefox 19+ */
    color: white; }
.submenu-wrapper .vla-panel li .tt-input:-ms-input-placeholder {
    /* IE 10+ */
    color: white; }
.submenu-wrapper .vla-panel li .tt-input:-moz-placeholder {
    /* Firefox 18- */
    color: white; }
.submenu-wrapper .vla-panel li.head-options {
    display: none;
    float: right;
    margin-top: 15px;
    margin-right: 25px; }
.submenu-wrapper .vla-panel li .selectric .button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
    color: white;
    font: 0/0 a;
    background-color: #0cb29a;
    /*font-size: 12px;*/ }
.submenu-wrapper .submenu-wrapper .vla-search .title {
    display: inline-block; }
.submenu-wrapper .vla-checkbox {
    font-size: 14px; }
.submenu-wrapper .vla-checkbox .fa {
    color: #7ae6d7;
    font-size: 15px;
    margin-right: 2px;
    vertical-align: middle; }

/*--  Sidebar Styles  --*/
.vla-body {
    background-color: #283c45;
/*   	position: relative; */
/*   	z-index: 0;   */
   }
 .vla-selection-panel,
 .cy-panzoom {
    top: 34px !important;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
 .vla-selection-panel {
    left: 5px; }
.sidebar-open .mainsidewrapper,
.sidebar-open .sidebar-wrapper {
    left: -1px; }
.sidebar-open .toggle-sidebar > .fa-angle-right{
    -webkit-transform: rotate(180deg);  
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
.sidebar-open .vla-selection-panel {
    left: 318px; }
.sidebar-open.header-close .vla-selection-panel {
    top: 5px;
    left: 318px; }
.header-close .toggle-header {
    top: 0px;
    background-color: #101A24;
    z-index: 9999;
}
.header-close .toggle-header > .fa-angle-up {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
.header-close .toggle-header:focus, .header-close .toggle-header:active {
    /*background-color: #5ba4c7;*/ 
}
.header-close .toggle-sidebar {
    top: 0px;
    background-color: #5ba4c7;
    z-index: 9999; }
.header-close .toggle-sidebar:focus, .header-close .toggle-sidebar:active {
    background-color: #5ba4c7; }
.header-close .mainsidewrapper,
.header-close .sidebar-wrapper {
    top: 0px; }
.header-close .submenu-wrapper,
.header-close .header-wrapper {
    top: 0;
/*     overflow: hidden; */
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
.header-close .cy-panzoom {
    top: 50px; }
.header-close .vla-selection-panel {
    top: 5px;
    left: 55px; }

#vla {
    top: 0 !important;
    bottom: 0 !important;
    height: auto !important;
    background: transparent !important;
/*     -webkit-transition: 0.3s all ease-in-out; */
/*     -o-transition: 0.3s all ease-in-out; */
/*     transition: 0.3s all ease-in-out; */
}

.toggle-header {
    top: 53px;
    right: 14px;
    border: 0;
    background-color: #101A24;
    outline: none;
    width: 32px;
    height: 37px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    position: fixed;
    z-index: 1001;
    padding: 0px 4px;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
.toggle-header span {
    color: #8240bb;
    display: inline-block;
    font-size: 28px;
    line-height: 14px;
    height: 20px;
    font-weight: 600;
    vertical-align: middle;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
.toggle-header:focus {
    outline: none;
    /*background-color: #283c45;*/ 
}
.toggle-header:focus:active {
    outline: none;
    background-color: #283c45; }

.toggle-sidebar {
    border: 0;
    background-color: #345C7F;
    outline: none;
    width: 34px;
    height: 37px;
    /*    -webkit-border-radius: 34px;
        -moz-border-radius: 34px;
        -ms-border-radius: 34px;
        border-radius: 34px;*/
    position: fixed;
    top: 53px;
    left: 10px;
    z-index: 1001;
    padding: 0px 7px;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; 
    border-radius: 0;}
.toggle-sidebar span {
    color: #8240bb;
    display: inline-block;
    font-size: 28px;
    line-height: 19px;
    height: 20px;
    font-weight: 600;
    vertical-align: middle;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
.toggle-sidebar:focus {
    outline: none;
    background-color: #345C7F; }
.toggle-sidebar:focus:active {
    outline: none;
    background-color: #283c45; }

/*# sourceMappingURL=main.css.map */

.faded {
    events: no;
}

node.faded {
    opacity: 0.08;
}

edge.faded {
    opacity: 0.06;
}

.hidden {
    display: none;
}

.highlighted {

}

.cy-panzoom {
    /*position: absolute;*/
    top: 0 !important;
}

.navHeader {
    display: none;
}

node.zoomNode {
    transition: all 2s ease-in-out;
}

.server-error {
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.submenu-wrapper .vla-checkbox .fa.fa-square-o:before {
    content: '&#9633';
}

.mapCheckbox {
    right:-14px !important;
}
.vla-cb-check.mapCheckbox{
    right:-14.5px !important;
}
.timelineCheckbox {
    right: -5px !important; 
}
.vla-cb-check.timelineCheckbox{
    right: -5.5px !important; 
}

#vla.filterNav #divvla-panel{
    width:calc(100% - 32px);
    left:32px;
}

#vla.filterNav #divvla-panel .vla-panel{
    padding-right: 40px;
}
#vla.filterNav #divvla-panel .vla-panel .vla-search{
    right: 252px !important;
}
button.toggle-sidebar.open{
    left:0 !important;   
}

.custom-vla .toggle-header.filterNav {
    right:0;
}

.mainsidewrapper .navbar-static-side1 .panel-group .panel .panel-body .basic-header{
    color:#6B7E8C;
    text-transform: uppercase;
    font-size: 13px;
}

ul.basicInfo {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
    color:#4D6974;
    border-bottom: 1px solid #4D6974;
    padding-bottom: 5px;
    text-transform: uppercase;
}

ul.basicInfo > li {
    display: inline-block;
    font-size: 9px;
    float: left;
    font-weight: 400 !important;
}
ul.basicInfo li:not(:last-of-type) {
    border-right: 1px solid #4D6974;
    padding-right: 5px;
    margin-right: 5px;
}
.basic-content {
    font-size:12px;
    color:#ABABAB;
}

.qtip {
    max-width: 350px !important;
    /*padding: 15px 15px !important;*/ 
}
.custoom-tooltip-wrapper {
/*    position: relative;
    padding-left: 72px;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.custoom-tooltip-wrapper > .vla-caption {
/*    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);*/
}
.custoom-tooltip-wrapper > .vla-caption-body{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
/*    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;*/
}
/* .qtip .row .col-sm-6:nth-of-type(odd){ */
/*     width: 35% !important; */
/* } */
/* .qtip .row .col-sm-6:nth-of-type(even){ */
/*     width: 65% !important; */
/* } */
#collapseOne .vla-object-info {
    max-width: 100% !important;
    /*padding: 15px 15px !important;*/ 
}
#collapseOne .vla-object-info .row > div {
    margin: 10px 0 0 0;
}
#collapseOne .vla-object-info .row .col-sm-6:nth-of-type(odd){
    width: 100% !important;
}
#collapseOne  .vla-object-info .row .col-sm-6:nth-of-type(even){
    width: 100% !important;
}

.vla-object-info .position-axis {
    font-size:10px;
    color: #596d74;
}

.selectric .button {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.selectric .button:after{
    content: "\f078" !important;
    position: absolute;
    top: 0px;
    width: 20px !important;
    background: #283C45 !important;
    height: 20px !important;
    z-index: 999;
    right: 35px;
    float: right;
    border: 0 !important;   
    color:#000 !important;
}

.sp-clear-display {
    background-color: #fff !important;
    background-image: none !important;
}

#headingOne .collapsed .toggle-sidebar-panel > i,
#headingSix .collapsed .toggle-sidebar-panel > i,
#headingSeven .collapsed .toggle-sidebar-panel > i,
#headingThree .collapsed .toggle-sidebar-panel > i,
#headingFive .collapsed .toggle-sidebar-panel > i {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    /*    -webkit-animation: transform-animation 0.2s linear;
        -o-animation: transform-animation 0.2s linear;
        animation: transform-animation 0.2s linear;*/
}

@-webkit-keyframes transform-animation {
    from {
        transform: rotate(0); }
    to {
        transform: rotate(-180deg); } }
@keyframes transform-animation {
    from {
        transform: rotate(0); }
    to {
        transform: rotate(-180deg); } }
/*==============================================================================
*************************   custom-configurations   ****************************
==============================================================================*/
.custom-configurations > button.btn{
    border: 0;
    background-color: transparent;
    border-radius: 0;
    color: #525f67;
    line-height: 21px;
    padding: 3px 0px;
    text-transform: uppercase;
    font-size: 10px;
    outline: none;
}
.custom-configurations > button.btn > .fa{
    margin-left: 7px;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.custom-configurations.open > button.btn > .fa{
    transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
.custom-configurations > button.btn:active:focus,
.custom-configurations > button.btn:active:hover,
.custom-configurations.open > button.btn.dropdown-toggle,
.custom-configurations.open > button.btn.dropdown-toggle:hover,
.custom-configurations.open > button.btn.dropdown-toggle:focus{
    opacity: 0.7;
    border: 0;
    background-color: transparent;
    border-radius: 0;
    color: #6a7a82;
    outline: none;
}
.custom-configurations.dropdown > button + .dropdown-menu{
    top: 29px;
    background-color: #1b2735;
    padding: 0;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu > .test{
    padding: 4px 11px;
    background-color: #1b2735;
    font-size: 10px;
    color: #485661;
    border-bottom: 0;
}


.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  > .test:hover{
    
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  > .test:active,
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  > .test:focus{
    background-color: #1b2735;
    outline: none;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  .test  .fa{
   float: right;
   margin-top: 3px;
   transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  > .test.first_dropdown > .fa,
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  > .test.second_dropdown > .fa{
   transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  > .test + .dropdown-menu{
    padding: 0;
    min-width: auto;
    width: 100%;
    background-color: #1b2735;
    margin: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    top: 0;       
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  > .dropdown-menu:nth-child(1){
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  > .dropdown-menu:last-child{
    top: 22px;   
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu > 
.test + .dropdown-menu > .dropdown-submenu{
    border-bottom: 0;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > a.test{
    padding: 0;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > a.first_sub_menu,
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > a.second_sub_menu{
    padding: 4px 11px 4px 20px;
    background-color: #1b2735;
    font-size: 10px;
    color: #485661;
    outline: none;
    position: relative;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > .dropdown-menu{
    padding: 0;
    min-width: auto;
    width: 100%;
    background-color: #1b2735;
    margin: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > a.first_sub_menu + .dropdown-menu{
    top: 0;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > a.second_sub_menu + .dropdown-menu{
    top: 22px;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > a.first_sub_menu.second_first_sub_dropdown > .fa,
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > a.second_sub_menu.second_second_sub_dropdown > .fa{
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > a.first_sub_menu.second_first_sub_dropdown,
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > a.second_sub_menu.second_second_sub_dropdown{
    position: relative;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > a.first_sub_menu.second_first_sub_dropdown_check:before,
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > a.second_sub_menu.second_second_sub_dropdown_check:before{
    content: "\f046";
    height: 10px;
    width: 10px;
    position: absolute;
    left: 3px;
    top: 4px;
    color: #485661;
    font-size: 7px;
/*    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);*/
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu  >
.test + .dropdown-menu > .dropdown-submenu > .dropdown-menu li a {
    padding: 0;
}
.toggle-sidebar-panel {
    color: #000;
    float: right;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu > 
.test + .dropdown-menu > .dropdown-submenu .element-body button{
     display: none !important;
}
.custom-configurations.dropdown > button + .dropdown-menu > .dropdown-submenu > 
.test + .dropdown-menu > .dropdown-submenu .element-body select{
    border-bottom: 0;
    min-width: 215px;
    padding: 3px 0 !important;
    font-size: 10px !important;
    color: #485661;
}
.element-body select > option{
	background-color: #1b2735;
    color: #485661;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/*--  Modal Box Common Styles  --*/
.update-entities-modal .modal-content, 
.update-entities-modal.people-options-modal .modal-content{
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0;
 background-color: #2a3843;
 border: 1px solid #485c6c;
}
.update-entities-modal.people-options-modal .modal-dialog {
 width: 470px;
}
.update-entities-modal.people-options-modal.source-modal .modal-dialog {
 width: 600px;
}
.update-entities-modal.entity-visualiser-modal .modal-dialog{
 width: 900px;
}

.update-entities-modal .modal-content .modal-header,
.update-entities-modal .modal-content .modal-body,
.update-entities-modal .modal-content .modal-footer{
 padding: 10px 15px;
}
.update-entities-modal .modal-content .modal-header{
 border-bottom: 1px solid #485c6c;
}
.update-entities-modal .modal-content .modal-footer{
 border-top: 1px solid #485c6c;
}
.update-entities-modal .modal-header .alert{
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0;
 font-size: 12px;
 line-height: 16px;
 font-weight: normal;
 font-family: "Roboto Regular", Arial, sans-serif;
}
.update-entities-modal .modal-content .modal-header .modal-title{
 color: #0bb298;
 font-weight: normal;
 font-size: 18px;
 text-transform: uppercase;
 font-family: "Roboto Medium", Arial, sans-serif;
}
.update-entities-modal .modal-content .modal-header .close{
 float: right;
 color: #b3cfe5;
 opacity: 1;
 font-size: 13px;
 font-weight: normal;
 margin: 5px 0 0;
}
.update-entities-modal .modal-content .modal-body .people-options-form .form-group{
 margin: 0 -15px 15px !important;
}
.update-entities-modal .modal-content .modal-body .message{
 color: #7d94a5;
 font-weight: normal;
 font-size: 11px;
 line-height: 21px;
 text-transform: uppercase;
 font-family: "Roboto Medium", Arial, sans-serif;
}
.update-entities-modal .modal-content .modal-footer .btn-cancel, 
.update-entities-modal .modal-content .modal-footer .btn-update{
 min-width: 90px;
 height: 30px;
 line-height: 12px;
 font-size: 12px;
 font-weight: normal;
 text-transform: uppercase;
 font-family: "Roboto Bold", Arial, sans-serif;
}
.update-entities-modal .modal-content .modal-footer .btn-cancel{
 background-color: #384b59;
 color: #7d94a5;
 border-color: #384b59;
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0;
}
.update-entities-modal .modal-content .modal-footer .btn-update{
 background-color: #3179ad;
 color: #c5d0d8;
 border-color: #3179ad;
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0;
}
.update-entities-modal .modal-btn-wrapper{
 position: relative;
 top: 0;
 right: 0;
}
.update-entities-modal .people-options-form{
 width: 100%;
}
.update-entities-modal .people-options-form label{
 font-size: 12px;
 line-height: 16px;
 font-weight: normal;
 font-family: "Roboto Regular", Arial, sans-serif;
 color: #7d94a5;
 text-transform: uppercase;
 padding: 15px 15px 0;
}
.update-entities-modal .people-options-form input[type="text"]{
 width: 100%;
 color: #626e78;
 margin: 0;
 padding: 7px 15px;
 background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
 border-bottom: 1px solid #3179ad;
}
.update-entities-modal .people-options-form input[type="text"] ~ input{
 margin: 15px 0 0;
}
.update-entities-modal .people-options-form  input.name-disabled{
 color: #626e78;
 border-bottom: 1px solid #384b59;
 pointer-events: none;
}

/*--  Placeholder Styles  --*/
.update-entities-modal .people-options-form input::-webkit-input-placeholder{
 opacity: 0.5;
 color: #626e78;
}
.update-entities-modal .people-options-form input::-moz-placeholder{
 opacity: 0.5;
 color: #626e78;
}
.update-entities-modal .people-options-form input:-ms-input-placeholder{
 opacity: 0.5;
 color: #626e78;
}
.update-entities-modal .people-options-form input:-moz-placeholder{
 opacity: 0.5;
 color: #626e78;
}
.update-entities-modal .people-options-form
.update-entities-modal.people-options-modal .people-options-form .col-sm-8{
 position: relative;
}
.update-entities-modal.people-options-modal .people-options-form .form-group .fa{
 position: relative;
 color: #384b59;
 cursor: pointer;
 background-color: #2A3843;
 width: 25px;
 text-align: center;
 margin: 18px 0 0 -25px;
}
.update-entities-modal.people-options-modal .people-options-form .form-group.company .fa{
 right: 0;
}
.update-entities-modal.people-options-modal .people-options-form .form-group.company .fa.fa-times{
 right: 0;
}
.update-entities-modal .divider {
 margin: 0 0 15px;
 text-align: center;
 width: 300px;
}

/*--  The switch - the box around the slider  --*/
.update-entities-modal .switch {
 position: relative;
 display: inline-block;
 width: 40px;
 height: 20px;
}

/*--  Hide default HTML checkbox  --*/
.update-entities-modal .switch input {
 display: none;
}

/*/ The slider /*/
.update-entities-modal .slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #A3A9AE;
 -webkit-transition: .4s;
 transition: .4s;
}
.update-entities-modal .slider:before {
 position: absolute;
 content: "";
 height: 16px;
 width: 16px;
 left: 4px;
 bottom: 2px;
 background-color: #374B5B;
 -webkit-transition: .4s;
 transition: .4s;
}
.update-entities-modal input:checked+.slider {
 background-color: #2196F3;
}
.update-entities-modal input:focus+.slider {
 box-shadow: 0 0 1px #2196F3;
}
.update-entities-modal input:checked+.slider:before {
 -webkit-transform: translateX(16px);
 -ms-transform: translateX(16px);
 transform: translateX(16px);
}
.modal-body p {
    color: #a4a7a9;
    text-align: left;
    font-size: 12px;
    font-family: 'Roboto Medium';
    line-height: 18px;
}

.sidebar-wrapper-main {
    visibility:hidden;
}

.db-util-background-act .case-list-wrapper ul {
	margin:0;
	
}
.db-util-background-act .case-list-wrapper ul li{
	padding-bottom:0;
	
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li {
	border-bottom: 0 !important;
}

.header-close .navbar-wrapper{
	display: none !important;	
}
.header-close .utilities-panel{
	display: none !important;	
}

body.header-close .mainsidewrapper, body.header-close .sidebar-wrapper {
    top: 0px;
}

body.header-close .submenu-wrapper, body.header-close .header-wrapper {
    top: 0;
/*     overflow: hidden; */
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

body .vla-selection-panel, body .cy-panzoom {
    top: 34px !important;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}


.custom-slide-collapse{
	display: block !important;
	height: auto;
	opacity: 1;
	 -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.custom-slide-collapse.ng-hide{
	display: block !important;
	opacity : 0;
	height: 0;
	 -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}