.mainsidewrapper{
    max-height: initial !important;
    position: fixed;
    overflow-y: auto;
    width: 317px;
    top: 188px;
    bottom: 5px;
    left:-320px;
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}
.mainsidewrapper .navbar-static-side1 .panel-group{
    /*    background-color: #364A58;
        min-height: 100%;*/
    /*position: absolute;*/
    /*    min-width: 300px;
        width:0;
        border-radius:0;*/
}

.mainsidewrapper .navbar-static-side1 .panel-group .panel{
    background-color: #364f5c;
    color: #ffffff;
    border: 0;
    margin-top: 0;
}
.mainsidewrapper .navbar-static-side1 .panel-group .panel .panel-heading{
    background-color: #384B59;
    color: #2D7DC6;
    border-radius: 0;
    border: 0;
    border-color: #98B3c5;
}
.mainsidewrapper .navbar-static-side1 .panel-group .panel .panel-heading:hover,
.mainsidewrapper .navbar-static-side1 .panel-group .panel .panel-heading:active{
    outline: none;
    border-bottom:0;
}
.mainsidewrapper .navbar-static-side1 .panel-group .panel .panel-body{
    border: 1px solid #384B59;
    background-color: #283C45;
}
.mainsidewrapper .navbar-static-side1 .panel-group .panel .panel-body address{
    color:  #5692B6;
}
.mainsidewrapper .navbar-static-side1 .panel-group .panel .panel-body .basic-content{
    color:  #6C7E88;
}
#searchTop
{
    position: relative;
    border: 0;
    min-width: 240px;
    background: transparent;
    border-bottom: 1px solid #0cb29a;
    border-radius: 0;
    padding: 5px 25px;
    color: #ccc;
    height: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#searchRelation
{
    position: relative;
    border: 0;
    min-width: 240px;
    background: transparent;
    border-bottom: 1px solid #0cb29a;
    border-radius: 0;
    padding: 5px 25px;
    color: #ccc;
    height: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mainsidewrapper .mCSB_inside > .mCSB_container {
    margin-right: 10px;
}
.brush rect.selection{
    fill: #0cb29a;
    stroke: #0cb29a;
    fill-opacity: 0.3;
}
.timeline_new_bs svg g.axis--x-brush path{
    stroke:none;
}
.timeline_new_bs svg g.axis--x-brush .tick line{
    stroke:#3F525F !important ;
}
.custom-img-icons{

}
.custom-img-icons > li {
    float: left;
}
.custom-img-icons > li > a{
    background-color: #fff;
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.custom-img-icons > li > a.all{
    background-color: gainsboro;
}
.custom-img-icons > li > a.bc{
    background-color: #3F82D0;
}
.custom-img-icons > li > a.user{
    background-color: #00D464;
}
.custom-img-icons > li > a.mm{
    background-color: #F50069;
}
.custom-img-icons > li > a.ie{
    background-color: #EF861A;
}
.custom-img-icons > li > a span{
    color: #000;
    font-size: 20px;
}
.custom-img-icons > li > a span,
.custom-img-icons > li > a img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}



/*==============================================================================
**************************   CUSTOM VLA DESIGNS   ******************************
==============================================================================*/
@font-face {
    font-family: 'Roboto Medium';
    src: url("../fonts/roboto-medium/roboto-medium.eot");
    /*/ IE9 Compat Modes /*/
    src: url("../fonts/roboto-medium/roboto-medium.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/roboto-medium/roboto-medium.woff") format("woff"),
        url("../fonts/roboto-medium/roboto-medium.ttf") format("truetype"),
        url("../fonts/roboto-medium/roboto-medium.svg#svgFontName")
        format("svg");
    /*/ Legacy iOS /*/
}
/*@font-face {
        font-family: 'Francois One';
        src: url("../fonts/francoisOne/FrancoisOne.eot");
         IE9 Compat Modes 
        src: url("../fonts/francoisOne/FrancoisOne.eot?#iefix")
                format("embedded-opentype"),
                url("../fonts/francoisOne/FrancoisOne.woff")
                format("woff"),
                url("../fonts/francoisOne/FrancoisOne.ttf")
                format("truetype"),
                url("../fonts/francoisOne/FrancoisOne.svg#svgFontName")
                format("svg");
         Legacy iOS 
}*/
/*@font-face {
    font-family: 'francoisone-regular';
    src: url('../fonts/francoisone-regular/francoisone-regular.eot');  IE9 Compat Modes 
    src: url('../fonts/francoisone-regular/francoisone-regular.eot?#iefix') format('embedded-opentype'),  IE6-IE8 
        url('../fonts/francoisone-regular/francoisone-regular.woff') format('woff'),  Pretty Modern Browsers 
        url('../fonts/francoisone-regular/francoisone-regular.ttf')  format('truetype'),  Safari, Android, iOS 
        url('../fonts/francoisone-regular/francoisone-regular.svg#svgFontName') format('svg');  Legacy iOS 
}*/
/*CHANGE IN THE VLA DESIGNS*/
*,*:focus{
    outline: none;
}
body.custom-vla{
/*     font-family: 'Roboto Medium'; */
/*     letter-spacing: 0.5px; */
/*     font-weight: 100 !important; */
}
.header-wrapper .navbar-wrapper a.navbar-brand{
    position: relative;
    height: 60px;
    padding: 20px 15px 20px 60px;
    text-transform: uppercase;
    font-weight: 100;
    /* font-family: "Roboto Light"; */
    font-size: 21px;
}
.header-wrapper .navbar-wrapper a.navbar-brand  img.e-logo{
   position: absolute;
    left: 13px;
    top: 10px;
    width: 36px;
}
.header-wrapper .navbar-wrapper a.navbar-brand  .custom-logo-text{
    font-size: 24px;
    color: #3bc6b1;
}
.header-wrapper .navbar-wrapper #navbar > ul{
    /*margin-top: 10px;*/
}
.header-wrapper .navbar-wrapper #navbar > ul > li > .nav-list{
    color: #cecece;
    position: relative;
    font-size: 12px;
    padding-left: 25px;
    font-weight: 100;
}
.header-wrapper .navbar-wrapper #navbar > ul > li > .nav-list > span{
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}
.header-wrapper .navbar-wrapper #navbar > ul > li.profile > a{
    padding: 12px 65px 12px 15px;
}
.header-wrapper .navbar-wrapper #navbar > ul > li.profile > a span{
    line-height: 18px;
    text-align: right;
}
.header-wrapper .navbar-wrapper #navbar > ul > li.profile > a span:first-of-type{
    font-size: 12px;
}
.header-wrapper .navbar-wrapper #navbar > ul > li.profile > a span:last-of-type{
    font-size: 12.5px;
    color: #596d74 !important;
    text-transform: none;
}
.header-wrapper .navbar-wrapper #navbar > ul > li.profile > a img{
    border-radius: 50em;
    max-width: 45px;
    top: 6px;
    border: 4px solid #435561;
    margin: 2px 0 0 10px;
}

.header-wrapper .navbar-wrapper #navbar > form{
    margin-top: 14px;
}
.header-wrapper .navbar-wrapper #navbar > form > .form-group > input{
    min-width: 300px;
}
.header-wrapper .navbar-wrapper #navbar > form > button.btn-link{
    color: #596d74 !important;
    margin-bottom: 4px;
    font-size: 12px;
}

.header-wrapper .middle-header{
    background-color: #B3AD35;
    height: 30px;
}
.header-wrapper .middle-header .navbar-nav{
    padding-left: 30px;
}
.header-wrapper .middle-header ul > li > a{
    font-size: 15px;
    padding: 6px 90px 4px 40px;
    position: relative;
    border-right: 1px solid #315C7F;
}
.header-wrapper .middle-header ul > li > a:hover{
    color: #fff;
}
.header-wrapper .middle-header ul > li > a > span{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.header-wrapper .middle-header ul > li > .link-analysis-heading{
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 5px 15px 8px 30px;
}

button.toggle-sidebar{
    top: 115px;
    left: 316px;
}
button.toggle-header{
    top: 115px;
}
button.toggle-header > span{
    color: #DDE7E9;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

button.toggle-sidebar > span{
    color: #7F8F9F;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.header-close .toggle-sidebar.btn-primary > span,
.header-close .toggle-header.btn-primary > span{
    color: #fff;
}
.vla-viewport .submenu-wrapper{
    top: 115px;
    height: 37px;
    left: 350px;
}
.header-wrapper .mainsidewrapper {
    /*top: 125px;*/
       top: 115px;
}
#divvla-panel.submenu-wrapper{
    padding: 2px 8px;
}
#divvla-panel.submenu-wrapper .vla-panel{
    padding-left: 0;
}
#divvla-panel.submenu-wrapper .vla-panel .vla-attr-filter{

}
#divvla-panel.submenu-wrapper .vla-panel .vla-layouts-form select{
    width: 65%;
}
#divvla-panel.submenu-wrapper .vla-panel .vla-search span.twitter-typeahead,
#divvla-panel.submenu-wrapper .vla-panel .vla-attr-filter span.twitter-typeahead{
    width: 100px;
}
#divvla-panel.submenu-wrapper .vla-panel li.vla-snapshot-form{
    margin-left: 0;
    margin-top: 1px;
}
#divvla-panel.submenu-wrapper .vla-panel li.vla-snapshot-form > button{
    padding: 4px 5px;
    outline: none;
}

/*EDGE STYLES and NODE STYLES*/
.node-styles-panel .node-styles-panel-show{
    display: block;
}
.edge-styles-panel .edge-styles-panel-show{
    display: block;
}
.appearence-styles {
    color: #6C7E88;
}
.appearence-styles li * {
    text-align: initial;
}

.appearence-styles li label {
    margin-bottom: 0;
    display: block;
    margin-right: 10px;
    position: relative;
    padding: 10px 0;
    font-weight: 100;
}

.appearence-styles li .selectric-wrapper {
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.appearence-styles li .selectric {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #187D74;
    width:190px;
}
.appearence-styles li .selectric-items {
    text-transform: uppercase;
}
.appearence-styles li .label {
    padding: 6px 0px;
    font-size: 12px;
    vertical-align: middle;
    color: #fff;
    margin: 0 15px 0 0;
    font-weight: normal;
    border-radius: 0;
    text-transform: uppercase;
    color: #6C7E88;
}
.appearence-styles li .selectric .button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    color: white;
    font: 0/0 a;
    background-color: transparent;
}
.appearence-styles li .selectric-items {
    width: auto !important;
}

.appearence-styles li label > select{
    border-bottom: 1px solid #187D74;
    background-color: transparent;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.appearence-styles li label > select > option{
/*    color: #eee;*/
background-color: #283C45;
}

.appearence-styles li  input,
.appearence-styles li  button,
.appearence-styles li  select,
.appearence-styles li  textarea {
    /*color: white;*/
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #60c9bb;
}

.appearence-styles li .sp-replacer {
    border: 0;
    background-color: transparent;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.appearence-styles li .sp-dd {
    display: none;
}


.find input[type="text"]{
    padding: 0 !important;
}
.find input[value="FIND"]{
    color: #d6e2e7;
    font-size: 12px;
    background-color: #5ba4c8;
    padding: 8px 12px;
    border-radius: 0;
    border: 0;
    display: inline-block;
    float: right;
}