  <div class="custom-spinner case-dairy-spinner" ng-show="docPreloader">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
    <div class="dashboard-wrapper upload-document-dashboard analyze-details-wrapper">
        <div class="top-details-wrapper pad-15px">
            <div class="row">
                <div class="col-sm-5">
                    <ul class="client-details">
                        <li>
                            <p class="text-overflow">Uploaded By:
                                <span>{{docDetails.uploadedUserName}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="text-overflow">Size:
                                <span>{{docDetails.size}}mb</span>
                            </p>
                        </li>
                        <li>
                            <p class="text-overflow">Created On:
                                <span>{{docDetails.uploadedOn}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="text-overflow">Status:
                                <span>{{docDetails.documentParsingStatus}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="text-overflow">Type:
                                <span>{{docDetails.type}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="text-overflow">Last Edited On:
                                <span>{{docDetails.modifiedOn}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">


                    <ul class="list-inline d-ib width-a pull-left switch-list ">
                        <li class="text-cream width-100 mar-y0">
                            <a href="javascript:void(0);" class="">
                                <label class="switch custom-switch-wrapper">
                                    <input type="checkbox" ng-model="showIso" class="custom-switch-checkbox" />
                                    <span class="slider round">
                                        <span class="iso-codes pull-left left" ng-show="showIso">YES</span>
                                        <span class="iso-codes pull-right right " ng-hide="showIso">NO</span>
                                    </span>
                                </label>
                                <p class="inline mar-b0 lh-27">SHOW ISO</p>
                            </a>


                        </li>
                    </ul>
                    <div class="btn-group d-flex bottom-pop width-50">
                        <a class="grad-button d-flex f-12 sm-btns  lh-22 pull-right" ng-if="QuessionaireView == 'iso'" ng-click="changeQuessionaireView('topic')">Show
                            Iso View</a>
                        <a class="grad-button d-flex f-12 sm-btns  lh-22 pull-right" ng-if="QuessionaireView == 'topic'" ng-click="changeQuessionaireView('iso')">Show
                            Topic View</a>
                        <a class="pad-x5 pull-right bg-transparent mar-r5" ng-click="downloadQuestionnaire()" popover-trigger="'mouseenter'" popover-placement="bottom"
                            uib-popover="Download Questionnaire" popover-class="bottom-pop-wrapper" popover-title="">
                            <i class="fa fa-download lh-30 text-cream fa-2x" aria-hidden="true"></i>
                        </a>
                        <a class="pad-x5 pull-right bg-transparent mar-r5" ng-click="showRefreshQuestionnaire()" popover-trigger="'outsideClick'"
                            popover-is-open="formAnalysisRefreshISO.isOpen" popover-class="bottom-pop-wrapper" popover-placement="bottom"
                            uib-popover-template="'refreshQuestionnaireTemplate.html'"
                            popover-title="">
                            <i class="fa fa-refresh lh-30 text-cream fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="bottom-pop width-a">
                        <button class=" btn btn-cancel mar-t5" ng-if="totalDigitalAssets > 0" ng-click="initializeScroll()" popover-trigger="'outsideClick'"
                            popover-placement="bottom" uib-popover-template="'digitalAssestsTemplate.html'"
                            popover-title="{{dynamicPopover.title}}" popover-class="bottom-pop-wrapper" id="assetsBtn">Online
                            Presence
                            <span class="pull-right bg-blue ">{{totalDigitalAssets}}</span>
                        </button>
                        <button class=" btn btn-cancel mar-t5 " ng-if="totalDigitalAssets ==0" ng-click="initializeScroll()" popover-trigger="'outsideClick'"
                            popover-placement="bottom" uib-popover-template=""
                            popover-title="{{dynamicPopover.title}}" popover-class="bottom-pop-wrapper" id="assetsBtn">Online
                            Presence
                            <span class="pull-right bg-blue ">{{totalDigitalAssets}}</span>
                        </button>
                        <button class="btn btn-cancel mar-t5 " ng-if="totalCyber > 0" ng-click="initializeScroll()" popover-trigger="'outsideClick'"
                            popover-placement="bottom" uib-popover-template="'cyberNewsTemplate.html'"
                            popover-title="{{dynamicPopover.title}}" popover-class="bottom-pop-wrapper" id="cyberBtn">Cyber
                            Security News
                            <span class="pull-right bg-blue ">{{totalCyber}}</span>
                        </button>

                        <button class="btn btn-cancel mar-t5 " ng-if="totalCyber ==0" ng-click="initializeScroll()" popover-trigger="'outsideClick'"
                            popover-placement="bottom" uib-popover-template="" popover-class="bottom-pop-wrapper"
                            popover-title="{{dynamicPopover.title}}" id="cyberBtn">Cyber
                            Security News
                            <span class="pull-right bg-blue ">{{totalCyber}}</span>
                        </button>
                    </div>

                </div>
                <div class="col-sm-3 pad-0  risk-score-panel upload-risk-panel right-leadership-wrapper ">
                    <p class="text-uppercase pad-l10 mar-b5">Risk Score </p>
                    <div class="rightRiskScore width-50 pull-left">
                        <div class="pie-chart-wrapper d-ib mar-l10 clearfix">
                            <div class="c100  p{{cumulativeRisk| number: 0}} radial" ng-click="openRiskScoreModal();">
                                <span class="inner-number riskScoreTooltip" ng-if="cumulativeRisk">{{cumulativeRisk|
                                    number: 0}}%
                                    <!--                                                                                 <span class="help-block"> -->
                                    <!--                                                                                     DETAILS -->
                                    <!--                                                                                 </span> -->
                                </span>
                                <span class="inner-number" ng-if="!cumulativeRisk">
                                    N/A
                                </span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-analyze-wrapper" id="tlTip">
            <div class="row custom-row">
                <div class="col-sm-4 height-100 custom-col left-col">
                    <!-- Segment Panel Starts -->
                    <div class="analyze-panel-wrapper height-90">
                        <div class="panel height-100 custom-panel-wrapper ">
                            <div class="panel-heading  ">
                                <h3 class="d-ib">Table Of Content</h3>
                            </div>
                            <div class="panel-body height-700 side-panel pad-b25 height-85 panel-scroll">
                                <a ng-repeat="header in currentViewData" class=" clearfix content-heading text-cream text-uppercase mar-b10" ng-click="scrollTODiv($index)">
                                    <span class="pull-left mar-r5 ">
                                        <i class="fa fa-cloud-download text-dark-green pad-r5" ng-if="header.values[0].contentData.isOSINT"></i>{{
                                        header.key }}</span>
                                    <span class="width-80" ng-if="QuessionaireView!='iso' && header.key !='un mapped'">
                                        {{ header.isoTitle }}</span>
                                    </p>
                                </a>

                            </div>

                        </div>
                    </div>
                    <!-- Segment Panel Ends -->

                </div>
                <div class="col-sm-8 custom-col right-col mainInfoPanel">
                    <div class="analyze-panel-wrapper pad-b100" ng-repeat="(mainkey,docMain) in currentViewData">
                        <div class="panel custom-panel-wrapper ">
                            <div class="panel-body overflow-v">
                                <div>
                                    <div class="panel-heading pad-b5 pad-l0 d-ib pad-t0 mar-b5 border-grey-thin-b">
                                        <h3 id="docContent{{ mainkey }}" class="heading-wrapper border-0 pad-x0 pad-b0 pad-t15 d-ib mar-y0 mar-r15">{{docMain.key}}
                                            <span class="pad-l5" ng-if="QuessionaireView!='iso' && docMain.key !='un mapped'">
                                                {{ docMain.isoTitle }}</span>
                                        </h3>
                                        <span class="iso-codes bg-dark-green-risk" ng-if="docMain.riskScore<40">{{
                                            docMain.riskScore || 0 }}
                                        </span>
                                        <span class="iso-codes iso-codes-medium bg-dark-orange-risk" ng-if="docMain.riskScore>=40 && doc.contentData.riskScore<80">{{
                                            docMain.riskScore }}
                                        </span>
                                        <span class="iso-codes bg-dark-red-risk" ng-if="docMain.riskScore>=80">{{
                                            docMain.riskScore }}
                                        </span>

                                        <div class="d-ib custom-dropdown-wrapper form-dropdown-wrapper" ng-if="QuessionaireView!='iso'">
                                            <div class="btn-group mar-x10 dropdown evalDropdown">
                                                <button id="simple-btn-keyboard-nav " type="button" class="bordered-button sm-btns custom-action-btn dropdown-toggle evaluationPadForBtn"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <span class="action-btn pad-0 f-12  d-ib isoHeadingDropdownBtn" ng-class="{'bg-blue': (docMain.formatedEvaluation == 'met' || docMain.formatedEvaluation == 'overachieved'), 'bg-pink': (docMain.formatedEvaluation == 'not met' || docMain.formatedEvaluation == 'underachieved'),'bg-grey': (docMain.formatedEvaluation == 'no info' || docMain.formatedEvaluation == 'not applicable')}">
                                                        {{docMain.formatedEvaluation}}
                                                        <span class="fa f-16 fa-angle-down pull-right"></span>
                                                    </span>
                                                    <!-- <span class="fa f-16 fa-angle-down pull-right"></span> -->
                                                </button>
                                                <ul class="dropdown-menu list-item-wrapper form-analysis-form" role="menu" aria-labelledby="simple-btn-keyboard-nav" id="">

                                                    <li ng-if="(QuessionaireView!='iso' && docMain.categoryId || docMain.categoryId == undefined) || (QuessionaireView =='iso' && docMain.categoryId || docMain.categoryId == undefined)"
                                                        class='btn action-btn bg-blue btn-cancel pad-0 f-8 iso-btn d-ib'
                                                        ng-class="{'evaluationHideShow': docMain.formatedEvaluation == 'met'}"
                                                        ng-click="docMain.evaluation='met';openIsoCategoryEvaluation('', 'met', docMain)">Met</li>
                                                    <li ng-if="(QuessionaireView!='iso' && docMain.categoryId || docMain.categoryId == undefined) || (QuessionaireView =='iso' && docMain.categoryId || docMain.categoryId == undefined)"
                                                        class='btn action-btn bg-pink btn-cancel pad-0 f-8 iso-btn d-ib'
                                                        ng-class="{'evaluationHideShow': docMain.formatedEvaluation == 'not met'}"
                                                        ng-click="docMain.evaluation = '_all';openIsoCategoryEvaluation('', 'not_met_at_all', docMain)">Not
                                                        Met</li>
                                                    <li ng-if="(QuessionaireView!='iso' && docMain.categoryId || docMain.categoryId == undefined) || (QuessionaireView =='iso' && docMain.categoryId || docMain.categoryId == undefined)"
                                                        class='btn action-btn bg-blue btn-cancel pad-0 f-8 iso-btn d-ib'
                                                        ng-class="{'evaluationHideShow': docMain.formatedEvaluation == 'overachieved'}"
                                                        ng-click="docMain.evaluation = 'overachieved';openIsoCategoryEvaluation('', 'overachieved', docMain)">overachieved</li>
                                                    <li ng-if="(QuessionaireView!='iso' && docMain.categoryId || docMain.categoryId == undefined) || (QuessionaireView =='iso' && docMain.categoryId || docMain.categoryId == undefined)"
                                                        class='action-btn bg-pink pad-0 f-8 d-ib'
                                                        ng-class="{'evaluationHideShow': docMain.formatedEvaluation == 'underachieved'}"
                                                        ng-click="docMain.evaluation = 'underachieved';openIsoCategoryEvaluation('', 'underachieved', docMain)">underachieved</li>
                                                    <li ng-if="(QuessionaireView!='iso' && docMain.categoryId || docMain.categoryId == undefined) || (QuessionaireView =='iso' && docMain.categoryId || docMain.categoryId == undefined)"
                                                        class='btn action-btn bg-grey btn-cancel pad-0 f-8 iso-btn d-ib'
                                                        ng-class="{'evaluationHideShow': docMain.formatedEvaluation == 'no info'}"
                                                        ng-click="docMain.evaluation = 'no_info';openIsoCategoryEvaluation('', 'no_info', docMain)">No
                                                        Info</li>
                                                    <li ng-if="(QuessionaireView!='iso' && docMain.categoryId || docMain.categoryId == undefined) || (QuessionaireView =='iso' && docMain.categoryId || docMain.categoryId == undefined)"
                                                        class='action-btn bg-grey pad-0 f-8 d-ib'
                                                        ng-class="{'evaluationHideShow': docMain.formatedEvaluation == 'not applicable'}"
                                                        ng-click="docMain.evaluation = 'not_applicable';openIsoCategoryEvaluation('', 'not_applicable', docMain)">Not
                                                        Applicable</li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="paragraph-wrapper mnh-100px text-uppercase text-dark-cream" ng-repeat="(key,doc) in docMain.values">

                                        <!--  question content starts-->
                                        <div id="ques_{{doc.contentData.questionId}}" ng-if=" doc.isQuestion && doc.contentData.answerType != 'TEXT'" class="customClassDisabledBanSymble question-wrapper checkbox-wrapper-main{{mainkey}}-sub{{key}}">
                                            <div class="question-content ">
                                                <span class="iso-codes showTooltip_quessionaire" ng-mouseover="sendDetails(doc.contentData.primaryIsoCode, doc.contentData.secondaryIsoCodes)"
                                                    ng-if="showIso && doc.contentData.primaryIsoCode && doc.contentData.primaryIsoCode!='un mapped'">{{
                                                    doc.contentData.primaryIsoCode
                                                    }}
                                                </span>
                                                <span class="question-numbers">
                                                    {{key+1}})</span>
                                                <i class="fa fa-cloud-download text-dark-green" ng-if="doc.contentData.isOSINT"></i>
                                                {{doc.contentData.question}}


                                            </div>
                                            <div class="d-ib custom-dropdown-wrapper form-dropdown-wrapper">
                                                <div class="btn-group mar-x10 dropdown evalDropdown">
                                                    <button id="simple-btn-keyboard-nav " ng-if="docMain.categoryId != undefined" type="button" class="bordered-button sm-btns custom-action-btn dropdown-toggle evaluationPadForBtn"
                                                        aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <span class='action-btn pad-0 f-12 iso-btn d-ib isoHeadingDropdownBtn' ng-class="{'bg-blue': (doc.contentData.formatedEvaluation == 'met' || doc.contentData.formatedEvaluation == 'overachieved'), 'bg-pink': (doc.contentData.formatedEvaluation == 'not met' || doc.contentData.formatedEvaluation == 'underachieved'),'bg-grey': (doc.contentData.formatedEvaluation == 'no info' || doc.contentData.formatedEvaluation == 'not applicable')}">
                                                            {{doc.contentData.formatedEvaluation}}
                                                            <span class="fa f-16 fa-angle-down pull-right"></span>
                                                        </span>
                                                        <!-- <span class="fa f-16 fa-angle-down pull-right"></span> -->
                                                    </button>
                                                    <ul class="dropdown-menu list-item-wrapper form-analysis-form" ng-if="docMain.categoryId != undefined" role="menu" aria-labelledby="simple-dropdown">

                                                        <li class='btn action-btn bg-blue btn-cancel pad-0 f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'met','preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == '' || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'met', doc,docMain)">Met</li>
                                                        <li class='btn action-btn bg-pink btn-cancel pad-0 f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'not met','preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == '' || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'not_met_at_all', doc,docMain)">Not
                                                            Met</li>
                                                        <li class='btn action-btn bg-blue btn-cancel pad-0 f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'overachieved','preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == '' || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'overachieved', doc,docMain)">overachieved</li>
                                                        <li class='btn bg-pink action-btn btn-cancel pad-0 f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'underachieved','preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == '' || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'underachieved', doc,docMain)">underachieved</li>
                                                        <li class='btn  action-btn bg-grey btn-cancel pad-0 f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'no info','preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == '' || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'no_info', doc,docMain)">No
                                                            Info</li>
                                                        <li class='btn bg-grey action-btn btn-cancel pad-0 f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'not applicable','preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == '' || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'not_applicable', doc,docMain)">Not
                                                            Applicable</li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <ul class="list-inline custom-list width-a d-ib bottom-pop questionnaire-popover-info action-icon-list ">

                                                <li>
                                                    <i class="icon-globe icons disabled"></i>
                                                </li>
                                                <li ng-mouseover="ShowEditedIconTooltipData(doc.contentData)" class="showIconTooltip" ng-if="doc.contentData.answerUpdatedOn">
                                                    <i class="fa fa-pencil text-cream"></i>
                                                </li>
                                                <!--                                                                                            <li class="pad-5" ng-if="doc.contentData.isOSINT" ng-class="{'none_pointer_events': doc.contentData.evaluation == 'unevaluated'}"> -->
                                                <li class="pad-5 bg-dark-grey" ng-if="doc.contentData.isOSINT">
                                                    <span class="fa fa-star" ng-class="{'text-orange': doc.contentData.answerRanking >=1}" ng-click="updateRanking(1,doc)"></span>
                                                    <span class="fa fa-star" ng-class="{'text-orange': doc.contentData.answerRanking >=2}" ng-click="updateRanking(2,doc)"></span>
                                                    <span class="fa fa-star" ng-class="{'text-orange': doc.contentData.answerRanking >=3}" ng-click="updateRanking(3,doc)"></span>
                                                    <span class="fa fa-star" ng-class="{'text-orange': doc.contentData.answerRanking >=4}" ng-click="updateRanking(4,doc)"></span>
                                                    <span class="fa fa-star" ng-class="{'text-orange': doc.contentData.answerRanking >=5}" ng-click="updateRanking(5,doc)"></span>
                                                    <span ng-mouseover="ShowEditedIconTooltipData(doc.contentData,'ranking')" class="showIconTooltip fa fa-chevron-down mar-l5"></span>

                                                </li>
                                            </ul>


                                            <div ng-if="doc.contentData.answerType == 'CHECKBOX' && doc.contentData.possibleAnswer" ng-repeat="answer in doc.contentData.possibleAnswer track by $index"
                                                class="answer-wrapper">
                                                <div class="custom-checkbox width-a inline">
                                                    <label class="checkbox-inline">
                                                        <input ng-click="CheckBoxToRadio('.checkbox-wrapper-main'+mainkey+'-sub'+key+' .chs'); updateValue(answer, doc, doc.contentData.questionId, docMain, checkedValue)"
                                                            type="checkbox" ng-value="answer"
                                                            class="chs evalInputForBanSymbol"
                                                            ng-model="checkedValue"
                                                            ng-checked="doc.contentData.answer === answer">
                                                        <span>
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                    </label>
                                                    <span class="answer-content">{{answer.toUpperCase()}}</span>
                                                </div>
                                            </div>
                                            <div ng-if="doc.contentData.answerType == 'CHECKBOX' && doc.contentData.specifiedQuestion !== null">
                                                <p>{{ doc.contentData.specifiedQuestion
                                                    }}</p>
                                                <div class="input-group width-100">
                                                    <input type="text" ng-blur="updateValue(doc.contentData.specifiedAnswer, doc, doc.contentData.specifiedQuestionId, docMain);"
                                                        class="form-control mar-l15 custom-input pad-x5 text-cream width-30"
                                                        ng-model="doc.contentData.specifiedAnswer"
                                                        ng-change="onChangeAnswer($index)"
                                                    />
                                                </div>
                                            </div>

                                            <div ng-if=" doc.isQuestion && doc.contentData.answerType == 'TABLE'">
                                                <div class="input-group width-100">
                                                    <table class="table border-b0" role="grid">
                                                        <tbody>
                                                            <tr ng-repeat="rows in doc.contentData.table.rows" ng-class="{'bg-th' :(rows.columns[0].columData.header)}">
                                                                <td ng-repeat="tds in rows.columns">
                                                                    <span class="pad-x5 mar-l15" ng-if="tds.columData.header">{{
                                                                        tds.columData.name
                                                                        }}
                                                                    </span>
                                                                    <input ng-blur="updateValue(tds.columData.name, doc, doc.contentData.questionId,docMain,tds.columData);" ng-if="!tds.columData.header"
                                                                        type="text"
                                                                        class="form-control mar-l15 custom-input pad-x5 text-cream width-90"
                                                                        ng-model="tds.columData.name"
                                                                    />
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                            <div class="icons-wrapper pull-right">

                                            </div>


                                            <!--  icons panel end -->
                                        </div>

                                        <div id="ques_{{doc.contentData.questionId}}" ng-if=" doc.isQuestion && doc.contentData.answerType == 'TEXT'" class="clearfix">
                                            <p class="d-ib">
                                                <span class="iso-codes showTooltip_quessionaire" ng-mouseover="sendDetails(doc.contentData.primaryIsoCode, doc.contentData.secondaryIsoCodes)"
                                                    ng-if="showIso && doc.contentData.primaryIsoCode && doc.contentData.primaryIsoCode!='un mapped'">{{
                                                    doc.contentData.primaryIsoCode
                                                    }}
                                                </span>
                                                <span class="question-numbers">
                                                    {{key+1}})</span>
                                                <i class="fa fa-cloud-download text-dark-green" ng-if="doc.contentData.isOSINT"></i>
                                                {{doc.contentData.question}}

                                            </p>
                                            <div class="d-ib custom-dropdown-wrapper form-dropdown-wrapper">
                                                <div class="btn-group mar-x10 dropdown evalDropdown">
                                                    <button id="simple-btn-keyboard-nav " ng-if="docMain.categoryId != undefined" type="button" class="bordered-button sm-btns custom-action-btn dropdown-toggle evaluationPadForBtn"
                                                        aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <span class=' action-btn pad-0 f-12 iso-btn d-ib isoHeadingDropdownBtn' ng-class="{'bg-blue': (doc.contentData.formatedEvaluation == 'met' || doc.contentData.formatedEvaluation == 'overachieved'), 'bg-pink': (doc.contentData.formatedEvaluation == 'not met' || doc.contentData.formatedEvaluation == 'underachieved'),'bg-grey': (doc.contentData.formatedEvaluation == 'no info' || doc.contentData.formatedEvaluation == 'not applicable')}">
                                                            {{doc.contentData.formatedEvaluation}}
                                                            <span class="fa f-16 fa-angle-down pull-right"></span>
                                                        </span>
                                                        <!-- <span class="fa f-16 fa-angle-down pull-right"></span> -->
                                                    </button>
                                                    <ul class="dropdown-menu list-item-wrapper form-analysis-form" ng-if="docMain.categoryId != undefined" role="menu" aria-labelledby="simple-dropdown">
                                                        <li class='btn btn-cancel action-btn bg-blue pad-0 f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'met', 'preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'met', doc,docMain)">Met</li>
                                                        <li class='btn btn-cancel action-btn bg-pink pad-0 f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'not met', 'preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'not_met_at_all', doc,docMain)">Not
                                                            Met</li>
                                                        <li class='btn btn-cancel action-btn bg-blue pad-0 f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'overachieved', 'preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'overachieved', doc,docMain)">overachieved</li>
                                                        <li class='btn btn-cancel bg-pink pad-0 action-btn f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'underachieved', 'preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'underachieved', doc,docMain)">underachieved</li>
                                                        <li class='btn btn-cancel bg-grey pad-0 action-btn f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'no info', 'preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'no_info', doc,docMain)">No
                                                            Info</li>
                                                        <li class='btn btn-cancel action-btn bg-grey pad-0 f-8 iso-btn d-ib' ng-class="{'evaluationHideShow': doc.contentData.formatedEvaluation == 'not applicable', 'preventClickOnDisabled':(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'}"
                                                            ng-disabled="(doc.contentData.answerId == null || doc.contentData.answerId == ''  || doc.contentData.answer == '') && doc.contentData.answerType != 'TABLE'"
                                                            ng-click="openFeedback(doc.contentData.answerId, 'not_applicable', doc,docMain)">Not
                                                            Applicable</li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <ul class="list-inline custom-list action-icon-list d-ib width-a bottom-pop ">
                                                <li ng-click="ShowIconTooltipData(doc.contentData.osintVal, doc.contentData.answer,doc.contentData)" class="" popover-trigger="'outsideClick'"
                                                    popover-placement="bottom" popover-class="bottom-pop-wrapper"
                                                    uib-popover-template="'overrideAnsGreenGlobe.html'"
                                                    popover-title="" ng-if="( doc.contentData.osintVal) && doc.contentData.answer.toLowerCase() == doc.contentData.osintVal.toLowerCase()">
                                                    <i class="icon-globe icons  text-dark-green2"></i>
                                                </li>
                                                <li ng-click="initializeScroll(doc.contentData.osintVal, doc.contentData.answer,doc,doc.contentData)" popover-trigger="'outsideClick'"
                                                    popover-placement="bottom" popover-class="bottom-pop-wrapper"
                                                    uib-popover-template="'overrideAnswerTemplate.html'"
                                                    popover-title="" ng-if="(doc.contentData.osintVal) && doc.contentData.answer.toLowerCase()!= doc.contentData.osintVal.toLowerCase()">
                                                    <i class="icon-globe icons  text-light-orange"></i>
                                                </li>
                                                <li ng-if="!doc.contentData.osintVal">
                                                    <i class="icon-globe icons disabled"></i>
                                                </li>
                                                <li ng-mouseover="ShowEditedIconTooltipData(doc.contentData)" class="showIconTooltip" ng-if="doc.contentData.answerUpdatedOn">
                                                    <i class="fa fa-pencil text-cream"></i>
                                                </li>
                                                <li class="pad-5 bg-dark-grey" ng-if="doc.contentData.isOSINT">
                                                    <span class="fa fa-star" ng-class="{'text-orange': doc.contentData.answerRanking >=1}" ng-click="updateRanking(1,doc)"></span>
                                                    <span class="fa fa-star" ng-class="{'text-orange': doc.contentData.answerRanking >=2}" ng-click="updateRanking(2,doc)"></span>
                                                    <span class="fa fa-star" ng-class="{'text-orange': doc.contentData.answerRanking >=3}" ng-click="updateRanking(3,doc)"></span>
                                                    <span class="fa fa-star" ng-class="{'text-orange': doc.contentData.answerRanking >=4}" ng-click="updateRanking(4,doc)"></span>
                                                    <span class="fa fa-star" ng-class="{'text-orange': doc.contentData.answerRanking >=5}" ng-click="updateRanking(5,doc)"></span>
                                                    <span ng-if="doc.contentData.rankUpdatedOn" ng-mouseover="ShowEditedIconTooltipData(doc.contentData,'ranking')" class="showIconTooltip fa fa-chevron-down mar-l5"></span>

                                                </li>

                                            </ul>
                                            <div>
                                                <div class="input-group width-100">
                                                    <input type="text" ng-blur="updateValue(doc.contentData.answer, doc, doc.contentData.questionId, docMain);" class="form-control mar-l15 custom-input pad-x5 text-cream width-30 evalInputForBanSymbol"
                                                        ng-model="doc.contentData.answer"
                                                        ng-change="onChangeAnswer($index)"
                                                    />

                                                </div>
                                            </div>

                                        </div>
                                        <!--  question content ends-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Segment Panel Ends -->
            </div>
        </div>
    </div>
 <script>
	 $(".mainInfoPanel").mCustomScrollbar({
	     axis: "y",
	     scrollInertia: 60,
	     mouseWheelPixels: 100 ,
	     theme: "minimal-dark"
	 });
	 $(document).ready(function () {
         setTimeout(function () {
             $(".bottom-pop .uib-tab.nav-item").mThumbnailScroller({
                 axis: "x"
             });
         }, 500);
         $(document).ready(function () {
             $("body").on("click", ".evalDropdown", function () {
                 if ($(this).attr("class").indexOf("open") > -1) {
                     $(this).removeClass("open")
                 } else {
                     $(".analyze-panel-wrapper .evalDropdown").removeClass("open");
                     $(this).addClass("open")
                 }
             });
             $("body").on("click", '.evalDropdown ul li', function () {
                 $(this).parentsUntil('.evalDropdown').removeClass('open');
             });
             $("body").on("click", '.evalDropdown', function () {
                 if ($(this).find("ul li").hasClass("preventClickOnDisabled")) {
                     $(".analyze-panel-wrapper .evalDropdown ul").addClass('cursorForDisabledBanSymble');
                 }
                 else {
                     $(".analyze-panel-wrapper .evalDropdown ul").removeClass('cursorForDisabledBanSymble');
                 }
             });
             $("body").on("click", ".evalInputForBanSymbol", function () {
                 $(".analyze-panel-wrapper .evalDropdown").removeClass("open");
                 if ($(".evalInputForBanSymbol").val().length > 0) {
                     $(".analyze-panel-wrapper .evalDropdown ul").removeClass('cursorForDisabledBanSymble');
                 }
                 else {
                     $(".analyze-panel-wrapper .evalDropdown ul").addClass('cursorForDisabledBanSymble');
                 }
             });
         });
     });
 </script>
         <script> 
            $(".panel .panel-scroll").mCustomScrollbar({
                axis: "y",
                theme: "minimal-dark"
            });
        </script>