<div class="row mar-0 custom-row bst_row_wrapper">
    <div class="col-sm-6 mar-r8 custom-panel-wrapper bst_panel_wrapper h-307 pad-r0 pad-l0">
        <div class=" width-50 d-ib  mar-b15 ">
            <div class="panel-heading bg-transparent panel-heading-right pad-b0">
                <h3 class=" roboto-light text-cream f-18 text-unset lh-1_2 top-details-heading multiple select-group pad-x0 pad-y10 custom-select-dropdown">Peer
                    Group
                </h3>
            </div>
            <div class="panel-body right-panel-body ">
                <div class="view-type-wrapper  pad-l15 pad-y10 mnh-100px">

                    <ul class="custom-list pad-l0 item-1">
                        <li class="pad-r15  mar-y5">
                            <span class="answer-content peerGroupHeadColor">Find
                                similarity based on</span></li>
                        <li class="pad-r15  mar-y5">
                            <span class="answer-content ">Industry</span>
                            <label class="switch pull-right custom-switch-wrapper search-switch threat-switch-wrapper">
                                <input type="checkbox" ng-model="checkOptions.peerIndustry" ng-change="getPeerOptions(checkOptions.peerIndustry, checkRadarParams['industryData'].key, false, 'industry', checkRadarParams['industryData'].name, 'selectedIndustry')"
                                    class="custom-switch-checkbox ng-pristine ng-untouched ng-valid ng-not-empty"
                                    ng-disabled="checkRadarParams['industry'] == false">
                                <span class="slider round" ng-class="{'customDisabled': checkRadarParams['industry'] == false}">

                                </span>
                            </label>
                        </li>
                        <li class="pad-r15 mar-y5">
                            <span class="answer-content ">Technology</span>
                            <label class="switch pull-right custom-switch-wrapper search-switch threat-switch-wrapper">
                                <input type="checkbox" ng-model="checkOptions.peerTechnology" ng-change="getPeerOptions(checkOptions.peerTechnology, checkRadarParams['technologyData'].name, false, 'technology', 'notLocation', 'technologyMultiple')"
                                    class="custom-switch-checkbox ng-pristine ng-untouched ng-valid ng-not-empty"
                                    ng-disabled="checkRadarParams['technology'] == false">
                                <span class="slider round" ng-class="{'customDisabled': checkRadarParams['technology'] == false}">

                                </span>
                            </label>
                        </li>
                        <li class="pad-r15 mar-y5">
                            <span class="answer-content ">Location</span>
                            <label class="switch pull-right custom-switch-wrapper search-switch threat-switch-wrapper">
                                <input type="checkbox" ng-model="checkOptions.peerLocation" ng-change="getPeerOptions(checkOptions.peerLocation, checkRadarParams['countryData'].key, false, 'location', checkRadarParams['countryData'].name, 'selectedMarker')"
                                    class="custom-switch-checkbox ng-pristine ng-untouched ng-valid ng-not-empty"
                                    ng-disabled="checkRadarParams['country-code'] == false">
                                <span class="slider round" ng-class="{'customDisabled': checkRadarParams['country-code'] == false}">

                                </span>
                            </label>
                        </li>
                        <li class="pad-r15 mar-y5">
                            <span class="answer-content ">Legal type</span>
                            <label class="switch pull-right custom-switch-wrapper search-switch threat-switch-wrapper">
                                <input type="checkbox" ng-model="checkOptions.peerLegalType" ng-change="getPeerOptions()" class="custom-switch-checkbox ng-pristine ng-untouched ng-valid ng-not-empty"
                                    ng-disabled="checkRadarParams['legal-type'] == false">
                                <span class="slider round" ng-class="{'customDisabled': checkRadarParams['legal-type'] == false}">

                                </span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class=" p-rel width-50 pull-right border-0  autodesk-panel-wrapper ">
            <span ng-show="threatIntelligenceTabData.radarLoader" class="custom-spinner">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </span>
            <div class="panel-heading  bg-transparent">
                <h3 class="top-details-heading text-center roboto-light text-cream f-12 text-unset lh-1_2">
                    <span class="pad-l10" style="color:#BA4441">
                        <b>GLOBAL</b>
                    </span>
                    <span class="pad-l10" style="color:#BB9800">
                        <b>SIMILAR COMPANIES</b>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div id="global_company_radar_chart" class="mxh-200"></div>
            </div>
            <div ng-if="threatsRadarList.length == 0 && !threatIntelligenceTabData.radarLoader">
                <div class="autodesk-alert-class ">Data Not Found </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 custom-panel-wrapper bst_panel_wrapper p-rel h-307 mnh-250 pad-x0">
        <span ng-show="relatedCompaniesPreloader" class="custom-spinner">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </span>
        <div class="custom-data-table-wrapper p-rel overflow-h">
            <table class="table table-scroll full-width striped-table scroll-table custom-data-table border-b0 four-col-act ">
                <caption class="d-flex pad-l10 roboto-light text-cream f-18 text-unset lh-1_2">Similar Companies</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Risk Score</th>
                        <th class="pad-r0">Similarity By</th>
                        <th>Avg Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="comp in relatedCompaniesData">
                        <td ng-click="openEntityPage(comp)" class="c-pointer">
                            <span class="pull-left company-icon-wrapper text-center f-18">
                                <i class="fa fa-building-o lh-20"></i>
                            </span>
                            <span class="company-name-wrapper">{{ comp.name
                                }}</span>
                        </td>
                        <td class="casecumulativerisk">
                            <div class="c100 p{{convertToPositive(comp.riskScore) | number:0}} pink radial f-35" ng-click="openriskModal(comp)">
                                <span>{{convertToPositive(comp.riskScore) | number:0}}</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="info-badge-class" ng-if="checkOptions.peerIndustry">Industry</span>
                            <span class="warning-badge-class" ng-if="checkOptions.peerLocation">Location</span>
                            <span class="primary-badge-class" ng-if="checkOptions.peerTechnology">Technology</span>
                            <span class="bg-darkgreen2 primary-badge-class" ng-if="checkOptions.peerLegalType">Legal
                                type</span>
                        </td>
                        <td class="text-center">{{avgScore}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="!relatedCompaniesPreloader && relatedCompaniesData.length == 0">
            <p class="d-ib autodesk-alert-class text-center ">DATA NOT FOUND</p>
        </div>
        <div class="text-right right-pagination" ng-hide="relatedCompaniesData.length == 0 || similarPeerLength <= recordsPerPage">
            <ul class="case-diary-pagination mar-0" uib-pagination total-items="similarPeerLength" items-per-page="recordsPerPage" ng-model="pageNumber"
                ng-change="pageChanged(pageNumber)" max-size="2" class="pagination-sm"
                boundary-link-numbers="true"></ul>
        </div>
    </div>
</div>
<!--  Second Row Starts   -->
<div class="row  custom-row bst_row_wrapper div-383">
    <div class="col-sm-3 pad-x0 r-0 custom-col pad-b0 side-defined">
        <span ng-show="threatIntelligenceTabData.incidentsTableLoader" class="custom-spinner">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </span>
        <div class="panel border-0  mar-b0 custom-panel-wrapper bst_panel_wrapper">
            <div class="panel-heading pad-x10  bg-transparent panel-heading-right">
                <div class="remote-filters-wrapper remote-filters-wrapper-blue">
                    <h3 class="pull-left mar-b0 mar-r5 roboto-light text-cream f-18 text-unset lh-1_2" ng-if="filterList.length > 0">Displaying
                        :</h3>

                    <ul class="list-inline mar-b0 remote-filters-list-wrapper " id='showAttrValue'>
                        <li class="remote-filters-list" ng-repeat="filter in filterList">
                            <a class="remote-filter">
                                <span>{{ filter.locationName == 'notLocation'
                                    ? filter.value : filter.locationName}}</span>
                                <i class="fa fa-times" ng-click="removeFilter($index, filter.value)"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body height-1435 p-rel pad-x0 mnh-100px pad-y10 right-panel-body">
                <div class="autodesk-details-top pad-x10">
                    <h4 class="top-details-heading select-group width-65 d-ib pad-x0 mar-b0 pad-y10 custom-select-dropdown">Showing
                        :
                        <span>{{newsToDisplay.length || 0}}</span> Results
                        so far
                    </h4>
                </div>
                <div class="autodesk-details-list" id="autoDesk">
                    <ul class="custom-list pad-l0 item-1">
                        <li class="autodesk-details" ng-repeat="news in newsToDisplay" style="cursor: default" ng-show="newsToDisplay.length > 0">
                            <a href="{{news.source}}" target="_blank">
                                <span>{{news.title}}</span>
                            </a>
                            <p class="details">{{news.text}}</p>
                           <p class="d-flex ai-c"> <span style="line-height:20px;" class="pull-left mar-r5">{{news.date}}</span>&nbsp;
                            <span style="line-height:20px;" class="pull-left mar-x5">{{news.time}}</span>
                            <span class="badge badge-info info-badge-class" ng-repeat="tech in news.technologies" ng-if="news.technologies.length > 0">{{tech.text}}</span>
                            <span class="badge badge-primary primary-badge-class">{{news.newsclass}}</span>
                            <span class="badge badge-warning warning-badge-class">{{news.location}}</span></p>
                        </li>
                    </ul>
                </div>

                <ul class="pagination-sm news-pagination-wrapper" uib-pagination total-items="newsTotalLength"  id = "itemIsChange" items-per-page="5" ng-hide="newsToDisplay.length == 0"
                    ng-model="pageNum" ng-change="getPaginationResults(pageNum)"
                    max-size="2" boundary-link-numbers="true"></ul>
                  

                <div ng-show="newsToDisplay.length == 0 && !threatIntelligenceTabData.incidentsTableLoader">
                    <div class="autodesk-alert-class">Data Not Found</div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-9 pad-b0 side-remain custom-col ">
        <div class="row custom-row bst_row_wrapper mar-x-10 ">
            <div class="col-sm-6  pad-r4 pad-l0">
                <div class="panel mar-b15 custom-panel-wrapper bst_panel_wrapper">
                    <span ng-show="threatIntelligenceTabData.worldMapLoader" class="custom-spinner ">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </span>
                    <div class="panel-heading bg-transparent d-flex jc-sb panel-heading-right pad-b0 custom-auto-dropdown">
                        <h3 class="top-details-heading multiple select-group pad-0 mar-b0 roboto-light text-cream f-18 text-unset lh-1_2">Select
                            Location
                           
                        </h3> <div class="" ng-dropdown-multiselect="" options="threatIntelligenceTabData.topCountriesList"
                        selected-model="locationName" extra-settings="example14settings"
                        events="selectLocation" disabled="threatIntelligenceTabData.topCountriesList.length == 0"
                        onSelectAll="" onDeselectAll=""></div>
                    </div>
                    <div class="panel-body right-panel-body ">
                        <div id="threatWorldMap" class="chartContentDiv"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 custom-col pad-t0 pad-r4 mxh-450 select-industry-class">
                <span ng-show="threatIntelligenceTabData.industriesLoader" class="custom-spinner">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </span>
                <div class="panel  mar-b15 custom-panel-wrapper bst_panel_wrapper">
                    <div class="panel-heading bg-transparent d-flex jc-sb panel-heading-right custom-auto-dropdown">
                        <h3 class=" top-details-heading roboto-light text-cream f-18 text-unset lh-1_2 pad-b0 multiple pad-x0 mar-b0 autodesk-newslist-border-class">Select
                            Industry

                        </h3>                             <div id="" ng-dropdown-multiselect="" class="" options="threatIntelligenceTabData.industriesList"
                        selected-model="industryName" extra-settings="example24settings"
                        events="selectIndustry" disabled="threatIntelligenceTabData.industriesList.length == 0"
                        onSelectAll="" onDeselectAll="">

                    </div>
                    </div>
                    <div class="panel-body width-100 right-panel-body " id="industriesList">

                        <!--  Progressbar List Starts-->
                        <ul class="list-unstyled progressbar-list text-uppercase">
                            <li class="progressbar-list-item" ng-click="applyFilters(item.key, false, 'industry', item.name, 'industryMultiple', 'locationMultipleEnd')"
                                ng-repeat="item in threatIntelligenceTabData.filteredIndustries | orderBy: '-doc_count'"
                                ng-if="threatIntelligenceTabData.filteredIndustries.length > 0">
                                <div class="left-col">{{ item.name }}</div>
                                <div class="progress progress-gradient-grey bottom-pop">
                                    <div ng-mouseover="showTooltipByIndustry(item.name, item.doc_count)" class="progress-bar selectIndustryToolTip progress-gradient-curious-blue c-pointer showTooltip"
                                        role="progressbar" aria-valuenow="{{item.percent}}%"
                                        aria-valuemin="0" aria-valuemax="100"
                                        style="width:{{item.percent}}%">
                                        <span class="sr-only ">{{item.percent}}%
                                            Complete</span>
                                    </div>
                                </div>
                            </li>
                            <li ng-if="threatIntelligenceTabData.filteredIndustries.length == 0 && !threatIntelligenceTabData.industriesLoader">
                                <div class="autodesk-alert-class">Data Not
                                    Found </div>
                            </li>
                        </ul>
                        <!--  Progressbar List Ends-->

                    </div>
                </div>
            </div>
            <div class="col-sm-12 pad-r8 pad-l0">
                <div class="panel mxh-250 mar-b15 pad-l0 custom-panel-wrapper bst_panel_wrapper">
                    <span ng-show="threatIntelligenceTabData.topTechnologiesLoader" class="custom-spinner ">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </span>
                    <div class="panel-heading bg-transparent panel-heading-right">
                        <h3 class="top-details-heading">Tag Cloud</h3>
                    </div>
                    <div class="panel-body  right-panel-body ">

                        <div id="tagCloudAutoDeskTags"></div>
                        <div ng-if="threatIntelligenceTabData.tagCloudTechnologiesList.length == 0 && !threatIntelligenceTabData.topTechnologiesLoader">
                            <div class="autodesk-alert-class ">Data Not Found
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row custom-row bst_row_wrapper mar-x-10 mxh-300">
            <div class="col-sm-12 custom-col pad-r8 pad-l0">
                <span ng-show="threatIntelligenceTabData.trendLoader" class="custom-spinner ">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </span>
                <div class="panel  mar-b15 custom-panel-wrapper bst_panel_wrapper">
                    <div class="panel-heading bg-transparent panel-heading-right">
                        <h3 class="roboto-light text-cream f-18 text-unset lh-1_2">Threat Timeline
                            <div class="select-group pad-x0 pad-y10 custom-select-dropdown pull-right autodesk-newslist-border-class">
                                <select id="displayByIconOrTable" class="filter-value radius-5 bg-transparent pull-right border-0 roboto-light  text-unset select-width-class"
                                    ng-model="trendName" ng-change="updateTrendName()">
                                    <option value="By Year" selected="selected">By
                                        Year</option>
                                    <option value="By Month">By Month</option>
                                </select>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body mnh-235 right-panel-body">
                        <div class="pad-5" id="autodeskTimeline" ng-if="threatIntelligenceTabData.trendsListLength > 0"></div>
                    </div>
                    <div ng-if="threatIntelligenceTabData.trendsListLength == 0 && !threatIntelligenceTabData.trendLoader">
                        <div class="autodesk-alert-class">Data Not Found</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 pad-y0 custom-col pad-r8 pad-l0">
                <span ng-show="threatIntelligenceTabData.heatMapLoader" class="custom-spinner ">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </span>
                <div class="panel  mar-b15 custom-panel-wrapper bst_panel_wrapper">
                    <div class="panel-heading bg-transparent panel-heading-right">
                        <h3 class="roboto-light text-cream f-18 text-unset lh-1_2">Incidents Classification By Industry

                        </h3>
                    </div>
                    <div class="panel-body mnh-235 right-panel-body">
                        <div class="pad-5" id="autodeskHeatMap" ng-if="threatIntelligenceTabData.attackTypesList.length > 0"></div>
                    </div>
                    <div ng-if="threatIntelligenceTabData.attackTypesList.length == 0 && !threatIntelligenceTabData.heatMapLoader">
                        <div class="autodesk-alert-class">Data Not Found</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 custom-col pad-r8 pad-l0">
                <span ng-show="threatIntelligenceTabData.classificatinLoader" class="custom-spinner ">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </span>
                <div class="panel  mar-b15 custom-panel-wrapper bst_panel_wrapper">
                    <div class="panel-heading bg-transparent panel-heading-right">
                        <h3 class="roboto-light text-cream f-18 text-unset lh-1_2">Incidents Classification

                        </h3>
                    </div>
                    <div class="panel-body mnh-235 right-panel-body" style="margin-top:-50px">
                        <div class="pad-5" id="threadsClassificationChart"></div>
                        <div ng-show="!IsthreatsClassificatin && !threatIntelligenceTabData.classificatinLoader">
                            <div class="autodesk-alert-class ">Data Not Found
                                </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-12 pad-y0 custom-col pad-r8 pad-l0" style="">
                <div class="panel  mar-b15 custom-panel-wrapper bst_panel_wrapper">
                    <span ng-show="entitySearchResult.is_data_not_found.is_autodesk_Vla" class="custom-spinner">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </span>
                    <div class="panel-heading bg-transparent panel-heading-right">
                        <h3 class="top-details-heading roboto-light text-cream f-18 text-unset lh-1_2">Relationships

                        </h3>
                    </div>
                    <div class="panel-body mnh-235 right-panel-body ">
                        <div id="autoDeskVLA" style="width: 100%;height: 210px;position: absolute;top: 0;left: 0;"></div>
                        <div class="autodesk-alert-class" ng-show="!entitySearchResult.is_data_not_found.is_autodesk_Vla && entitySearchResult.is_data_not_found.is_autodesk_chart">Data
                            Not Found </div>
                    </div>
                </div>
                <a href="" ng-click="loadDocLinkAnalysis('autoDeskVLA')" class="read-more" ng-hide="!entitySearchResult.is_data_not_found.is_autodesk_Vla && entitySearchResult.is_data_not_found.is_autodesk_chart">Expand</a>

            </div>
        </div>
    </div>
</div>
<!--  Second Row Ends   -->


<script>
    $(document).ready(function () {
        setTimeout(function () {
                $(".remote-filters-wrapper").mThumbnailScroller({
                  axis: "x",
                  advanced:{ updateOnSelectorChange: true }
            });
        }, 500);
    });
</script>