<div class="row  d-flex ai-c bst_row_wrapper c-arrow custom-row bst_row_wrapper">
    <!--  General Info Wrapper Starts  -->
    <div class="col-md-6 pad-b0 pad-l0 custom-col entity-item who-are-we-wrapper ">
        <div class="panel custom-panel-wrapper bst_panel_wrapper height-100 ">
            <div class="panel-heading">
                <h3>Who Are We</h3>
            </div>
            <div class="panel-body">
                <a class="read-more" ng-click="onViewClick('general-info')" ng-hide="!ceriSearchResultObject['bst:description'].value || ceriobjectSources.companyInformation.description">Read
                    More</a>
                <div class="whoweare-result-item height-85" ng-show="(ceriSearchResultObject['bst:description'].value !== '' || ceriobjectSources.companyInformation.description !=='')">
                    <p class="pad-r10 mar-b0 overflow-v" ng-bind-html="ceriSearchResultObject['bst:description'].value || ceriobjectSources.companyInformation.description">
                    </p>
                </div>
                <div class="no-data-wrapper text-center" ng-hide="ceriSearchResultObject['bst:description'].value !== '' || ceriobjectSources.companyInformation.description !== ''">
                    Data not Found
                </div>
            </div>
        </div>


    </div>
    <!--  Related Person Starts  -->
    <div class="col-md-6 pad-b0 custom-col entity-item related-person-main-wrapper">
        <div class="panel custom-panel-wrapper bst_panel_wrapper height-100">
            <div class="panel-heading">
                <h3>Leadership</h3>
            </div>
            <div class="panel-body">
                <div class="entity-item-submmenu" ng-show="entitySearchResult.list['company_key_executives'].length > 0 || entitySearchResult.list['company_boardmembers'].length > 0">
                    <div class="item-submmenu-list-wrapper">
                        <ul class="item-submmenu-list list-inline">
                            <li>
                                <div class="submmenu-list">
                                    <h5 class="text-uppercase">
                                        Board of Directors
                                        <strong>{{entitySearchResult.list['company_boardmembers'].length
                                            + entitySearchResult.list['other_board_members'].length}}</strong>
                                    </h5>
                                </div>
                            </li>
                            <li>
                                <div class="submmenu-list">
                                    <h5 class="text-uppercase">
                                        Key Executives
                                        <strong>{{entitySearchResult.list['company_key_executives'].length}}</strong>
                                    </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="entity-result-item custom-result-item" ng-show="entitySearchResult.list['company_boardmembers'].length > 0  || entitySearchResult.list['company_key_executives'].length > 0">
                        <ul class="row media-list">
                            <li class="col-sm-6 pad-l0 media" ng-repeat="entity in entitySearchResult.list['company_boardmembers']">
                                <div class="media-left">
                                    <a href="javascript:void(0);" ng-click="ceriToEntityPerson(entity.name)">
                                        <img src="../assets/images/menu_icons/icon_profile_settings.png">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">
                                        <a href="javascript:void(0);" target="_blank" ng-click="ceriToEntityPerson(entity.name)">
                                            {{entity.name}}
                                            <span ng-show="entity.age">({{entity.age}})</span>
                                        </a>
                                    </h3>
                                    <p class="progress-text">
                                        <span>{{entity.designation || entity.title ||
                                            entity.officer_role}}</span>
                                        <span>{{entity.website}}</span>
                                    </p>
                                </div>
                            </li>
                            <li class="col-sm-6 media" ng-repeat="entity in entitySearchResult.list['company_key_executives']">
                                <div class="media-left">
                                    <a href="javascript:void(0);" ng-click="ceriToEntityPerson(entity.name)">
                                        <img src="../assets/images/menu_icons/icon_profile_settings.png">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">
                                        <a href="javascript:void(0);" target="_blank" ng-click="ceriToEntityPerson(entity.name)">
                                            {{entity.name}}
                                            <span ng-show="entity.age">({{entity.age}})</span>
                                        </a>
                                    </h3>
                                    <p class="progress-text">
                                        <span>{{entity.designation || entity.title ||
                                            entity.officer_role}}</span>
                                        <span>{{entity.website}}</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="entity-result-item custom-result-item alert-message-wrapper">
                        <div class="alert-message loading-message" ng-show=" entitySearchResult.is_data_not_found.is_data_leadership && entitySearchResult.list['company_boardmembers'].length === 0 && entitySearchResult.list['company_key_executives'].length === 0">Loading...</div>
                        <div class="alert-message alert-message-wrapper" ng-show="
                        !entitySearchResult.is_data_not_found.is_data_leadership && entitySearchResult.list['company_boardmembers'].length === 0  && entitySearchResult.list['company_key_executives'].length === 0">Data
                            not Found</div>
                    </div>
            </div>


        </div>
       
    </div>
    <!--  Related Person Ends  -->
</div>
<!--  Bloomberg Line Chart Wrapper Starts  -->
<div class="row d-flex ai-c custom-row bst_row_wrapper bst_row_wrapper">
    <div class="col-sm-6 pad-l0 custom-col entity-item entity-performance ">

        <div class="panel height-100 custom-panel-wrapper bst_panel_wrapper height-100">
            <div class="panel-heading d-flex ai-c">
                <h3>Stock Performance</h3> <select class="text-capitalize border-0 mar-b10 text-dark-cream mar-autol custom-select-box pull-right"
                    ng-model="selectedstockMeasure" ng-change="onChangestockhistoryKey_Enhance(stockHistorySelectedTab_Enhance,selectedstockMeasure);"
                    ng-show="entitySearchResult.is_data_not_found.is_stockHistory">
                    <option class="text-capitalize" value="{{measure}}" ng-repeat="measure in stock_measures_Enhance">{{measure.split('_').join('
                        ')}}</option>
                </select>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 text-right" ng-show="dataWithDate['lastFiveYearDate'][[selectedstockMeasure]].length>1">
                    <div class="bloomberg-event-checkbox">
                        <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastFiveYearDate'}" ng-click="onChangestockhistoryKey_Enhance('lastFiveYearDate', selectedstockMeasure)">Last
                            5Y</span>
                        <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastSixMonthDate'}" ng-click="onChangestockhistoryKey_Enhance('lastSixMonthDate', selectedstockMeasure)"
                            ng-if="dataWithDate['lastSixMonthDate'][selectedstockMeasure].length>1">Last
                            6M</span>
                        <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastDay'}" ng-click="onChangestockhistoryKey_Enhance('lastDay', selectedstockMeasure)"
                            ng-if="dataWithDate['lastDay'][selectedstockMeasure].length>0">Last
                            Day</span>
                        <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastOneYearDate'}" ng-click="onChangestockhistoryKey_Enhance('lastOneYearDate', selectedstockMeasure)"
                            ng-if="dataWithDate['lastOneYearDate'][selectedstockMeasure].length>1">Last
                            1Y</span>
                        <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastFiveDay'}" ng-click="onChangestockhistoryKey_Enhance('lastFiveDay', selectedstockMeasure)"
                            ng-if="dataWithDate['lastFiveDay'][selectedstockMeasure].length>1">Last
                            5d</span>
                        <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastOneMonthDate'}" ng-click="onChangestockhistoryKey_Enhance('lastOneMonthDate', selectedstockMeasure)"
                            ng-if="dataWithDate['lastOneMonthDate'][selectedstockMeasure].length>1">Last
                            1M</span>
                    </div>
                    <div id="stockhistory-line-chart_Enhance_overview"></div>
                    <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper overviewline-chart-ditto">
                        <div class="alert-message loading-message" ng-if="false">Loading...</div>
                        <div class="alert-message alert-message-wrapper" ng-if="dataWithDate['lastFiveYearDate'][[selectedstockMeasure]].length<=1">Data
                            Not Found</div>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- networkGraphOverview -->
    <div class="col-sm-6 custom-col entity-item overview-network-wrapper">
        <div class="panel custom-panel-wrapper bst_panel_wrapper height-100">
            <div class="panel-heading">
                <h3 class="">Visual Link Analysis</h3>
            </div>
            <div class="panel-body"> <a href="" ng-click="loadLinkAnalysis('', 'networkGraphOverview')" class="read-more">Expand</a>
                <div class="networkGraphOverviewMain">
                    <div id="networkGraphOverview"></div>
                    <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper vla-chart-ditto">
                        <div class="alert-message loading-message">Loading...</div>
                    </div>
                    <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper vla-chart-ditto">
                        <div class="alert-message">Data Not Found</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- networkGraphOverview -->
</div>

<!--                                 <div class="col-md-12"> -->
<!--                                     <div class="row"> -->
<!--                                         <div class="col-sm-6"> -->
<!--                                             <h3>Stock History</h3> -->
<!--                                         </div> -->
<!--                                         <select class="text-capitalize custom-select-box pull-right" ng-model="selectedstockMeasure" ng-change="onChangestockhistoryKey_Enhance(stockHistorySelectedTab_Enhance,selectedstockMeasure);" -->
<!--                                             ng-show="entitySearchResult.is_data_not_found.is_stockHistory"> -->
<!--                                             <option class="text-capitalize" value="{{measure}}" ng-repeat="measure in stock_measures_Enhance">{{measure.split('_').join(' -->
<!--                                                 ')}}</option> -->
<!--                                         </select> -->
<!--                                         <div class="col-sm-6 text-right"> -->
<!--                                             <div class="bloomberg-event-checkbox"> -->
<!--                                                 <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastFiveYearDate'}" ng-click="onChangestockhistoryKey_Enhance('lastFiveYearDate', selectedstockMeasure)">Last -->
<!--                                                     5Y</span> -->
<!--                                                 <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastSixMonthDate'}" ng-click="onChangestockhistoryKey_Enhance('lastSixMonthDate', selectedstockMeasure)" -->
<!--                                                     ng-if="dataWithDate['lastSixMonthDate'][selectedstockMeasure].length>1">Last -->
<!--                                                     6M</span> -->
<!--                                                 <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastDay'}" ng-click="onChangestockhistoryKey_Enhance('lastDay', selectedstockMeasure)" -->
<!--                                                     ng-if="dataWithDate['lastDay'][selectedstockMeasure].length>0">Last -->
<!--                                                     Day</span> -->
<!--                                                 <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastOneYearDate'}" ng-click="onChangestockhistoryKey_Enhance('lastOneYearDate', selectedstockMeasure)" -->
<!--                                                     ng-if="dataWithDate['lastOneYearDate'][selectedstockMeasure].length>1">Last -->
<!--                                                     1Y</span> -->
<!--                                                 <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastFiveDay'}" ng-click="onChangestockhistoryKey_Enhance('lastFiveDay', selectedstockMeasure)" -->
<!--                                                     ng-if="dataWithDate['lastFiveDay'][selectedstockMeasure].length>1">Last -->
<!--                                                     5d</span> -->
<!--                                                 <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastOneMonthDate'}" ng-click="onChangestockhistoryKey_Enhance('lastOneMonthDate', selectedstockMeasure)" -->
<!--                                                     ng-if="dataWithDate['lastOneMonthDate'][selectedstockMeasure].length>1">Last -->
<!--                                                     1M</span> -->
<!--                                             </div> -->
<!--                                         </div> -->
<!--                                         <div class="col-sm-4" ng-if="stockData.stock_id"> -->
<!--                                             <h5> -->
<!--                                                 <small>Stock Id:</small> -->
<!--                                                 {{stockData.stock_id}} -->
<!--                                             </h5> -->
<!--                                         </div> -->
<!--                                         <div class="col-sm-4" ng-if="stockData.stock_name"> -->
<!--                                             <h5> -->
<!--                                                 <small>Stock Name:</small> -->
<!--                                                 {{stockData.stock_name}} -->
<!--                                             </h5> -->
<!--                                         </div> -->
<!--                                         <div class="col-sm-4" ng-if="stockData.capitalization"> -->
<!--                                             <h5> -->
<!--                                                 <small>Capitalization:</small> -->
<!--                                                 {{stockData.capitalization}} -->
<!--                                             </h5> -->
<!--                                         </div> -->

<!--                                     </div> -->
<!--                                     <div id="stockhistory-line-chart_Enhance"></div> -->
<!--                                     <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper overviewline-chart-ditto"> -->
<!--                                         <div class="alert-message loading-message" ng-if="false">Loading...</div> -->
<!--                                         <div class="alert-message alert-message-wrapper" ng-if="dataWithDate['lastFiveYearDate'][[selectedstockMeasure]].length<=1">Data -->
<!--                                             Not Found</div> -->
<!--                                     </div> -->
<!--                                 </div> -->



<!--  Bloomberg Line Chart Wrapper Ends  -->

<div ng-if="!hideTabs" class="row custom-row bst_row_wrapper bst_row_wrapper">
    <div class="col-sm-12 pad-l0 pad-y0 custom-col entity-item url-analysis-main-wrapper">
        <div class="panel bst_panel_wrapper height-100 custom-panel-wrapper">
                <div class="panel-heading">
                        <h3>
                            URL Analysis
                            <span class="url-domain-details" ng-show="entitySearchResult.website">
                                <small class="value">( {{entitySearchResult.website || 'N/A'}}
                                    )</small>
                            </span>
            
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="url-analysis-main-list">
                            <div class="url-analysis-heading">
                                <div class="url-analysis-heading-content">
                                    <p>
                                        <span>Country of business :</span>
                                        <span>{{entitySearchResult.list['url_analysis'][0].country_of_business||
                                            'N/A'}}
                                        </span>
                                    </p>
                                    <p>
                                        <span>bounce rate :</span>
                                        <span>{{entitySearchResult.list['url_analysis'][0].bounce_rate||
                                            'N/A'}}
                                        </span>
                                    </p>
                                </div>
                                <div class="url-analysis-heading-content">
                                    <p>
                                        <span>Daily time on site :</span>
                                        <span>{{entitySearchResult.list['url_analysis'][0].daily_time_on_site||
                                            'N/A'}}
                                        </span>
                                    </p>
                                    <p>
                                        <span>Global Rank :</span>
                                        <span>{{entitySearchResult.list['url_analysis'][0].global_rank||
                                            'N/A'}}
                                        </span>
                                    </p>
                                </div>
                                <div class="url-analysis-heading-content">
                                    <p>
                                        <span>Pageviews per visitor :</span>
                                        <span>{{entitySearchResult.list['url_analysis'][0].pageviews_per_visitor||
                                            'N/A'}}
                                        </span>
                                    </p>
                                    <p>
                                        <span>Search visits percent : </span>
                                        <span>{{entitySearchResult.list['url_analysis'][0].search_visits_percent||
                                            'N/A'}}
                                        </span>
                                    </p>
                                </div>
                                <div class="url-analysis-heading-content">
                                    <p ng-show="entitySearchResult['list']['domain_servers'][0].registered_on || entitySearchResult['list']['domain_servers'][1].registered_on || entitySearchResult['list']['domain_servers'][2].registered_on">
                                        <span>Registered On</span>
                                        <span>
                                            <small class="custom-colon">:</small>
                                            {{(entitySearchResult['list']['domain_servers'][0].registered_on||
                                            entitySearchResult['list']['domain_servers'][1].registered_on
                                            || entitySearchResult['list']['domain_servers'][2].registered_on)
                                            | date}}</span>
                                    </p>
                                    <p ng-show="entitySearchResult['list']['domain_servers'][0].expired_on || entitySearchResult['list']['domain_servers'][1].expired_on || entitySearchResult['list']['domain_servers'][2].expired_on">
                                        <span>Expires On</span>
                                        <span>
                                            <small class="custom-colon">:</small>
                                            {{(entitySearchResult['list']['domain_servers'][0].expired_on||
                                            entitySearchResult['list']['domain_servers'][1].expired_on
                                            || entitySearchResult['list']['domain_servers'][2].expired_on)
                                            | date}}</span>
                                    </p>
            
                                </div>
                            </div>
                        </div>
            
                        <div class="url-analysis-wrapper">
                            <div class="url-analysis-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="url-analysis-chart">
                                            <h4 class="text-uppercase">Traffic By Countries</h4>
                                            <div class="url-analysis-chart-content" ng-show="entitySearchResult.list['traffic_by_countries'].length > 0">
                                                <div id="traffic_by_countries">
            
                                                </div>
                                            </div>
                                            <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper business-outlook-right"
                                                ng-hide="entitySearchResult.list['traffic_by_countries'].length > 0">
                                                <div class="alert-message loading-message" ng-if=" entitySearchResult.is_data_not_found.is_traffic_by_country && entitySearchResult.list['is_traffic_by_countries']">Loading...</div>
                                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_traffic_by_country">
                                                    Data Not Found
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="url-analysis-chart">
                                            <h4 class="text-uppercase">Traffic By Search
                                                Key Words</h4>
                                            <div class="entity-result-item url-analysis-chart-content" ng-show="entitySearchResult.list['search_keywords'].length > 0">
                                                <div id="search_keywords">
            
                                                </div>
                                            </div>
                                            <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper business-outlook-right"
                                                ng-hide="entitySearchResult.list['search_keywords'].length > 0">
                                                <div class="alert-message loading-message" ng-if="entitySearchResult.list['is_search_keywords'] && entitySearchResult.is_data_not_found.is_traffic_key_word">Loading...</div>
                                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_traffic_key_word">
                                                    Data Not Found
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="url-analysis-chart">
                                            <h4 class="text-uppercase">Traffic By Domain</h4>
                                            <div class="entity-result-item url-analysis-chart-content" ng-show="entitySearchResult.list['traffic_by_domain'].length > 0">
                                                <div id="traffic_by_domain">
            
                                                </div>
                                            </div>
                                            <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper business-outlook-right"
                                                ng-hide="entitySearchResult.list['traffic_by_domain'].length > 0">
                                                <div class="alert-message loading-message" ng-if="entitySearchResult.list['is_traffic_by_domain'] && entitySearchResult.is_data_not_found.is_traffic_bydomain">Loading...</div>
                                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_traffic_bydomain">
                                                    Data Not Found
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--Do not Edit this-->
                                        <div class="url-analysis-chart">
                                            <h4 class="text-uppercase">
                                                Other Details
                                            </h4>
                                            <div class="entity-result-item url-analysis-chart-content">
                                                <div class="url-analysis-address-content">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <div class="url-company-contact-details">
            
                                                                <p class="row custom-colon-section" ng-show="entitySearchResult['list']['domain_servers'][0].nameServers || entitySearchResult['list']['domain_servers'][1].nameServers || entitySearchResult['list']['domain_servers'][2].nameServers">
                                                                    <span class="col-sm-12 key">Server
                                                                        Names</span>
                                                                    <span class="col-sm-12 value">
                                                                        {{entitySearchResult['list']['domain_servers'][0].nameServers||
                                                                        entitySearchResult['list']['domain_servers'][1].nameServers
                                                                        ||
                                                                        entitySearchResult['list']['domain_servers'][2].nameServers}}</span>
                                                                </p>
            
                                                                <p class="row custom-colon-section" ng-show="entitySearchResult['list']['domain_servers'][0].admin_contacts || entitySearchResult['list']['domain_servers'][1].admin_contacts || entitySearchResult['list']['domain_servers'][2].admin_contacts">
                                                                    <span class="col-sm-12 key">Admin's
                                                                        Address</span>
                                                                    <span class="col-sm-12 value">
                                                                        {{entitySearchResult['list']['domain_servers'][0].admin_contacts||
                                                                        entitySearchResult['list']['domain_servers'][1].admin_contacts
                                                                        ||
                                                                        entitySearchResult['list']['domain_servers'][2].admin_contacts}}</span>
                                                                </p>
                                                                <p class="row custom-colon-section" ng-show="entitySearchResult['list']['domain_servers'][0].admin_phone || entitySearchResult['list']['domain_servers'][1].admin_phone || entitySearchResult['list']['domain_servers'][2].admin_phone">
                                                                    <span class="col-sm-12 key">Admin's
                                                                        Phone</span>
                                                                    <span class="col-sm-12 value">
                                                                        {{entitySearchResult['list']['domain_servers'][0].admin_phone||
                                                                        entitySearchResult['list']['domain_servers'][1].admin_phone
                                                                        ||
                                                                        entitySearchResult['list']['domain_servers'][2].admin_phone}}</span>
                                                                </p>
                                                                <p class="row custom-colon-section" ng-show="entitySearchResult['list']['domain_servers'][0].registrant_contacts || entitySearchResult['list']['domain_servers'][1].registrant_contacts || entitySearchResult['list']['domain_servers'][2].registrant_contacts">
                                                                    <span class="col-sm-12 key">registrant's
                                                                        Address</span>
                                                                    <span class="col-sm-12 value">
                                                                        {{entitySearchResult['list']['domain_servers'][0].registrant_contacts||
                                                                        entitySearchResult['list']['domain_servers'][1].registrant_contacts
                                                                        ||
                                                                        entitySearchResult['list']['domain_servers'][2].registrant_contacts}}</span>
                                                                </p>
                                                                <p class="row custom-colon-section" ng-show="entitySearchResult['list']['domain_servers'][0].registrant_phone || entitySearchResult['list']['domain_servers'][1].registrant_phone || entitySearchResult['list']['domain_servers'][2].registrant_phone">
                                                                    <span class="col-sm-12 key">registrant's
                                                                        Phone</span>
                                                                    <span class="col-sm-12 value">
                                                                        {{entitySearchResult['list']['domain_servers'][0].registrant_phone||
                                                                        entitySearchResult['list']['domain_servers'][1].registrant_phone
                                                                        ||
                                                                        entitySearchResult['list']['domain_servers'][2].registrant_phone}}</span>
                                                                </p>
                                                                <p class="row custom-colon-section" ng-show="entitySearchResult['list']['domain_servers'][0].technical_contacts || entitySearchResult['list']['domain_servers'][1].technical_contacts || entitySearchResult['list']['domain_servers'][2].technical_contacts">
                                                                    <span class="col-sm-12 key">technical's
                                                                        Address</span>
                                                                    <span class="col-sm-12 value">
                                                                        {{entitySearchResult['list']['domain_servers'][0].technical_contacts||
                                                                        entitySearchResult['list']['domain_servers'][1].technical_contacts
                                                                        ||
                                                                        entitySearchResult['list']['domain_servers'][2].technical_contacts}}</span>
                                                                </p>
                                                                <p class="row custom-colon-section" ng-show="entitySearchResult['list']['domain_servers'][0].technical_phone || entitySearchResult['list']['domain_servers'][1].technical_phone || entitySearchResult['list']['domain_servers'][2].technical_phone">
                                                                    <span class="col-sm-12 key">technical's
                                                                        Phone</span>
                                                                    <span class="col-sm-12 value">
                                                                        {{entitySearchResult['list']['domain_servers'][0].technical_phone||
                                                                        entitySearchResult['list']['domain_servers'][1].technical_phone
                                                                        ||
                                                                        entitySearchResult['list']['domain_servers'][2].technical_phone}}</span>
                                                                </p>
                                                                <p class="row custom-colon-section" ng-show="entitySearchResult['list']['domain_servers'][0].status || entitySearchResult['list']['domain_servers'][1].status || entitySearchResult['list']['domain_servers'][2].status">
                                                                    <span class="col-sm-12 key">Status</span>
                                                                    <span class="col-sm-12 value"> {{
                                                                        entitySearchResult['list']['domain_servers'][0].status
                                                                        || entitySearchResult['list']['domain_servers'][1].status
                                                                        || entitySearchResult['list']['domain_servers'][2].status
                                                                        }}
                                                                    </span>
                                                                </p>
            
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
     

    </div>
</div>

<!--  Related Organization Starts  -->
<div class="row custom-row d-flex jc-sb bst_row_wrapper bst_row_wrapper">
    <div class="col-md-6 pad-l0 custom-col entity-item related-company-main-wrapper">
        <div class="panel custom-panel-wrapper bst_panel_wrapper height-100">
            <div class="panle-heading pad-10px">
                <h3 class="roboto-light text-cream f-18 text-unset lh-1_2">Associated Companies</h3>
            </div>
            <div class="panel-body">
                <div class="entity-item-submmenu">
                    <div class="item-submmenu-list-wrapper">
                        <ul class="item-submmenu-list list-inline">
                            <li>
                                <div class="submmenu-list scroll-list-wrapper">
                                    <h5 class="text-uppercase d-flex ai-c">
                                        <span> Company Memberships</span>
                                        <strong class="mar-x5">{{entitySearchResult.list['associated_companies']['memberships'].length}}</strong>
                                    </h5>
                                </div>
                            </li>
                            <li>
                                <div class="submmenu-list scroll-list-wrapper">
                                    <h5 class="text-uppercase d-flex ai-c">
                                        <span> Company Owners </span>
                                        <strong class="mar-x5">{{entitySearchResult.list['associated_companies']['owners'].length}}</strong>
                                    </h5>
                                </div>
                            </li>
                            <li>
                                <div class="submmenu-list scroll-list-wrapper">
                                    <h5 class="text-uppercase d-flex ai-c">
                                        <span> Services Transactions</span>
                                        <strong class="mar-x5">{{entitySearchResult.list['associated_companies']['services
                                            transactions'].length}}
                                        </strong>
                                    </h5>
                                </div>
                            </li>
                            <li>
                                <div class="submmenu-list scroll-list-wrapper">
                                    <h5 class="text-uppercase d-flex ai-c">
                                        <span> Child Organizations</span>
                                        <strong class="mar-x5">{{entitySearchResult.list['associated_companies']['child_organizations'].length}}</strong>
                                    </h5>
                                </div>
                            </li>
                            <li>
                                <div class="submmenu-list scroll-list-wrapper">
                                    <h5 class="text-uppercase d-flex ai-c">
                                        <span>holdings</span>
                                        <strong class="mar-x5">{{entitySearchResult.list['associated_companies']['holdings'].length}}</strong>
                                    </h5>
                                </div>
                            </li>
                            <li>
                                <div class="submmenu-list scroll-list-wrapper">
                                    <h5 class="text-uppercase d-flex ai-c">
                                        <span> donation grant recipients</span>
                                        <strong class="mar-x5">{{entitySearchResult.list['associated_companies']['donation_grant_recipients'].length}}</strong>
                                    </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="entity-result-item" ng-show="entitySearchResult.list['associated_companies']['child_organizations'].length > 0 || entitySearchResult.list['associated_companies']['holdings'].length > 0 || entitySearchResult.list['associated_companies']['donation_grant_recipients'].length > 0 || entitySearchResult.list['associated_companies']['memberships'].length > 0 || entitySearchResult.list['associated_companies']['owners'].length > 0 || entitySearchResult.list['associated_companies']['services transactions'].length > 0">
                    <div class="company-table-wrapper">
                        <table class="table table-scroll scroll-table striped-table associated-table">
                            <tbody>
                                <tr class="text-left" ng-repeat="entity in entitySearchResult.list['associated_companies']['memberships']">
                                    <td>
                                        <a href="{{ entity.url}}" target="_blank">{{entity.name}}</a>
                                    </td>
                                    <td>{{entity.relationship}}</td>

                                    <td>{{entity.summary}}</td>
                                </tr>
                                <tr class="text-left" ng-repeat="entity in entitySearchResult.list['associated_companies']['owners']">
                                    <td>
                                        <a href="{{ entity.url}}" target="_blank">{{entity.name}}</a>
                                    </td>
                                    <td>{{entity.relationship}}</td>

                                    <td>{{entity.summary}}</td>
                                </tr>
                                <tr class="text-left" ng-repeat="entity in entitySearchResult.list['associated_companies']['services transactions']">
                                    <td>
                                        <a href="{{ entity.url}}" target="_blank">{{entity.name}}</a>
                                    </td>
                                    <td>{{entity.relationship}}</td>

                                    <td>{{entity.summary}}</td>
                                </tr>
                                <tr class="text-left" ng-repeat="entity in entitySearchResult.list['associated_companies']['child_organizations']">
                                    <td>
                                        <a href="{{ entity.url}}" target="_blank">{{entity.name}}</a>
                                    </td>
                                    <td>{{entity.relationship}}</td>

                                    <td>{{entity.summary}}</td>
                                </tr>
                                <tr class="text-left" ng-repeat="entity in entitySearchResult.list['associated_companies']['holdings']">
                                    <td>
                                        <a href="{{ entity.url}}" target="_blank">{{entity.name}}</a>
                                    </td>
                                    <td>{{entity.relationship}}</td>

                                    <td>{{entity.summary}}</td>
                                </tr>
                                <tr class="text-left" ng-repeat="entity in entitySearchResult.list['associated_companies']['donation_grant_recipients']">
                                    <td>
                                        <a href="{{ entity.url}}" target="_blank">{{entity.name}}</a>
                                    </td>
                                    <td>{{entity.relationship}}</td>

                                    <td>{{entity.summary}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="entity-result-item custom-result-item alert-message-wrapper">
                    <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.associated_company">Loading...</div>
                    <div class="alert-message alert-message-wrapper" ng-if=" !entitySearchResult.is_data_not_found.associated_company">Data
                        Not Found </div>
                </div>
            </div>
        </div>

    </div>
    <!--  Related Organization Ends  -->

    <!--  Social Media Wrapper Starts  -->
    <div ng-if="!hideTabs" class="col-md-6 custom-col entity-item news-wrapper social-media-wrapper">
        <div class="panel custom-panel-wrapper bst_panel_wrapper height-100">
            <div class="panel-heading">
                <h3>Social Media Followers</h3>
            </div>
            <div class="panel-body">
                <div class="socialBubbleChart-wrapper" ng-hide="entitySearchResult.list['social_followers_bubble_chart']">
                    <div id="socialBubbleChart"></div>
                </div>
                <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper overview-social-media-ditto"
                    ng-show="entitySearchResult.list['social_followers_bubble_chart']">
                    <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_twitter_list || entitySearchResult.is_data_not_found.is_facebook_list || entitySearchResult.is_data_not_found.is_instagramlist">Loading...</div>
                                    <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_twitter_list || !entitySearchResult.is_data_not_found.is_facebook_list || !entitySearchResult.is_data_not_found.is_instagramlist ">Data
                                         Not Found</div>
                </div>
            </div>
        </div>


    </div>
    <!--  Social Media Wrapper Ends  -->
</div>
<div class="row custom-row d-flex jc-sb bst_row_wrapper bst_row_wrapper">
    <!--  Questionnaire Summary by Topics Starts  -->
    <div class="col-md-6 pad-l0 custom-col entity-item news-wrapper social-media-wrapper" ng-if="isQuessionaire">
        <div class="panel custom-panel-wrapper bst_panel_wrapper height-100">
            <div class="panel-heading">
                <h3>Questionnaire Summary by ISO</h3>
            </div>
            <div class="panel-body ">
                <div class="">
                    <uib-accordion id="accordianTopicId">
                        <div uib-accordion-group class="panel-default" ng-repeat="kpi in TopicKPIData">
                            <uib-accordion-heading>
                                <span style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;padding: 0 15px 0 0;display: inline-block;position:relative"
                                    ng-click="renderQuestionnairePie();toggleSign($index);" ng-class="(ToggleSymbol=== $index) ? 'text-cream' :'text-dark-cream'">{{kpi.key}}
                                    {{kpi.isoTitle}}
                                    <i style="position: absolute;right: 0;left:auto;font-size:12px;color: rgba(251,251,251,.6);top: 4px;" ng-if="!(ToggleSymbol === $index)"
                                        class="glyphicon text-dark-blue pull-right glyphicon-plus"></i>
                                    <i style="position: absolute;right: 0;left:auto;font-size:12px;color: rgba(251,251,251,.6);top: 4px;" ng-if="(ToggleSymbol=== $index)"
                                        class="glyphicon text-dark-blue pull-right glyphicon-minus"></i>
                                </span>
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-md-7">
                                    <div id="{{'dynamic_'+$index}}"></div>
                                </div>
                                <div class="col-md-5">
                                    <ul class="custom-list item-1 text-uppercase pad-l0 mar-t15">
                                        <li ng-repeat="vals in kpi.values" class=" pad-x10">

                                            <p ng-if="vals.key=='unevaluated'" class="d-ib mar-b5">
                                                <a ng-click="openQuestionListModal('iso', vals.values);" class="text-grey">
                                                    <b class="f-14">{{ vals.values.length
                                                        }} </b>Unevaluated</a>
                                            </p>
                                            <p ng-if="vals.key=='met'" class="d-ib mar-b5">
                                                <a ng-click="openQuestionListModal('iso', vals.values);" class="text-legend-blue">
                                                    <b class="f-14">{{ vals.values.length
                                                        }} </b>Met</a>
                                            </p>
                                            <p ng-if="vals.key=='not met' || vals.key=='not_met_at_all' || vals.key=='not_met'"
                                                class="d-ib mar-b5">
                                                <a ng-click="openQuestionListModal('iso', vals.values);" class="text-legend-pink">
                                                    <b class="f-14">{{ vals.values.length
                                                        }} </b>Not Met
                                                </a>
                                            </p>
                                            <p ng-if="vals.key=='overachieved'" class="d-ib mar-b5">
                                                <a ng-click="openQuestionListModal('iso', vals.values);" class="text-legend-blue">
                                                    <b class="f-14">{{ vals.values.length
                                                        }} </b>overAchievement</a>
                                            </p>
                                            <p ng-if="vals.key=='underachieved'" class="d-ib mar-b5">
                                                <a ng-click="openQuestionListModal('iso', vals.values);" class="text-legend-pink">
                                                    <b class="f-14">{{ vals.values.length
                                                        }} </b>underAchievement</a>
                                            </p>
                                            <p ng-if="vals.key=='no info'" class="d-ib mar-b5">
                                                <a ng-click="openQuestionListModal('iso', vals.values);" class="text-legend-grey">
                                                    <b class="f-14">{{ vals.values.length
                                                        }} </b>no info
                                                </a>
                                            </p>
                                            <p ng-if="vals.key=='not applicable'" class="d-ib mar-b5">
                                                <a ng-click="openQuestionListModal('iso', vals.values);" class="text-legend-grey">
                                                    <b class="f-14">{{ vals.values.length
                                                        }} </b>not applicable
                                                </a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>




    </div>
    <!--  Questionnaire Summary by Topics Ends  -->

    <!--  ISO Summary Information KPI Starts  -->
    <div class="col-md-6 custom-col entity-item news-wrapper social-media-wrapper" ng-if="isQuessionaire">
        <div class="panel custom-panel-wrapper bst_panel_wrapper height-100">
            <div class="panel-heading">
                <h3>Topic Summary Information KPI</h3>
            </div>
            <div class="panel-body">
                <div class="alert-message-wrapper custom-data-table-wrapper">
                    <table class="table four-col full-width striped-table table-expandable table-scroll scroll-table border-b0">
                        <thead>
                            <tr>
                                <th>ISO Section</th>
                                <th>ISO Code</th>
                                <th>Score</th>
                                <th>Answered met Requirement</th>
                            </tr>
                        </thead>
                        <tbody id="isoTable" ng-class="isoListData.length != 0 ? 'mxh-300 p-rel' :'mxh-100 p-rel mnh-100px'"
                            class="p-rel">
                            <tr ng-repeat="item in isoListData" ng-if="isoListData.length > 0">
                                <td>
                                    <a ng-click="openQuestionListModal('topic', item.isoValues)" class="text-dark-cream roboto-light ws-normal">{{item.isoSection}}</a>
                                </td>
                                <td>
                                    <a ng-click="openQuestionListModal('topic', item.isoValues)" class="text-dark-cream roboto-light ws-normal">{{item.isoCode
                                        || '-'}}</a>
                                </td>
                                <td>{{item.score}}</td>
                                <td>{{item.answeredMetRequirement}}</td>
                            </tr>
                            <tr ng-if="isoListData.length == 0">
                                <td class="no-data-wrapper text-center">Data not
                                    found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>
    <!--  ISO Summary Information KPI Ends  -->
</div>
<script>

</script>
<script>
    $(document).ready(function () {

        $(".item-submmenu-list, .custom-commitee-tabs > .nav-tabs , .custom-fraud-tabs > .nav-tabs").mThumbnailScroller({
            axis: "x"
        });
    
    $('.entity-result-item,#accordianTopicId .panel-group, .whoweare-result-item').mCustomScrollbar({
        axis: "y"
    });
    });
</script>