 <span ng-show="mediaLoader" class="custom-spinner case-dairy-spinner">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </span>

    <h3 class="f-18 roboto-light text-unset text-cream lh-1" ng-show="showPdf">Pdf</h3>
    <div class="media-custom-scroll">
        <div class="medias-wrapper  mnh-450" ng-show="showPdf">
            <ul class="medias-list pdf-list list-inline">
                <li ng-repeat="document in pdfDocuments| unique: 'fileTitle'">
                    <div class="thumb-wrapper">
                        <img class="image-object" src="../assets/images/pdf.png" />
                    </div>
                    <a href="javascript:void(0);" ng-click="downloadDoc(document.docId, document.fileTitle, document.fileType)">
                        <h6>
                            <span tooltip="download" class='glyphicon glyphicon-download-alt'></span>
                            <span>{{document.fileTitle}}</span>
                        </h6>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <h3 class="f-18 roboto-light text-unset text-cream lh-1" ng-show="showDoc ">Docs</h3>
    <div class="media-custom-scroll">
        <div class="medias-wrapper mnh-450" ng-show="showDoc">
            <ul class="medias-list video-list list-inline doc-list">
                <li ng-repeat="document in docDocuments| unique: 'fileTitle'">
                    <div class="thumb-wrapper">
                        <img class="image-object" src="../assets/images/doc.png" />
                    </div>
                    <a href="javascript:void(0);" ng-click="downloadDoc(document.docId, document.fileTitle, document.fileType)">
                        <h6>
                            <span tooltip="download" class='glyphicon glyphicon-download-alt'></span>
                            <span>{{document.fileTitle}}</span>
                        </h6>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <h3 class="f-18 roboto-light text-unset text-cream lh-1" ng-if='entitySearchResult.list["videos_list"].length > 0'>Videos</h3>
    <div class="media-custom-scroll">
        <div class="medias-wrapper mnh-450" ng-if='entitySearchResult.list["videos_list"].length > 0'>
            <ul class="medias-list video-list list-inline">
                <li ng-repeat="video in entitySearchResult.list['videos_list']">
                    <a href="{{video.watch_url}}" target="_blank">
                        <div class="thumb-wrapper">
                            <img class="image-object" ng-src="{{video.thumbnail|| '../assets/images/youtube.png'}}" />
                            <a href="{{video.watch_url}}" class="fa fa-play-circle-o icon-overlay" target="_blank"></a>
                        </div>
                        <h6>
                            <span>{{video.title}}</span>
                        </h6>
                        <p>{{video.description}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <h3 class="f-18 roboto-light text-unset text-cream lh-1" ng-show="entityInstagramList.length > 0">Images</h3>
    <div class="media-custom-scroll">
        <div class="medias-wrapper  mnh-450" ng-show="entityInstagramList.length > 0">
            <ul class="medias-list image-list list-inline">
                <li ng-repeat="image in entityInstagramList">
                    <a href="javascript:void(0);" target="_blank">
                        <div class="thumb-wrapper">
                            <img class="image-object" ng-src="{{image.thumbnail|| '../assets/images/image.png'}}" />
                        </div>
                        <h6>{{image.name}}</h6>
                        <p>{{image.caption}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

<script>
    $('.entity-result-item').mCustomScrollbar({
        axis: "y"
    });
   
    setTimeout(function () {
   
        $('.media-custom-scroll').mCustomScrollbar({
            axis: "y"
        });
    }, 1000); 
</script>