 <div class="row pad-0 custom-row bst_row_wrapper">
        <!--  risky-alerts-counter Info Starts  -->
        <div class="col-md-12 span-3 entity-item risky-alerts-counter-wrapper ">
            <div class="entity-item-submmenu">
                <div class="item-submmenu-list-wrapper">
                    <ul class="item-submmenu-list list-inline">
                        <li>
                            <div class="submmenu-list">
                                <h5 class="text-uppercase">
                                    Pep Alerts
                                    <strong>{{entitySearchResult.list['pep'].length}}</strong>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="submmenu-list">
                                <h5 class="text-uppercase">
                                    Sanctions If Any
                                    <strong>{{entitySearchResult.list.sanctionList.length}}</strong>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="submmenu-list">
                                <h5 class="text-uppercase">
                                    Fraud Alerts
                                    <strong>{{entitySearchResult.list['scam'].length
                                        + entitySearchResult.list['imsasllc'].length
                                        + entitySearchResult.list['sex-offenders'].length
                                        + entitySearchResult.list['denied_personlist'].length
                                        + entitySearchResult.list['fbi_data'].length}}</strong>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="submmenu-list">
                                <h5 class="text-uppercase">
                                    Cyber Alerts
                                    <strong>{{entitySearchResult.list['xforceibmcloud'].length}}</strong>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="submmenu-list">
                                <h5 class="text-uppercase">
                                    Criminal Records
                                    <strong>{{entitySearchResult.list['crimeList']['interpol'].length
                                        + entitySearchResult.list['crimestoppers_uk'].length}}</strong>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="submmenu-list">
                                <h5 class="text-uppercase">
                                    Dark Web Articles
                                    <strong>{{entitySearchResult.list['news_deep_web'].length
                                        + entitySearchResult.list['cypherpunk'].length}}</strong>
                                </h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  risky-alerts-counter Info Ends  -->

        <!--  alert-timeline Info Starts  -->
        <div class="col-md-12 span-3 entity-item alert-timeline-wrapper ">
            <h3 class="f-18 roboto-light text-unset text-cream lh-1" class="f-18 roboto-light text-unset text-cream lh-1">
                Alert Timeline
                <ul class="custom-sentiment-feed list-inline">
                    <li>
                        <a class="refresh" href>PEP</a>
                    </li>
                    <li>
                        <a class="sanctions" href>SANCTIONS</a>
                    </li>
                    <li>
                        <a class="heart" href>FRAUD ALERTS</a>
                    </li>
                    <li>
                        <a class="cyber" href>CYBER ALERTS</a>
                    </li>
                    <li>
                        <a class="adverseNews" href>NEWS</a>
                    </li>
                    <li>
                        <a style="color:#dd9d22" href>Dark Web</a>
                    </li>
                </ul>
            </h3>
            <div class="alertTimeLineChart-wrapper" id="riskyTimelineChart">

            </div>
        </div>

        <!--  alert-timeline Info Ends  -->

        <!--  pep-fraud section Info Starts  -->
        <div class="col-md-12 span-3 pep-fraud-wrapper ">
            <div class="container-fluid pad-x0">
                <div class="row d-flex jc-sb mar-x0">
                    <div class="col-sm-4 entity-item">
                        <div class="recent-linkedin-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Pep Alerts</h3>
                            <div class="entity-result-item" ng-show="entitySearchResult.list['pep'].length > 0">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="pep in entitySearchResult.list['pep']">
                                        <div class="recent-linkedin">
                                            <p>{{pep.list_name}}</p>
                                            <div class="linkedin-content">
                                                <p>
                                                    {{pep.summary}}
                                                </p>
                                            </div>
                                            <a href="{{sanctionList.link}}" target="_blank">
                                                {{pep.link}}
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item alert-message-wrapper" ng-hide="entitySearchResult.list['pep'].length > 0">
                                <div class="alert-message text-uppercase">No
                                    PEP Alerts</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 entity-item fraud-alerts-tabs">
                        <div class="recent-linkedin-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Fraud Alerts</h3>
                            <div class="tabs-section custom-fraud-tabs">
                                <ul class="nav nav-tabs">
                                    <!-- <li ng-repeat="tab in sortedObjs" ng-class="{'active': fraudTabType === tab.name}"><a href ng-click="onClickFraudTypeTabs(tab.name)"><span class="main-nav-texts">{{tab.name}}</span></a></li> -->
                                    <li ng-class="{'active': fraudTabType === 'FBI Data'}">
                                        <a href ng-click="onClickFraudTypeTabs('FBI Data')">
                                            <span class="main-nav-texts">FBI
                                                Data List</span>
                                        </a>
                                    </li>
                                    <li ng-class="{'active': fraudTabType === 'Bad Buyer'}">
                                        <a href ng-click="onClickFraudTypeTabs('Bad Buyer')">
                                            <span class="main-nav-texts">Bad
                                                Buyer's List</span>
                                        </a>
                                    </li>
                                    <li ng-class="{'active': fraudTabType === 'Scam List'}">
                                        <a href ng-click="onClickFraudTypeTabs('Scam List')">
                                            <span class="main-nav-texts">Scam
                                                List</span>
                                        </a>
                                    </li>
                                    <li ng-class="{'active': fraudTabType === 'Crime List'}">
                                        <a href ng-click="onClickFraudTypeTabs('Crime List')">
                                            <span class="main-nav-texts">Crime
                                                List(Imsaslic)</span>
                                        </a>
                                    </li>
                                    <li ng-class="{'active': fraudTabType === 'Sex Offenders'}">
                                        <a href ng-click="onClickFraudTypeTabs('Sex Offenders')">
                                            <span class="main-nav-texts">Sex
                                                Offenders List</span>
                                        </a>
                                    </li>
                                    <li ng-class="{'active': fraudTabType === 'Denied Person'}">
                                        <a href ng-click="onClickFraudTypeTabs('Denied Person')">
                                            <span class="main-nav-texts">Denied
                                                Person List</span>
                                        </a>
                                    </li>
                                    <li ng-class="{'active': fraudTabType === 'Exclusions Details'}">
                                        <a href ng-click="onClickFraudTypeTabs('Exclusions Details')">
                                            <span class="main-nav-texts">Exclusions
                                                Details</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="entity-result-item custom-result-item">
                                <div class="fraud-list-item">
                                    <div ng-if="fraudTabType === 'Scam List'">
                                        <ul class="media-list" ng-show="entitySearchResult.list['scam'].length > 0">
                                            <li class="media" ng-repeat="scam in entitySearchResult.list['scam']">
                                                <div class="recent-linkedin">
                                                    <div class="linkedin-content">
                                                        <p>{{scam.root.title}}</p>
                                                        <p ng-if="scam.root.reported_by && scam.root.reported_by !== ''">
                                                            Reported By : {{scam.root.reported_by}}
                                                        </p>
                                                        <p ng-if="scam.root.report_time && scam.root.report_time !== ''">
                                                            at {{scam.root.report_time}}
                                                        </p>
                                                        <p>{{scam.root.body}}</p>
                                                        <a href="{{scam.root.url}}" target="_blank">
                                                            {{scam.root.url}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="entity-result-item custom-result-item alert-message-wrapper" ng-hide="entitySearchResult.list['scam'].length > 0">
                                            <div class="alert-message loading-message" ng-if=" entitySearchResult.is_data_not_found.is_scam">Loading...</div>
                                            <div class="alert-message" ng-if=" !entitySearchResult.is_data_not_found.is_scam"> NO
                                                FRAUD ALERTS</div>
                                        </div>
                                    </div>
                                    <div ng-if="fraudTabType === 'Bad Buyer'">
                                        <ul class="media-list" ng-show="entitySearchResult.list.badbbuyer_initial">
                                            <li class="media" ng-if="entitySearchResult.list['is_badbuyerslist']">
                                                <div class="recent-linkedin">
                                                    <div class="linkedin-content" title="Buyers username :{{entitySearchResult.list['badbuyerslist']['buyers username']}}&#10;Address :{{entitySearchResult.list['badbuyerslist']['buyers address']}}&#10;{{entitySearchResult.list['badbuyerslist']['buyers country']}}&#10;Payment Method :{{entitySearchResult.list['badbuyerslist']['payment method']}}&#10;Details :{{entitySearchResult.list['badbuyerslist'].details}}">
                                                        <p>
                                                            <a href="{{entitySearchResult.list['badbuyerslist'].url}}" target="_blank">
                                                                {{entitySearchResult.list['badbuyerslist']['buyers name']}}</a>
                                                        </p>
                                                        <p>Purchased Date
                                                            :{{entitySearchResult.list['badbuyerslist']['purchase
                                                            date']}}
                                                        </p>
                                                        <p>Email :{{entitySearchResult.list['badbuyerslist'].email}}</p>

                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="entity-result-item custom-result-item alert-message-wrapper" ng-hide="entitySearchResult.list.badbbuyer_initial">
                                            <div class="alert-message loading-message" ng-if="entitySearchResult.list['is_badbuyerslist']">Loading...</div>
                                            <div class="alert-message" ng-if=" !entitySearchResult.list['is_badbuyerslist']"> NO
                                                FRAUD ALERTS</div>
                                        </div>
                                    </div>
                                    <div ng-if="fraudTabType === 'Crime List'">
                                        <ul class="media-list" ng-show="entitySearchResult.list['imsasllc'].length > 0">
                                            <li class="media" ng-repeat="entity in entitySearchResult.list['imsasllc']">
                                                <div class="recent-linkedin">
                                                    <div class="linkedin-content">
                                                        <p>{{entity.properties.display_title}}({{entity.properties.date_of_birth}})</p>
                                                        <p>language spoken
                                                            : {{entity.properties.language_spoken}}</p>
                                                        <p>nationality :
                                                            {{entity.properties.nationality}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="entity-result-item custom-result-item alert-message-wrapper" ng-hide="entitySearchResult.list['imsasllc'].length > 0">
                                            <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_crimelist">Loading...</div>
                                            <div class="alert-message" ng-if="!entitySearchResult.is_data_not_found.is_crimelist">NO
                                                FRAUD ALERTS</div>
                                        </div>
                                    </div>
                                    <div ng-if="fraudTabType === 'Sex Offenders'">
                                        <ul class="media-list" ng-show="entitySearchResult.list['sex-offenders'].length > 0">
                                            <li class="media" ng-repeat="entity in entitySearchResult.list['sex-offenders']">
                                                <div class="recent-linkedin">
                                                    <div class="linkedin-content" title="D.O.B :{{entity.birth_date}}&#10;Age :{{entity.age}}&#10;Gender :{{entity.gender}}&#10;Adress :{{entity.adress}}&#10;Height :{{entity.height}}&#10;Weight :{{entity.weight}}&#10;Race :{{entity.race}}">
                                                        <p class="sex-offender">{{entity.name}}
                                                            ({{entity.age}})</p>
                                                        <p class="progress-text row">
                                                            <span class="key col-sm-2">D.O.B</span>
                                                            <span class="value col-sm-5"> :{{entity.birth_date}}
                                                            </span>
                                                            <span class="key col-sm-2">Sex</span>
                                                            <span class="value col-sm-3"> :{{entity.gender}}
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="entity-result-item custom-result-item alert-message-wrapper" ng-hide="entitySearchResult.list['sex-offenders'].length > 0">
                                            <div class="alert-message loading-message" ng-if=" entitySearchResult.is_data_not_found.is_sexoffender">Loading...</div>
                                            <div class="alert-message" ng-if=" !entitySearchResult.is_data_not_found.is_sexoffender"> NO
                                                FRAUD ALERTS</div>
                                        </div>
                                    </div>
                                    <div ng-if="fraudTabType === 'Denied Person'">
                                        <ul class="media-list" ng-show="entitySearchResult.list['denied_personlist'].length > 0">
                                            <li class="media" ng-repeat="entity in entitySearchResult.list['denied_personlist']">
                                                <div class="recent-linkedin">
                                                    <div class="linkedin-content">
                                                        <p>{{entity.name}}</p>
                                                        <p class="progress-text">
                                                            <span class="date" ng-if="entity.effective_date !== '' && entity.effective_date">Effective
                                                                from {{entity.effective_date|
                                                                date : 'dd/MM/yyyy'}}</span>
                                                            <span class="date" ng-if="entity.expiration_date !== '' && entity.expiration_date">Expire
                                                                on {{entity.expiration_date|
                                                                date : 'dd/MM/yyyy'}}</span>
                                                            <span ng-if="entity.fr_citation !== '' && entity.fr_citation">FR
                                                                Citation:
                                                                {{entity.fr_citation}}</span>
                                                            <span>Risk Score
                                                                : {{entity.risk_score}}</span>
                                                        </p>
                                                        <p class="description" ng-if="entity.action !== '' && entity.action">
                                                            Action : {{entity.action}}
                                                        </p>
                                                        <p class="description" ng-if="entity.address !== '' && entity.address">
                                                            Address : {{entity.address}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="entity-result-item custom-result-item alert-message-wrapper" ng-hide="entitySearchResult.list['denied_personlist'].length > 0">
                                            <div class="alert-message loading-message" ng-if=" entitySearchResult.is_data_not_found.is_deninedperson">Loading...</div>
                                            <div class="alert-message" ng-if=" !entitySearchResult.is_data_not_found.is_deninedperson"> NO
                                                FRAUD ALERTS</div>
                                        </div>
                                    </div>
                                    <div ng-if="fraudTabType === 'Exclusions Details'">
                                        <ul class="media-list" ng-show="entitySearchResult.list['exclusions']['person']">
                                            <li class="media">
                                                <div class="recent-linkedin">
                                                    <div class="linkedin-content">
                                                        <p>{{entitySearchResult.list['exclusions']['person'].first_name}}
                                                            {{entitySearchResult.list['exclusions']['person'].middle_name}}
                                                            {{entitySearchResult.list['exclusions']['person'].last_name}}
                                                        </p>
                                                        <p class="progress-text">
                                                            <h3>Speciality
                                                                : {{entitySearchResult.list['exclusions']['person'].specialty}}</h3>
                                                            <span ng-if="entitySearchResult.list['exclusions']['person'].excl_type !== '' && entitySearchResult.list['exclusions']['person'].excl_type">Exclusion
                                                                Type : {{entitySearchResult.list['exclusions']['person'].excl_type}}
                                                            </span>
                                                            <span ng-if="entitySearchResult.list['exclusions']['person'].excl_date !== '' && entitySearchResult.list['exclusions']['person'].excl_date">Dated
                                                                on : {{entitySearchResult.list['exclusions']['person'].excl_date}}</span>
                                                            <span ng-if="entitySearchResult.list['exclusions']['person'].address1 !== '' && entitySearchResult.list['exclusions']['person'].address1">Address
                                                                : {{entitySearchResult.list['exclusions']['person'].address1}}
                                                                {{entitySearchResult.list['exclusions']['person'].address2}}
                                                            </span>
                                                            <span ng-if="entitySearchResult.list['exclusions']['person'].general !== '' && entitySearchResult.list['exclusions']['person'].general">General
                                                                : {{entitySearchResult.list['exclusions']['person'].general}}</span>
                                                            <span>Risk Score
                                                                : {{entitySearchResult.list['exclusions']['person'].risk_score}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="entity-result-item custom-result-item alert-message-wrapper" ng-hide="entitySearchResult.list['exclusions']['person']">
                                            <div class="alert-message loading-message" ng-if=" entitySearchResult.is_data_not_found.is_exclusions">Loading...</div>
                                            <div class="alert-message" ng-if=" !entitySearchResult.is_data_not_found.is_exclusions"> NO
                                                FRAUD ALERTS</div>
                                        </div>
                                    </div>
                                    <div ng-if="fraudTabType === 'FBI Data'">
                                        <ul class="media-list" ng-show="entitySearchResult.list['fbi_data'].length > 0">
                                            <li class="media" ng-repeat="entity in entitySearchResult.list['fbi_data']">
                                                <div class="recent-linkedin">
                                                    <div class="linkedin-content">
                                                        <p>{{entity.properties.title}}</p>
                                                        <p class="progress-text">
                                                            <span ng-if="entity.properties.eyes !== '' && entity.properties.eyes">Eyes
                                                                : {{entity.properties.eyes}}</span>
                                                            <span ng-if="entity.properties.weight !== '' && entity.properties.weight">Weight
                                                                : {{entity.properties.weight}}</span>
                                                            <span ng-if="entity.properties.height !== '' && entity.properties.height">Height
                                                                : {{entity.properties.height}}</span>
                                                            <span ng-if="entity.properties.hair !== '' && entity.properties.hair">Hair
                                                                : {{entity.properties.hair}}</span>
                                                            <span ng-if="entity.properties.scars_and_marks !== '' && entity.properties.scars_and_marks">Scars
                                                                and marks
                                                                : {{entity.properties.scars_and_marks}}
                                                            </span>
                                                            <span ng-if="entity.properties.place_of_birth !== '' && entity.properties.place_of_birth">Place
                                                                of birth
                                                                : {{entity.properties.place_of_birth}}
                                                            </span>
                                                            <span ng-if="entity.properties.remarks !== '' && entity.properties.remarks">Remarks
                                                                : {{entity.properties.remarks}}</span>
                                                            <span ng-if="entity.properties.sex !== '' && entity.properties.sex">Sex
                                                                : {{entity.properties.sex}}</span>
                                                            <span ng-if="entity.properties.dates_of_birth_used !== '' && entity.properties.dates_of_birth_used">Dates
                                                                of birth
                                                                used : {{entity.properties.dates_of_birth_used}}
                                                            </span>
                                                        </p>
                                                        <p ng-if="entity.properties.description !== '' && entity.properties.description">
                                                            Description : {{entity.properties.description}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="entity-result-item custom-result-item alert-message-wrapper" ng-hide="entitySearchResult.list['fbi_data'].length > 0">
                                            <div class="alert-message loading-message" ng-if=" entitySearchResult.is_data_not_found.is_fbidata">Loading...</div>
                                            <div class="alert-message" ng-if=" !entitySearchResult.is_data_not_found.is_fbidata"> NO
                                                FRAUD ALERTS</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 entity-item mar-r0">
                        <div class="recent-linkedin-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Cyber Alerts</h3>
                            <div class="entity-result-item  recent-linkedin" ng-show="entitySearchResult.list['xforceibmcloud'].length > 0">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="cyber in entitySearchResult.list['xforceibmcloud']">
                                        <div class="recent-linkedin">
                                            <div class="linkedin-content">
                                                <p>
                                                    {{cyber.title}}
                                                    <a target="_blank" href="{{cyber.link}}">
                                                        {{cyber.link}}
                                                    </a>
                                                </p>
                                                <p class="row progress-text custom-colon-section" ng-repeat="(key, value) in entity" ng-if="key !== 'title' && key !== 'link' && value !== '' && value">
                                                    <span class="key">{{key}}</span>
                                                    <span class="value">
                                                        <small class="custom-colon">:</small>{{value}}
                                                        </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item alert-message-wrapper">
                                <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_cyberalert">Loading...</div>
                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_cyberalert"> NO
                                    CYBER ALERTS</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  pep-fraud section Info Ends  -->

        <!--  sanctioned-list section Info Starts  -->
        <div class="col-md-12 span-3 sanctioned-list-wrapper">
            <div class="container-fluid pad-x0">
                <div class="row mar-x0 d-flex jc-sb">
                    <div class="col-sm-3 entity-item">
                        <div class="recent-linkedin-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Sanctioned List</h3>
                            <div class="entity-result-item" ng-show="entitySearchResult.list['sanctionList'].length > 0">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="sanctionList in entitySearchResult.list['sanctionList']">
                                        <div class="recent-linkedin">
                                            <p>{{sanctionList.list_name}}</p>
                                            <div class="linkedin-content">
                                                <p>
                                                    {{sanctionList.summary}}
                                                </p>
                                            </div>
                                            <a href="{{sanctionList.link}}" target="_blank">
                                                {{sanctionList.link}}
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item alert-message-wrapper">
                                <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_sanctionedlist">Loading...</div>
                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_sanctionedlist">NO
                                    Sanctioned List Found</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 entity-item">
                        <div class="recent-linkedin-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">News</h3>
                            <div class="entity-result-item  recent-linkedin" ng-show="entitySearchResult.list['adverse_news'].length > 0  || officersAdverseNews.length > 0 ">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="news in entitySearchResult.list['adverse_news']">
                                        <div class="recent-linkedin">
                                            <div class="linkedin-content">
                                                <p>
                                                    <a class="c-arrow" style="display:inline">{{news.title}}</a>
                                                    <span ng-click="openAdverseNewsModal(news,$index)" class="c-pointer" title="Visualizer"><img
                                                            src="../assets/images/vla/Entity_extract.png"
                                                            width="15px" height="15px"
                                                            alt="entityVisualizer"></span>
                                                    <span>
                                                        <a target="_blank" href="{{news.url}}" title="Show Article Source in a new tab"> <i
                                                                class="fa fa-external-link c-pointer"></i></a>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media" ng-repeat="news in officersAdverseNews">
                                        <div class="recent-linkedin">
                                            <div class="linkedin-content">
                                                <p>
                                                    <a class="c-arrow" style="display:inline">{{news.title}}</a>
                                                    <span ng-click="openAdverseNewsModal(news,$index)" class="c-pointer" title="Visualizer"><img
                                                            src="../assets/images/vla/Entity_extract.png"
                                                            width="15px" height="15px"
                                                            alt="entityVisualizer"></span>
                                                    <span>
                                                        <a target="_blank" href="{{news.url}}" title="Show Article Source in a new tab"> <i
                                                                class="fa fa-external-link c-pointer"></i></a>
                                                    </span>
                                                </p>
                                                <p ng-if="news.published">
                                                    <b>Published at:</b>
                                                    {{ news.published | date:'medium'}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item custom-result-item alert-message-wrapper" ng-hide="entitySearchResult.list['adverse_news'].length > 0  || officersAdverseNews.length > 0 ">
                                <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_adversenews">Loading...</div>
                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_adversenews"> No
                                    NEWS</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mar-r0 entity-item">
                        <div class="pep-relationship-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Pep Relationship Chart</h3>
                            <a href="" ng-click="loadLinkAnalysis('', 'networkGraphRiskAlerts')" class="read-more">Expand</a>
                            <div class="pep-relationship-chart-wrapper">
                                <div id="networkGraphRiskAlerts"></div>
                                <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper vla-chart-ditto">
                                    <div class="alert-message loading-message">Loading...</div>
                                </div>
                                <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper vla-chart-ditto">
                                    <div class="alert-message">Data Not Found</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  sanctioned-list section Info Ends  -->

        <!--  Supplier's Black section Info Starts  -->
        <div class="col-md-12 span-3 suppliers-black-list">
            <div class="container-fluid pad-x0">
                <div class="row mar-x0 d-flex jc-sb">
                    <div class="col-sm-4 entity-item">
                        <div class="recent-linkedin-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Supplier's Black List</h3>
                            <div class="entity-result-item" ng-show="entitySearchResult.list.supplierblacklist.Source">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="(key, value) in entitySearchResult.list['supplierblacklist']" ng-if="value !== '' && value">
                                        <div class="media-body">
                                            <p class="row progress-text">
                                                <span class="key">{{key}}</span>
                                                <span class="value"> : {{value}}
                                                    </span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item alert-message-wrapper" ng-show="!entitySearchResult.list.supplierblacklist.Source">
                                <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_supplierlist">Loading...</div>
                                <div class="alert-message-wrapper alert-message" ng-if="!entitySearchResult.is_data_not_found.is_supplierlist"> No
                                    Black List Found</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 entity-item">
                        <div class="recent-linkedin-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Industrial Security Incidents</h3>
                            <div class="entity-result-item" ng-show="entitySearchResult.list['risidata'].length > 0">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="entity in entitySearchResult.list.risidata">
                                        <div class="media-body">
                                            <h3 class="media-heading">
                                                {{entity.title}}
                                            </h3>
                                            <p class="progress-text" ng-if="entity.country !== '' && entity.country">
                                                <span class="key">Country</span>
                                                <span class="value">: {{entity.country}}
                                                    <span ng-if="entity.year !== '' && entity.year">on
                                                        {{entity.year}}</span>
                                                </span>
                                            </p>
                                            <p class="progress-text" ng-if="entity.reliability !== '' && entity.reliability">
                                                <span class="key">Reliability</span>
                                                <span class="value">: {{entity.reliability}}</span>
                                            </p>
                                            <p class="progress-text" ng-if="entity.industryType !== '' && entity.industryType">
                                                <span class="key"> Industry
                                                    Type</span>
                                                <span class="value">: {{entity.industryType}}</span>
                                            </p>
                                            <p class="progress-text" ng-if="entity.risk_score !== '' && entity.risk_score">
                                                <span class="key"> Risk Score</span>
                                                <span class="value">: {{entity.risk_score}}
                                                    </span>
                                            </p>
                                            <p class="description" ng-if="entity.eventImpact !== '' && entity.eventImpact">
                                                <span class="key">Event Impact</span>
                                                <span class="value">: {{entity.eventImpact}}</span>
                                            </p>
                                            <p class="description" ng-if="entity.details !== '' && entity.details">
                                                <span class="key">Details</span>
                                                <span class="value">: {{entity.details}}</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item alert-message-wrapper">
                                <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_indus_security_inc">Loading...</div>
                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_indus_security_inc">NO
                                    Security Incidents Found </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 entity-item mar-r0">
                        <div class="recent-linkedin-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Criminal Records</h3>
                            <div class="entity-result-item" ng-show="entitySearchResult.list['crimeList']['interpol'].length > 0 || entitySearchResult.list['crimestoppers_uk'].length > 0 || entitySearchResult.list['unlimitedcriminalchecks'].length > 0">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="entity in entitySearchResult.list['crimeList']['interpol']">
                                        <div class="media-left criminal-records-wrapper">
                                            <a href="javascript:void(0);">
                                                <img class="img-responsive" ng-src="{{entity.properties.image}}" ng-if="entity.properties.image && entity.properties.image !== ''"
                                                />
                                                <i class="fa fa-user-o" ng-if="entity.properties.image === '' && !entity.properties.image"></i>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading">
                                                {{entity.properties.display_title}}
                                            </h3>
                                            <p class="progress-text" ng-if="entity.properties.nationality !== '' && entity.properties.nationality">
                                                <span class="key">Nationality</span>
                                                <span class="value">: {{entity.properties.nationality}}
                                                </span>
                                            </p>
                                            <p class="progress-text" ng-if="entity.properties.date_of_birth !== '' && entity.properties.date_of_birth">
                                                <span class="key">Age Today</span>
                                                <span class="value">: {{entity.properties.date_of_birth}}</span>
                                            </p>
                                            <p class="progress-text" ng-if="entity.properties.colour_of_eyes !== '' && entity.properties.colour_of_eyes">
                                                <span class="key">Eyes Color</span>
                                                <span class="value">: {{entity.properties.colour_of_eyes}}</span>
                                            </p>
                                            <p class="progress-text" ng-if="entity.properties.risk_score !== '' && entity.properties.risk_score">
                                                <span class="key"> Risk Score</span>
                                                <span class="value">: {{entity.properties.risk_score}}
                                                </span>
                                            </p>
                                            <p class="description" ng-if="entity.properties.colour_of_hair !== '' && entity.properties.colour_of_hair">
                                                <span class="key">Hair Color</span>
                                                <span class="value">: {{entity.properties.colour_of_hair}}</span>
                                            </p>
                                            <p class="description" ng-if="entity.properties.weight !== '' && entity.properties.weight">
                                                <span class="key">Weight</span>
                                                <span class="value">: {{entity.properties.weight}}</span>
                                            </p>
                                            <p class="description" ng-if="entity.properties.height !== '' && entity.properties.height">
                                                <span class="key">Height</span>
                                                <span class="value">: {{entity.properties.height}}</span>
                                            </p>
                                            <p class="description" ng-if="entity.properties.sex !== '' && entity.properties.sex">
                                                <span class="key">Sex</span>
                                                <span class="value">: {{entity.properties.sex}}</span>
                                            </p>
                                            <p class="description" ng-if="entity.properties.language_spoken !== '' && entity.properties.language_spoken">
                                                <span class="key">Language
                                                    spoken</span>
                                                <span class="value">: {{entity.properties.language_spoken}}</span>
                                            </p>
                                        </div>
                                        <div class="" ng-if="entity.properties.charges.length > 0">
                                            <div class="key">
                                                <p>Charges:</p>
                                            </div>
                                            <div class="value">
                                                <p ng-repeat="charge in entity.properties.charges">
                                                    <h3>{{charge.name}}</h3>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media" ng-repeat="entity in entitySearchResult.list['crimestoppers_uk']">
                                        <div class="media-left criminal-records-wrapper">
                                            <a href="{{entity.image}}" target="_black" ng-if="entity.image !== '' && entity.image">
                                                <img class="image-object img-responsive" ng-src="{{entity.image}}">
                                            </a>
                                            <a href="javascript:void(0);" ng-if="entity.image === '' || !entity.image">
                                                <i class="fa fa-user-o"></i>
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <h3 class="media-heading">
                                                <span class="text-capitalize" href="javascript:void(0);">
                                                    {{entity.name}}
                                                    <span ng-if="entity.cs_reference !== '' && entity.cs_reference">({{entity.cs_reference}})</span>
                                                </span>
                                            </h3>
                                            <p ng-if="entity.age_range !== '' && entity.age_range">
                                                <span class="text-captalize key">Age
                                                    Range</span>
                                                <span class="text-capitalize value">:
                                                    {{entity.age_range}}</span>
                                            </p>
                                            <p ng-if="entity.crime_location !== '' && entity.crime_location">
                                                <span class="text-capitalize key">Crime
                                                    Location</span>
                                                <span class="text-capitalize value">:
                                                    {{entity.crime_location}}</span>
                                            </p>
                                            <p ng-if="entity.crime_type !== '' && entity.crime_type">
                                                <span class="text-capitalize key">Crime
                                                    Type</span>
                                                <span class="text-capitalize value">:
                                                    {{entity.crime_type}}</span>
                                                <p ng-if="entity.police_force !== '' && entity.police_force">
                                                    <span class="text-uppercase key">Police
                                                        Force</span>
                                                    <span class="text-capitalize value">:
                                                        {{entity.police_force}}</span>
                                                </p>
                                                <p ng-if="entity.sex !== '' && entity.sex">
                                                    <span class="text-uppercase key">Sex</span>
                                                    <span class="text-capitalize value">:
                                                        {{entity.sex}}</span>
                                                </p>
                                                <p ng-if="entity.risk_score !== '' && entity.risk_score">
                                                    <span class="text-uppercase key">Risk
                                                        Score</span>
                                                    <span class="text-capitalize value">:
                                                        {{entity.risk_score}}</span>
                                                </p>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="media-list" ng-repeat="entity in entitySearchResult.list['unlimitedcriminalchecks']">
                                    <li class="media" ng-repeat="(key, value) in entity">
                                        <h3 class="media-heading" ng-if="key === 'name'">
                                            <a class="text-capitalize" href="{{entity['root'].url}}" target="_black">
                                                {{value}}
                                            </a>
                                        </h3>
                                        <div class="media-body" ng-if="key !== 'name'">
                                            <p class="row progress-text  custom-colon-section" ng-if="value !== '' && value">
                                                <span class="col-sm-4 key text-capitalize">{{key}}</span>
                                                <span class="col-sm-8 value text-capitalize">
                                                    <small class="custom-colon">:</small>{{value}}
                                                    </span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item alert-message-wrapper">
                                <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_unlimitedcrimecheck && entitySearchResult.is_data_not_found.is_interpol && entitySearchResult.is_data_not_found.is_crimestopper">Loading...</div>
                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_unlimitedcrimecheck && !entitySearchResult.is_data_not_found.is_interpol && !entitySearchResult.is_data_not_found.is_crimestopper">NO
                                    CRIMINAL RECORDS</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  Supplier's Black section Info Ends  -->


        <!--  Dark Web section Info Starts  -->
        <div class="col-md-12 span-3 dark-web-list">
            <div class="container-fluid pad-x0">
                <div class="row mar-x0 d-flex">
                    <div class="col-sm-4 mar-b0 entity-item">
                        <div class="recent-linkedin-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Dark Web</h3>
                            <div class="entity-result-item" ng-show="entitySearchResult.list['news_deep_web'].length > 0 || entitySearchResult.list['cypherpunk'].length > 0">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="entity in entitySearchResult.list['cypherpunk']">
                                        <h3 class="media-heading">
                                            <a class="custom-school" title="{{entity.author}}" href="{{entity.author_url}}" target="_blank">
                                                <i class="fa fa-user"></i>&#32{{entity.author}}
                                            </a>
                                            <span class="custom-school" title="{{entity.title}}">
                                                {{entity.title}}
                                            </span>
                                        </h3>
                                        <div class="media-body">
                                            <p class="progress-text" title="About Author: {{entity.about_author}}" ng-if="entity.about_author !== '' && entity.about_author">
                                                About Author: {{entity.about_author}}
                                            </p>
                                            <p class="progress-text" title="Dated: {{entity.dated}}" ng-if="entity.dated !== '' && entity.dated">
                                                Dated: {{entity.dated| date : 'dd-MM-yyyy'}}
                                            </p>
                                            <p class="progress-text" title="Tags: {{entity.tags}}" ng-if="entity.tags !== '' && entity.tags">
                                                Tags: {{entity.tags}}
                                            </p>
                                            <p class="progress-text" title="Details: {{entity.details}}" ng-if="entity.details !== '' && entity.details">
                                                Details: {{entity.details}}
                                            </p>
                                            <p class="progress-text" title="Risk Score: {{entity.risk_score}}" ng-if="entity.risk_score !== '' && entity.risk_score">
                                                Risk Score: {{entity.risk_score}}
                                                <!-- <span>Source: {{entity.source}}</span> -->
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media" ng-repeat="entity in entitySearchResult.list['news_deep_web']">
                                        <h3 class="media-heading">
                                            <a class="custom-school" title="{{entity.author}}" href="{{entity.author_url}}" target="_blank">
                                                <i class="fa fa-user"></i>&#32{{entity.name}}
                                            </a>
                                            <span class="custom-school" title="{{entity.title}}">
                                                {{entity.title}}
                                            </span>
                                        </h3>
                                        <div class="media-body">
                                            <p class="progress-text" title="Dated: {{entity.dated}}" ng-if="entity.postedOn !== '' && entity.postedOn">
                                                Posted on: {{entity.postedOn| date : 'dd-MM-yyyy'}}
                                            </p>
                                            <p class="progress-text" title="Details: {{entity.details}}" ng-if="entity.details !== '' && entity.details">
                                                Details: {{entity.details}}
                                            </p>
                                            <p class="progress-text" title="Risk Score: {{entity.risk_score}}" ng-if="entity.risk_score !== '' && entity.risk_score">
                                                Risk Score: {{entity.risk_score}}
                                                <!-- <span>Source: {{entity.source}}</span> -->
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item custom-result-item alert-message-wrapper">
                                <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_deepweb">Loading...</div>
                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_deepweb">Data
                                    Not Found </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  Dark Web section Info Ends  -->

    </div>
<script>
   
    $(document).ready(function () {
       
        $(".item-submmenu-list, .custom-commitee-tabs > .nav-tabs , .custom-fraud-tabs > .nav-tabs").mThumbnailScroller({
            axis: "x"
        });
    });
    $('.entity-result-item').mCustomScrollbar({
        axis: "y"
    });
    
 
  
</script>