<!--  Financial Growth Tab Starts  -->
<div class="row pad-0 custom-row bst_row_wrapper">
    <!--  financial-counter Info Starts  -->
    <div class="col-md-12 span-3 entity-item financial-counter-wrapper " >
        <div class="entity-item-submmenu submenu-finance-list-wrapper" >
            <div class="item-submmenu-list-wrapper">
                <ul class="item-submmenu-list list-inline" ng-if="financialHeaderData.length > 0">
                    <li ng-repeat="(k,v) in financialHeaderData[0]" ng-if="v!=''" style="width:auto;">
                        <div class="submmenu-list">
                            <h5 class="text-uppercase pad-b5 mxw-none">
                                <span class="mar-t5"> {{k.split('_').join('
                                                                                    ')}}</span>
                                <strong class="pad-b5">{{v}}</strong>
                            </h5>
                        </div>
                    </li>
                </ul>
                <div class="alert-message alert-message-wrapper text-red" style="text-align: center" ng-if="financialHeaderData.length == 0">Data Not Found</div>
            </div>
        </div>
       
    </div>
    
    <!--  financial-counter Info Ends  -->

    <!--  bloomberg-timeline Info Starts  -->
    <div class="col-sm-12 span-3 entity-item bloomberg-line-chart-wrapper ">
        <div class="row custom-row height-100">
            <div class="col-md-3 bloomberg-stock-detail-wrapper">
                <div class="bloomberg-stock-inner-wrapper" style="max-height:358px !important">

                    <div class="range-wrapper ">
                        <p class="row" ng-repeat="(k,v) in financialCurrentStatus[0]" ng-if="v!=''">
                            <span class="col-sm-4">{{k.split('_').join(' ').toUpperCase()}}</span>
                            <span class="col-sm-8">{{v}}</span>
                        </p>
                    </div>
                </div>
                <a ng-if="false" class="read-more ng-scope" ng-click="readmoreModal.financeModal();">READ
                    MORE</a>
            </div>
            <div class="col-md-9 border-l-thin-grey">
                <div class="row">
                    <div class="col-md-12 border-0 entity-item entity-performance">
                        <div class="row custom-row ">
                            <div class="col-md-12">
                                <div class="row ">
                                  <div class="d-flex jc-sb ai-c pad-y10">  <div class="col-sm-6">
                                        <h3 class="f-18 roboto-light text-unset text-cream lh-1">Stock History</h3>
                                    </div>
                                    <select class="text-capitalize custom-select-box mar-b0 text-dark-cream"
                                        ng-model="selectedstockMeasure"
                                        ng-change="onChangestockhistoryKey_Enhance(stockHistorySelectedTab_Enhance,selectedstockMeasure);"
                                        ng-show="entitySearchResult.is_data_not_found.is_stockHistory">
                                        <option class="text-capitalize" value="{{measure}}"
                                            ng-repeat="measure in stock_measures_Enhance">{{measure.split('_').join('
                                                                                            ')}}</option>
                                    </select></div>
                                    <div class="col-sm-12 text-right">
                                        <div class="bloomberg-event-checkbox">
                                            <span
                                                ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastFiveYearDate'}"
                                                ng-click="onChangestockhistoryKey_Enhance('lastFiveYearDate', selectedstockMeasure)">Last
                                                5Y</span>
                                            <span
                                                ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastSixMonthDate'}"
                                                ng-click="onChangestockhistoryKey_Enhance('lastSixMonthDate', selectedstockMeasure)"
                                                ng-if="dataWithDate['lastSixMonthDate'][selectedstockMeasure].length>1">Last
                                                6M</span>
                                            <span ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastDay'}"
                                                ng-click="onChangestockhistoryKey_Enhance('lastDay', selectedstockMeasure)"
                                                ng-if="dataWithDate['lastDay'][selectedstockMeasure].length>0">Last
                                                Day</span>
                                            <span
                                                ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastOneYearDate'}"
                                                ng-click="onChangestockhistoryKey_Enhance('lastOneYearDate', selectedstockMeasure)"
                                                ng-if="dataWithDate['lastOneYearDate'][selectedstockMeasure].length>1">Last
                                                1Y</span>
                                            <span
                                                ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastFiveDay'}"
                                                ng-click="onChangestockhistoryKey_Enhance('lastFiveDay', selectedstockMeasure)"
                                                ng-if="dataWithDate['lastFiveDay'][selectedstockMeasure].length>1">Last
                                                5d</span>
                                            <span
                                                ng-class="{'active': stockHistorySelectedTab_Enhance === 'lastOneMonthDate'}"
                                                ng-click="onChangestockhistoryKey_Enhance('lastOneMonthDate', selectedstockMeasure)"
                                                ng-if="dataWithDate['lastOneMonthDate'][selectedstockMeasure].length>1">Last
                                                1M</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" ng-if="stockData.stock_id">
                                        <h5>
                                            <small>Stock Id:</small>
                                            {{stockData.stock_id}}
                                        </h5>
                                    </div>
                                    <div class="col-sm-4" ng-if="stockData.stock_name">
                                        <h5>
                                            <small>Stock Name:</small>
                                            {{stockData.stock_name}}
                                        </h5>
                                    </div>
                                    <div class="col-sm-4" ng-if="stockData.capitalization">
                                        <h5>
                                            <small>Capitalization:</small>
                                            {{stockData.capitalization}}
                                        </h5>
                                    </div>

                                </div>
                                <div id="stockhistory-line-chart_Enhance"></div>
                                <div
                                    class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper overviewline-chart-ditto">
                                    <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_stockHistory ">Loading...</div>
                                  <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_stockHistory ">Data Not Found</div>
                                </div>
                            </div>
                        </div>
                    </div>











                    <!--  <div class="col-sm-6">
                                                                        <h3>Stocks Prices</h3>
                                                                    </div>
                                                                    <div class="col-sm-6 text-right" ng-show="bloombergStockLineChartData['five year stock prices'].length > 0">
                                                                        <div class="bloomberg-event-checkbox">
                                                                            <span ng-class="{'active': bloombergSelectedTab === 'current day stock prices'}" ng-click="onChangeBloombergDetailsKey('current day stock prices')"
                                                                                ng-if="bloombergStockLineChartData['current day stock prices'].length > 0">Today</span>
                                                                            <span ng-class="{'active': bloombergSelectedTab === 'one month stock prices'}" ng-click="onChangeBloombergDetailsKey('one month stock prices')"
                                                                                ng-if="bloombergStockLineChartData['one month stock prices'].length > 0">1M</span>
                                                                            <span ng-class="{'active': bloombergSelectedTab === 'one year stock prices'}" ng-click="onChangeBloombergDetailsKey('one year stock prices')"
                                                                                ng-if="bloombergStockLineChartData['one year stock prices'].length > 0">1Y</span>
                                                                            <span ng-class="{'active': bloombergSelectedTab === 'five year stock prices'}" ng-click="onChangeBloombergDetailsKey('five year stock prices')"
                                                                                ng-if="bloombergStockLineChartData['five year stock prices'].length > 0">5Y</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row balance-data">
                                                                     <div class="col-sm-4" ng-if="bloombergSelectedTab === 'current day stock prices' || bloombergSelectedTab === 'one year stock prices' || bloombergSelectedTab === 'five year stock prices' || bloombergSelectedTab === 'one month stock prices'">
                                                                        <h5>
                                                                            <small>LAST PRICE:</small>
                                                                            {{entitySearchResult['stocks']['current_day_stock_prices']['lastPrice']|| 'N/A'}}
                                                                        </h5>
                                                                    </div>
                                                                    <div class="col-sm-4" ng-if="bloombergSelectedTab === 'current day stock prices' || bloombergSelectedTab === 'one year stock prices' || bloombergSelectedTab === 'five year stock prices' || bloombergSelectedTab === 'one month stock prices'">
                                                                        <h5>
                                                                            <small>LAST UPDATED DATE:</small>
                                                                            {{(entitySearchResult['stocks']['current_day_stock_prices']['lastUpdateDate']| date) || 'N/A'}}
                                                                        </h5>
                                                                    </div>
                                                                    <div class="col-sm-4" ng-if="bloombergSelectedTab === 'current day stock prices' || bloombergSelectedTab === 'one year stock prices' || bloombergSelectedTab === 'five year stock prices' || bloombergSelectedTab === 'one month stock prices'">
                                                                        <h5>
                                                                            <small>TRADING START TIME:</small>
                                                                            {{(entitySearchResult['stocks']['current_day_stock_prices']['nyTradeStartTime']| limitTo:'5') || 'N/A'}}
                                                                        </h5>
                                                                    </div>
                                                                    <div class="col-sm-4" ng-if="bloombergSelectedTab === 'current day stock prices' || bloombergSelectedTab === 'one year stock prices' || bloombergSelectedTab === 'five year stock prices' || bloombergSelectedTab === 'one month stock prices'">
                                                                        <h5>
                                                                            <small>TRADING END TIME:</small>
                                                                            {{(entitySearchResult['stocks']['current_day_stock_prices']['nyTradeEndTime']| limitTo:'5') || 'N/A'}}
                                                                        </h5>
                                                                    </div>

                                                                    <div class="col-sm-4" ng-if="bloombergSelectedTab === 'current day stock prices'">
                                                                        <h5>
                                                                            <small>PREVIOUS CLOSE PRICE:</small>
                                                                            {{entitySearchResult['stocks']['current_day_stock_prices']['previousClosingPriceOneTradingDayAgo']|| 'N/A'}}
                                                                        </h5>
                                                                    </div>
                                                                    <div class="col-sm-4" ng-if="bloombergSelectedTab === 'current day stock prices' || bloombergSelectedTab === 'one year stock prices' || bloombergSelectedTab === 'five year stock prices' || bloombergSelectedTab === 'one month stock prices'">
                                                                        <h5>
                                                                            <small>TIME ZONE OFFSET:</small>
                                                                            {{entitySearchResult['stocks']['current_day_stock_prices']['timeZoneOffset']|| 'N/A'}}
                                                                        </h5>
                                                                    </div>
                                                                    <div class="col-sm-4" ng-if="bloombergSelectedTab === 'current day stock prices'">
                                                                        <h5>
                                                                            <small>TRADING DAY CLOSE:</small>
                                                                            {{(entitySearchResult['stocks']['current_day_stock_prices']['tradingDayCloseUTC']| date) || 'N/A'}}
                                                                        </h5>
                                                                    </div> 
                                                                    
                                                                     <div class="col-sm-4" ng-if="true">
                                                                        <h5>
                                                                            <small>Stock Id:</small>
                                                                            abcd
                                                                        </h5>
                                                                    </div>
                                                                    <div class="col-sm-4" ng-if="true">
                                                                        <h5>
                                                                            <small>Stock Name:</small>
                                                                            abcd
                                                                        </h5>
                                                                    </div>
                                                                    <div class="col-sm-4" ng-if="true">
                                                                        <h5>
                                                                            <small>Capitalization:</small>
                                                                            abcd
                                                                        </h5>
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div ng-show="entitySearchResult.is_data_not_found.stockprice_div">
                                                                    <div id="bloomberg-line-chart-details"></div>
                                                                </div>
                                                                <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper overviewline-chart-ditto"
                                                                    ng-hide="entitySearchResult.is_data_not_found.stockprice_div">
                                                                    <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_stock_performance">Loading...</div>
                                                                    <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_stock_performance">Data Not Found</div>
                                                                </div>
                                                               														<a class="read-more mar-r10" ng-click="readmoreModal.financeModal();" ng-hide="bloombergStockLineChartData['five year stock prices'].length > 0">READ MORE</a> -->
                </div>
            </div>
        </div>
    </div>
    <!--  bloomberg-timeline Info Ends  -->

    <!--  Top Holders section Info Starts  -->
    <div class="col-md-12 span-3 pep-fraud-wrapper">
        <div class="container-fluid">
            <div class="row d-flex jc-sb">
                <div class="col-sm-4 entity-item ">
                    <h3 class="f-18 roboto-light text-unset text-cream lh-1">Net Cash Flow - Operating Activities</h3>
                    <div class="balance-data">
                        <!--  <div class="col-sm-4">
                                                                            <h5>
                                                                                <small>Operating</small>
                                                                                {{stockModalData['net_cash_flow_-_operating_activities'] ? stockModalData['net_cash_flow_-_operating_activities'] + '$' :
                                                                                'N/A'}}
                                                                            </h5>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <h5>
                                                                                <small>Investing</small>
                                                                                {{stockModalData['net_cash_flow_investing'] ? stockModalData['net_cash_flow_investing'] + '$' : 'N/A'}}
                                                                            </h5>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <h5>
                                                                                <small>Financing</small>
                                                                                {{stockModalData['net_cash_flow_-_financing'] ? stockModalData['net_cash_flow_-_financing'] + '$' : 'N/A'}}
                                                                            </h5>
                                                                        </div> -->
                        <select class="text-capitalize" ng-model="selectedcashflowStatement"
                            ng-change="onchangecashflow_Enhance(selectedcashflowStatement);"
                            ng-if="cash_flow_statement.length > 0">
                            <option class="text-capitalize" value="{{cashflow}}"
                                ng-repeat="cashflow in cash_flow_statement track by $index">{{cashflow}}</option>
                        </select>
                        <div class="entity-result-item custom-result-item" ng-show="newcashflowSheet_Enhance.length > 0">

                            <div class="entity-result-item custom-result-item">
                                <div id="lineChartCashFlow_Enhance"></div>
                            </div>
                        </div>
                        <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper line-chart-financial"
                            ng-hide="newcashflowSheet_Enhance.length > 0">
                            <p class="alert-message  loading-message"
                                ng-if="entitySearchResult.is_data_not_found.is_press_releases">Loading...</p>
                            <p class="alert-message alert-message-wrapper"
                                ng-if="!entitySearchResult.is_data_not_found.is_press_releases">Data
                                Not Found</p>
                        </div>

                        <a class="read-more hidden" ng-click="readmoreModal.cashflowSheetModal();" ng-if="false">READ
                            MORE</a>
                    </div>

                </div>




                <div class="col-sm-4 entity-item ">
                    <h3 class="f-18 roboto-light text-unset text-cream lh-1">Balance Sheet</h3>
                    <div class="row balance-data">
                        <!-- <div class="col-sm-4">
                                                                            <h5>
                                                                                <small>Total Assets</small>
                                                                                {{stockModalData['total_assets'] ? stockModalData['total_assets'] + '$' : 'N/A'}}
                                                                            </h5>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <h5>
                                                                                <small>Total Liabilities</small>
                                                                                {{stockModalData['total_liabilities'] ? stockModalData['total_liabilities'] + '$' : 'N/A'}}
                                                                            </h5>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <h5>
                                                                                <small>Debts to Assets</small>
                                                                                {{stockModalData['long_term_debt'] ? stockModalData['long_term_debt'] + '$' : 'N/A'}}
                                                                            </h5>
                                                                        </div> -->

                        <!-- <div>
                                                        <button class="btn btn-primary" ng-click="readmoreModal.balanceSheetModal();">READ MORE</button>						             								</button>
                                                </div> -->
                    </div>
                    <select class="text-uppercase" ng-model="selectedbalanceStatement"
                        ng-change="onchangebalance_Enhance(selectedbalanceStatement);" ng-if="balance_sheet.length > 0">
                        <option class="text-uppercase" value="{{balance}}"
                            ng-repeat="balance in balance_sheet track by $index">{{balance}}</option>
                    </select>
                    <div class="entity-result-item custom-result-item" ng-show="newbalanceSheet.length > 0">
                        <div class=" custom-result-item">
                            <div id="lineChartBalanceSheet"></div>
                        </div>
                    </div>
                    <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper line-chart-financial"
                        ng-hide="newbalanceSheet.length > 0">
                        <p class="alert-message loading-message"
                            ng-if="entitySearchResult.is_data_not_found.is_balancesheet">Loading...</p>
                        <p class="alert-message alert-message-wrapper"
                            ng-if="!entitySearchResult.is_data_not_found.is_balancesheet">Data
                            Not Found</p>
                    </div>
                    <a class="read-more hidden" ng-click="readmoreModal.balanceSheetModal();"
                        ng-if="yahooStockData['stock_statistics']['balance_sheet']">READ
                        MORE</a>
                </div>
                <div class="col-sm-4 entity-item mar-r0">
                    <h3 class="f-18 roboto-light text-unset text-cream lh-1">Income Statement</h3>
                    <div class="row balance-data">
                        <!--  <div class="col-sm-4">
                                                                            <h5>
                                                                                <small>Revenue</small>
                                                                                {{stockModalData['net_revenues'] ? stockModalData['net_revenues'] + '$' : 'N/A'}}
                                                                            </h5>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <h5>
                                                                                <small>NetIncome</small>
                                                                                {{stockModalData['net_income'] ? stockModalData['net_income'] + '$' : 'N/A'}}
                                                                            </h5>
                                                                        </div> -->

                    </div>
                    <select class="text-uppercase" ng-model="selectedincomeStatement"
                        ng-change="onchangeincome_Enhance(selectedincomeStatement);"
                        ng-if="income_statement.length > 0">
                        <option class="text-uppercase" value="{{income}}"
                            ng-repeat="income in income_statement track by $index">{{income}}</option>
                    </select>
                    <div class=" custom-result-item" ng-show="newIncomeSheet.length > 0">
                        <div class="entity-result-item custom-result-item">
                            <div id="lineChartIncomeStatement"></div>
                        </div>
                    </div>
                    <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper line-chart-financial"
                        ng-hide="newIncomeSheet.length > 0">
                        <p class="alert-message loading-message"
                            ng-if="entitySearchResult.is_data_not_found.is_incomeStatement ">Loading...</p>
                        <p class="alert-message alert-message-wrapper"
                            ng-if="!entitySearchResult.is_data_not_found.is_incomeStatement ">Data
                            Not Found</p>
                    </div>
                    <a class="read-more hidden" ng-click="readmoreModal.incomeSheetModal();" ng-if="false">READ
                        MORE</a>
                </div>
            </div>
        </div>
    </div>
    <!--  Top Holders section Info Ends  -->
    <!--  Cash Flow section Info Starts  -->
    <div class="col-md-12 span-3 sanctioned-list-wrapper">
        <div class="container-fluid">
            <div class="row d-flex jc-sb">
                <div class="col-sm-4 mar-b0 entity-item ">
                    <h3 class="f-18 roboto-light text-unset text-cream lh-1">Top Holders
                        <a href="" ng-click="onViewClick('stocks')" class="read-more hidden">Read
                            More</a>
                    </h3>
                    <div class="holders-table-wrapper" ng-show="topHolder_Enhance.length > 0">
                        <table class="associated-table financial-tbl">
                            <tr ng-repeat="entity in topHolder_Enhance">
                                <td ng-if="entity.holder_name || entity.name">
                                    <p>{{(entity.holder_name || entity.name )| capitalize}}
                                        <small ng-if="entity.percentage">({{entity.percentage}})</small>
                                    </p>

                                </td>
                                <td ng-if="entity.equities"> {{entity.equities}} </td>
                            </tr>
                        </table>
                    </div>
                    <!--  <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper vla-chart-ditto">
                                                                            <div class="alert-message">Data Not Found</div>
                                                                        </div> -->
                    <div class="entity-result-item custom-result-item alert-message-wrapper"
                        ng-hide="topHolder_Enhance.length  > 0">
                        <div class="alert-message loading-message"
                            ng-if="entitySearchResult.is_data_not_found.is_topholders">Loading...</div>
                        <div class="alert-message alert-message-wrapper"
                            ng-if="!entitySearchResult.is_data_not_found.is_topholders"> Data
                            Not Found</div>
                    </div>
                </div>

                <div class="col-sm-8 mar-b0 entity-item mar-r0">
                    <div class="pep-relationship-wrapper">
                        <h3 class="f-18 roboto-light text-unset text-cream lh-1">Share Holder Network</h3>
                        <a href="" ng-click="loadLinkAnalysis('', 'networkGraphFinancialGrowth')"
                            class="read-more">Expand</a>
                        <div class="share-holder-analysis">
                            <div class="" id="networkGraphFinancialGrowth">

                            </div>
                            <div
                                class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper vla-chart-ditto">
                                <div class="alert-message loading-message">Loading...</div>
                            </div>
                            <div
                                class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper vla-chart-ditto">
                                <div class="alert-message">Data Not Found</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6 entity-item financial-statements-wrapper">
                                                        <h3>Financial Statements</h3>
                                                        <div class="entity-result-item" ng-show="yahooStockData['financial_statements']['financevalues'].length > 0">
                                                            <div class="company-table-wrapper">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th></th>
                                                                            <th ng-repeat="finance_key in yahooStockData['financial_statements']['financedates']">{{finance_key}}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="text-left">
                                                                            <tr ng-repeat="(k, v) in yahooStockData['financial_statements']['financevalues'][0]">
                                                                                <td>{{k| strReplace:'_':' '}}</td>
                                                                                <td ng-repeat="(k1, v1) in yahooStockData['financial_statements']['financevalues']">{{v1[k] !== '' ? v1[k] : 'N/A' }}</td>
                                                                            </tr>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="entity-result-item alert-message-wrapper">
                                                            <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_financialStatement">Loading...</div>
                                                            <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_financialStatement">Data Not Found</div>
                                                        </div>
                                                    </div> -->

    <!--  Cash Flow section Info Ends  -->

</div>
<!--  Financial Growth Tab Ends  -->
<script>
    $(document).ready(function () {

        $(".item-submmenu-list, .custom-commitee-tabs > .nav-tabs , .custom-fraud-tabs > .nav-tabs, .balance-data-scroll")
            .mThumbnailScroller({
                axis: "x"
            });
    });



    $('.entity-result-item').mCustomScrollbar({
        axis: "y"
    });

    $('.bloomberg-stock-inner-wrapper').mCustomScrollbar({
        axis: "y",
        theme: "minimal-dark"
    });
    $('.holders-table-wrapper').mCustomScrollbar({
        axis: "y"
    });
</script>