   <div class="row custom-row bst_row_wrapper">
        <!--  latestnews-counter Info Starts  -->
        <div class="col-md-12 span-3 entity-item latestnews-counter-wrapper ">
            <div class="entity-item-submmenu">
                <div class="item-submmenu-list-wrapper">
                    <ul class="item-submmenu-list list-inline">
                        <li>
                            <div class="submmenu-list">
                                <h5 class="text-uppercase">
                                    News
                                    <strong>{{entitySearchResult.list['adverse_news'].length}}</strong>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="submmenu-list">
                                <h5 class="text-uppercase">
                                    Social Media Mentions
                                    <strong>{{entitySearchResult['twitter_retweets_count']}}</strong>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="submmenu-list">
                                <h5 class="text-uppercase">
                                    Press releases
                                    <strong>{{entitySearchResult.list['press_releases'].length}}</strong>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="submmenu-list">
                                <h5 class="text-uppercase">
                                    Recent Events
                                    <strong>{{entitySearchResult.list['meetupData']['groups']['recent_events'].length}}</strong>
                                </h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  latestnews-counter Info Ends  -->

        <!--  Overall Sentiment In.fo Starts  -->
        <div class="col-md-12 span-3 entity-item overall-sentiment-wrapper ">
            <span ng-show="sentimentsLoader" class="custom-spinner">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </span>
            <h3 class="f-18 roboto-light text-unset text-cream lh-1">
                Overall Sentiment

                <ul class="custom-sentiment-feed list-inline">
                    <li>
                        <a class="refresh" href>NEGATIVE</a>
                    </li>
                    <li>
                        <a class="" href>NEUTRAL</i>
                        </a>
                    </li>
                    <li>
                        <a class="heart" href>POSITIVE</a>
                    </li>
                </ul>
            </h3>
            <div class="overallSentimentChart-wrapper">

            </div>
        </div>

        <!--  Overall Sentiment Info Ends  -->

        <!--  press-release section Info Starts  -->
        <div class="col-md-12 span-3 press-release-wrapper ">
            <div class="container-fluid">
                <div class="row d-flex jc-sb">
                    <div class="col-sm-6 entity-item">
                        <!--  News Wrapper Starts  -->
                        <div class="news-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Latest News</h3>
                            <div class="entity-result-item  recent-linkedin latest-social-news" ng-show="entityNewsList.length > 0">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="newsData in entityNewsList track by $index">
                                        <div class="recent-linkedin">
                                            <div class="linkedin-content">
                                                <p>
                                                    <a target="_blank" href="{{newsData.link}}">
                                                        {{newsData.title}}
                                                    </a>
                                                </p>
                                                <p class="post">
                                                    <span class="date">Posted
                                                        {{newsData.updatedOn|
                                                        date : 'dd/MM/yyyy'}}</span>
                                                    <button class="btn btn-circle" ng-click="showBstNamedEntity(newsData.details, newsData.title, newsData.link)" title="BST Visualizer">
                                                        <img src="../assets/images/vla/Entity_extract.png" width="15px" height="15px" alt="entityVisualizer">
                                                    </button>
                                                </p>
                                                <p>{{newsData.details}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item custom-result-item alert-message-wrapper">
                                <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_latestnews">Loading...</div>
                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_latestnews">Data
                                    Not Found</div>
                            </div>
                        </div>
                        <!--  News Wrapper Ends  -->
                    </div>
                    <div class="col-sm-6 entity-item mar-r0">
                        <div class="recent-linkedin-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Press Releases</h3>
                            <div class="entity-result-item  recent-linkedin latest-releases" ng-show="entitySearchResult.list['press_releases'].length > 0">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="entity in entitySearchResult.list['press_releases']" ng-if="$index < 10">
                                        <div class="recent-linkedin">
                                            <div class="linkedin-content">
                                                <p class="press-release-title">
                                                    {{entity.title}}
                                                </p>

                                                <p class="press-release-body">
                                                    {{entity.body}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item custom-result-item alert-message-wrapper" ng-hide="entitySearchResult.list['press_releases'].length > 0">
                                <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_press_releases">Loading...</div>
                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_press_releases">Data
                                    Not Found </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-4 entity-item">
                        Highly Popular Wrapper Starts
                        <div class="news-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Adverse News</h3>
                            <div class="entity-result-item"  ng-show="complianceRightAdverseNews.length > 0">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="news in entitySearchResult.list['adverse_news']">
                                        <div class="recent-linkedin">
                                            <div class="linkedin-content">
                                                <p>
                                                    <a class="c-arrow" style="display:inline">{{news.title}}</a>
                                                    <span ng-click="openAdverseNewsModal(news,$index)" class="c-pointer" title=" Visualizer"><img
                                                            src="../assets/images/vla/Entity_extract.png"
                                                            width="15px" height="15px"
                                                            alt="entityVisualizer"></span>
                                                    <span>
                                                        <a target="_blank" href="{{news.url}}" title="Show Article Source in a new tab"> <i
                                                                class="fa fa-external-link c-pointer"></i></a>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media" ng-repeat="news in complianceRightAdverseNews">
                                        <div class="recent-linkedin">
                                            <div class="linkedin-content">
                                                <p>
                                                    <a class="c-arrow" style="display:inline">{{news.title}}</a>
                                                    <span ng-click="openAdverseNewsModal(news,$index)" class="c-pointer" title=" Visualizer"><img
                                                            src="../assets/images/vla/Entity_extract.png"
                                                            width="15px" height="15px"
                                                            alt="entityVisualizer"></span>
                                                    <span>
                                                        <a target="_blank" href="{{news.url}}" title="Show Article Source in a new tab"> <i
                                                                class="fa fa-external-link c-pointer"></i></a>
                                                    </span>
                                                </p>
                                                <p ng-if="news.published">
                                                    <b>Published at:</b>
                                                    {{ news.published | date:'medium'}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item custom-result-item alert-message-wrapper" ng-hide="complianceRightAdverseNews.length > 0">
                                <div class="alert-message loading-message" ng-show="entitySearchResult.is_data_not_found.is_rightadverseNews">Loading..</div>
                                <div class="alert-message alert-message-wrapper" ng-hide="entitySearchResult.is_data_not_found.is_rightadverseNews">Data
                                    Not Found</div>
                            </div>
                        </div>
                        Highly Popular Wrapper Ends  -->
                    </div>
                </div>
            </div>
        
        <!--  press-release section Info Ends  -->

        <!--  social-media-trending section Info Starts  -->
        <div class="col-md-12 span-3 social-media-trending">
            <div class="container-fluid">
                <div class="row d-flex jc-sb">
                    <div class="col-sm-4 mar-b0 entity-item">
                        <div class="recent-linkedin-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Recent Events</h3>
                            <div class="entity-result-item" ng-show="entitySearchResult.list['meetupData'].length > 0">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="entity in entitySearchResult.list['meetupData']">
                                        <div class="media-body">
                                            <p class="media-heading">
                                                <a class="custom-school" title="{{entity.title}}" href="{{entity.url}}" target="_blank">
                                                    {{entity.title}}
                                                </a>
                                            </p>
                                            <p class="media-heading">
                                                <a class="custom-school" title="{{entity.group_url}}" href="{{entity.group_url}}" target="_blank">
                                                    Group Name: {{entity.group_name}}
                                                </a>
                                            </p>
                                            <p class="progress-text" title="Dated: {{entity.date}}" ng-if="entity.date && entity.date !== ''">
                                                Dated on: {{entity.date| date : 'dd-MM-yyyy'}}
                                            </p>
                                            <p class="progress-text" title="Details: {{entity.attend_count}}" ng-if="entity.attend_count && entity.attend_count !== ''">
                                                Attend count: {{entity.attend_count}}
                                            </p>
                                            <p class="progress-text" title="Details: {{entity.details}}" ng-if="entity.details && entity.details !== ''">
                                                Details: {{entity.details}}
                                            </p>
                                            <p class="media-heading">
                                                <a class="custom-school" href="javascript:void(0);">
                                                    Group Details
                                                </a>
                                            </p>
                                            <p class="progress-text" title="Dated: {{entity['groups'].name}}" ng-if="entity['groups'].name && entity['groups'].name !== ''">
                                                {{entity['groups'].name}}
                                            </p>
                                            <p class="progress-text" title="Dated: {{entity['groups'].city}}" ng-if="entity['groups'].city && entity['groups'].city !== ''">
                                                {{entity['groups'].city}}
                                            </p>
                                            <p class="progress-text" title="Dated: {{entity['groups'].members}}" ng-if="entity['groups'].members && entity['groups'].members !== ''">
                                                Members: {{entity['groups'].members}}
                                            </p>
                                            <p class="progress-text" title="Details: {{entity['groups'].details}}" ng-if="entity['groups'].details && entity['groups'].details !== ''">
                                                About: {{entity['groups'].deatils}}
                                            </p>
                                            <p class="progress-text">Recent
                                                Events: {{entity['groups']['recent_events'].length}}
                                                events found.</p>
                                            <ul class="media-list" ng-show="entity['groups']['recent_events'].length > 0">
                                                <li class="media" ng-repeat="eventData in entity['groups']['recent_events']">
                                                    <div class="media-body">
                                                        <p class="media-heading">
                                                            <a class="custom-school" href="{{eventData.link}}" target="_blank">
                                                                {{eventData.title}}
                                                            </a>
                                                        </p>
                                                        <p class="progress-text" title="Dated: {{eventData.held_on}}" ng-if="eventData.held_on && eventData.held_on !== ''">
                                                            Held on: {{eventData.held_on}}
                                                        </p>
                                                        <p class="progress-text" title="Details: {{eventData.details}}" ng-if="eventData.details && eventData.details !== ''">
                                                            About: {{eventData.deatils}}
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="entity-result-item custom-result-item alert-message-wrapper">
                                <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_recent_events">Loading...</div>
                                <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_recent_events"> Data
                                    Not Found</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8  mar-b0 entity-item mar-r0">
                        <div class="relationship-news-wrapper">
                            <h3 class="f-18 roboto-light text-unset text-cream lh-1">Relationship Charts By News</h3>
                            <a href="" ng-click="loadLinkAnalysis('adversenews', 'networkGraphLatestNews')" class="read-more">Expand</a>
                            <div class="relationshipNews-chart-wrapper">
                                <div id="networkGraphLatestNews"></div>
                                <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper vla-chart-ditto">
                                    <div class="alert-message loading-message">Loading...</div>
                                </div>
                                <div class="entity-result-item custom-result-item alert-message-wrapper dittoBlurChart-wrapper vla-chart-ditto">
                                    <div class="alert-message">Data Not Found</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  social-media-trending section Info Ends  -->
    </div>
<script>
    $(document).ready(function () {
     
        $(".item-submmenu-list, .custom-commitee-tabs > .nav-tabs , .custom-fraud-tabs > .nav-tabs").mThumbnailScroller({
            axis: "x"
        });
    });
    $('.entity-result-item').mCustomScrollbar({
        axis: "y"
    });
</script>