html {
    font-size: 62.4%;
}

.doc-parser-details {
    background-color: #545454;
    font-size: 1rem;
    margin-top: 60px;
    height: calc( 100vh - 120px);
    .div-216 {
        .side-defined {
            font-size: 1rem;
            width: 21.6em;
            position: relative;
            background-color: #2d2d2d;
            height: 100% !important;
            overflow: hidden;
            .doc-progress-details {
                background: #283c46;
            }
            .question-heading {
                h3 {
                    color: #5dab60 !important;
                }
            }
            .question-box-wrapper {
                font-size: 1rem;
                border-bottom: .2em solid #4e4e4e;
                max-height: calc(100vh - 20em);
            }
            .question-box {
                background-color: #545454;
                font-size: 1rem;
                padding: 1rem;
                margin-bottom: 1rem;
                color: #f1f1f1 !important;
                position: relative;
                p {
                    color: #f1f1f1 !important;
                    margin: 0;
                }
                &:after {
                    height: 100%;
                    width: 2px;
                    content: "";
                    background-image: linear-gradient(to bottom, #81c784, #388e3c);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            .answer-box {
                .answer-heading {
                    h3 {
                        font-size: 1.4rem;
                        line-height: 1.2em;
                        vertical-align: middle;
                        background-image: linear-gradient(to bottom, #fff288, #fbc02d); // color: #fdd24e;
                        -webkit-background-clip: text;
                        color: rgba(0, 0, 0, 0) !important;
                    }
                }
                .answer-content-box {
                    background-color: #545454;
                    font-size: 1rem;
                    padding: 1em;
                    margin-bottom: 1em;
                    color: #f1f1f1 !important;
                    position: relative;
                    &:after {
                        height: 100%;
                        width: 2px;
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-image: linear-gradient(to bottom, #fff288, #fbc02d);
                    }
                }
            }
            .question-icon {
                color: #333 !important;
                overflow: hidden;
                border-radius: 3px;
                background-image: linear-gradient(to bottom, #81c784, #388e3c);
                padding: 2px !important;
                text-align: center;
                min-width: 1em;
                font-size: 1.4rem !important;
                vertical-align: baseline;
                &.mouse-header-para-icon {
                    background-image: linear-gradient(rgb(100, 181, 246), rgb(41, 98, 255));
                    font-family: FontAwesome;
                    font-size: 1.8rem !important;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .panel-group {
                font-size: 1rem;
                padding: 1.5em 0;
                .panel-heading {
                    padding: 1.5em 1em;
                    margin: 0;
                    .panel-title {
                        span {
                            font-size: 1rem;
                            .list-item{
                                padding-bottom: 0;
                            }
                        }
                    }
                }
                .panel.left-heading {
                    .panel-heading {
                        a {
                            @extend .text-cream;
                        }
                        span.fa-header,
                        span.fa-text-height {
                            @extend .text-dark-blue;
                        }
                    }
                    .list-icon-wrapper {
                        width: 2.5em !important;
                        height: 2.5em !important;
                        margin-right: 11px;

                        span.left-icon:before {
                            background-image: linear-gradient(to bottom, #64b5f6, #2962ff);
                            font-family: FontAwesome;
                            font-size: 20px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: center;
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                   
                    .list-img-wrapper {
                        width: 2.8em !important;
                        height: 2.8em !important;
                        margin-right: 11px;
                        img{
                            width: 100%;                           
                            height: 100%;
                        }                       
                    }
                }
                .panel.panel-open.left-heading {
                    margin: 0;
                    background-color: #3f3f3f;
                    .panel-heading {
                        font-size: 1rem;
                        position: relative;
                        padding: 1em 1.5em;
                        margin: 0;
                        border: 0;
                        a {
                            font-size: 1.4rem;
                            border-bottom: .2em solid #4e4e4e;
                        }
                        &:before {
                            @include transition(all 0.3s ease-in-out);
                            font-size: 1rem;
                            height: 3.6em;
                            content: "";
                            width: .4em;
                            top: 0;
                            position: absolute;
                            background: #4294d9;
                            left: 0;
                        }
                    }
                }
                .panel.right-panel {
                    margin: 0;
                    &.panel-default {
                        border-bottom: .2em solid #4e4e4e;
                    }
                    .panel-heading {
                        font-size: 1rem;
                        margin: 0 !important;
                        border: 0 !important;
                        padding: 1em 0 !important;
                        a {
                            @extend .p-rel;
                            padding: 0;
                            color: #f1f1f1 !important;
                            font-size: 1.4rem;
                            background-color: transparent;
                            &:focus,
                            &:hover {
                                background-color: transparent;
                            }
                            .left-icon {
                                @extend .p-abs;
                                font-size: 1.8rem !important;
                                color: #3b7bb0 !important;
                                left: .6em;
                                top: 0;
                            }
                            .right-icon {
                                @extend .p-abs;
                                right: .7em;
                                left: auto;
                                top: .4em;
                                font-size: 1.4rem !important;
                                &.icon-2 {
                                    @extend .text-dark-red;
                                    right: 2.5em;
                                }
                            }
                        }
                        &.active {
                            a {
                                color: #3b7bb0;
                                .custom-list li a {
                                    color: #3b7bb0;
                                }
                            }
                        }
                        .custom-list li {
                            a {
                                padding-left: 0;
                            }
                        }
                    }
                    .panel-body {
                        margin: 0 !important;
                        border: 0;
                        padding: 0 0 1em 0 !important;
                        font-size: 1rem;
                        ul.custom-list.left-side-panel {
                            li {
                                font-size: 1rem;
                                padding-left: 1em;
                                overflow: visible;
                                a {
                                    font-size: 1.4rem;
                                    background-color: transparent;
                                    line-height: normal;
                                    vertical-align: middle;
                                    text-transform: none;
                                    font-weight: normal;
                                    font-family: sans-serif;
                                    color: #f1f1f1 !important;
                                    &:focus,
                                    &:hover {
                                        background-color: transparent;
                                    }
                                    .left-icon {
                                        @extend .p-abs;
                                        color: #3b7bb0 !important;
                                        left: .5em;
                                        top: 0;
                                        font-size: 1.8rem;
                                        vertical-align: middle;
                                        width: 1em;
                                        height: 1em;
                                    }
                                    .right-icon {
                                        @extend .p-abs;
                                        right: 10px;
                                        top: 6px;
                                        font-size: 1.4rem !important;
                                    }
                                }
                                &:before {
                                    font-size: 1rem;
                                    height: 3.6em;
                                    top: -1em;
                                    content: "";
                                    background: #747474;
                                    width: .4em;
                                    position: absolute;
                                    left: -1.4em;
                                }
                            }
                        }
                    }
                }
            }
        }
        .side-remain {
            font-size: 1rem;
            width: calc(100% - 21.6em);
            background-color: #545454;
            height: 100% !important;
            overflow: hidden;
            p {
                color: #f1f1f1 !important;
                text-transform: unset;
            }
        }
        &.div-60 {
            .side-defined {
                font-size: 1rem;
                width: 6em;
                height: 100% !important;
                overflow: hidden;
            }
            .side-remain {
                font-size: 1rem;
                width: calc(100% - 6em);
                background-color: #545454;
                height: 100% !important;
                position: relative;
                overflow: hidden;
                p {
                    color: #f1f1f1 !important;
                    text-transform: unset;
                }
            }
        }
    }
    .f-22 {
        font-size: 22px;
    }
    .square-40 {
        width: 4em !important;
        height: 4em !important;
        font-size: 1rem !important;
    }
    .div-300 {
        @extend .d-flex;
        .side-defined {
            font-size: 1rem;
            width: 30em !important;
            height: auto !important;
            position: relative;           
            .panel {
                &.custom-uib-tab-wrapper {
                    ul {
                        li {
                            margin: 0;
                            a {
                                padding: 0 10px;
                                font-size: 1.4rem;
                                color: $text-color-default !important;
                                @include transition(all 0.3s ease-in-out);
                                &:after {
                                    @include transition(all 0.3s ease-in-out);
                                    background-color: #758d99;
                                    height: .4em;
                                    font-size: 1rem;
                                    width: 100%;
                                }
                                &:focus,
                                &:hover {
                                    &:after {
                                        @include transition(all 0.3s ease-in-out);
                                        background-color: #009eff;
                                        height: .4em;
                                        font-size: 1rem;
                                        width: 100%;
                                    }
                                }
                            }
                            &.active {
                                a {
                                    color: #3eb6ff !important;
                                    &:after {
                                        @include transition(all 0.3s ease-in-out);
                                        background-color: #009eff;
                                        height: .4em;
                                        font-size: 1rem;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .structure-tab-wrapper {
                .icon-header {
                    width: 1.5em;
                    margin-right: .2em;
                    height: 1.5em;
                    font-size: 1.8rem !important;
                    line-height: 1.2em;
                    vertical-align: middle;
                    i {
                        background-image: linear-gradient(to bottom, #ffd992, #ef6c00);
                        -webkit-background-clip: text;
                        color: transparent !important;
                    }
                }
                .structure-name {
                    text-transform: capitalize;
                    font-size: 1.4rem;
                    color: #f1f1f1;
                    margin: 0;
                }
                a.accordion-toggle>span {
                    width: 90%;
                }
            }
            .form-field-wrapper {
                .answer-content-box {
                    &:after {
                        background-image: linear-gradient(to bottom, #ffd992, #ef6c00) !important;
                    }
                }
                .form-heading {
                    h3 {
                        color: #f7a248 !important;
                        line-height: 20px;
                        margin: 0;
                    }
                }
                .answer-heading {
                    h3 {
                        line-height: 20px;
                        margin: 0;
                    }
                }
                .icon-header {
                    width: 1.5em;
                    margin-right: .2em;
                    height: 1.5em;
                    font-size: 1.8rem !important;
                    line-height: 1.2em;
                    vertical-align: middle;
                    i {
                        background-image: linear-gradient(to bottom, #ffd992, #ef6c00);
                        -webkit-background-clip: text;
                        color: transparent !important;
                    }
                }
                .filter-value {
                    font-size: 14px !important;
                }
                &.header-para-wrapper {
                    .header-para-heading {
                        .list-icon-wrapper {
                            span {line-height: 20px;
                                &:before {
                                    background-image: linear-gradient(to bottom, #64b5f6, #2962ff);
                                    -webkit-background-clip: text;
                                    background-clip: text;
                                    color: transparent !important;
                                }
                            }
                        }
                    }
                    .form-heading {
                        h3 {
                            color: #3eb6ff !important;
                            line-height: 13px;
                            margin: 0 0 0 5px;
                        }
                    }
                    .answer-content-box {
                        &:after {
                            background-image: linear-gradient(to bottom, #64b5f6, #2962ff) !important;
                        }
                    }
                }
            }
        }
        .side-remain {
            font-size: 1rem;
            width: calc(100% - 30em) !important;
            height: auto !important;
            position: relative; 
            .panel {
                height: 100%;
            }
            .panel-heading {
                @extend .text-dark-grey;
                h3 {
                    color: #657f8b;
                    font-size: 1.6rem;
                }
            }
            .panel-body {
                height: 100% !important;
                p {
                    font-size: 1.4rem;
                    line-height: 1.3em;
                }
                span {
                    font-size: 1.4rem;
                    line-height: 1.3em;
                }
                input[type="text"] {
                    font-size: 1.6rem;
                    border-bottom: 1px solid #3b7bb0 !important;
                }
                .input-group-wrapper {
                    @extend .width-100;
                    .input-group {
                        display: inline-block;
                        font-size: 1.6rem;
                        border-bottom: #3b7bb0 !important;
                        width: 20em;
                        margin: 1em;
                    }
                }
            }
        }
    }
    .message-box {
        background-color: #545454;
        font-size: 1rem;
        padding: 1em;
        border-radius: .7em;
        margin: 1rem 0;
        p {
            font-size: 1.2rem;
            margin-bottom: .6em;
            line-height: 1.2em;
            color: #f1f1f1 !important;
            font-weight: normal;
            font-family: $roboto-regular;
        }
    }
    .icon-header {
        width: 1em;
        height: 1em;
        font-size: 1.8rem;
        line-height: 1.2em;
        vertical-align: middle;
    }
}

.doc-parser-body {
    .main-flash-wrapper {
        top: 135px;
        background: #424242;
        border-radius: 5px; 
        
        .ehub-alert-error {
            background-color: transparent;
            border: 0;
        }
        .ehub-alert-success {
            background-color: transparent;
            border: 0;
        }
        .ehub-alert-info {
            background-color: transparent;
            border: 0;
        }
       
    }
}

/*
================================================================================
**********************  Media Styles For The Site  ******************
================================================================================
*/

@media screen and (min-width:1920px) {
    .bst_element {
        font-size: 16px;
    }
}

@media screen and (min-width: 1600px) and (max-width:1920px) {
    .bst_element {
        font-size: 14px;
    }
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
    .bst_element {
        font-size: 12px;
    }
}

@media screen and (min-width: $screen-lg) and (max-width:1401px) {
    .bst_element {
        font-size: 10px;
    }
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
    .bst_element {
        font-size: 10px;
    }
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .bst_element {
        font-size: 8px;
    }
}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {
    .bst_element {
        font-size: 5px;
    }
}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {
    .bst_element {
        font-size: 5px;
    }
}