.doc-parser-landing {
    margin-top: 6.5rem;
    .top-content-wrapper {
        max-width: calc(100% - 4.8em);
        font-size: 1rem;
        margin: 0 2.4em;
        .input-group-mat {
            .custom-input {
                opacity: 1;
                &:focus,
                &:valid {
                    ~span.label {
                        font-size: 1rem;
                        top: -1em;
                        left: 2em;
                    }
                }
                ~span.label {
                    top: 0.4em;
                    left: 1.5em;
                    color: #888; 
                }
            }
            .left-addon{
                color: $text-color-default!important;
            }
        } 
    }
    .table-data-wrapper{
        max-width: calc(100% - 4.8em);
        font-size: 1rem;
        margin: 0 2.4em;
    }
} 