/*==============================================================================
***************  Segment Selection Wrapper Styles For The Site  ****************
==============================================================================*/
       
/*--  Segment Selection Styles  --*/
   
.lead-generation-wrapper {
    &.segment-dashboard-wrapper {
        /*--  Top Grid Styles  --*/
        .top-grid-wrapper {
            background-color: #213239;
        } 
        /*--  Top Filters Styles  --*/
        .top-filters-wrapper {
            &.segment-filters-wrappers {
                background-color: #22353e;
                .top-filter-navigation {
                    .top-filter-lists {
                        color: #567380;
                        width: 16.5%;
                        .top-filters {
                            width: auto;
                            .top-filter-heading {
                                color: #5e7c8a;
                            }
                            .filters-subhead-wrapper {
                                .mCSB_dragger {
                                    min-height: 10px !important;
                                }
                                .filters-subhead {
                                    color: #567380;
                                }
                            }
                        }
                        &:nth-last-of-type(1) {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .main-segment-wrapper {
            .right-col {
                .side-panel-chart-wrapper {
                    min-height: 100px;
                    margin-top: 10px !important;
                    .top-panel-heading {
                        @extend .text-uppercase;
                        margin-bottom: 10px;
                        color: #5e7c8a;
                        font-size: ($font-size-small + 1);
                        font-family: $roboto-regular;
                        padding-left: 0;
                    }
                    .panel-subhead-wrapper {
                        width: 32%;
                        height: 60px;
                        display: inline-block;
                        .mCSB_dragger {
                            min-height: 10px !important;
                            margin-left: 10px;
                        }
                        .panel-subhead {
                            @extend .text-uppercase;
                            margin-bottom: 5px;
                            color: #bd2168;
                            font-family: $roboto-regular;
                            font-size: $font-size-small;
                            width: 100% !important;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            &:nth-of-type(2) {
                                color: #dd307d;
                            }
                            &:nth-of-type(3) {
                                color: #ed5c9d;
                            }
                        }
                    }
                    .pie-charts-wrapper {
                        display: inline-block;
                        min-height: 80px;
                        min-width: 68%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 32%;
                        margin-top: -5px;
                        #typePie {
                            margin-top: 0;
                            margin-left: 0;
                        }
                        #usagepie {
                            margin-top: 0;
                            margin-left: 0;
                        }
                        #formPie {
                            margin-top: 0;
                            margin-left: 0;
                        }
                        .leadGenErrorDiv {
                            @include center-position();
                            color: #5e7c8a;
                            font-size: $font-size-base;
                            font-family: $roboto-regular;
                        }
                    }
                }
            }
            .club-body-wrapper {
                @include padding(10px 0px);
                /*--  Modal Top Content Styles  --*/
                .club-top-content {
                    // border-bottom: 1px solid rgba(250, 250, 250, 0.5);
                    .club-top-grid {
                        @include padding(10px 10px 0);
                        font-family: $roboto-regular;
                        .club-budget {
                            @extend .text-uppercase;
                            color: #516570;
                            font-size: $font-size-small;
                            font-family: $roboto-regular;
                            .top-heading {
                                @extend .text-uppercase;
                                color: #50707e;
                                font-family: $roboto-regular;
                                font-size: ($font-size-large + 1);
                                font-weight: bold;
                                line-height: ($font-size-large + 1);
                                .icon-right {
                                    @include margin-right(10px);
                                    cursor: pointer;
                                    font-size: ($font-size-small * 2);
                                    font-weight: bold;
                                }
                            }
                            span {
                                @include margin(0 5px);
                                color: #50707e;
                                font-size: $font-size-small;
                                line-height: 14px;
                                vertical-align: middle;
                            }
                            strong {
                                @include margin(0);
                                color: #3f5865;
                                font-size: ($font-size-small * 2);
                                line-height: 25px;
                                vertical-align: middle;
                            }
                        }
                        .club-filter {
                            p {
                                @extend .text-uppercase;
                                display: inline-block;
                                font-size: $font-size-small;
                                font-family: $roboto-regular;
                                margin-top: 11px;
                                color: #3f5865;
                            }
                            strong {
                                margin: 0;   
                            }
                            span {
                                @extend .text-uppercase;
                                color: #bd3567;
                                font-size: $font-size-small; // font-family: $roboto-regular;
                                margin-top: 11px;
                            }
                            .custom-select-box {
                                @extend .text-uppercase;
                                @include margin(0);
                                color: #bd3567;
                                font-size: $font-size-small;
                                font-family: $roboto-regular;
                                width: auto;
                                border: 0;
                                &:focus {
                                    background-color: transparent;
                                    border: 0;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
                /*--  Modal Bottom Content Styles  --*/
                .club-bottom-content {
                    .segment-panel-wrapper {
                        @include padding(20px 30px 0);
                        background-color: transparent;
                        .panel-body {
                            background-color: transparent;
                            border-bottom: 0;
                            .card-info-wrapper {
                                .card-title {
                                    @extend .text-uppercase;
                                    line-height: 26px;
                                    margin-left: 15px;
                                    color: $text-color-default;
                                    font-size: $font-size-small;
                                    font-family: $roboto-regular;
                                }
                                position: absolute;
                                top: 52px;
                                width: 100%;
                                .spending-wrapper {
                                    display: block;
                                    p {
                                        @extend .text-uppercase;
                                        @include margin-bottom(5px);
                                        color: #50707e;
                                        font-size: $font-size-small;
                                        line-height: 26px;
                                        vertical-align: middle;
                                        text-transform: uppercase;
                                        width: auto;
                                    }
                                    strong {
                                        margin: 0;
                                        color: $text-color-default;
                                        font-size: ($font-size-small * 2);
                                        line-height: 25px;
                                        vertical-align: middle;
                                    }
                                }
                            }
                            .spending-filter {
                                span {
                                    @extend .text-uppercase;
                                    color: #3f5865;
                                    font-size: $font-size-small;
                                    font-family: $roboto-regular;
                                    margin-top: 11px;
                                }
                                .custom-select-box {
                                    @extend .text-uppercase;
                                    @include margin(0);
                                    color: #3f5865;
                                    font-size: $font-size-small;
                                    font-family: $roboto-regular;
                                    width: auto;
                                    border: 0;
                                    &:focus {
                                        background-color: transparent;
                                        border: 0;
                                        box-shadow: none;
                                    }
                                }
                            }
                            .top-heading {
                                @extend .text-uppercase;
                                @include margin(0);
                                font-size: $font-size-large;
                                font-family: $roboto-bold;
                                color: #50707e;
                            }
                        }
                    }
                    .left-col {
                        border-right: 1px solid rgba(250, 250, 250, 0.5);
                    }
                }
            }
            /*--  Arc Modal Tool Tip Styles  --*/
            .club_segment_tooltip {
                @include padding(15px);
                @include size(248px, 96px);
                background-color: #213038;
                h4 {
                    color: #bd2267;
                    font-size: 14px;
                    font-family: $roboto-regular;
                }
                p {
                    @extend .text-uppercase;
                    color: #546d79;
                    font-size: 11px;
                    margin-bottom: 5px;
                    display: inline-block;
                    span {
                        color: #da306e;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

.fixed-tooltip {
    position: fixed !important;
    top: 70px !important;
}

.transaction-ocbc-wrapper-split-view .compareSplit .vlaCompareMain .vla-viewport .vla-cy {
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
    left: 0 !important;
    top: 57px !important;
}

.transaction-ocbc-wrapper-split-view .compareSplit .vlaCompareMain {
    padding: 0 !important;
    z-index: 9;
    height: 560px;
}

.vla-viewport .submenu-wrapper {
    width: 100%;
    height: 37px;
    top: 0;
    left: 0;
}

.transaction-ocbc-wrapper-split-view .compareSplit {
    padding-right: 0;
}

.transaction-ocbc-wrapper-split-view .compareSplit .vlaCompareMain .vla-viewport {
    height: 100%;
}

.transaction-ocbc-wrapper-split-view .compareSplit .vlaCompareMain .vla-viewport .submenu-wrapper .vla-panel .custom-configurations label,
.transaction-ocbc-wrapper-split-view .compareSplit .vlaCompareMain .vla-viewport .submenu-wrapper .vla-panel .custom-configurations select {
    padding: 3px 0 !important;
    border-radius: 0 !important;
    background-color: transparent;
    color: #849fab !important;
    line-height: 21px !important;
    font-size: 10px !important;
    outline: 0 !important;
    border: 0 !important;
}

/*--  Design update for the new UC2 Details Page(Zeplin)  --*/

.div-360 {
    .side-defined {
        .panel-heading,
        .panel,
        .panel-body {
            background-color: transparent !important;
        }
        .panel-body {
            border-bottom: 1px solid rgba(249, 249, 249, 0.2);
        }
        .panel-heading,
        .panel-body {
            padding: 10px 0 !important;
            .left-details-panel {
                position: relative;
                &:after {
                    position: absolute;
                    right: 0;
                    top: 0;
                    content: "";
                    height: 100%;
                    width: 2px;
                    background-color: $text-color-default;
                }
            }
            .cluster-details-wrapper{
                display: flex;
                align-items: baseline;
                .details-name {
                    font-size: 1.4rem;
                    color: $text-color-default;
                    line-height: 1.1em;
                    font-family: $roboto-regular;
                    flex:0 0 50%;
                } 
                .details-value {
                    font-size: 1.8rem;
                    color: $text-color-default;
                    line-height: 1.1em;
                    flex:1;
                }
            }
         
            .custom-range-wrapper {
                height: 75px;
                &.lead-range-wrapper {
                    input[type="range"] {
                        margin: 5px auto;
                        &::-webkit-slider-thumb {
                            border: 0 !important;
                            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14) !important;
                            background-image: linear-gradient(to bottom, $text-color-default, #e7e7e7) !important;
                            border-radius: 50% !important;
                        }
                    }
                    .left {
                        position: relative;
                        &:after {
                            position: absolute;
                            top: 50%;
                            content: "";
                            height: 2px;
                            width: 14px;
                            left: 100%;
                            background-color: rgba(251, 251, 251, .2);
                        }
                    }                   
                    .color-input-wrapper{
                        .price-range-min{
                            @extend .text-dark-cream;
                            width: 60px!important;
                            display: flex!important;
                            align-items: center!important;
                            justify-content: flex-start;
                            top: -7px!important;
                            left: 27px!important;
                         
                        }
                        .price-range-max{
                            @extend .text-dark-cream;
                            width: 60px!important;
                            display: flex!important;
                            align-items: center!important;
                            justify-content: flex-end;
                            left: -26px!important;
                            top: -7px!important;
                          
                        }
                    }
                }
            }
        }
        .panel-heading {
            h3 {
                font-size: 1.8rem;
                height: 1.8em;
            }
            .custom-input-box{
                margin-bottom: 1.5px;
            }
        }
    }
    .side-remain {
        .main-filters-wrapper,
        .main-segment-wrapper {
            border-radius: 1em;
            margin: 0 !important;
        }
        .main-filters-wrapper {
            margin: 0 0 1.5em !important;
            .top-filters-wrapper {
                border: 0;
                .top-filter-navigation {
                    display: flex;
                    width: 100% !important;
                    justify-content: space-around;
                }
                .top-filter-lists {
                    width: 20.5% !important;
                   // min-width: 150px;
                    .progressbar-list {
                        // min-width: 200px;
                        .left-col {
                            color: $text-color-default;
                        }
                    }
                    .filters-subhead-wrapper {
                        padding-left: 73px !important;
                        width: 100% !important;
                        max-width: 21.5em;
                        font-size: 1rem;
                        .filters-subhead {
                            a {
                                text-transform: capitalize;
                                font-size: 1.2rem !important;
                            }
                        }
                    }
                    .pie-charts-wrapper {
                        left: -10px !important;
                        height: 80px !important;
                        width: 80px !important;
                    }
                }
                .top-filter-heading {
                    @extend .roboto-bold;
                    color: $text-color-default !important;
                    font-size: 1.8rem !important;
                    text-transform: unset !important;
                    line-height: 1.2em;
                }
            }
        }
        .main-segment-wrapper {
            .connection-name {
                color: rgba(251, 251, 251, .5);
            }
            .details-wrapper {
                border-bottom: 1px solid rgba(250, 250, 250, 0.2);
                padding: 15px 0 10px;
                .details-name {
                    margin-bottom: 0;
                    max-width: 190px;
                    display: inline-flex;
                }
                .details-value {}
            }
            .club-top-grid {
                width: 100%;
            }
            .club-budget {
                &:after {
                    content: "";
                    top: 0;
                    right: 0;
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background-color: rgba(251, 251, 251, 0.2);
                }
            }
            .club-filter {
                //  margin: 0 5px; 
                line-height: 25px;
                vertical-align: middle;
                span {
                    font-family: FontAwesome !important;
                }
            }
            .connection-data-wrapper {
                .panel-heading {
                    h3 {
                        @extend .text-capitalize;
                        font-size: 1.8rem;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.22;
                        letter-spacing: -0.3px;
                    }
                    padding-bottom: 10px!important;
                    border-bottom: 1px solid rgba(251, 251, 251, .2);
                }
                h4{
                    a{
                        font-size:1.6rem;
                        color:#3eb6ff;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.38;
                        letter-spacing: -0.3px;
                        justify-content: space-between;
                        span{
                            font-size: 2.1rem;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: center;
                        }
                    }
                }
                p {
                    font-family: $roboto-regular;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.43;
                    letter-spacing: -0.2px;
                    margin-bottom: 0;
                    max-width: 150px;
                    display: inline-flex;
                    font-size: 1.4rem;
                    line-height: 1.2em;
                    text-transform: none;
                    vertical-align: middle;
                    color: $text-color-default;
                }
                strong {
                    font-size: 24px;
                    width: calc(100% - 150px);
                    line-height: 24px;
                    float: right;
                    color: $text-color-default;
                    font-weight: bold; 
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: right;
                }
                .top-heading {
                    @extend .pad-y10;
                    h5 {
                        @extend .roboto-regular;
                        @extend .text-cream;
                        @extend .text-capitalize;
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.43;
                        letter-spacing: -0.2px;
                    }
                }
                .pie-chart-data-details {
                    .pie-chart-data {
                        width: 60px;
                        max-height: 60px;
                        display: inline-flex;
                    }
                    .chart-data-table-wrapper {
                        width: calc(100% - 60px);
                        max-height: 60px;
                        display: inline-flex;
                        tbody {
                            max-height: 60px;
                        }
                        td {
                            &:nth-of-type(1) {
                                span {
                                    @extend .radius-circle;
                                    @extend .pull-left;
                                    @extend .square-12;
                                    @extend .mar-r5;
                                    background-color: #546d79;
                                }
                            }
                        }
                    }
                }
                .panel-body {
                    border-bottom: 1px solid rgba(251, 251, 251, .2);
                }
            }
        }
    }
    .comparechart-legend-wrapper {
        li {
            white-space: normal !important;
        }
    }
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/

@media (min-width:$screen-lg) {
    .top-filters-wrapper {
        .top-filter-navigation.dual-filter-list {
            width: 100% !important;
        }
    }
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
    .top-filters-wrapper {
        .top-filter-navigation.dual-filter-list {
            width: auto !important;
            li {}
        }
    }
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {}