<!--  Spinner Starts  -->
<div class="custom-spinner" ng-show="showMipSaveLoader">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

<div class="modal-body">
	<div class="save-search-wrapper">
		<div class="close-modal">
			<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
		</div>
		<div class="text-left">
			<label>Name :</label>
		</div>
		<div class="writeName">
			<input ng-model="saveName" type="text" />
			<a class="btn saveMipbtn" href="javascript:void(0);" ng-click="saveSearchData()">Save</a>
		</div>
		<div class="saveResponse"></div>
	</div>
</div>