<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Bad Buyers List</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="entity-result-item">
								<div class="badBuyersListWrapper">
									<ul class="media-list">
										<li class="media" ng-repeat="entity in badbuyerslistData">	
										  	<h3 class="media-heading">
										      <a href="{{entity.url}}" target="_blank">
										    	{{entity.name}}({{entity.email}})
										      </a>
									    	</h3>
										    <div class="media-body">
										   		 <p class="progress-text">
										   			 <span class="text-capitalize" ng-if="(entity.buyers_address !== '' && entity.buyers_address) || (entity.buyers_country !== '' && entity.buyers_country)">Buyers Address: {{entity.buyers_address}} {{entity.buyers_country}}</span>
										   			 <span class="text-capitalize" ng-if="entity.reported_at !== '' && entity.reported_at">Reported On: {{entity.reported_at | date : 'dd-MM-yyyy'}}</span>
										   			 <span class="text-capitalize" ng-if="entity.purchase_date !== '' && entity.purchase_date">Purchased On: {{entity.purchase_date | date : 'dd-MM-yyyy'}}</span>
										   			 <span class="text-capitalize" ng-if="entity.store !== '' && entity.store">Store: {{entity.store}}</span>
										   			 <span class="text-capitalize" ng-if="entity.phone_number !== '' && entity.phone_number">Phone Number: {{entity.phone_number}}</span>
										   			 <span class="text-capitalize">Risk Score: {{entity.risk_score}}</span> <!-- Source: {{entity.source}} -->
										        </p>	
										   		 <p class="description">
											        {{entity.details}}
										         </p>			
											</div>
									    </li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
