<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">BALANCE SHEET STATEMENT</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="entity-item">
							<div class="balance-sheet-content">
								<div class="row balance-data">
									<div class="col-sm-4" ng-show="stockModalData['total_assets']">
										<p class="progress-text"><small class="text-uppercase">Total Assets (last 4 years) :</small>
										 		{{stockModalData['total_assets'] }} $
										</p>
									</div>
									<div class="col-sm-4" ng-show="stockModalData['total_liabilities']">
										<p class="progress-text"><small class="text-uppercase">Total Liabilities (last 4 years):</small>
										{{stockModalData['total_liabilities']}} $
										</p>
									</div>
									<div class="col-sm-4" ng-show="stockModalData['long_term_debt']">
										<p class="progress-text"><small class="text-uppercase">Debts to Assets (last 4 years):</small>
										{{stockModalData['long_term_debt']}} $
										</p>
									</div>
									<div class="col-sm-4" ng-repeat="(k,v) in yahooStockData['stock_statistics']['balance_sheet']" ng-if="k!='risk_score'  || !k">
										<p class="progress-text"><small class="text-uppercase">{{k | strReplace:'_':' '}} :</small>
											{{v}}
										</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .balance-sheet-content').mCustomScrollbar({
		axis : "y"
	});
});
</script>
