<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Net Cash Flow Statement</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="cashflow-sheet-content">
								<div class="row balance-data">
										<div class="col-sm-4" ng-show="stockModalData['net_cash_flow_-_operating_activities']">
											<p class="progress-text"><small class="text-uppercase">Operating (last 4 years):</small>
												{{stockModalData['net_cash_flow_-_operating_activities']}} $
											</p>
										</div>
										<div class="col-sm-4" ng-show="stockModalData['net_cash_flow_investing']">
											<p class="progress-text"><small class="text-uppercase">Investing (last 4 years):</small>
												{{stockModalData['net_cash_flow_investing']}} $
											</p>
										</div>
										<div class="col-sm-4" ng-show="stockModalData['net_cash_flow_-_financing']">
											<p class="progress-text"><small class="text-uppercase">Financing (last 4 years):</small>
											{{stockModalData['net_cash_flow_-_financing']}} $
											</p>
										</div>
										<div class="col-sm-4" ng-repeat="(k,v) in yahooStockData['stock_statistics']['cash_flow_statement']" ng-if="k!='risk_score' || !k">
											<p class="progress-text"><small class="text-uppercase">{{k | strReplace:'_':' '}} :</small>
												{{v}}
											</p>
										</div>
									</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
