<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Criminals Lookup List(UK)</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="entity-result-item">
								<div class="domainsCompany">
									<ul class="row media-list">
										<li class="media" ng-repeat="entity in entitySearchResult.list['crimestoppers-uk']">	
										  	<div class="media-left">
										      	<a href="{{entity.image}}" target="_black" ng-if="entity.image !== '' && entity.image">
										      		<img class="image-object" ng-src="{{entity.image}}">
									      		</a>
									      		<a href="javascript:void(0);" ng-if="entity.image === '' || !entity.image">
										      		<i class="fa fa-user-o"></i>
									      		</a>
										    </div>
										    <h3 class="media-heading">
										      <a href="javascript:void(0);">
										    	{{entity.name}} ({{entity.cs_reference}})
										      </a>
									    	</h3>
										    <div class="media-body">
										   		 <p class="progress-text">
										   			 <span class="text-capitalize" ng-if="entity.age_range !== '' && entity.age_range">Age Range: {{entity.age_range}}</span>
										   			 <span class="text-capitalize" ng-if="entity.crime_location !== '' && entity.crime_location">Crime Location: {{entity.crime_location}}</span>
										   			 <span class="text-capitalize" ng-if="entity.crime_type !== '' && entity.crime_type">Crime Type: {{entity.crime_type}}</span>
										   			 <span class="text-capitalize" ng-if="entity.police_force !== '' && entity.police_force">Police Force: {{entity.police_force}}</span>
										   			 <span class="text-capitalize" ng-if="entity.sex !== '' && entity.sex">Sex: {{entity.sex}}</span>
										   		 </p>	
										   		 <p class="description" ng-if="entity.risk_score !== '' && entity.risk_score">
											        Risk Score: {{entity.risk_score}} <!-- Source: {{entity.source}} -->
										         </p>			
											</div>
									   </li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
