<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Domains for company</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="entity-result-item">
								<h3>{{domainsCompanyData.title}}</h3>
								<span>Email: {{domainsCompanyData.email}}</span> <span>Website: {{domainsCompanyData.domain}}</span>							
								<h3>Source Domain List: </h3>
								<div class="domainsCompany">
									<ul class="row media-list">
									  <li class="col-sm-6 media" ng-repeat="entity in domainsCompanyData.sources" ng-if="$index < 15">								    
									    <div class="media-body">
								   			 <a href="{{entity.uri}}" target="_black">Domain: {{entity.domain}}</a>
									   		 <p class="progress-text">
									   			 <span>Extracted On: {{entity.extracted_on | date : 'dd/MM/yyyy'}}</span>
									   		 </p>			
										</div>
									  </li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item .domainsCompany').mCustomScrollbar({
		axis : "y"
	});
});
</script>
