<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

	<div class="modal-header">
		<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
		<h4 class="modal-title">EMPLOYMENT HISTORY</h4>
	</div>
	<div class="modal-body">
		<!--  Entity Company Starts  -->
		<div class="entity-company-wrapper">
				<!--  Entity Results Wrapper Starts  -->
				<div class="container-fulid entity-results-wrapper ">
					<div class="row entity-contents-wrapper">
							
							<div class="col-md-12 entity-item social-media-results-wrapper">
								<div class="entity-result-item">
									<div class="employmentHistory">
										<div class="related-person-item">								
											<ul class="media-list">
											  <li class="media" ng-repeat="entity in employmentHistory" ng-if="$index < 10">
											    <div class="media-body">
											        <h3 class="media-heading"><a href="{{entity.url}}" target="_blank">{{entity.name}}</a></h3>
											        <p class="row custom-colon-section" ng-if="entity.company !== '' && entity.company">
											        	<span class="col-sm-4">Company</span>
											        	<span class="col-sm-8"><small class="custom-colon">:</small>{{entity.company}}</span>
											        </p>
											        <p class="row custom-colon-section" ng-if="entity.email !== '' && entity.email">
											        	<span class="col-sm-4">Email</span>
											        	<span class="col-sm-8"><small class="custom-colon">:</small>{{entity.email}}</span>
											        </p>
											        <p class="row custom-colon-section" ng-if="entity.job_rank !== '' && entity.job_rank">
											        	<span class="col-sm-4">Rank</span>
											        	<span class="col-sm-8"><small class="custom-colon">:</small>{{entity.job_rank}}</span>
											        </p>
											        <p class="row custom-colon-section" ng-if="(entity.street !== '' && entity.street) || (entity.city !== '' && entity.city) || (entity.state !== '' && entity.state)">
											        	<span class="col-sm-4">Address</span>
											        	<span class="col-sm-8">
												        	 	<small class="custom-colon">:</small>
																{{entity.street}}
												        	 	{{entity.city}}
												        	 	{{entity.state}}
												        	 	<strong ng-if="entity.zip !== '' && entity.zip"> - {{entity.zip}}</strong>
											        	 </span>
											        </p>
											        <p class="row custom-colon-section" ng-if="entity.phone !== '' && entity.phone">
											        	<span class="col-sm-4">Phone Number</span>
											        	<span class="col-sm-8"><small class="custom-colon">:</small>{{entity.phone}}</span>
											        </p>														         						
												</div>
											  </li>
											</ul>
										</div>
									</div>
								</div>
							</div>
	
					</div>
				</div>
				<!--  Entity Results Wrapper Ends  -->
				
		</div>
		<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
