<div class="modal-header">
<button type="button" class="close" aria-hidden="true"
		ng-click="cancel()">
		<span>&#x2716;</span>
	</button>
    <h3 class="modal-title">SCORING VISUALISATION</h3>
</div>
<div class="header-content-entry person-circle-graph  custom-person-circle-graph clearfix" style="min-height:200px">

<span ng-show="isloading" class="custom-spinner">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
</span>
<div ng-if="!noData" id="chartContentDiv" class="text-center"></div>
<span  ng-if="noData" class="text-center no-data-wrapper no-data">No Data Found</span>

    
</div>
