<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">EXCLUSIONS FRAUD</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="row entity-result-item">
								<ul class="media-list">
									<li class="media" ng-repeat="entity in exclusionsFraudData">								    
									    <div class="media-body">
										    <h3 class="media-heading">
										      <a href="javascript:void(0);">
										    	{{entity.name}}
										      </a>
									    	</h3>
									   		 <p class="row progress-text">
									   			 <span class="col-sm-4">Exclusions Type</span><span class="col-sm-8">: {{entity.excl_type}}</span>
								   			 </p>
								   			 <p class="row progress-text">
									   			 <span  class="col-sm-4">Exclusions on</span><span class="col-sm-8">: {{entity.exclOn | date : 'dd/MM/yyyy'}}</span>
								   			 </p>
								   			 <p class="row progress-text" ng-if="entity.general !== '' && entity.general">
									   			 <span class="col-sm-4">General</span><span class="col-sm-8">: {{entity.general}}</span>
								   			 </p>
								   			 <p class="row progress-text" ng-if="entity.specialty !== '' && entity.specialty">
									   			 <span class="col-sm-4"> Specialty</span><span class="col-sm-8">: {{entity.specialty}}</span>
								   			 </p>
								   			 <p class="row progress-text" ng-if="entity.waiver !== '' && entity.waiver">
									   			 <span class="col-sm-4"> Waiver</span><span class="col-sm-8">: {{entity.waiver}}</span>
									   		 </p>	
									   		 <p class="description">
										        <span class="col-sm-4">Address</span></span><span class="col-sm-8">: {{entity.address}}</span>
									         </p>			
										</div>
								  	</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
