<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">FBI Fetch Data</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="entity-result-item">
								<div class="badBuyersListWrapper">
									<ul class="media-list">
										<li class="col-sm-6 media" ng-repeat="entity in fbiData">								    
										    <div class="media-body">	
										   		 <h3 class="media-heading">
											        <a title="{{entity.properties.title}}" href="{{entity.properties.profile_url}}" target="_blank">
											    	  {{entity.properties.title}}<span ng-if="entity.aliasNames !== ''">({{entity.aliasNames}})</span>
											        </a>
										    	 </h3>
										   		 <p class="progress-text">
									   		 		 <span ng-if="entity.properties.eyes !== '' && entity.properties.eyes">Eyes: {{entity.properties.eyes}}</span>
									   		 		 <span ng-if="entity.properties.weight !== '' && entity.properties.weight">Weight: {{entity.properties.weight}}</span>
									   		 		 <span ng-if="entity.properties.height !== '' && entity.properties.height">Height: {{entity.properties.height}}</span>
									   		 		 <span ng-if="entity.properties.hair !== '' && entity.properties.hair">Hair: {{entity.properties.hair}}</span>
									   		 		 <span ng-if="entity.properties.scars_and_marks !== '' && entity.properties.scars_and_marks">Scars and marks: {{entity.properties.scars_and_marks}}</span>
									   		 		 <span ng-if="entity.properties.place_of_birth !== '' && entity.properties.place_of_birth">Place of birth: {{entity.properties.place_of_birth}}</span>
									   		 		 <span ng-if="entity.properties.remarks !== '' && entity.properties.remarks">Remarks: {{entity.properties.remarks}}</span>
									   		 		 <span ng-if="entity.properties.sex !== '' && entity.properties.sex">Sex: {{entity.properties.sex}}</span>
									   		 		 <span ng-if="entity.properties.dates_of_birth_used !== '' && entity.properties.dates_of_birth_used">Dates of birth used: {{entity.properties.dates_of_birth_used}}</span>
										   		 </p>	
										   		 <p ng-if="entity.properties.description !== '' && entity.properties.description">
										   		 	Description: {{entity.properties.description}}
										   		 </p>	
											</div>
											<div class="media-body" ng-if="entity.images.length > 0">	
										   		 <h3 class="media-heading">
											        Profile Images
										    	 </h3>
										   		 <span ng-repeat="image in entity.images">
										   		 	<img class="image-object" ng-src="{{image.name}}">
								   		 		 </span>		
											</div>
									   </li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
