<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">Additional Details</h4>
</div>
<div class="modal-body">

	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">

		<!--  Entity Results Wrapper Starts  -->
		<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
			<div class="row entity-contents-wrapper">
				<div class="entity-contents-inner-wrapper">

					<div class="col-md-12 entity-item">
						<div class="entity-result-item">
							<div class="secialities-wrapper">
								<h3>Stock Change: </h3>
								<div class="row balance-data">
									<div class="col-sm-4" ng-repeat="(k,v) in entitySearchResult['stocks']['change']" ng-if="k!='risk_score'  || !k">
										<p class="progress-text" style="white-space: nowrap;">
											<small class="text-uppercase">{{k | strReplace:'_':' '}} :</small>
											{{v}}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!--  Entity Results Wrapper Ends  -->

	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
	$(document)
			.ready(
					function() {
						/*Custom Scroll Bar*/
						$(
								'.custom-modal.related-person-modal .modal-body .entity-result-item')
								.mCustomScrollbar({
									axis : "y"
								});
					});
</script>
