<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">Additional Details</h4>
</div>
<div class="modal-body">

	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">

		<!--  Entity Results Wrapper Starts  -->
		<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
			<div class="row entity-contents-wrapper">
				<div class="entity-contents-inner-wrapper">

					<div class="col-md-12 entity-item">
						<div class="custom-financial-modal-wrapper">
							<div class="investor-sentiments-wrapper">
								<h3>Divident Splits:</h3>
								<div class="row balance-data">
									<div class="col-sm-4" ng-repeat="(k,v) in yahooStockData['stock_statistics']['dividends_Splits']" ng-if="k!='risk_score'  || !k">
										<p class="progress-text"><small class="text-uppercase">{{k | strReplace:'_':' '}} :</small>
											{{v}}
										</p>
									</div>
								</div>
							</div>
							<div class="investor-sentiments-wrapper">
								<h3>Stock Price History:</h3>
								<div class="row balance-data">
									<div class="col-sm-4" ng-repeat="(k,v) in yahooStockData['stock_statistics']['stock_price_history']" ng-if="k!='risk_score'  || !k">
										<p class="progress-text"><small class="text-uppercase">{{k | strReplace:'-':' '}} :</small>
											{{v}}
										</p>
									</div>
								</div>
							</div>
							<div class="investor-sentiments-wrapper">
								<h3>Profitability</h3>
								<div class="row balance-data">
									<div class="col-sm-6" ng-repeat="(k,v) in yahooStockData['stock_statistics']['profitability']" ng-if="k!='risk_score'  || !k">
										<p class="progress-text"><small class="text-uppercase">{{k | strReplace:'_':' '}} :</small>
											{{v}}
										</p>
									</div>
								</div>
							</div>
							<div class="investor-sentiments-wrapper">
								<h3>Financial Highlights</h3>
								<div class="row balance-data">
									<div class="col-sm-6" ng-repeat="(k,v) in yahooStockData['stock_statistics']['fiscal_year']" ng-if="k!='risk_score' || !k">
										<p class="progress-text"><small class="text-uppercase">{{k | strReplace:'_':' '}} :</small>
											{{v}}
										</p>
									</div>
								</div>
							</div>
							<div class="investor-sentiments-wrapper">
								<h3>Management Effectiveness</h3>
								<div class="row balance-data">
									<div class="col-sm-6" ng-repeat="(k,v) in yahooStockData['stock_statistics']['management_effectiveness']" ng-if="k!='risk_score' || !k">
										<p class="progress-text"><small class="text-uppercase">{{k | strReplace:'_':' '}} :</small>
											{{v}}
										</p>
									</div>
								</div>
							</div>
							<div class="investor-sentiments-wrapper">
								<h3>Account Details</h3>
								<div class="row balance-data">
									<div class="col-sm-6" ng-repeat="(k,v) in entitySearchResult.list['has_accounts']" ng-if="k!='risk_score' || !k">
										<p class="progress-text"><small class="text-uppercase">{{k | strReplace:'_':' '}} :</small>
											{{v}}
										</p>
									</div>
								</div>
							</div>
							<div class="investor-sentiments-wrapper">
								<h3>Tax Returns</h3>
								<div class="row balance-data">
									<div class="col-sm-6" ng-repeat="(k,v) in entitySearchResult.list['has_returns']" ng-if="k!='risk_score' || !k">
										<p class="progress-text"><small class="text-uppercase">{{k | strReplace:'_':' '}} :</small>
											{{v}}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!--  Entity Results Wrapper Ends  -->

	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
	$(document)
			.ready(
					function() {
						/*Custom Scroll Bar*/
						$(
								'.custom-modal.related-person-modal .modal-body .custom-financial-modal-wrapper')
								.mCustomScrollbar({
									axis : "y"
								});
					});
</script>
