<style>
.modal-body #flowChartViewDiv canvas {
    left: 0;
	height: 100%!important;
}
.modal-body.screencapture-modal-body.custom-scroll-wrapper{
	min-height: 0!important;
	overflow:hidden;
	height: calc(100% - 40px)!important;
}
</style>
<!-- Widget Capture Modal Starts  -->
<div class="capture-modal-wrapper height-100 ceri-wrapper" id="maximizeAllchart">
	<span ng-show="widgetCapturePreloader" class="custom-spinner case-dairy-spinner"> 
		<i class="fa fa-spinner fa-spin fa-2x"></i>
	</span>
	<div class="modal-header">
		<button type="button" class="close" ng-click="closeWidgetCaptureModal()"><span>&#x2716;</span></button>
		   <ul class="list-inline pull-left custom-list circle-list">
               <li>
                   <a>
                       <i class="fa fa-circle mar-5 text-green"></i>
                       <span class="text-grey text-uppercase">Holding/Parent<span> </span> </span>
                   </a>
               </li>
               <li>
                   <a>
                       <i class="fa fa-circle mar-5" style="color : #c7990c"></i>
                       <span class="text-grey text-uppercase">Subsidary</span>
                   </a>
               </li>
           </ul>
	</div>
	<div  class="screencapture-modal-body modal-body p-rel" id="scroll-to-centre" >
	 
	<div class="height-70 top-chart-content">
		<div id="flowChartViewDiv" class="text-center ownership-container orgchart-wrapper dashboard-wrapper" style = "top: 0; left: 0;right:0;width: 100%;min-height: 100%;position: absolute;"></div>
	</div>
			
	<div class="height-30 bottom-chart-content">

	</div>
				<!-- <div id="vlaContainer" class="orgchart-wrapper" style = "top: 0; left: 0;width: 100%;height: 280px;position: absolute;"></div> -->
		
	 
	</div>
	<!-- <div id="message-wrapper"></div>	 -->
</div>
<!-- Widget Capture Modal Ends  -->
<!-- 
<script>
	$("#scroll-to-centre").mCustomScrollbar({
		axis: "xy",
		theme: "minimal-dark"
	});
</script> -->