<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

	<div class="modal-header">
		<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
		<h4 class="modal-title">Following</h4>
	</div>
	<div class="modal-body">
		<!--  Entity Company Starts  -->
		<div class="entity-company-wrapper">
				<!--  Entity Results Wrapper Starts  -->
				<div class="container-fulid entity-results-wrapper ">
					<div class="row entity-contents-wrapper">
							
							<div class="col-md-12 entity-item social-media-results-wrapper">
								<div class="row entity-result-item">
									<ul class="media-list">
										<li class=" col-sm-4 media" ng-repeat="following in followingData">
										    <div class="media-left">
										      	<a href="javascript:void(0);" >
										      		<img class="image-object" ng-src="{{following.image}}" ng-if="following.image !== ''">
										      		<i class="fa fa-user-o" ng-if="following.image === ''"></i>
									      		</a>
										    </div>
										    <div class="media-body">
											    <h3 class="media-heading">
											      <a href="javascript:void(0);">
											    	{{following.name}}
											      </a>
										    	</h3>
										   		 <p class="progress-text">
										   			 <span class="date">Created on {{following.createdOn | date : 'dd/MM/yyyy'}}</span>
										   			 <span>{{following.screen_name}}</span>
										   		 </p>	
										   		 <p class="description">
											        Risk Score: {{following.risk_score}}
										         </p>			
											</div>
									  	</li>
									</ul>	
								</div>
							</div>
	
					</div>
				</div>
				<!--  Entity Results Wrapper Ends  -->
				
		</div>
		<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
