<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">GENERAL INFORMATION</h4>
</div>
<div class="modal-body">

	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper">
				<div class="row entity-contents-wrapper">
						
						<div class="general-info-wrapper entity-contents-wrapper">
							<div class="entity-contents-inner-wrapper">
								<div class="entity-item">
									<div class="custom-spinner full-page-spinner" ng-if="disableSearchButton">
										<i class="fa fa-spinner fa-spin fa-3x"></i>
									</div>
									<div class="entity-result-item container-fluid">
										<p class="row custom-colon-section" ng-repeat="(key, entity) in generalEntityData" ng-if="entity !== '' && entity">
											<span class="col-sm-4 text-capitalize">{{key}}</span> 
											<span class="col-sm-8 text-capitalize"><small class="custom-colon">:</small>{{entity}}</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>