<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Crime/Offenses List(Imsasllc)</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper crime-offenses-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="entity-item">
							<div class="entity-result-item">
								<div class="badBuyersListWrapper">
									<ul class="row media-list">
										<li class="col-sm-6 media" ng-repeat="entity in imsasllclistData">	
										  	<h3 class="media-heading">
										      <a href="javascript:void(0);">
										    	{{entity.properties.FullName}}({{entity.properties.DOB}})
										      </a>
									    	</h3>
										    <div class="media-body">
										   		 <p class="progress-text">
										   			 <span class="text-capitalize" ng-if="entity.properties.Category !== '' && entity.properties.Category">Category: {{entity.properties.Category}}</span>
										   			 <span class="text-capitalize" ng-if="entity.properties.Designation !== '' && entity.properties.Designation">Designation: {{entity.properties.Designation}}</span>
										   			 <span class="text-capitalize" ng-if="entity.properties.EyeColor !== '' && entity.properties.EyeColor">Eye Color: {{entity.properties.EyeColor}}</span>
										   			 <span class="text-capitalize" ng-if="entity.properties.Glasses !== '' && entity.properties.Glasses">Glasses: {{entity.properties.Glasses}}</span>
										   			 <span class="text-capitalize" ng-if="entity.properties.HairColor !== '' && entity.properties.HairColor">Hair Color: {{entity.properties.HairColor}}</span>
										   			 <span class="text-capitalize" ng-if="entity.properties.Height !== '' && entity.properties.Height">Height: {{entity.properties.Height}}</span>
										   			 <span class="text-capitalize" ng-if="entity.properties.Weight !== '' && entity.properties.Weight">Weight: {{entity.properties.Weight}}</span>
										   			 <span class="text-capitalize" ng-if="entity.properties.Sex !== '' && entity.properties.Sex">Sex: {{entity.properties.Sex}}</span>
										   			 <span class="text-capitalize" ng-if="entity.properties.Scars !== '' && entity.properties.Scars">Scars: {{entity.properties.Scars}}</span>
										   			 <span class="text-capitalize" ng-if="entity.properties.Score !== '' && entity.properties.Score">Score: {{entity.properties.Score}}</span>
										   			 <span class="text-capitalize">Risk Score: {{entity.risk_score}}</span> <!-- Source: {{entity.source}} -->
										        </p>			
											</div>
											<h3 class="offenses-heading media-heading">
										      <a  class="text-capitalize" href="javascript:void(0);">
										    	Offenses
										      </a>
									    	</h3>
										    <div class="media-body" ng-repeat="offense in entity.offenses">
										   		 <p class="progress-text">
										   			 <span ng-if="offense.Description && offense.Description">Offense: {{offense.Description}}</span>
										   			 <span ng-if="offense.AgeOfVictim !== '' && offense.AgeOfVictim">Age Of Victim: {{offense.AgeOfVictim}}</span>
										   			 <span ng-if="offense.ArrestingAgency !== '' && offense.ArrestingAgency">Arresting Agency: {{offense.ArrestingAgency}}</span>
										   			 <span ng-if="offense.Category !== '' && offense.Category">Category: {{offense.Category}}</span>
										   			 <span ng-if="offense.Class_ !== '' && offense.Class_">Class: {{offense.Class_}}</span>
										   			 <span ng-if="offense.DateConvicted !== '' && offense.DateConvicted">Date Convicted: {{offense.DateConvicted}}</span>
										   			 <span ng-if="offense.DateOfCrime !== '' && offense.DateOfCrime">Date Of Crime: {{offense.DateOfCrime}}</span>
										   			 <span ng-if="offense.RelationshipToVictim !== '' && offense.RelationshipToVictim">Relationship To Victim: {{offense.RelationshipToVictim}}</span>
										   			 <span ng-if="offense.Section !== '' && offense.Section">Section: {{offense.Section}}</span>
										   			 <span ng-if="offense.Sentence !== '' && offense.Sentence">Sentence: {{offense.Sentence}}</span>
										   			 <span ng-if="offense.SexOfVictim !== '' && offense.SexOfVictim">Sex Of Victim: {{offense.SexOfVictim}}</span>
										   			 <span ng-if="offense.WeaponsUsed !== '' && offense.WeaponsUsed">Weapons Used: {{offense.WeaponsUsed}}</span> 
										   			 <span>Risk Score: {{entity.risk_score}}</span> <!-- Source: {{entity.source}} -->
										        </p>			
											</div>
									  	</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
