<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Industrial Security Incidents</h4>
</div>

<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">						
							<div class="entity-result-item">
								<ul class="media-list">
									<li class="media" ng-repeat="entity in industryModalData" ng-if="$index < 10">										    
									    <div class="media-body">
										    <h3 class="media-heading">
										      <a href="javascript:void(0);">
										    	{{entity.title}}
										      </a>
									    	</h3>
									   		 <p class="row progress-text">
									   			 <span class="col-sm-4">Country</span><span class="col-sm-8">: {{entity.country}} on {{entity.year}}</span>
								   			 </p>
								   			 <p class="row progress-text">
									   			 <span class="col-sm-4">Reliability</span><span class="col-sm-8">: {{entity.reliability}}</span>
								   			 </p>
								   			 <p class="row progress-text">
									   			 <span class="col-sm-4"> Industry Type</span><span class="col-sm-8">: {{entity.industryType}}</span>
								   			 </p>
								   			 <p class="row progress-text">
									   			 <span class="col-sm-4"> Risk Score</span><span class="col-sm-8">: {{entity.risk_score}} </span>
									   		 </p>	
									   		 <p class="row description">
										        <span class="col-sm-4">Event Impact</span><span class="col-sm-8">: {{entity.eventImpact}}</span>
									         </p>			
									   		 <p class="row description">
										        <span class="col-sm-4">Details</span><span class="col-sm-8">: {{entity.details}}</span>
									         </p>			
										</div>
								  </li>
								</ul>
							</div>
						</div>
	
					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*--  Custom Scroll Bar  --*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>