<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Latest Milestone Releases</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="entity-result-item">
								<ul class="row media-list">
									<li class="col-sm-6 media" ng-repeat="entity in latestReleases">								    
									    <div class="media-body">
								   			 <h3 title="{{entity.title}}">{{entity.title}}</h3>
								   			 <p class="progress-text">
									   			 <span title="Last Updates on: {{entity.created_time | date : 'dd-MM-yyyy'}}">Last Updates on: {{entity.created_time | date : 'dd-MM-yyyy'}}</span>
									   			 <span title="Created on: {{entity.start_time | date : 'dd-MM-yyyy'}}">Created on: {{entity.start_time | date : 'dd-MM-yyyy'}}</span>
									   			 <span title="Risk Score: {{entity.risk_score}}">Risk Score: {{entity.risk_score}}</span>
									   			 <span title="Source: {{entity.source}}">Source: <a href="{{entity.source}}">{{entity.source}}</a></span>
									   		 </p>			
										</div>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
