<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">More Information</h4>
</div>
<div class="modal-body">

	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">

		<!--  Entity Results Wrapper Starts  -->
		<div class="container-fulid entity-results-wrapper">
			<div class="row entity-contents-wrapper">
				<div class="entity-contents-inner-wrapper">
					<div class="row">
						<div class="col-sm-12 entity-item ">  
							<div class="entity-result-item custom-result-item">
								<div class="row domain-source-list">
									<div class="col-sm-12 entity-item company-domian-list">
										<h3 class="col-sm-4">Company Domain and Source</h3>
										<div class="col-sm-12">
											<p class="col-sm-12 company-leadership-name" ng-if="entitySearchResult.list.hunterData.title !== '' && entitySearchResult.list.hunterData.title">{{entitySearchResult.list.hunterData.title}}</p>
											<span class="col-sm-4 company-leadership-details" ng-if="entitySearchResult.list.hunterData.email !== '' && entitySearchResult.list.hunterData.email">Email: {{entitySearchResult.list.hunterData.email}}</span> 
											<span class="col-sm-4 company-leadership-details" ng-if="entitySearchResult.list.hunterData.domain !== '' && entitySearchResult.list.hunterData.domain">Website: {{entitySearchResult.list.hunterData.domain}}</span>
											<span class="col-sm-4 company-leadership-details" ng-if="entitySearchResult.list.hunterData.company !== '' && entitySearchResult.list.hunterData.company">Company: {{entitySearchResult.list.hunterData.company}}</span>							  
										</div>
									</div>
									<div class="col-sm-12 entity-item company-source-list">
										<h3 class="col-sm-4">Source List: <span>({{entitySearchResult.list.hunterData.sources.length}}) sources found</span></h3>
										<div class="col-sm-12 domainsCompany">
											<ul class="row media-list">
											  <li class="col-sm-6 media" ng-repeat="entity in entitySearchResult.list.hunterData.sources" ng-if="$index < 10">								    
											    <div class="media-body">
										   			 <p><a href="{{entity.uri}}" title="Domain: {{entity.domain}}" target="_black">Domain: {{entity.domain}}</a></p>
											   		 <p class="progress-text" title="Extracted On: {{entity.extracted_on | date : 'dd/MM/yyyy'}}">
											   			 Extracted On: {{(entity.extracted_on | date : 'dd/MM/yyyy') || 'No Date Avaiable'}}
											   		 </p>			
												</div>
											  </li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div>
		<!--  Entity Results Wrapper Ends  -->

	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
	$(document).ready(function() {
		/*Custom Scroll Bar*/
		$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
			axis : "y"
		});
	});
</script>
