<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

	<div class="modal-header">
		<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
		<h4 class="modal-title">News Articles</h4>
	</div>
	<div class="modal-body">
		<!--  Entity Company Starts  -->
		<div class="entity-company-wrapper">
				<!--  Entity Results Wrapper Starts  -->
				<div class="container-fulid entity-results-wrapper">
					<div class="row entity-contents-wrapper">
						<div class="col-sm-12 entity-item news-wrapper social-media-results-wrapper">
							<div class="entity-result-item ">
								<div ng-show="newsArticlesData.length > 0">
									<ul class="media-list">
									  <li class="media" ng-repeat="newsData in newsArticlesData">
									    <div class="media-left">
										 <a href="{{newsData.link}}" target="_blank">
									      	<img class="image-object" ng-src="{{newsData.image != '' ?newsData.image:'static/images/dummy-logo.png'}}" />
<!-- 												<img class="image-object" ng-src="{{newsData.image||static/images/dummy-logo.png}}" /> -->
									      </a>
									    </div>
									    <div class="media-body">
									    	<h3 class="media-heading">
										      <a href="{{newsData.link}}" target="_blank">
										    	{{newsData.title}}
										      </a>
									    	</h3>
									    	<p class="post">
												<span class="date">Posted {{newsData.updatedOn | date : 'dd/MM/yyyy'}}</span>
									    		<button class="btn btn-circle" ng-click="showBstNamedEntity(newsData.details, newsData.title, newsData.link)" title="BST Visualizer">
	                								<img src="static/VLA/img/menu_icons/Entity_extract.png" width="15px" height="15px" alt="entityVisualizer">
	               								</button>
											</p>
									        <p class="description">
										        {{newsData.details}}
									         </p>	
									        <p class="description">
										        Source: {{newsData.source}}
									         </p>				
										</div>
									  </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--  Entity Results Wrapper Ends  -->
				
		</div>
		<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
