<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

	<div class="modal-header">
		<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
		<h4 class="modal-title">News Articles</h4>
	</div>
	<div class="modal-body">
		<!--  Entity Company Starts  -->
		<div class="entity-company-wrapper">
				<!--  Entity Results Wrapper Starts  -->
				<div class="container-fulid entity-results-wrapper ">
					<div class="row entity-contents-wrapper">
							
							<div class="col-md-12 entity-item social-media-results-wrapper">
								<div class="row entity-result-item">
									<div class="col-sm-6">
										<ul class="media-list">
											<li class="media">
												<div class="media-body media-middle">
													<p>Lorem Ipsum</p>
												</div>
											</li>
										</ul>							
									</div>
								    <div class="col-sm-6">
										<ul class="media-list">
											<li class="media">
												<div class="media-body media-middle">
													<p>Lorem Ipsum</p>
												</div>
											</li>
										</ul>
									</div>
									
								</div>
							</div>
	
					</div>
				</div>
				<!--  Entity Results Wrapper Ends  -->
				
		</div>
		<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
