<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">News</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="entity-result-item">
								<div class="badBuyersListWrapper">
									<ul class="media-list">
										<li class="media" ng-repeat="newsData in newsDeepWebData">
										    <div class="media-body">
										    	<h3 class="media-heading">
											      <a href="{{newsData.url}}" target="_blank">
											    	{{newsData.title}}
											      </a>
										    	</h3>
										    	
										    	
										    	<p>by {{newsData.name}}</p>
										    	<p class="post">
													<span class="date">Posted on {{newsData.postedOn | date : 'dd/MM/yyyy'}}</span>
												</p>
										        <p class="description">
											        {{newsData.details}}
										         </p>					
											</div>
									    </li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
