<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">Additional Details</h4>
</div>
<div class="modal-body">

	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">

		<!--  Entity Results Wrapper Starts  -->
		<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
			<div class="row entity-contents-wrapper">
				<div class="entity-contents-inner-wrapper">
					<div class="col-md-12 entity-item">
						<div class="entity-result-item" >
							<h3>Court Cost: </h3>
							<div class="" >
								<div  class="person-table-wrapper" >
									<table class="table associated-table">
										<tr>
											<td>Court Costs	:{{entitySearchResult.list['nashville_courtdetails']['court_costs'][0].court_costs}}</td>
											<td>Court Fines	:{{entitySearchResult.list['nashville_courtdetails']['court_costs'][0].court_fines}}</td>
											<td>Fines Special Condition	:{{entitySearchResult.list['nashville_courtdetails']['court_costs'][0].fines_special_condition}}</td>
											<td>Execution Amount : {{entitySearchResult.list['nashville_courtdetails']['court_costs'][0].court_fined}}</td>
											<td>Execution Date : {{entitySearchResult.list['nashville_courtdetails']['court_costs'][0].execution_date}}</td>
											<td>Total : {{entitySearchResult.list['nashville_courtdetails']['court_costs'][0].total || entitySearchResult.list['nashville_courtdetails']['court_costs'][0].total_owed}}</td>
										</tr>
									</table>
								</div>
							</div>
							<h3>Disposition  </h3>
							<div class="" >
								<div  class="person-table-wrapper" >
									<table class="table associated-table">
										<tr>
											<td>Case Number	:{{entitySearchResult.list['nashville_courtdetails']['disposition'][0].case_number}}</td>
											<td>Case Status	:{{entitySearchResult.list['nashville_courtdetails']['disposition'][0].case_status}}</td>
											<td>Case Type	:{{entitySearchResult.list['nashville_courtdetails']['disposition'][0].case_type}}</td>
											<td>Disposition Date: {{entitySearchResult.list['nashville_courtdetails']['disposition'][0].disposition_date}}</td>
											<td>Disposition: {{entitySearchResult.list['nashville_courtdetails']['disposition'][0].disposition}}</td>
											<td>Offense Type : {{entitySearchResult.list['nashville_courtdetails']['disposition'][0].offense_type}}</td>
											<td>Description : {{entitySearchResult.list['nashville_courtdetails']['disposition'][0].description}}</td>
										</tr>
									</table>
								</div>
							</div>
							<h3>Probation   </h3>
							<div class="" >
								<div  class="person-table-wrapper" >
									<table class="table associated-table">
										<tr>
											<td>Days :{{entitySearchResult.list['nashville_courtdetails']['probation'][0].days}}</td>
											<td>Months	:{{entitySearchResult.list['nashville_courtdetails']['probation'][0].months}}</td>
											<td>Probation Special Condition	:{{entitySearchResult.list['nashville_courtdetails']['probation'][0].probation_special_condition}}</td>
											<td>Probation Date: {{entitySearchResult.list['nashville_courtdetails']['probation'][0].probation_date}}</td>
											<td>Type : {{entitySearchResult.list['nashville_courtdetails']['probation'][0].type_}}</td>
											<td>Years: {{entitySearchResult.list['nashville_courtdetails']['probation'][0].years}}</td>
										</tr>
									</table>
								</div>
							</div>
							<h3>Incarceration   </h3>
							<div class="" >
								<div  class="person-table-wrapper" >
									<table class="table associated-table">
										<tr>
											<td>Date Released :{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0].date_released}}</td>
											<td>Date Suspended	:{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0].date_suspended}}</td>
											<td>Days :{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0].days}}</td>
											<td>Jail Credit :{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0].jail_credit}}</td>
											<td>Max Days :{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0].max_days}}</td>
											<td>Traffic Related :{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0].traffic_related}}</td>
										 </tr>
										 <tr>
											<td>Max years :{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0].max_years}}</td>
											<td>Minimum Years :{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0].minimum_years}}</td>
											<td>Months :{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0].months}}</td>
											<td>Posted Speed :{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0].posted_speed}}</td>
											 <td>Probation :{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0]['probation?']}}</td>
											<td>School :{{entitySearchResult.list['nashville_courtdetails']['incarceration'][0]['school?']}}</td> 
										</tr>
							</table>
								</div>
							</div>
					</div>

				</div>
			</div>
		</div>
		<!--  Entity Results Wrapper Ends  -->

	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
	$(document)
			.ready(
					function() {
						/*Custom Scroll Bar*/
						$(
								'.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
									axis : "y"
								});
					});
</script>
