<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Open Payments List</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="row entity-result-item">
								<div class="col-sm-6">
									<ul class="media-list">
										<li class="media" ng-repeat="entity in openPaymentsData">								    
										    <div class="media-body">	
										   		 <h3 class="media-heading">
											      <a href="javascript:void(0);">
											    	{{entity.name}}
											      </a>
										    	 </h3>
										   		 <p class="progress-text">
									   		 		 <h5 ng-if="entity.primary_specialty !== '' && entity.primary_specialty">{{entity.primary_specialty}}</h5>
									   		 		 <span ng-if="entity.program_year !== '' && entity.program_year">Program year: {{entity.program_year}}</span>
										   			 <span ng-if="(entity.address_line_1 !== '' && entity.address_line_1) || (entity.city !== '' && entity.city) || 
										   			 				(entity.country_name !== '' && entity.country_name)">Address: {{entity.address_line_1}} {{entity.city}} {{entity.country_name}}-{{entity.zipcode}}</span>
										   			 <span ng-if="entity.total_payment !== '' && entity.total_payment">Total Payment: {{entity.total_payment}}</span>
										   			 <span>Risk Score: {{entity.risk_score}}</span>
										   		 </p>			
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
