<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Organization List</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="entity-item">
							<div class=" entity-result-item">
								<ul class="row media-list">
									<li class="col-sm-6 media" ng-repeat="entity in organizationsData">								    
									    <div class="media-body">	
									   		 <h4 class="media-heading">
											      <a href="javascript:void(0);">
											    	{{entity.name}}({{entity.type}})
											      </a>
									    	 </h4>
							   		 		 <h3 >{{entity.title}}</h3>
									   		 <p class="progress-text">
									   			 <span class="date">Started on {{entity.startDate}}</span>
									   			 <span class="date">Ended on {{entity.endDate}}</span>
									   			 <span>Risk Score: {{entity.risk_score}}</span>
									   		 </p>		
										</div>
								   </li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
