<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">Additional Details</h4>
</div>
<div class="modal-body">

	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">

		<!--  Entity Results Wrapper Starts  -->
		<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
			<div class="row entity-contents-wrapper">
				<div class="entity-contents-inner-wrapper">
					<div class="col-md-12 entity-item">
						<div class="entity-result-item">
							<div class="secialities-wrapper">
								<h3  ng-if="entitySearchResult.person_more_info.early_life || entitySearchResult.person_more_info.early_life_and_education">Early life: </h3>
								<div class="row balance-data">
									<div class="col-sm-12" >
										<p class="progress-text">
											{{entitySearchResult.person_more_info.early_life || entitySearchResult.person_more_info.early_life_and_education}}
										</p>
									</div>
								</div>
							</div>
							<div class="secialities-wrapper">
								<h3 ng-if="entitySearchResult.person_more_info.personal_life">Personal Life: </h3>
								<div class="row balance-data">
									<div class="col-sm-12" >
										<p class="progress-text">
											{{entitySearchResult.person_more_info.personal_life}}
										</p>
									</div>
								</div>
							</div>
							<div class="secialities-wrapper">
								<h3 ng-if="entitySearchResult.person_more_info.political_views">Political Views: </h3>
								<div class="row balance-data">
									<div class="col-sm-12" >
										<p class="progress-text">
											{{entitySearchResult.person_more_info.political_views}}
										</p>
									</div>
								</div>
							</div>
							<div class="secialities-wrapper">
								<h3 ng-if="entitySearchResult.person_more_info.opinions">Opinions: </h3>
								<div class="row balance-data">
									<div class="col-sm-12" >
										<p class="progress-text">
											{{entitySearchResult.person_more_info.opinions}}
										</p>
									</div>
								</div>
							</div>
							<div class="secialities-wrapper">
								<h3 ng-if="entitySearchResult.person_more_info.subsidies">Subsidies: </h3>
								<div class="row balance-data">
									<div class="col-sm-12" >
										<p class="progress-text">
											{{entitySearchResult.person_more_info.subsidies}}
										</p>
									</div>
								</div>
							</div>
							<div >
								<h3 ng-if="entitySearchResult.list['citizenship'].length > 0">Citizenship: </h3>
								<div class="row balance-data">
									<div class="col-sm-4" ng-repeat="citizenship in entitySearchResult.list['citizenship']" >
										<p class="progress-text">
											{{citizenship}}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  Entity Results Wrapper Ends  -->

	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
	$(document)
			.ready(
					function() {
						/*Custom Scroll Bar*/
						$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
							axis : "y"
						});
					});
</script>
