<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

	<div class="modal-header">
		<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
		<h4 class="modal-title">Education</h4>
	</div>
	<div class="modal-body">
		<!--  Entity Company Starts  -->
		<div class="entity-company-wrapper">
				<!--  Entity Results Wrapper Starts  -->
				<div class="container-fulid entity-results-wrapper ">
					<div class="row entity-contents-wrapper">
							
							<div class="col-md-12 entity-item social-media-results-wrapper">
								<div class="entity-result-item">
									<div class="education-wrapper">
									  <div class="related-person-item">								
										<ul class="row">
										  <li class="col-sm-6 content-media-wrapper"  ng-repeat="entity in personEducation">
										    <div class="content-media">
											    <div class="content-media-left">
											      <a href="{{entity.url}}" target="_blank">
											      	<i class="fa fa-user-o" ng-if="entity.logo === ''"></i>
											      	<img ng-src="{{entity.logo}}" class="img-responsive" ng-if="entity.logo !== '' && entity.logo">
											      </a>
											    </div>
											    <div class="content-media-right">
											        <a href="javascript:void(0);" ng-click="openRelatedFun(entity.name)">{{entity.type}}</a>
											        <p>{{entity.school_name}}</p>							
												</div>
											 </div>
										   </li>
										 </ul>
									  </div>
								   </div>
								</div>
							</div>
	
					</div>
				</div>
				<!--  Entity Results Wrapper Ends  -->
				
		</div>
		<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
