<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

	<div class="modal-header">
		<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
		<h4 class="modal-title">INTERESTS</h4>
	</div>
	<div class="modal-body">
		<!--  Entity Company Starts  -->
		<div class="entity-company-wrapper">
				<!--  Entity Results Wrapper Starts  -->
				<div class="container-fulid entity-results-wrapper ">
					<div class="row entity-contents-wrapper">
							
							<div class="col-md-12 entity-item social-media-results-wrapper">
								<div class="entity-result-item">
									<div class="interests-wrapper">
										<div class="related-person-item">								
											<ul class="row media-list">
											  <li class="media col-sm-4" ng-repeat="entity in personInterests">
											    <div class="media-body">
											        <h3>{{entity.entity_name}}</h3>
											        <p>
											        	<span>{{entity.followers_count}}</span>
										        	</p>						
												</div>
											  </li>
											</ul>
										</div>
									</div>
								</div>
							</div>
	
					</div>
				</div>
				<!--  Entity Results Wrapper Ends  -->
				
		</div>
		<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
