<div class="modal-header">
		<button type="button" class="close" aria-hidden="true" ng-click="closeModal()">
			<span>&#x2716;</span>
		</button>
		<h4 class="modal-title">{{metStatus}} Question List</h4>
	</div>
	<div class="modal-body">
	
		<!--  Entity Company Starts  -->
		<div class="">
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
	
					<div class="badBuyersListWrapper custom-data-table-wrapper">
						<table class="table scroll-table striped-table full-width border-b0 table-scroll" ng-class="metStatus == 'iso'? 'overview-five-col' :'overview-four-col'">
							<thead>
								<tr>
									<th ng-if="metStatus == 'iso' ? sectionhead = 'ISO Section' : sectionhead = 'Topic'">{{sectionhead}}</th>
									<th ng-if="metStatus == 'iso'">ISO Code</th>
									<th>Question</th>
									<th ng-if="metStatus == 'topic'">Status</th>
									<th ng-if="metStatus == 'topic'">ISO Mapping</th>
									<th ng-if="metStatus == 'iso'">Answer</th>
									<th ng-if="metStatus == 'iso'">Requirement Met</th>
								</tr>
							</thead>
							<tbody id="questionsTable" ng-class="questionsList.length != 0 ? 'mxh-300 p-rel' :'mxh-100 p-rel mnh-100px'" class="p-rel">
								<tr ng-repeat="item in questionsList" ng-if="questionsList.length > 0">
									<td ng-if="metStatus == 'iso' ? sectionData = item.contentData.level3Title : sectionData = item.contentData.topic">{{sectionData}}</td>
									<td ng-if="metStatus == 'iso'">
										<a ng-click="goToQuestionnaireTab(item.contentData.questionId)" class="text-dark-cream ws-normal">{{item.contentData.primaryIsoCode }}</a>
									</td>
									<td>
										<a ng-click="goToQuestionnaireTab(item.contentData.questionId)" class="text-dark-cream ws-normal">{{item.contentData.question || '-'}}</a>
									</td>
									<td ng-if="metStatus == 'topic'">{{(item.contentData.evaluation == 'not_met_at_all' || item.contentData.evaluation == 'not_met') ? 'not met' : item.contentData.evaluation == 'no_info' ? 'no info' : item.contentData.evaluation == 'not_applicable' ? 'not applicable' : item.contentData.evaluation}}</td>
									<td ng-if="metStatus == 'topic'">{{item.contentData.level1Code}}</td>
									<td ng-if="metStatus == 'iso'">{{item.contentData.answer || '-'}}</td>
									<td ng-if="metStatus == 'iso'">{{(item.contentData.evaluation == 'not_met_at_all' || item.contentData.evaluation == 'not_met') ? 'not met' : item.contentData.evaluation == 'no_info' ? 'no info' : item.contentData.evaluation == 'not_applicable' ? 'not applicable' : item.contentData.evaluation}}</td>
								</tr>
								<tr ng-if="questionsList.length == 0">
									<td class="no-data text-center no-data-wrapper">Data not found</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
	
		</div>
		<!--  Entity Company Ends  -->
	</div>