<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">News Blog Details</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper replies-content-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="entity-result-item">
								<ul class="media-list message-head">
									<li class="media">	
									  	<p class="media-heading">
									      <a class="custom-school" title="{{entity.name}}" href="javascript:void(0);">
									    	{{entity.name}}
									      </a>
									      <a class="custom-school" title="{{entity.title}}">
									    	{{entity.title}}
									      </a>
								    	</p>
								   		 <p class="progress-text" title="Dated: {{entity.date}}">
								   			 Posted on: {{entity.date | date : 'dd-MM-yyyy'}}
								   		 </p>	
								   		 <p class="progress-text" title="Details: {{entity.question}}">
								   			 Question: {{entity.question}}
								   		 </p>
								   		 <p class="progress-text" title="Details: {{entity.details}}">
								   			 Details: {{entity.details}}
								   		 </p>	
								   		 <p class="progress-text" title="Risk Score: {{entity.risk_score}}">
								   			 Risk Score: {{entity.risk_score}}
								   		 </p>
								  	</li>
								</ul>
								<p class="replies-count" ng-if="entity['answers'].length > 0">Answers ({{entity['answers'].length}})</p>							
								<div class="message-replies-wrapper">
									<ul class="media-list replies-head">
									  <li class="media" ng-repeat="answer in entity['answers']">								     -->
									    <div class="media-body">
									   		 <p class="description">
										        {{answer.answer}}
									         </p>		
									   		 <p class="progress-text">
									   			 <span>By {{answer.answer_by || 'NA'}} on {{answer.answerd_date | date : 'dd-MM-yyyy'}} </span>
									   			 <span>Risk Score : {{answer.risk_score}} </span>
									   		 </p>			
										</div>
										<p class="replies-count" ng-if="answer['comments'].length > 0">Comments ({{answer['comments'].length}})</p>							
										<div class="message-replies-wrapper">
											<ul class="media-list replies-head">
											  <li class="media" ng-repeat="comment in answer['comments']">								     -->
											    <div class="media-body">
											   		 <p class="description">
												        {{comment.text}}
											         </p>		
											   		 <p class="progress-text">
											   			 <span>By {{comment.comment_by || 'NA'}} on {{comment.date | date : 'dd-MM-yyyy'}} </span>
											   			 <span>Risk Score : {{comment.risk_score}} </span>
											   		 </p>			
												</div>
											  </li>
											</ul>
										</div>
									  </li>
									</ul>
								</div>	
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item .message-replies-wrapper').mCustomScrollbar({
		axis : "y"
	});
});
</script>
