<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

<div class="modal-header">
	<button type="button" class="close" ng-click="closeModal()" aria-hidden="true"><span>&#x2716;</span></button>
	<h4 class="modal-title">Related Person</h4>
</div>

<div class="modal-body">
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
		<!--  Entity Results Wrapper Starts  -->
		<div class="container-fulid entity-results-wrapper">
			<div class="row entity-contents-wrapper">
			
					<!--  Related Person Starts  -->
					<div class="col-md-12 entity-item related-person-main-wrapper">
						<div class="row">
							<div class="col-sm-12">
								<!--  Nav Tabs Starts  -->
								<ul class="nav nav-tabs custom-nav-tabs" role="tablist">
									<li ng-class="{'active': relatedPersonTab === 'key Person'}"><a href ng-click="onClickRelatedPersonTab('key Person')">Persons</a></li>
								    <li ng-class="{'active': relatedPersonTab === 'Company Key Executives'}"><a href ng-click="onClickRelatedPersonTab('Company Key Executives')">Executives</a></li>
								    <li ng-class="{'active': relatedPersonTab === 'Company Boardmembers'}"><a href ng-click="onClickRelatedPersonTab('Company Boardmembers')">Boardmembers</a></li>
								    <li ng-class="{'active': relatedPersonTab === 'Company Members'}"><a href ng-click="onClickRelatedPersonTab('Company Members')">Company Members</a></li>
								    <li ng-class="{'active': relatedPersonTab === 'Others'}"><a href ng-click="onClickRelatedPersonTab('Others')">Others</a></li>
								</ul>
								<!--  Nav Tabs Ends  -->
							</div>
						</div>
						
			
						<!--  Tab Panes Starts  -->
						<div class="tab-content custom-tab-content entity-result-item">
							<div class="tab-pane" ng-class="{'active': relatedPersonTab === 'key Person'}" id="key-person" ng-if="relatedPersonTab === 'key Person'">
								<div class="related-person-wrapper">
									<h3>Key Persons</h3>
										<div class="row">
											<div class="col-sm-6 related-person-item">
												<div class="related-person-inner-wrapper" ng-repeat="entity in entityKeyPersonList" ng-if="$index < (entityKeyPersonList.length / 2)">
													<ul class="media-list">
														<li class="media">
															<div class="media-left">
																<a href="javascript:void(0);"><i class="fa fa-user-o"></i></a>
															</div>
															<div class="media-body">
																<h3 class="media-heading">{{entity.name}}</h3>
																<p class="post">{{entity.designation}}</p>
																<p class="post">Source: {{entity.source}}</p>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-sm-6 related-person-item">
													<div class="related-person-inner-wrapper" ng-repeat="entity in entityKeyPersonList" ng-if="$index >= (entityKeyPersonList.length / 2)">
													<ul class="media-list">
														<li class="media">
															<div class="media-left">
																<a href="javascript:void(0);"><i class="fa fa-user-o"></i></a>
															</div>
															<div class="media-body">
																<h3 class="media-heading">{{entity.name}}</h3>
																<p class="post">{{entity.designation}}</p>
																<p class="post">Source: {{entity.source}}</p>
															</div>
														</li>
													</ul>
												</div>
											</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" ng-class="{'active': relatedPersonTab === 'Company Key Executives'}" id="company-key-executives" ng-if="relatedPersonTab === 'Company Key Executives'">
								<div class="related-person-wrapper">
									<h3>Company Key Executives</h3>
										<div class="row">
											<div class="col-sm-6 related-person-item">
												<div class="related-person-inner-wrapper" ng-repeat="entity in entityCompanyKeyExecutiveList" ng-if="$index < (entityCompanyKeyExecutiveList.length / 2)">
													<ul class="media-list">
														<li class="media">
															<div class="media-left">
																<a href={{entity.website}} target="_blank"><i class="fa fa-user-o"></i></a>
															</div>
															<div class="media-body">
																<h3 class="media-heading">{{entity.name}}</h3>
																<p class="post">{{entity.designation}}</p>
																<p class="post">Source: {{entity.source}}</p>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-sm-6 related-person-item">
												<div class="related-person-inner-wrapper" ng-repeat="entity in entityCompanyKeyExecutiveList" ng-if="$index >= (entityCompanyKeyExecutiveList.length / 2)">
													<ul class="media-list">
														<li class="media">
															<div class="media-left">
																<a href={{entity.website}} target="_blank"><i class="fa fa-user-o"></i></a>
															</div>
															<div class="media-body">
																<h3 class="media-heading">{{entity.name}}</h3>
																<p class="post">{{entity.designation}}</p>
																<p class="post">Source: {{entity.source}}</p>
															</div>
														</li>
													</ul>
												</div>
											</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" ng-class="{'active': relatedPersonTab === 'Company Boardmembers'}" id="company-boardmembers" ng-if="relatedPersonTab === 'Company Boardmembers'">
								<div class="related-person-wrapper">
									<h3>Company Boardmembers</h3>
										<div class="row">
											<div class="col-sm-6 related-person-item">
												<div class="related-person-inner-wrapper" ng-repeat="entity in entityBoardmemberList" ng-if="$index < (entityBoardmemberList.length / 2)">
													<ul class="media-list">
														<li class="media">
															<div class="media-left">
																<a href="{{entity.website}}" target="_blank"><i class="fa fa-user-o"></i></a>
															</div>
															<div class="media-body">
																<h3 class="media-heading">{{entity.name}}</h3>
																<p class="post">{{entity.designation}}</p>
																<p class="post">Source: {{entity.source}}</p>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-sm-6 related-person-item">
												<div class="related-person-inner-wrapper" ng-repeat="entity in entityBoardmemberList" ng-if="$index >= (entityBoardmemberList.length / 2)">
													<ul class="media-list">
														<li class="media">
															<div class="media-left">
																<a href="{{entity.website}}" target="_blank"><i class="fa fa-user-o"></i></a>
															</div>
															<div class="media-body">
																<h3 class="media-heading">{{entity.name}}</h3>
																<p class="post">{{entity.designation}}</p>
																<p class="post">Source: {{entity.source}}</p>
															</div>
														</li>
													</ul>
												</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" ng-class="{'active': relatedPersonTab === 'Company Members'}" id="company-members" ng-if="relatedPersonTab === 'Company Members'">
								<div class="related-person-wrapper">
									<h3>Company Members</h3>
										<div class="row">
											<div class="col-sm-6 related-person-item">
												<div class="related-person-inner-wrapper" ng-repeat="entity in entityCompanyMemebrs" ng-if="$index < (entityCompanyMemebrs.length / 2)">
													<ul class="media-list">
														<li class="media">
															<div class="media-left">
																<a href="javascript:void(0);"><i class="fa fa-user-o"></i></a>
															</div>
															<div class="media-body">
																<h3 class="media-heading">{{entity.name}}</h3>
																<p class="post">{{entity.description}}</p>
																<p class="post">Status: {{entity.status}}</p><p class="post">Source: {{entity.source}}</p>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-sm-6 related-person-item">
												<div class="related-person-inner-wrapper" ng-repeat="entity in entityCompanyMemebrs" ng-if="$index >= (entityCompanyMemebrs.length / 2)">
													<ul class="media-list">
														<li class="media">
															<div class="media-left">
																<a href="javascript:void(0);"><i class="fa fa-user-o"></i></a>
															</div>
															<div class="media-body">
																<h3 class="media-heading">{{entity.name}}</h3>
																<p class="post">{{entity.description}}</p>
																<p class="post">Status: {{entity.status}}</p><p class="post">Source: {{entity.source}}</p>
															</div>
														</li>
													</ul>
												</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" ng-class="{'active': relatedPersonTab === 'Others'}" id="others" ng-if="relatedPersonTab === 'Others'">
								<div class="related-person-wrapper">
									<h3>Others</h3>
										<div class="row">
											<div class="col-sm-6 related-person-item">
												<div class="related-person-inner-wrapper" ng-repeat="entity in entityOtherMemberList" ng-if="$index < (entityOtherMemberList.length / 2)">
													<ul class="media-list">
														<li class="media">
															<div class="media-left">
																<a href={{entity.link}} target="_blank"><i class="fa fa-user-o"></i></a>
															</div>
															<div class="media-body">
																<h3 class="media-heading">{{entity.name}}</h3>
																<p class="post">{{entity.designation}}</p>
																<p class="post">Source: {{entity.source}}</p>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-sm-6 related-person-item">
												<div class="related-person-inner-wrapper" ng-repeat="entity in entityOtherMemberList" ng-if="$index >= (entityOtherMemberList.length / 2)">
													<ul class="media-list">
														<li class="media">
															<div class="media-left">
																<a href={{entity.link}} target="_blank"><i class="fa fa-user-o"></i></a>
															</div>
															<div class="media-body">
																<h3 class="media-heading">{{entity.name}}</h3>
																<p class="post">{{entity.designation}}</p>
																<p class="post">Source: {{entity.source}}</p>
															</div>
														</li>
													</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--  Tab Panes Ends  -->			
					
					</div>
					<!--  Related Person Ends  -->
				
			</div>
		</div>
		<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
	
</div>

<script>
$(document).ready(function() {
	/*--  Custom Scroll Bar  --*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>