<div class="modal-header">
	<button type="button" class="close" ng-click="closeModal()" aria-hidden="true"><span>&#x2716;</span></button>
	<h4 class="modal-title">Related Organization</h4>
</div>

<div class="modal-body">
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
		<!--  Entity Results Wrapper Starts  -->
		<div class="container-fulid entity-results-wrapper">
			<div class="row entity-contents-wrapper">
			
					<!--  Related Organization Starts  -->
					<div class="col-md-12 entity-item related-person-main-wrapper">
						<div class="row">
							<div class="col-sm-12">
								<!--  Nav Tabs Starts  -->
								<ul class="nav nav-tabs custom-nav-tabs" role="tablist">
									<li ng-class="{'active': relatedOrgTab === 'Membership'}"><a href ng-click="onClickRelatedOrgTab('Membership')">Membership</a></li>
								    <li ng-class="{'active': relatedOrgTab === 'Board Membership'}"><a href ng-click="onClickRelatedOrgTab('Board Membership')">Board Memberships</a></li>
								</ul>
								<!--  Nav Tabs Ends  -->
							</div>
						</div>
						
			
						<!--  Tab Panes Starts  -->
						<div class="tab-content custom-tab-content entity-result-item">
							<div class="tab-pane" ng-class="{'active': relatedOrgTab === 'Membership'}" id="membership" ng-if="relatedOrgTab === 'Membership'">
								<div class="related-person-wrapper">
									<h3>Membership</h3>
									<div class="row">
										<div class="col-sm-12 related-person-item">
											<div class="related-person-inner-wrapper" ng-repeat="entity in entityMembershipList">
												<ul class="media-list">
													<li class="media">
														<div class="media-body">
															<h3 class="media-heading">{{entity.name}}</h3>
															<p class="post">Position: {{entity.position}}</p>
															<p class="post">Source: {{entity.source}}</p>
															<p class="post">Risk Score: {{entity.risk_score}}</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>	
							<div class="tab-pane" ng-class="{'active': relatedOrgTab === 'Board Membership'}" id="board-membership" ng-if="relatedOrgTab === 'Board Membership'">
								<div class="related-person-wrapper">
									<h3>Board Membership</h3>
									<div class="row">
										<div class="col-sm-12 related-person-item">
											<div class="related-person-inner-wrapper" ng-repeat="entity in entityBoardMembershipList">
												<ul class="media-list">
													<li class="media">
														<div class="media-body">
															<h3 class="media-heading">{{entity.name}}</h3>
															<p class="post">Source: {{entity.source}}</p>
															<p class="post">Risk Score: {{entity.risk_score}}</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>						
						</div>
						<!--  Tab Panes Ends  -->			
					
					</div>
					<!--  Related Organization Ends  -->
				
			</div>
		</div>
		<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
	
</div>

<script>
$(document).ready(function() {
	/*--  Custom Scroll Bar  --*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>