<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->
<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Related Person</h4>
</div>
<div class="modal-body">
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
		<!--  Entity Results Wrapper Starts  -->
		<div class="container-fulid entity-results-wrapper">
			<div class="row entity-contents-wrapper">
			
					<!--  Related Person Starts  -->
					<div class="col-md-12 entity-item related-person-main-wrapper">
						<div class="row">
							<div class="col-sm-4"><h3></h3></div>
							<div class="col-sm-8">								
								  <!--  Nav Tabs Starts  -->
								  <ul class="nav nav-tabs custom-nav-tabs" role="tablist">
								    <li ng-show="entityKeyPersonList.length > 0" ng-class="{'active': relatedPersonTab === 'key Person'}"><a href ng-click="onClickRelatedPersonTab('key Person')">Persons</a></li>
								    <li ng-show="entityCoworkersList.length > 0" ng-class="{'active': relatedPersonTab === 'coworkers'}"><a href ng-click="onClickRelatedPersonTab('coworkers')">Coworkers</a></li>
								    <li ng-show="entityKeyExecutiveList.length > 0" ng-class="{'active': relatedPersonTab === 'executives'}"><a href ng-click="onClickRelatedPersonTab('executives')">Executives</a></li>
						    		<li ng-show="entityBoardmemberList.length > 0" ng-class="{'active': relatedPersonTab === 'boardmembers'}"><a href ng-click="onClickRelatedPersonTab('boardmembers')">Boardmembers</a></li>
								  </ul>
								   <!--  Nav Tabs Ends  -->									   
							</div>
						</div>
						<div class="entity-result-item custom-result-item">								
						  <!--  Tab Panes Starts  -->
						  <div class="tab-content custom-tab-content">
						    <div class="tab-pane" ng-class="{'active': relatedPersonTab === 'key Person'}" id="key-person" ng-if="relatedPersonTab === 'key Person'">
						      <div class="related-person-wrapper">
								<div class="related-person-item">								
									<ul class="row media-list">
									  <li class="col-sm-6 media"  ng-repeat="entity in entityKeyPersonList">
									    <div class="media-left">
									      <a href="javascript:void(0);"><i class="fa fa-user-o"></i></a>
									    </div>
									    <div class="media-body">
									        <h3 class="media-heading"><a href="javascript:void(0);">{{entity.full_name}}</a></h3>
							        		<p class="progress-text">
							        			<span>Address:</span>
								        		<span>{{entity.address_city}}</span>
								        		<span>{{entity.address_reigon}}</span>
								        		<span>- {{entity.postal_code}}</span>
							        		</p>
							        		<p>
									        	<span>Risk Score: {{entity.risk_score}}</span>	
									        <p>
									        	<span>Source: {{entity.source}}</span>		
									        </p>					        							
										</div>
									  </li>
									</ul>
								</div>
							  </div>
					        </div>
						    <div class="tab-pane" ng-class="{'active': relatedPersonTab === 'coworkers'}" id="coworkers" ng-if="relatedPersonTab === 'coworkers'">
							  <div class="related-person-wrapper">
								<div class="related-person-item">								
									<ul class="row media-list">
									  <li class="col-sm-6 media"  ng-repeat="entity in entityCoworkersList" style="margin-top: 15px;">
									    <div class="media-body">
									        <h3 class="media-heading"><a href="javascript:void(0);">{{entity.name}}</a></h3>
									        <p>
									        	<span>Risk Score: {{entity.risk_score}}</span>
									        </p>
									        <p>
									        	<span>Source: {{entity.source}}</span>		
								        	</p>		
										</div>
									  </li>
									</ul>
								</div>
							  </div>
							</div>
							<div class="tab-pane" ng-class="{'active': relatedPersonTab === 'executives'}" id="company-key-executives" ng-if="relatedPersonTab === 'executives'">
							  <div class="related-person-wrapper">
								<div class="related-person-item">								
									<ul class="row media-list">
									  <li class="col-sm-6 media" ng-repeat="entity in entityKeyExecutiveList">
									    <div class="media-left">
									      <a href={{entity.website}} target="_blank"><i class="fa fa-user-o"></i></a>
									    </div>
									    <div class="media-body">
									        <h3 class="media-heading"><a href="javascript:void(0);" ng-click="openRelatedFun(entity.name)">{{entity.name}}</a></h3>
									        <p>{{entity.designation}}</p>						
										</div>
									  </li>
									</ul>
								</div>
							  </div>
							</div>
						    <div class="tab-pane" ng-class="{'active': relatedPersonTab === 'boardmembers'}" id="company-boardmembers" ng-if="relatedPersonTab === 'boardmembers'">
							  <div class="related-person-wrapper">
								<div class="related-person-item">								
									<ul class="row media-list">
									  <li class="col-sm-6 media" ng-repeat="entity in entityBoardmemberList">
									    <div class="media-left">
									      <a href={{entity.website}} target="_blank"><i class="fa fa-user-o"></i></a>
									    </div>
									    <div class="media-body">
									        <h3 class="media-heading"><a href="javascript:void(0);" ng-click="openRelatedFun(entity.name)">{{entity.name}}</a></h3>
									        <p>{{entity.designation}}</p>						
										</div>
									  </li>
									</ul>
								</div>
							  </div>
							</div>		
						  </div>
						</div>
					</div>
					<!--  Related Person Ends  -->
				
			</div>
		</div>
		<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
	
</div>

<script>
$(document).ready(function() {
	/*--  Custom Scroll Bar  --*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>