<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

<div class="modal-body">
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-result-item">
						<div class="main-content-descriptio">
							<p>Would you like to search for {{personOrgData}}</p>
						</div>
					</div>	
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<div class="modal-footer">
	<div class="modal-btn-wrapper">
		<button type="button" class="btn btn-cancel btn-default" ng-click="closeModal()" aria-hidden="true">Cancel</button>
		<button type="button" class="btn btn-update" ng-click="ok()" aria-hidden="true">Ok</button>
	</div>
</div>