<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Related Organization</h4>
</div>
<div class="modal-body">

	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper">
				<div class="row entity-contents-wrapper">
						
						<!--  Related Organization Starts  -->
						<div class="col-md-12 entity-item related-company-main-wrapper">
							<div class="entity-result-item">
								<div ng-show="relatedOrganizationData.length > 0">
									<div class="row">
										<div class="col-sm-6" ng-repeat="entity in relatedOrganizationData track by $index">
											<ul class="media-list">
												<li class="media">
													<div class="media-left media-middle">
														<a href="javascript:void(0);"><i class="fa fa-briefcase"></i></a>
													</div>
													<div class="media-body media-middle">
														<p>{{entity.name}}</p>
														<p>Source: {{entity.source}}</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--  Related Organization Ends  -->

				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*--  Custom Scroll Bar  --*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>