<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Scam Report Details</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper replies-content-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="entity-result-item">
								<ul class="media-list message-head">
									<li class="media">	
									  	<h2 class="media-heading">{{entity['root'].title}}</h2>									    
									    <div class="media-body">
									   		 <p class="progress-text">
									   			 <span>Reported By : {{entity['root'].reported_by}} </span>
									   			 <span>Reported Time : {{entity['root'].report_time}} </span>
									   			 <span>URL : "<a href="{{entity['root'].url}}" target="_black">{{entity['root'].url}}</a>"</span>
									   			 <span>Risk Score : {{entity['root'].risk_score}} </span>
									   			 <span>Source : {{entity.source}} </span>
									   		 </p>			
<!-- 									   		 <p class="description"> -->
<!-- 										        {{entity['root'].body}} -->
<!-- 									         </p> -->
										</div>
								  	</li>
								</ul>
								<p class="replies-count" ng-if="entity['replies'].length > 0">Replies ({{entity['replies'].length}})</p>							
								<div class="message-replies-wrapper">
									<ul class="media-list replies-head">
									  <li class="media" ng-repeat="entity in entity['replies']">		
<!-- 									  	<h3 class="media-heading">{{entity.title}}</h3>										     -->
									    <div class="media-body">
									   		 <p class="description">
										        {{entity.body}}
									         </p>		
									   		 <p class="progress-text">
									   			 <span>By {{entity.reported_by}} on {{entity.report_time}} </span>
									   			 <span>Risk Score : {{entity.risk_score}} </span>
									   		 </p>			
										</div>
									  </li>
									</ul>
								</div>	
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item .message-replies-wrapper').mCustomScrollbar({
		axis : "y"
	});
});
</script>
