<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Sanctions Search List</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="entity-result-item">
								<div class="badBuyersListWrapper">
									<ul class="media-list">
										<li class="col-sm-6 media" ng-repeat="entity in sanctionssearchData">								    
										    <div class="media-body">	
										   		 <h3 class="media-heading">
											        <a title="{{entity.name}}" href="{{entity.url}}" target="_blank">
											    	  {{entity.name}}<span ng-if="entity.aliases !== ''">({{entity.aliases}})</span>
											        </a>
										    	 </h3>
										   		 <p class="progress-text">
									   		 		 <span ng-if="value !== ''" ng-repeat="(key, value) in entity.properties">{{key}}: {{value}}</span>
										   		 </p>		
											</div>
											<div class="media-body" ng-if="entity.identification.length > 0">	
										   		 <h3 class="media-heading">
											        Identification
										    	 </h3>
										   		 <p class="progress-text" ng-repeat="identification in entity.identification">
									   		 		 <span ng-if="identification.type !== '' && identification.type">Type : {{identification.type}}</span>
									   		 		 <span ng-if="identification.country !== '' && identification.country">Country : {{identification.country}}</span>
									   		 		 <span ng-if="identification.expire_date !== '' && identification.expire_date">Expire Date : {{identification.expire_date}}</span>
									   		 		 <span ng-if="identification.issue_date !== '' && identification.issue_date">Issue Date : {{identification.issue_date}}</span>
									   		 		 <span ng-if="identification.id !== '' && identification.id">Id Number : {{identification.id}}</span>
									   		 		 <span ng-if="identification.risk_score !== '' && identification.risk_score">Risk Score : {{identification.risk_score}}</span>
										   		 </p>		
											</div>
											<div class="media-body" ng-if="entity.addresses.length > 0">	
										   		 <h3 class="media-heading">
											        Addresses
										    	 </h3>
										   		 <p class="progress-text" ng-repeat="address in entity.addresses">
									   		 		 {{address.key}} : {{address.address}}
										   		 </p>		
											</div>
									    </li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
