<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Scam Website List</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="entity-result-item">
								<div class="domainsCompany">
									<ul class="row media-list">
										<li class="col-sm-6 media" ng-repeat="entity in scamWebsiteListData">								    
										    <div class="media-body">
									   			 <p>{{entity.name}}</p>
										   		 <p class="progress-text">
										   			 <span>Risk Score: {{entity.risk_score}}</span>
										   		 </p>			
											</div>
									    </li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
