<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Scam Report</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="row entity-result-item">
								<div class="col-sm-6">
									<ul class="media-list">
										<li class="media" ng-repeat="entity in scamReportData">	
										  	<h3 class="media-heading">
										      <a href="{{entity['root'].url}}" target="_black">
										    	{{entity['root'].title}}
										      </a>
									    	</h3>									    
										    <div class="media-body viewMoreReplies clearfix">
										   		 <p class="row progress-text" ng-if="entity['root'].report_time !== '' && entity['root'].report_time">
										   			 <span class="col-sm-4">Reported Time</span><span class="col-sm-8"> : {{entity['root'].report_time}} </span>
									   			 </p>
									   			 <p class="row progress-text" ng-if="entity['root'].reported_by !== '' && entity['root'].reported_by">
										   			 <span class="col-sm-4">Reported By</span><span class="col-sm-8"> : {{entity['root'].reported_by}} </span>
									   			 </p>
									   			 <p class="row progress-text" ng-if="entity['root'].risk_score !== '' && entity['root'].risk_score">
										   			 <span class="col-sm-4">Risk Score</span><span class="col-sm-8"> : {{entity['root'].risk_score}} </span>
										   		 </p>			
										   		 <p class="description" ng-if="entity['root'].body !== '' && entity['root'].body">
											        {{entity['root'].body}}
										         </p>
										         <a class="pull-right" href ng-click="onViewClickReplies($index)">View Replies({{entity['replies'].length}})</a>		
											</div>
									    </li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
