<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Sex Offenders List</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="entity-item">
							<div class="entity-result-item">
								<div class="badBuyersListWrapper">
									<ul class="row media-list">
									  <li class="col-sm-6 media"  ng-repeat="entity in sexOffendersPersonData">	
									  	<h3 class="media-heading">
									      <a href="javascript:void(0);">
									    	{{entity.name}}
									      </a>
								    	</h3>							    
									    <div class="media-body">	
									   		 <p class="row progress-text custom-colon-section" ng-repeat="(key, value) in entity" ng-if="key !== name">
									   			 <span class="col-sm-4">{{key}}</span>
									   			 <span class="col-sm-8"><small class="custom-colon">:</small>{{value}} </span>
									   		 </p>		
										</div>
									  </li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
