<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Social Media Articles</h4>
</div>

<div class="modal-body">
	<!--  Entity Company Content Starts  -->
		<div class="entity-company-wrapper"> 
			
					<!--  Entity Results Wrapper Starts  -->
					<div class="container-fulid entity-results-wrapper">
						<!--  Social Media Wrapper Starts  -->
						<div class="row entity-contents-wrapper">
						
								<div class="col-md-12 entity-item news-wrapper">
									<div class="row">
										<div class="col-sm-4 social-media-title"><h3>Social Media</h3></div>
									</div>				
									<div class="clearfix">
										<uib-tabset active="socialMediaActiveCount">
										    <uib-tab index="0" heading="Twitter" ng-show="entityTwitterList.length > 0">
												<div class="tab-content custom-tab-content entity-result-item custom-result-item">
											    	<div class="tab-pane active" id="all">
												    	<ul class="media-list">
														  <li class="media" ng-repeat="twitterData in entityTwitterList">
														    <div class="media-left">
															      <a href="javascript:void(0);" >
															      	<img class="image-object" ng-src="{{twitterData.image || 'static/images/trans_twiiter_pic.png'}}" />
															      </a>
														    </div>
														    <div class="media-body">
															    <h3 class="media-heading">
															      <a href="javascript:void(0);" target="_blank">
															    	{{twitterData.title}}
															      </a>
														    	</h3>
														   		 <p class="progress-text">
														   			 <span class="date">Created on {{twitterData.createdOn | date : 'dd/MM/yyyy'}}</span>
														   			 <i class="fa fa-retweet" aria-hidden="true"></i>
														   		 	 <span class="badge count">{{twitterData.retweetCount}}</span>
														   		 </p>	
														   		 <p class="description">
															        {{twitterData.text}}
														         </p>			
															</div>
														  </li>
														</ul>
											    	</div>
											  	</div>
											</uib-tab>
										    <uib-tab index="1" heading="Instagram" ng-show="entityInstagramList.length > 0">
												<div class="tab-content custom-tab-content entity-result-item custom-result-item">
											    	<div class="tab-pane active" id="all">
												    	<ul class="media-list">
														  <li class="media" ng-repeat="instagramData in entityInstagramList">
														    <div class="media-left">
														      <a href="javascript:void(0);" >
														      	<img class="image-object" ng-src="{{instagramData.image || 'https://tctechcrunch2011.files.wordpress.com/2017/08/gettyimages-692915429.jpg?w=150'}}" />
														      </a>
														    </div>
														    <div class="media-body">
															    <h3 class="media-heading">
															      <a href="javascript:void(0);" target="_blank">
															    	{{instagramData.name}}
															      </a>
														    	</h3>
														   		 <p class="progress-text">
														   			 <a class="icon" href="javascript:void(0);">Following</a>
														   		 	 <span class="badge count">{{instagramData.followingCount}}</span>
														   		 	 <a class="icon" href="javascript:void(0);">Followers</a>
														   		 	 <span class="badge count">{{instagramData.followersCount}}</span>
														   		 </p>
														   		 <p class="description">
															        {{instagramData.caption}}
														         </p>	
														   		 <a href="javascript:void(0);">
															      	<img class="image-responsive" ng-src="{{instagramData.thumbnail || 'https://tctechcrunch2011.files.wordpress.com/2017/08/gettyimages-692915429.jpg?w=150'}}" />
															      </a>			
															</div>
														  </li>
														</ul>
											    	</div>
											  	</div>
											</uib-tab>
										    <uib-tab index="2" heading="Google Plus" ng-show="entityGooglePlusList.length > 0">
										    	<div class="tab-content custom-tab-content entity-result-item custom-result-item">
											    	<div class="tab-pane active" id="all">
												    	<ul class="media-list">
														  <li class="media" ng-repeat="googlePlusData in entityGooglePlusList">
														    <div class="media-left">
															      <a href="{{googlePlusData.url}}" target="_blank">
															      	<img class="image-object" ng-src="{{googlePlusData.coverPhoto || 'https://tctechcrunch2011.files.wordpress.com/2017/08/gettyimages-692915429.jpg?w=150'}}" />
															      </a>
														    </div>
														    <div class="media-body">
															    <h3 class="media-heading">
															      <a href="javascript:void(0);" target="_blank">
															    	{{googlePlusData.name}}
															      </a>
														    	</h3>
														   		 <p class="progress-text">
														   			 <span class="date">Published on {{googlePlusData.publishedDate | date : 'dd/MM/yyyy'}}</span>
														   			 <span class="date">Last Updated on {{googlePlusData.lastUpdatedDate | date : 'dd/MM/yyyy'}}</span>
														   		 </p>	
														   		 <p class="description">
															        {{googlePlusData.title}}
														         </p>			
															</div>
														  </li>
														</ul>
											    	</div>
											  	</div>
										    </uib-tab>										    								    
										</uib-tabset>
									</div>							
									
								</div>
							
						</div>
						<!--  Social Media Wrapper Ends  -->
				</div>
					<!--  Entity Results Wrapper Ends  -->
		
		</div>
		<!--  Entity Company Content Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
