<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">Additional Details</h4>
</div>
<div class="modal-body">

	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">

		<!--  Entity Results Wrapper Starts  -->
		<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
			<div class="row entity-contents-wrapper">
				<div class="entity-contents-inner-wrapper">
					<div class="col-md-12 entity-item">
						<div class="entity-result-item" >
							<h3 class="pull-right">Following: </h3>
							<div class="row" >
								<div  class="col-sm-12">
									<div class="person-table-wrapper" style="padding: 0 15px">
										<div class="row">
										<ul class="col-sm-4 media-list" ng-repeat="tweets in entitySearchResult.list['following']">
											<li class="media">
												<div class="recent-tweet">
													<div class="tweet-bio">
														<div class="tweet-bio-dp">
															<img class="image-object" ng-src="{{ tweets.image || 'assets/images/twitter/andrew.jpg'}}" />
														</div>
														<div class="tweet-bio-details">
															<h5>{{tweets.name}}</h5>
															<p>@{{tweets.screen_name}}</p>
														</div>
													</div>
													<div class="tweet-content">
														<span class="date ng-binding"> 
															Posted on {{tweets.createdOn | date : 'dd/MM/yyyy'}}
														</span>
														<p>{{tweets.location}}<!-- @MunichRe_US in panel discussion about systems issues with #cyberrisk. #cyberNYC --></p>
													</div>
												</div>
											</li>
										</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  Entity Results Wrapper Ends  -->

	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
	$(document)
			.ready(
					function() {
						/*Custom Scroll Bar*/
						$(
								'.custom-modal.related-person-modal .modal-body .entity-result-item')
								.mCustomScrollbar({
									axis : "y"
								});
					});
</script>
