<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Staff Attended Schools</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="entity-item">
							<div class="entity-result-item">
								<div class="staffAttendedSchoolsModal">
									<ul class="row media-list">
										<li class="media col-sm-6" ng-repeat="entity in keyStaffAttendedSchoolsData">										    
										    <div class="media-body">
											    <h3 class="media-heading">
											      <a href="#/entityPage/{{entity.person}}" target="_blank">
											    	<i class="fa fa-user"></i>{{entity.person}}
											      </a>
											      <a href="#/entityCompany/{{entity.school_attended}}" target="_blank">
											    	<i class="fa fa-institution"></i>{{entity.school_attended}}
											      </a>
										    	</h3>
										   		 <p class="progress-text">
										   			 <span>Risk Score: {{entity.risk_score}} </span>
										   			 <!-- <span>Source: {{entity.source}}</span> -->
										   		 </p>			
											</div>
									  	</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
