<!--  Spinner Starts  -->
<div class="custom-spinner" ng-if="disableSearchButton">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="close()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Share and Stocks Information</h4>
</div>

<div class="modal-body">
	
		<!--  Entity Company Starts  -->
		<div class="entity-company-wrapper">
		
				<!--  Entity Results Wrapper Starts  -->
				<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
					<div class="row entity-contents-wrapper">
						<div class="entity-contents-inner-wrapper investigation-wrapper">
							<div class="entity-result-item holdersModal">	
								<div ng-show="stockModalData">	
								<div class="table-responsive">
									<h3>Top Mutual Holdings</h3>
									<table class="table table-condensed table-striped text-uppercase">
										<thead>
											<tr>
												<th>Share Name</th>
												<th>Share Owned</th>
												<th>Stake</th>
												<th>Risk Score</th>
												<th>Share Bought</th>
												<th>Total Change</th>
												<th>Total Value</th>
												<th>Source</th>
											</tr>									
										</thead>
										<tbody>
											<tr ng-repeat="owner in stockModalData.top_mutual_holding">
												<td>{{owner.share_holder_name | capitalize}}</td>
												<td>{{owner.shares_owned}}</td>
												<td>{{owner.stake}}</td>
												<td>{{owner.risk_score}}</td>
												<td>{{owner.share_bought_sold}}</td>
												<td>{{owner.total_change}}</td>
												<td>{{owner.total_value}}</td>
												<td>{{stockModalData.source}}</td>
											</tr>									
										</tbody>
									</table>
								</div>
								<div class="table-responsive">
									<h3>Recent Institutional Activitys</h3>
									<table class="table table-condensed table-striped">
										<thead>
											<tr>
												<th>Company Name</th>
												<th>Date</th>
												<th>Description</th>
												<th>Risk Score</th>
												<th>Source</th>
											</tr>									
										</thead>
										<tbody>
											<tr ng-repeat="owner in stockModalData.recent_institutional_activity">
												<td>{{owner.company_name | capitalize}}</td>
												<td>{{owner.activity_date}}</td>
												<td>{{owner.description}}</td>
												<td>{{owner.risk_score}}</td>
												<td>{{stockModalData.source}}</td>
											</tr>									
										</tbody>
									</table>
								</div>
						</div>
						<div ng-show="yahooStockData">	
						<div class="table-responsive" >
								<h3>Stock Breakdown</h3>
								
								<table class="table table-condensed table-striped" ng-show="yahooStockData.stock_holders.breakdown && yahooStockData.stock_holders.breakdown[0] && yahooStockData.stock_holders.breakdown[0]['%_of_float_held_by_institutions']">									
									<tbody>									
										<tr>
											<td>% of float held by institutions</td>
											<td>{{ yahooStockData.stock_holders.breakdown[0]['%_of_float_held_by_institutions'] }}</td>											
										</tr>
										<tr>
											<td>% of shares held by all insider</td>
											<td>{{yahooStockData.stock_holders.breakdown[0]['%_of_shares_held_by_all_insider']}}</td>											
										</tr>
										<tr>
											<td>% of shares held by institutions</td>
											<td>{{yahooStockData.stock_holders.breakdown[0]['%_of_shares_held_by_institutions']}}</td>											
										</tr>
										<tr>
											<td>Number of institutions holding shares</td>
											<td>{{yahooStockData.stock_holders.breakdown[0]['number_of_institutions_holding_shares']}}</td>											
										</tr>
										<tr ng-show="!yahooStockData.stock_holders.breakdown || yahooStockData.stock_holders.breakdown.length == 0 || !yahooStockData.stock_holders.breakdown[0]['%_of_float_held_by_institutions']">
											<td style="text-align:center" colspan="3">No data available </td>
										</tr>
									</tbody>
								</table>
							</div>
						 	<div class="table-responsive">
								<h3>Direct Holders List</h3>
								<table class="table table-condensed table-striped">
									<thead>
										<tr>
											<th>Name</th>
											<th>Date</th>
											<th>Shares</th>
											<th>Source</th>
										</tr>									
									</thead>
									<tbody>
									
										<tr ng-repeat="holder in yahooStockData.stock_holders.direct_holders_list track by $index">
											<td>{{holder.name}}</td>
											<td>{{holder.date}}</td>
											<td>{{holder.shares}}</td>
											<td>{{yahooStockData.source}}</td>
										</tr>
										<tr ng-if="!yahooStockData.stock_holders.direct_holders_list || yahooStockData.stock_holders.direct_holders_list.length == 0">
											<td style="text-align:center" colspan="4">No data available </td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="table-responsive">
								<h3>mutual fund holders List</h3>
								<table class="table table-condensed table-striped">
									<thead>
										<tr>
											<th>Name</th>
											<th>Date</th>
											<th>Shares</th>
											<th>out</th>
											<th>Source</th>
										</tr>									
									</thead>
									<tbody>
									
										<tr ng-repeat="holder in yahooStockData.stock_holders.mutual_fund_holders track by $index">
											<td>{{holder.name}}</td>
											<td>{{holder.date_report}}</td>
											<td>{{holder.shares}}</td>
											<td>{{holder.out}}</td>
											<td>{{yahooStockData.source}}</td>
										</tr>
										<tr ng-if="!yahooStockData.stock_holders.mutual_fund_holders || yahooStockData.stock_holders.mutual_fund_holders.length == 0">
											<td style="text-align:center" colspan="5">No data available </td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="table-responsive">
								<h3>top institutional List</h3>
								<table class="table table-condensed table-striped">
									<thead>
										<tr>
											<th>Name</th>
											<th>Date</th>
											<th>Shares</th>
											<th>out</th>
											<th>Source</th>
										</tr>									
									</thead>
									<tbody>
									
										<tr ng-repeat="holder in yahooStockData.stock_holders.top_institutional track by $index">
											<td>{{holder.name}}</td>
											<td>{{holder.date_report}}</td>
											<td>{{holder.shares}}</td>
											<td>{{holder.out}}</td>
											<td>{{yahooStockData.source}}</td>
										</tr>
										<tr ng-if="!yahooStockData.stock_holders.top_institutional || yahooStockData.stock_holders.top_institutional.length == 0">
											<td style="text-align:center" colspan="5">No data available </td>
										</tr>
									</tbody>
								</table>
							</div>
<!-- 							<div class="table-responsive"> -->
<!-- 								<h3>Recent user comments about the company stock</h3> -->
<!-- 								<table class="table table-condensed table-striped"> -->
<!-- 									<thead> -->
<!-- 										<tr> -->
<!-- 											<th>Name</th> -->
<!-- 											<th>Comment</th> -->
<!-- 											<th>Source</th> -->
<!-- 										</tr>									 -->
<!-- 									</thead> -->
<!-- 									<tbody> -->
									
<!-- 										<tr ng-repeat="holder in yahooStockData.stock_holders.top_institutional track by $index"> -->
<!-- 											<td>{{holder.user_name}}</td> -->
<!-- 											<td>{{holder.message}}</td>											 -->
<!-- 											<td>{{yahooStockData.source}}</td> -->
<!-- 										</tr> -->
<!-- 										<tr ng-if="!yahooStockData.stock_holders.top_institutional || yahooStockData.stock_holders.top_institutional.length == 0"> -->
<!-- 											<td style="text-align:center" colspan="3">No data available </td> -->
<!-- 										</tr> -->
<!-- 									</tbody> -->
<!-- 								</table> -->
<!-- 							</div> -->
<!-- 							<div class="table-responsive"> -->
<!-- 								<h3>Financial Statements</h3> -->
<!-- 								<table class="table table-condensed table-striped"> -->
<!-- 									<thead> -->
<!-- 										<tr> -->
<!-- 											<th>Cost Of Revenue</th> -->
<!-- 											<th>Discontinued Operations</th> -->
<!-- 											<th>Earnings Before Interest and Taxes</th> -->
<!-- 											<th>Effect Of Accounting Changes</th> -->
<!-- 											<th>Extraordinary Items</th> -->
<!-- 											<th>Gross Profit</th> -->
<!-- 											<th>Income Before Tax</th> -->
<!-- 											<th>Income Tax Expense</th> -->
<!-- 											<th>Interest Expense</th> -->
<!-- 											<th>Minority Interest</th> -->
<!-- 											<th>Net Income</th> -->
<!-- 											<th>Non Recurring</th> -->
<!-- 											<th>Operating Income or Loss</th> -->
<!-- 											<th>Selling General and Administrative</th> -->
<!-- 											<th>Total Other Income Expenses Net</th> -->
<!-- 											<th>Total Revenue</th> -->
<!-- 											<th>Source</th> -->
<!-- 										</tr>									 -->
<!-- 									</thead> -->
<!-- 									<tbody> -->
<!-- 										<tr ng-repeat="financial_statement in yahooStockData.financial_statements.data"> -->
<!-- 											<td>{{financial_statement.cost_of_revenue}}</td> -->
<!-- 											<td>{{financial_statement.discontinued_operations}}</td> -->
<!-- 											<td>{{financial_statement.earnings_before_interest_and_taxes}}</td> -->
<!-- 											<td>{{financial_statement.effect_of_accounting_changes}}</td> -->
<!-- 											<td>{{financial_statement.extraordinary_items}}</td> -->
<!-- 											<td>{{financial_statement.gross_profit}}</td> -->
<!-- 											<td>{{financial_statement.income_before_tax}}</td> -->
<!-- 											<td>{{financial_statement.income_tax_expense}}</td> -->
<!-- 											<td>{{financial_statement.interest_expense}}</td> -->
<!-- 											<td>{{financial_statement.minority_interest}}</td> -->
<!-- 											<td>{{financial_statement.net_income}}</td> -->
<!-- 											<td>{{financial_statement.non_recurring}}</td> -->
<!-- 											<td>{{financial_statement.operating_income_or_loss}}</td> -->
<!-- 											<td>{{financial_statement.selling_general_and_administrative}}</td> -->
<!-- 											<td>{{financial_statement.total_other_income_expenses_net}}</td> -->
<!-- 											<td>{{financial_statement.total_revenue}}</td> -->
<!-- 											<td>{{yahooStockData.source}}</td> -->
<!-- 										</tr> -->
<!-- 										<tr ng-if="yahooStockData.financial_statements.data.length == 0"> -->
<!-- 											<td style="text-align:center" colspan="6">No data available </td> -->
<!-- 										</tr> -->
<!-- 									</tbody> -->
<!-- 								</table> -->
<!-- 							</div> -->
							
													
						</div>
						</div>
					</div>
<!-- 					<div class="entity-contents-inner-wrapper" ng-show = "!stockModalData"> -->
<!-- 							No More Data found for search company -->
<!-- 					</div> -->
				</div>
				<!--  Entity Results Wrapper Ends  -->
				
		</div>
		<!--  Entity Company Ends  -->
</div>
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.holdersModal').mCustomScrollbar({
		axis : "y"
	});
	$('.holdersModal .table-responsive').mCustomScrollbar({
		axis : "x"
	});
});
</script>