<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Supplier Black list</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						<div class="entity-item">
							<div class="entity-result-item">
								<ul class="media-list">
									<li class="media" ng-repeat="(key, value) in supplierBlackData">	
								   		 <p class="row progress-text text-capitalize custom-colon-section">
								   			 <span class="col-sm-4">{{key}}</span>
								   			 <span class="col-sm-8"><small class="custom-colon">:</small>{{value}} </span>
								   		 </p>		
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
