<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Thumbnails List</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="row entity-result-item">
								<ul class="media-list">
									<li class=" col-sm-6 media" ng-repeat="entity in thumbnailsData">
									    <div class="media-left">
									      	<a href="{{entity.image}}" target="_black">
									      		<img class="image-object" ng-src="{{entity.image}}">
								      		</a>
									    </div>
									    <div class="media-body">
									   		 <p class="progress-text">
									   			 <span>Type: {{entity.type}}</span>
									   			 <span>Height: {{entity.height}}</span>
									   			 <span>Width: {{entity.width}}</span>
									   		 </p>	
									   		 <p class="description">
										        Risk Score: {{entity.risk_score}} Source: {{entity.source}}
									         </p>			
										</div>
								  </li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
