<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">More Information</h4>
</div>
<div class="modal-body mnw-430">

	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">

		<!--  Entity Results Wrapper Starts  -->
		<div class="container-fulid entity-results-wrapper">
			<div class="row entity-contents-wrapper">
				<div class="entity-contents-inner-wrapper">
					<div class="row">
						<div class="col-sm-12 entity-item ">  
							<div class="entity-result-item custom-result-item">
								<h3 class="">Following/Followers List</h3>
								<div class="tabs-section">
									<ul class="nav nav-tabs">
										<li ng-class="{'active': socialTabType === 'Followings'}"><a href ng-click="onClickSocialTypeTabs('Followings')"><span class="main-nav-texts">Followings</span></a></li>
										<li ng-class="{'active': socialTabType === 'Followers'}"><a href ng-click="onClickSocialTypeTabs('Followers')"><span class="main-nav-texts">Followers</span></a></li>
									</ul>
								</div>
								<div ng-if="socialTabType === 'Followers'">
									<ul class="media-list row social-media-info">
										<li class="media col-sm-4" ng-repeat="entity in entitySearchResult.list['followers']">
											<div class="media-left">
												<a href="javascript:void(0);"> <img class="image-object img-responsive" ng-src="{{entity.image}}" ng-if="entity.image !== ''"> <i class="fa fa-user-o" ng-if="entity.image === ''"></i>
												</a>
											</div>
											<div class="media-body">
												<h3 class="media-heading">
													{{entity.name}}
												</h3>
												<p class="progress-text">
													<span class="date">Created on {{entity.createdOn | date : 'dd/MM/yyyy'}}</span> <span>{{entity.screen_name}}</span>
												</p>
												<p class="description">
													Risk Score: {{entity.risk_score}}
													<!-- Source: {{entity.source}} -->
												</p>
											</div>
										</li>
									</ul>
								</div>
								<div ng-if="socialTabType === 'Followings'">
									<ul class="media-list row social-media-info">
										<li class="media col-sm-4" ng-repeat="entity in entitySearchResult.list['followings']">
											<div class="media-left">
												<a href="javascript:void(0);"> <img class="image-object img-responsive" ng-src="{{entity.image}}" ng-if="entity.image !== ''"> <i class="fa fa-user-o" ng-if="entity.image === ''"></i>
												</a>
											</div>
											<div class="media-body">
												<h3 class="media-heading">
													{{entity.name}}
												</h3>
												<p class="progress-text">
													<span class="date">Created on {{entity.createdOn | date : 'dd/MM/yyyy'}}</span> <span>{{entity.screen_name}}</span>
												</p>
												<p class="description">
													Risk Score: {{entity.risk_score}}
													<!-- Source: {{entity.source}} -->
												</p>
											</div>
										</li>  
									</ul>
								</div>
								<div class="custom-result-item alert-message-wrapper" ng-show="entitySearchResult.list['following'].length === 0 && entitySearchResult.list['followers'].length === 0">
									<div class="alert-message loading-message">Loading...</div>
								</div>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div>
		<!--  Entity Results Wrapper Ends  -->

	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
	$(document).ready(function() {
		/*Custom Scroll Bar*/
		$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
			axis : "y"
		});
	});
</script>
