<div class="modal-header">
	<button type="button" class="close"  aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title">Unlimited Criminal Person List</h4>
</div>
<div class="modal-body">
	
	<!--  Entity Company Starts  -->
	<div class="entity-company-wrapper">
	
			<!--  Entity Results Wrapper Starts  -->
			<div class="container-fulid entity-results-wrapper social-media-results-wrapper">
				<div class="row entity-contents-wrapper">
					<div class="entity-contents-inner-wrapper">
						
						<div class="col-md-12 entity-item">
							<div class="entity-result-item">
								<div class="domainsCompany">
									<ul class="row media-list" ng-repeat="entity in unlimitedcriminalchecksData">
										<li class="media" ng-repeat="(key, value) in entity">	
										  	<h3 class="media-heading" ng-if="key === 'name'">
										      <a href="{{entity['root'].url}}" target="_black">
										    	{{value}}
										      </a>
									    	</h3>
										  	<div class="media-body" ng-if="key !== 'name'">	
										   		 <p class="row progress-text">
										   			 <span class="col-sm-4">{{key}}</span>
										   			 <span class="col-sm-8"> : {{value}} </span>
										   		 </p>		
											</div>
									  	</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  Entity Results Wrapper Ends  -->
			
	</div>
	<!--  Entity Company Ends  -->
</div>

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.custom-modal.related-person-modal .modal-body .entity-result-item').mCustomScrollbar({
		axis : "y"
	});
});
</script>
