 <div class="header-content-entry person-bar-graph progress-bar-wrapper">
        <h3>Risk Score </h3>
        <div class="rightRiskScore">
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">DR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[1]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[1]}}%">
                        </div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[1].toFixed(2)}}
                        <span ng-if="scaledNumArr[1].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">IR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[0]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[0]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[0].toFixed(2)}}
                        <span ng-if="scaledNumArr[0].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">TR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[2]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[2]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[2].toFixed(2)}}
                        <span ng-if="scaledNumArr[2].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-content-entry person-circle-graph  custom-person-circle-graph clearfix">
        <div class="c100 p{{cumulativeRisk| number: 0}} orange radial" ng-click="openRiskScoreModal();">
            <span class="inner-number riskScoreTooltip" ng-if="isDefined(cumulativeRisk) && cumulativeRisk != null">{{cumulativeRisk|
                number: 0}}%
                <!--                                         <span class="inner-text"> -->
                <!--                                             DETAILS -->
                <!--                                         </span> -->
            </span>
            <span class="inner-number" ng-if="!isDefined(cumulativeRisk) || cumulativeRisk == null ">
                N/A
            </span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <!-- Activity Locations Starts -->
    <div class="entity-item activity-location-wrapper">
        <h3>Activity Locations</h3>
        <div class="activity-location-chart-wrapper">
            <div id="twitter-locations-chart"></div>
        </div>
    </div>
    <!-- Activity Locations Ends -->

    <!-- Twitter Tag Words Starts -->
    <div class="entity-item twitter-tag-wrapper">
        <h3>Twitter Tag Words</h3>
        <div class="twitter-tag-chart-wrapper">
            <div id="tagcloudCompanyTwitterTags"></div>
        </div>

    </div>
    <!-- Twitter Tag Words Ends -->


    <!-- Twitter Tag Words Starts -->
    <div class="entity-item twitter-tag-wrapper">
        <h3>Interaction Ratio</h3>
        <div class="twitter-tag-chart-wrapper" ng-show="entitySearchResult.list['follower_following_count'][0].twitter_following_number > 0 || entitySearchResult.list['follower_following_count'][0].twitter_followers_number > 0">
            <div id="interaction-ratio"></div>
        </div>
        <div class="right-section-item alert-message-wrapper dittoBlurChart-wrapper business-outlook-right" ng-hide="entitySearchResult.list['follower_following_count'][0].twitter_following_number > 0 || entitySearchResult.list['follower_following_count'][0].twitter_followers_number > 0">
            <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_interactionration">Loading...</div>
            <div class="alert-message-wrapper alert-message" ng-if="!entitySearchResult.is_data_not_found.is_interactionration">Data
                Not Found</div>
        </div>
    </div>
    <!-- Twitter Tag Words Ends -->