    <div class="header-content-entry person-bar-graph progress-bar-wrapper">
        <h3>Risk Score </h3>
        <div class="rightRiskScore">
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">DR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[1]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[1]}}%">
                        </div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[1].toFixed(2)}}
                        <span ng-if="scaledNumArr[1].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">IR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[0]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[0]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[0].toFixed(2)}}
                        <span ng-if="scaledNumArr[0].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">TR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[2]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[2]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[2].toFixed(2)}}
                        <span ng-if="scaledNumArr[2].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-content-entry person-circle-graph  custom-person-circle-graph clearfix">
        <div class="c100 p{{cumulativeRisk| number: 0}} orange radial" ng-click="openRiskScoreModal();">
            <span class="inner-number riskScoreTooltip" ng-if="isDefined(cumulativeRisk) && cumulativeRisk != null">{{cumulativeRisk|
                number: 0}}%
                <!--                                         <span class="inner-text"> -->
                <!--                                             DETAILS -->
                <!--                                         </span> -->
            </span>
            <span class="inner-number" ng-if="!isDefined(cumulativeRisk) || cumulativeRisk == null ">
                N/A
            </span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <!-- Political Donations Starts -->
    <div class="entity-item political-donations-wrapper">
        <h3>Political Donations Trend</h3>
        <div class="political-donations-chart-wrapper">
            <div id="politicaldonations"></div>
            <!-- <p class="right-section-item alert-message loading-message business-outlook-right">Loading...</p> -->
        </div>
        <!-- <div class="right-section-item alert-message-wrapper dittoBlurChart-wrapper business-outlook-right" ng-if="entitySearchResult.is_data_not_found.is_politcal_donation">
<div class="alert-message loading-message">Loading...</div>
</div> -->

    </div>
    <!-- Political Donations Ends -->
    <div class="entity-item ratios-ratio-wrapper">
        <h3>Political Ratio</h3>
        <div id="politicalOrgsWrapper">
            <div id="politicalOrgs"></div>
        </div>


    </div>
    <!-- Ratios Ratio Starts -->
    <div class="entity-item ratios-ratio-wrapper">
        <h3>Risk Ratio</h3>
        <div class="ratios-ratio-chart-wrapper">
            <div id="pieChartRiskRatio"></div>

        </div>
        <div class="right-section-item alert-message-wrapper dittoBlurChart-wrapper business-outlook-right" ng-if="entitySearchResult.is_data_not_found.is_risk_ratio">
            <div class="alert-message loading-message">Loading...</div>
        </div>
    </div>
    <!-- Ratios Ratio Ends -->

    <!-- Interlocks Starts -->
    <div class="entity-item ratios-ratio-wrapper interlocks-wrapper">
        <h3>Interlocks</h3>
        <div class="ratios-ratio-chart-wrapper" ng-show="interlock.length > 0">
            <div class="interlocks-content">
                <p class="clearfix" ng-repeat="entity in  interlock">
                    <span class="key">{{entity.prop}}</span>
                    <span class="value">:
                        <span ng-repeat="(key, value) in entity.value">{{value}}</span>
                    </span>
                </p>
            </div>
        </div>
        <div class="right-section-item alert-message-wrapper" ng-hide="interlock.length > 0">
            <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_interlockdata">Loading...</div>
            <div class="alert-message" ng-if="!entitySearchResult.is_data_not_found.is_interlockdata"> Data
                Not Found</div>
        </div>
    </div>
    <!-- Interlocks Ends -->
  <script>     
    $('.ratios-ratio-chart-wrapper').mCustomScrollbar({
        axis: "y",
        theme: "minimal-dark"
    });
    setTimeout(function () {
        $('#politicalOrgsWrapper').mCustomScrollbar({
            axis: "y"
        });      
    }, 1000);   
</script>