  <!-- Company Address Starts -->
    <div class="entity-item contact-address-wrapper">
        <h3>Contact Address</h3>
        <div class="contact-address head-quarters">
            <h5 class="text-uppercase">
                <i class="fa fa-university"></i>
                <span>Head Quarters</span>
            </h5>
            <p class="text-uppercase">
                {{(ceriSearchResultObject['fullAddress'].value )||(entitySearchResult.list.topHeaderObject['mdaas:RegisteredAddress'].fullAddress + ' ' +entitySearchResult.list.topHeaderObject['mdaas:RegisteredAddress'].country)}}
            </p>
        </div>
        <div class="contact-address head-quarters" ng-if="ceriSearchResultObject['tr-org:hasHeadquartersPhoneNumber'].value || ceriSearchResultObject['tr-org:hasRegisteredPhoneNumber'].value ||entitySearchResult.list.topHeaderObject['tr-org:hasHeadquartersPhoneNumber']">
            <h5 class="text-uppercase">
                <i class="fa fa-phone-square"></i>
                <span>Phone</span>
            </h5>
            <p class="text-uppercase">
                <!-- {{entitySearchResult.list['truecaller'][0]['phone'] +' '+ entitySearchResult.telephone +' '+ entitySearchResult.phone +' '+ entitySearchResult.list['domain_servers'][0]['registrant_phone'] +' '+ entitySearchResult.list['domain_servers'][0]['technical_phone'] +' '+ entitySearchResult.list['domain_servers'][0]['admin_phone']}} -->
                <span ng-if="ceriSearchResultObject['tr-org:hasHeadquartersPhoneNumber'].value || ceriSearchResultObject['tr-org:hasRegisteredPhoneNumber'].value ||  entitySearchResult.list.topHeaderObject['tr-org:hasHeadquartersPhoneNumber'] || entitySearchResult.list.topHeaderObject['tr-org:hasRegisteredPhoneNumber']">
                    {{ ceriSearchResultObject['tr-org:hasHeadquartersPhoneNumber'].value || ceriSearchResultObject['tr-org:hasRegisteredPhoneNumber'].value || entitySearchResult.list.topHeaderObject['tr-org:hasHeadquartersPhoneNumber'] +' '+entitySearchResult.list.topHeaderObject['tr-org:hasRegisteredPhoneNumber']}}
                </span>

                <span ng-if="entitySearchResult.list['phoneno']" ng-repeat="phone in entitySearchResult.list['phoneno']">{{phone}}
                    <span ng-hide="$last">, </span>
                </span>
            </p>
        </div>
    </div>
    <!-- Company Address Ends -->

    <div class="header-content-entry person-bar-graph progress-bar-wrapper">
        <h3>Risk Score </h3>
        <div class="rightRiskScore">
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">DR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[1]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[1]}}%">
                        </div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[1].toFixed(2)}}
                        <span ng-if="scaledNumArr[1].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">IR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[0]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[0]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[0].toFixed(2)}}
                        <span ng-if="scaledNumArr[0].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">TR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[2]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[2]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[2].toFixed(2)}}
                        <span ng-if="scaledNumArr[0].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-content-entry person-circle-graph  custom-person-circle-graph clearfix">
        <div class="c100 p{{cumulativeRisk| number: 0}} orange radial" ng-click="openRiskScoreModal();">
            <span ng-if="typeof(cumulativeRisk) != undefined "> </span>
            <span class="inner-number riskScoreTooltip" ng-if="isDefined(cumulativeRisk) && cumulativeRisk != null">{{cumulativeRisk|
                number: 0}}%
                <!--                                         <span class="inner-text"> -->
                <!--                                             DETAILS -->
                <!--                                         </span> -->
            </span>
            <span class="inner-number" ng-if="!isDefined(cumulativeRisk) || cumulativeRisk == null">
                N/A
            </span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>

    <!-- Screening Data -->
    <div class="due-tab-wrapper p-rel">
           <!--  <span ng-show="pageloader.screeningLoader" class="custom-spinner full-page-spinner">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </span> -->
            <span ng-show="pageloader.screeningLoader" class="custom-spinner full-page-spinner">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </span>
        <div class="row custom-row">
            <div class="custom-col">
                <div class="panel custom-panel-wrapper details-panel-wrapper">
                    <div class="panel-heading d-flex ai-c">
                        <h4 class="top-details-heading mar-b0 f-12">Screening Results</h4>
                        <div class="company-details mar-autol">
                                <ul class="list-inline  custom-list count-list item-1">
    
                                    <li class="pad-x15 d-flex ai-c f-12 pad-y0">
                                        Identified
                                        <span class="text-dark-cream pad-l3 mar-r10"> Risks</span>
                                        <span class="f-18 mxw-60 text-overflow"><!-- {{identifiedRisk+ScreeningRisk}} -->{{entitySearchResult.list.summaryCount.sanctionCount + entitySearchResult.list.summaryCount.financeCount + entitySearchResult.list.summaryCount.adverseCount + entitySearchResult.list.summaryCount.highRiskCount + entitySearchResult.list.summaryCount.pepCount}}</span>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="panel-body">
                       
                        <div class="highlighting-list">
                                <ul class="highlighting-info pad-r0 list-inline custom-list item-1 pad-l0 pad-t10 screening-list">
                                    <li  class="d-flex  c-pointer mar-b5 ai-c border-0" ng-show="entitySearchResult.list.summaryCount.pepCount === 0">                                                  
                                            <i class="fa fa-street-view mar-r10  showTooltipforSummary  f-21" ng-class="(entitySearchResult.list.summaryCount.pepCount > 0) ? 'text-light-orange c-pointer' : 'text-dark-green2 pe-none op-1'" ng-click="openAdverseDirectly(0,'','pep','true')"
                                            ng-mouseover="tooltipdtata('Total Pep Count',(entitySearchResult.list.summaryCount.pepCount || 0))"></i>
                                        <span class=" text-dark-cream mar-r10">PEP Alerts</span>
                                        <span class="mar-autol f-16">
                                            <span ng-class ="entitySearchResult.list.summaryCount.pepCount > 0 ? 'c-pointer' :'pe-none op-1'" ng-disabled ="entitySearchResult.list.summaryCount.pepCount > 0 ? 'false' : 'true'" ng-click="openAdverseDirectly(0,'','pep','true')">{{entitySearchResult.list.summaryCount.pepCount || 0}}</span>
                                            <!-- <span class="text-blue1 mar-r5  companyInfoTooltip" ng-if="actualScreeningData[0].pep_url === ''" ng-mouseover="mouseover(actualScreeningData[0].pep_url, 'companyInfoTooltip');"
                                                ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].pep_url)"
                                                style="cursor: pointer;">[0P]</span> -->
                                            <!-- <span class="text-blue1 mar-r5  companyInfoTooltip" ng-if="actualScreeningData[0].pep_url !== ''" ng-mouseover="mouseover(actualScreeningData[0].pep_url, 'companyInfoTooltip');"
                                                ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].pep_url)"
                                                style="cursor: pointer;">[1P]</span>
                                            <span class="text-pink">[0S]</span> -->
                                        </span>
                                        
                                    </li>
                                    <li  class="d-flex  c-pointer mar-b5 ai-c border-0" ng-hide="entitySearchResult.list.summaryCount.pepCount === 0">
                                            <i class="fa fa-street-view mar-r10  showTooltipforSummary f-21" ng-class="(entitySearchResult.list.summaryCount.pepCount > 0) ? 'text-light-orange c-pointer' : 'text-dark-green2 pe-none op-1'" ng-click="openAdverseDirectly(0,'','pep','true')"
                                            ng-mouseover="tooltipSummaryCountFunction('Total Pep Count',(entitySearchResult.list.summaryCount.pepCount || 0))"></i>
                                        <span class=" text-dark-cream mar-r10">PEP Alerts</span>
                                        <span class="mar-autol f-16">
                                            <span ng-class ="entitySearchResult.list.summaryCount.pepCount > 0 ? 'c-pointer' :'pe-none op-1'" ng-disabled ="entitySearchResult.list.summaryCount.pepCount > 0 ? 'false' : 'true'" ng-click="openAdverseDirectly(0,'','pep','true')">{{entitySearchResult.list.summaryCount.pepCount || 0 }}</span>
    
                                            <!-- <span class="text-blue1 mar-r5  companyInfoTooltip" ng-if="actualScreeningData[0].pep_url === ''" ng-mouseover="mouseover(actualScreeningData[0].pep_url, 'companyInfoTooltip');"
                                                ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].pep_url)"
                                                style="cursor: pointer;">[0P]</span>
                                            <span class="text-blue1 mar-r5  companyInfoTooltip" ng-if="actualScreeningData[0].pep_url !== ''" ng-mouseover="mouseover(actualScreeningData[0].pep_url, 'companyInfoTooltip');"
                                                ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].pep_url)"
                                                style="cursor: pointer;">[1P]</span>
                                            <span class="text-pink">[0S]</span> -->
                                        </span>
                                        
                                    </li>
                                    <li  class="d-flex  c-pointer mar-b5 ai-c border-0" ng-show="entitySearchResult.list.summaryCount.sanctionCount.length === 0">
                                    
                                            <i class="fa fa-ban mar-r10 showTooltipforSummary  f-21" ng-class="entitySearchResult.list.summaryCount.sanctionCount > 0 ? 'text-light-orange  c-pointer' : 'text-dark-green2 pe-none op-1'" ng-click="openAdverseDirectly(0,'','sanction','true')"
                                            ng-mouseover="tooltipSummaryCountFunction('Total Sanction Count',(entitySearchResult.list.summaryCount.sanctionCount || 0))"></i>
                                        <span class=" text-dark-cream mar-r10">Sanctions</span>
                                        <span class="mar-autol f-16">
                                                <span ng-class ="entitySearchResult.list.summaryCount.sanctionCount > 0 ? 'c-pointer' :'pe-none op-1'" ng-disabled ="entitySearchResult.list.summaryCount.sanctionCount > 0 ? 'false' : 'true'" ng-click="openAdverseDirectly(0,'','sanction','true')">{{entitySearchResult.list.summaryCount.sanctionCount || 0}}</span>
                                        </span>
                                        
                                    </li>
                                    <li  class="d-flex  c-pointer mar-b5 ai-c border-0" ng-hide="entitySearchResult.list.summaryCount.sanctionCount.length === 0">
                                        
                                            <i class="fa fa-ban mar-r10  showTooltipforSummary  f-21" ng-class="entitySearchResult.list.summaryCount.sanctionCount > 0 ? 'text-light-orange  c-pointer' : 'text-dark-green2 pe-none op-1 '" ng-click="openAdverseDirectly(0,'','sanction','true')"  ng-mouseover="tooltipSummaryCountFunction('Total Sanction Count',(entitySearchResult.list.summaryCount.sanctionCount  ||  0))"></i>
                                        <span class=" text-dark-cream mar-r10">Sanctions</span>
                                        <span class="mar-autol f-16">
                                                <span ng-class ="entitySearchResult.list.summaryCount.sanctionCount > 0 ? 'c-pointer' :'pe-none op-1'" ng-disabled ="entitySearchResult.list.summaryCount.sanctionCount > 0 ? 'false' : 'true'" ng-click="openAdverseDirectly(0,'','sanction','true')">{{entitySearchResult.list.summaryCount.sanctionCount  ||  0}}</span>
                                        </span>
                                        
                                    </li>
                                    <li  class="d-flex mar-b5 ai-c border-0">
                                            <i class="fa fa-globe mar-r10 showTooltipforSummary f-21" ng-class="entitySearchResult.list.summaryCount.highRiskCount > 0 ?  'text-light-orange  c-pointer' : 'text-dark-green2 pe-none op-1'  " ng-mouseover="tooltipSummaryCountFunction('Total Jurisdiction Count',(entitySearchResult.list.summaryCount.highRiskCount || 0))" ng-click="openAdverseDirectly(0,'','highRisk','true')"></i>
                                        <span class=" text-dark-cream mar-r10">Jurisdiction</span>
                                        <span class="mar-autol f-16">
                                            <span class="" ng-class ="entitySearchResult.list.summaryCount.highRiskCount > 0 ? 'c-pointer' :'pe-none op-1'" ng-disabled ="entitySearchResult.list.summaryCount.highRiskCount > 0 ? 'false' : 'true'" ng-click="openAdverseDirectly(0,'','highRisk','true')">{{entitySearchResult.list.summaryCount.highRiskCount || 0}}</span>
                                        </span>
                                        
                                    </li>
                                    <!--   <li  class="d-flex  c-pointer mar-b5 ai-c border-0" ng-hide="(actualScreeningData[0].high_risk_jurisdiction === 'high') || (actualScreeningData[0].high_risk_jurisdiction === 'medium')">
                                            <i class="fa mar-r10 fa-globe showTooltipforSummary f-21" ng-class="(actualScreeningData[0].high_risk_jurisdiction && (actualScreeningData[0].high_risk_jurisdiction === 'high' || actualScreeningData[0].high_risk_jurisdiction === 'medium')) ? 'text-light-orange' : 'text-dark-green2 pe-none op-1'" ng-click="openmodal(actualScreeningData[0], 'high_risk_jurisdiction')"
                                            ng-mouseover="tooltipSummaryCountFunction(actualScreeningData[0])"></i>
                                        <span class=" text-dark-cream mar-r10">Jurisdiction</span>
                                        <span class="mar-autol f-16">
                                                <span>{{(actualScreeningData[0].high_risk_jurisdiction && (actualScreeningData[0].high_risk_jurisdiction === 'HIGH' || actualScreeningData[0].high_risk_jurisdiction === 'MEDIUM')) ? 1 : 0 }}</span>
                                        </span>
                                        
                                    </li>
                                    <li  class="d-flex  c-pointer mar-b5 ai-c border-0" ng-show="actualScreeningData[0].high_risk_jurisdiction === 'medium'">
                                            <i class="fa mar-r10 fa-globe showTooltipforSummary f-21" ng-class="(actualScreeningData[0].high_risk_jurisdiction && (actualScreeningData[0].high_risk_jurisdiction === 'high' || actualScreeningData[0].high_risk_jurisdiction === 'medium')) ? 'text-light-orange' : 'text-dark-green2 pe-none op-1'" ng-click="openmodal(actualScreeningData[0], 'high_risk_jurisdiction')"
                                            ng-mouseover="tooltipSummaryCountFunction(actualScreeningData[0])"></i>
                                        <span class=" text-dark-cream mar-r10">Jurisdiction</span>
                                        <span class="mar-autol f-16">
                                                <span>{{(actualScreeningData[0].high_risk_jurisdiction && (actualScreeningData[0].high_risk_jurisdiction === 'high' || actualScreeningData[0].high_risk_jurisdiction === 'medium')) ? 1 : 0 }}</span>
                                        </span>
                                        
                                    </li> -->
                                    <li  class="d-flex mar-b5 ai-c border-0" ng-hide="summaryScreenig[0].finance_Crime_url.length === 0">
                                            <i class="fa fa-gavel mar-r10  showTooltipforSummary  f-21" ng-class="((summaryScreenig[0].finance_Crime_url && (summaryScreenig[0].finance_Crime_url.length > 0)) ? 'text-light-orange  c-pointer' : 'text-dark-green2 pe-none op-1')" ng-click="openAdverseDirectly(0,'','finance','true')" ng-mouseover="tooltipSummaryCountFunction('Total Finance News Count',(entitySearchResult.list.summaryCount.financeCount|| 0))"
                                            ></i>
                                        <span class=" text-dark-cream mar-r10">Finance Crime</span>
                                        <span class="mar-autol f-16">
                                            <span  class="" ng-class ="entitySearchResult.list.summaryCount.financeCount > 0 ? 'c-pointer' :'pe-none op-1'" ng-disabled ="entitySearchResult.list.summaryCount.financeCount > 0 ? false : true" ng-click="openAdverseDirectly(0,'','finance','true')">{{entitySearchResult.list.summaryCount.financeCount|| 0 }}</span>
                                        </span>
                                    </li>
                                    <li  class="d-flex mar-b5 ai-c border-0" ng-show="summaryScreenig[0].finance_Crime_url.length === 0">
                                            <i class="fa fa-gavel   mar-r10 showTooltipforSummary  f-21" ng-class="(summaryScreenig[0].finance_Crime_url && (summaryScreenig[0].finance_Crime_url.length > 0)) ? 'text-light-orange  c-pointer' : 'text-dark-green2 pe-none op-1'" ng-click="openAdverseDirectly(0,'','finance','true')" ng-mouseover="tooltipSummaryCountFunction('Total Finance News Count',(entitySearchResult.list.summaryCount.financeCount|| 0))" ></i>
                                            <span class=" text-dark-cream mar-r10">Finance Crime</span>
                                        <span class="mar-autol f-16">
                                            <span class="" ng-class ="entitySearchResult.list.summaryCount.financeCount > 0 ? 'c-pointer' :'pe-none op-1'" ng-disabled ="entitySearchResult.list.summaryCount.financeCount > 0 ? false : true"  ng-click="openAdverseDirectly(0,'','finance','true')">{{entitySearchResult.list.summaryCount.financeCount || 0 }}</span>
                                        </span>
                                    </li>
                                    <li  class="d-flex mar-b5 ai-c border-0" ng-hide="summaryScreenig[0].adverseNews_url.length === 0">
                                            <i class="fa fa-newspaper-o mar-r10  showTooltipforSummary f-21" ng-class="(summaryScreenig[0].adverseNews_url && (summaryScreenig[0].adverseNews_url.length > 0)) ? 'text-light-orange  c-pointer' : 'text-dark-green2 pe-none op-1'" ng-click="openAdverseDirectly(0,'','adverse','true')" ng-mouseover="tooltipSummaryCountFunction('Total News Count',(entitySearchResult.list.summaryCount.adverseCount || 0))"
                                            ></i>
                                        <span class="text-dark-cream  mar-r10">News</span>
                                        <span class="mar-autol f-16">
                                            <span  class="" ng-class ="entitySearchResult.list.summaryCount.adverseCount > 0 ? 'c-pointer' :'pe-none op-1'" ng-disabled ="entitySearchResult.list.summaryCount.adverseCount > 0 ? false : true"  ng-click="openAdverseDirectly(0,'','adverse','true')">{{ entitySearchResult.list.summaryCount.adverseCount || 0}}</span>
                                        </span>
                                    </li>
                                    <li  class="d-flex mar-b5 ai-c border-0" ng-show="summaryScreenig[0].adverseNews_url.length === 0">
                                        
                                        <i class="fa fa-newspaper-o mar-r10  showTooltipforSummary  f-21" ng-class="(summaryScreenig[0].adverseNews_url && (summaryScreenig[0].adverseNews_url.length > 0)) ? 'text-light-orange  c-pointer' : 'text-dark-green2 pe-none op-1'" ng-show=" summaryScreenig[0].adverseNews_url.length === 0  && summaryScreenig[0].non_negativenews.length === 0 "
                                            ng-click="openAdverseDirectly(0,'','adverse','true')" ng-mouseover="tooltipSummaryCountFunction('Total News Count',(entitySearchResult.list.summaryCount.adverseCount || 0))"></i>
                                        <i class="fa fa-newspaper-o mar-r10  text-dark-cream  f-21" ng-show=" summaryScreenig[0].adverseNews_url.length === 0  && summaryScreenig[0].non_negativenews.length > 0"
                                            ng-click="openAdverseDirectly(0,'','adverse','true')" ng-mouseover="tooltipSummaryCountFunction('Total News Count',(entitySearchResult.list.summaryCount.adverseCount || 0))"></i>
                                        <span class=" text-dark-cream mar-r10">News</span>
                                        <span class="mar-autol f-16">
                                                <span class="" ng-class ="entitySearchResult.list.summaryCount.adverseCount > 0 ? 'c-pointer' :'pe-none op-1'" ng-disabled ="entitySearchResult.list.summaryCount.adverseCount > 0 ? false : true"  ng-click="openAdverseDirectly(0,'','adverse','true')">{{entitySearchResult.list.summaryCount.adverseCount || 0 }}</span>
                                            </span>
                                    </li>
                                </ul>
                            </div>
                        <!--  Custom Accordion Starts  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Screening Resuls Ends -->


    <div class="risk-rating-wrapper">
        <h3>Risk Ratings </h3>
        <div class="riskscoreprogress" ng-cloak>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">Cyber</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{entitySearchResult.list['xforceibmcloud'].length > 0 ? 100 : 0}}"
                            aria-valuemin="0" aria-valuemax="100" style="width: {{entitySearchResult.list['xforceibmcloud'].length > 0 ? 100 : 0}}%"></div>
                    </div>
                    <!-- 									{{entitySearchResult.list['xforceibmcloud'].length > 0 ? 100 : 0}}% -->
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">PEP</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{entitySearchResult.list.pep.length > 0 ? 100 : 0}}"
                            aria-valuemin="0" aria-valuemax="100" style="width: {{entitySearchResult.list.sanctionList.length > 0 ? 100 : 0}}%"></div>
                    </div>
                    <!-- 									{{entitySearchResult.list.pep.length > 0 ? 100 : 0}}% -->
                </div>
            </div>

            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">Fraud</div>
                    <div class="progress progress-gradient-grey">

                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{ (entitySearchResult.list['scam'].length > 0 || entitySearchResult.list['badbuyerslist'].length > 0 || entitySearchResult.list['imsasllc'].length > 0 || entitySearchResult.list['sex-offenders'].length > 0 || entitySearchResult.list['denied_personlist'].length > 0 || entitySearchResult.list['exclusions'].length > 0 || entitySearchResult.list['fbi_data'].length > 0) ? 100 : 0}}"
                            aria-valuemin="0" aria-valuemax="100" style="width: {{(entitySearchResult.list['scam'].length > 0|| entitySearchResult.list['badbuyerslist'].length > 0 || entitySearchResult.list['imsasllc'].length > 0 || entitySearchResult.list['sex-offenders'].length > 0 || entitySearchResult.list['denied_personlist'].length > 0 || entitySearchResult.list['exclusions'].length > 0 || entitySearchResult.list['fbi_data'].length > 0 ) ? 100 : 0}}%">
                            <span class="sr-only ng-binding">{{(entitySearchResult.list['scam'].length
                                > 0|| entitySearchResult.list['badbuyerslist'].length > 0 ||
                                entitySearchResult.list['imsasllc'].length > 0 || entitySearchResult.list['sex-offenders'].length
                                > 0 || entitySearchResult.list['denied_personlist'].length >
                                0 || entitySearchResult.list['exclusions'].length > 0 || entitySearchResult.list['fbi_data'].length
                                > 0 ) ? 100 : 0}}%</span>

                        </div>
                    </div>
                    <!-- 									{{entitySearchResult.list['scam'].length > 0 ? 100 : 0}}% -->
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">Sanctions</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{entitySearchResult.list.sanctionList.length > 0 ? 100 : 0}}"
                            aria-valuemin="0" aria-valuemax="100" style="width: {{entitySearchResult.list.sanctionList.length > 0 ? 100 : 0}}%">

                        </div>
                    </div>
                    <!-- 									{{entitySearchResult.list['scam'].length > 0 ? 100 : 0}}% -->
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">News</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{entitySearchResult.list.adverse_news.length > 0 ? 100 : 0}}"
                            aria-valuemin="0" aria-valuemax="100" style="width: {{entitySearchResult.list.adverse_news.length > 0 ? 100 : 0}}%">
                            <span class="sr-only ng-binding">{{entitySearchResult.list.adverse_news.length
                                > 0 ? 100 : 0}}%</span>
                        </div>
                    </div>
                    <!-- 									{{entitySearchResult.list['scam'].length > 0 ? 100 : 0}}% -->
                </div>
            </div>

        </div>
    </div>


    <div class="entity-item related-company-main-wrapper">
        <h3>Related Entities</h3>
        <div class="customEntities-result-item">
            <div id="tagcloudCompanyOrganization"></div>
        </div>
        <div class="right-section-item alert-message-wrapper dittoBlurChart-wrapper cloud-tag-ditto" ng-show="entitySearchResult.list['related_company_tags']">
            <div class="alert-message loading-message">Loading...</div>
        </div>
    </div>


    <!--  Map Wrapper Starts  -->
    <div class="entity-item associated-locations-wrapper">
        <h3>ASSOCIATED LOCATIONS</h3>
        <div>
            <div id="companyexample4" class="chartContentDiv"></div>
        </div>
    </div>
    <!--  Map Wrapper Starts  -->

    <!--  News Wrapper Starts  -->
    <div class="entity-item news-wrapper latest-news-section">
        <h3>Latest News</h3>
        <div class="latest-news-section-item" ng-show="entityNewsList.length > 0">
            <ul class="media-list">
                <li class="media" ng-repeat="newsData in entityNewsList track by $index" ng-if="$index < 3">
                    <div class="media-body">
                        <h3 class="media-heading">
                            <a href="{{newsData.link}}" target="_blank">
                                {{newsData.title}}
                            </a>
                        </h3>
                        <p class="post">
                            <span class="date">Posted {{newsData.updatedOn| date : 'dd/MM/yyyy'}}</span>
                            <button class="btn btn-circle" ng-click="showBstNamedEntity(newsData.details, newsData.title, newsData.link)" title="BST Visualizer">
                                <img src="../assets/images/vla/Entity_extract.png" width="15px" height="15px" alt="entityVisualizer">
                            </button>
                        </p>
                        <p class="description">
                            {{newsData.details}}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right-section-item alert-message-wrapper" ng-hide="entityNewsList.length > 0">
            <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_latestnews">Loading...</div>
            <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_latestnews"> Data
                Not Found</div>
        </div>
    </div>
    <!--  News Wrapper Ends  -->


    <div class="associated-industries-wrapper">
        <h3>Associated Industries</h3>
        <div class="riskscoreprogress" ng-cloak ng-show="entitySearchResult.list['industry'].length > 0">
            <div class="risk-progressbar-holder" ng-repeat="industry in entitySearchResult.list['industry']">
                <div class="progress-wrapper">
                    <div class="inline" title="{{industry.name}}">{{industry.name}}</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{industry.risk_score| number : 0}}" aria-valuemin="0"
                            aria-valuemax="100" style="width: {{industry.risk_score| number : 0}}%">

                        </div>
                    </div>
                    <div class="progress-percent">{{industry.risk_score| number : 0}}%</div>
                </div>
            </div>
        </div>
        <div class="right-section-item alert-message-wrapper" ng-hide="entitySearchResult.list['industry'].length > 0">
            <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_data_industry">Loading...</div>
            <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_data_industry"> Data
                Not Found</div>
        </div>
    </div>

    <!--  Map Wrapper Starts  -->
    <div class="entity-item associated-locations-wrapper">
        <h3>DIGITAL FOOTPRINTS</h3>
        <div>
            <div id="digitalFootprint" class="chartContentDiv"></div>
        </div>
    </div>
    <!--  Map Wrapper Starts  -->

  <script>  
    $(
        '.entityCompanyNew-inner-wrapper .entity-company-content-right, .latest-news-section-item, .employee-academics-chart-wrapper'
    ).mCustomScrollbar({

        axis: "y",
        theme: "minimal-dark"
    });
   
 
</script>