  <div class="header-content-entry person-bar-graph progress-bar-wrapper">
        <h3>Risk Score </h3>
        <div class="rightRiskScore">
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">DR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar progress-gradient-curious-blue " role="progressbar" aria-valuenow="{{scaledNumArr[1]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[1]}}%">
                        </div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[1].toFixed(2)}}
                        <span ng-if="scaledNumArr[1].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">IR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar progress-gradient-curious-blue " role="progressbar" aria-valuenow="{{scaledNumArr[0]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[0]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[0].toFixed(2)}}
                        <span ng-if="scaledNumArr[0].toFixed(2)"></span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">TR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar progress-gradient-curious-blue " role="progressbar" aria-valuenow="{{scaledNumArr[2]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[2]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[2].toFixed(2)}}
                        <span ng-if="scaledNumArr[2].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-content-entry person-circle-graph  custom-person-circle-graph clearfix">
        <div class="c100 p{{cumulativeRisk| number: 0}} orange radial" ng-click="openRiskScoreModal();">
            <span class="inner-number riskScoreTooltip" ng-if="isDefined(cumulativeRisk) && cumulativeRisk != null">{{cumulativeRisk|
                number: 0}}%
                <!--                                         <span class="inner-text"> -->
                <!--                                             DETAILS -->
                <!--                                         </span> -->
            </span>
            <span class="inner-number" ng-if="!isDefined(cumulativeRisk) || cumulativeRisk == null ">
                N/A
            </span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <!-- earning-trends Starts -->
    <div class="entity-item earning-trends-wrapper">
        <h3>Total Revenues Vs Year</h3>
        <div class="earning-trends-chart-wrapper" ng-show="!revenueTypeStatus">
            <div id="lineChartEarningTrends"></div>
        </div>
        <div class="right-section-item alert-message-wrapper dittoBlurChart-wrapper line-chart-rightside" ng-show="revenueTypeStatus">
            <div class="alert-message loading-message" ng-if="!revenueTypeStatus">Loading...</div>
            <div class="alert-message-wrapper alert-message" ng-if="revenueTypeStatus">Data Not
                Found</div>
        </div>
    </div>
    <!-- earning-trends Ends -->

    <!-- investment-trends Starts -->
    <div class="entity-item investment-trends-wrapper">
        <h3>Shareholders Type</h3>
        <div class="investment-trends-chart-wrapper" ng-show="entitySearchResult.is_data_not_found.shareholder_div">
            <div id="pieChartInvestment"></div>
        </div>
        <div class="right-section-item alert-message-wrapper dittoBlurChart-wrapper business-outlook-right" ng-hide="entitySearchResult.is_data_not_found.shareholder_div">
            <div class="alert-message loading-message" ng-if="!shareHolderTypeStatus">Loading...</div>
            <div class="alert-message-wrapper alert-message" ng-if="shareHolderTypeStatus">Data
                Not Found</div>
        </div>
    </div>
    <!-- investment-trends Ends -->

    <!-- Investor Sentiments Starts -->
    <!--  <div class="entity-item investor-sentiments-wrapper">
    <h3>Investment {{stockModalData['net_cash_flow_investing']}} $</h3>
    <div class="investor-sentiments-chart-wrapper" ] ng-show="stockModalData['cash_flow_statement']">
        <div id="lineChartInvestor"></div>
    </div>
    <div class="right-section-item alert-message-wrapper dittoBlurChart-wrapper line-chart-rightside" ng-hide="stockModalData['cash_flow_statement']">
        <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_investment">Loading...</div>
        <div class="alert-message-wrapper alert-message" ng-if="!entitySearchResult.is_data_not_found.is_investment">Data Not Found</div>
    </div>
</div> -->



    <!-- Investor Sentiments Ends -->

