 <div class="header-content-entry person-bar-graph progress-bar-wrapper">
        <h3>Risk Score </h3>
        <div class="rightRiskScore">
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">DR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[1]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[1]}}%">
                        </div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[1].toFixed(2)}}
                        <span ng-if="scaledNumArr[1].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">IR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[0]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[0]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[0].toFixed(2)}}
                        <span ng-if="scaledNumArr[0].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">TR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[2]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[2]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[2].toFixed(2)}}
                        <span ng-if="scaledNumArr[2].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-content-entry person-circle-graph  custom-person-circle-graph clearfix">
        <div class="c100 p{{cumulativeRisk| number: 0}} orange radial" ng-click="openRiskScoreModal();">
            <span class="inner-number riskScoreTooltip" ng-if="isDefined(cumulativeRisk) && cumulativeRisk != null">{{cumulativeRisk|
                number: 0}}%
                <!--                                         <span class="inner-text"> -->
                <!--                                             DETAILS -->
                <!--                                         </span> -->
            </span>
            <span class="inner-number" ng-if="!isDefined(cumulativeRisk) || cumulativeRisk == null">
                N/A
            </span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <!-- Employee Strength Trend Starts -->
    <div class="entity-item employee-strength-wrapper">
        <h3>Rating Trend
            <span ng-show="entitySearchResult.list['ratings_trends'].length > 0">({{ entitySearchResult.list.recentRatingTrend}}/5)</span>
        </h3>
        <div class="employee-strength-chart-wrapper" ng-show="entitySearchResult.list['ratings_trends'].length > 0">
            <div id="lineChartOverallTrend"></div>
        </div>
        <div class="right-section-item alert-message-wrapper dittoBlurChart-wrapper line-chart-rightside" ng-hide="entitySearchResult.list['ratings_trends'].length > 0">
            <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_ratings_trends">Loading...</div>
            <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_ratings_trends"> Data
                Not Found</div>
        </div>

    </div>
    <!-- Employee Strength Trend Ends -->

    <!-- Employee distribution Trend Starts -->
    <div class="entity-item employee-distribution-wrapper">
        <div class="row">
            <div class="col-sm-6">
                <h3>Recommend to a friend</h3>
                <div class="employee-inbound-chart-wrapper">
                    <div class="header-content-entry person-circle-graph">
                        <div class="c100 p{{((entitySearchResult.list['glassdoor']['recommend']['percent']) * 5) || 0 }} purple radial" ng-click="openRiskScoreModal();">
                            <span class="inner-number" ng-show="(entitySearchResult.list['glassdoor']['recommend']['percent'])">{{
                                (entitySearchResult.list['glassdoor']['recommend']['percent'])
                                * 5 || 0}}%
                            </span>
                            <span class="inner-number" ng-hide="entitySearchResult.list['glassdoor']['recommend']['percentRounded']">N/A</span>


                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <h3>CEO Approval</h3>
                <div class="employee-distribution-chart-wrapper">
                    <div class="header-content-entry person-circle-graph">
                        <div class="c100 p{{ (entitySearchResult.list['glassdoor']['ceoRating']['percent']) * 5 || 0 }} purple radial" ng-click="openRiskScoreModal();">
                            <span class="inner-number" ng-show="entitySearchResult.list['glassdoor']['ceoRating']['percent']">{{
                                (entitySearchResult.list['glassdoor']['ceoRating']['percent'])
                                * 5 || 0}}%

                            </span>
                            <span class="inner-number" ng-hide="entitySearchResult.list['glassdoor']['ceoRating']['percentRounded']">N/A

                            </span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Employee distribution Trend Ends -->


    <div class="top-listings top-influencers">
        <h3>TOP INFLUENCERS</h3>
        <div class="top-influencer-chart-wrapper">
            <div id="tagcloudCompanyPerson"></div>
        </div>
        <div class="right-section-item alert-message-wrapper dittoBlurChart-wrapper cloud-tag-ditto" ng-if="entitySearchResult.list['related_persons_tags']">
                         <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_top_influencers">Loading...</div>
                           <div class="" ng-if="!entitySearchResult.is_data_not_found.is_top_influencers">DATA NOT FOUND</div>
        </div>
    </div>


    <!-- Employee academics Trend Starts -->
    <div class="entity-item employee-academics-wrapper">
        <h3>Career Opportunities </h3>
        <div class="recent-linkedin employee-academics-chart-wrapper" ng-show="entitySearchResult.list['current_job_openings'].length > 0">
            <ul class="media-list">
                <li class="media" ng-repeat="carreroPT in entitySearchResult.list['current_job_openings']">
                    <div class="recent-linkedin">
                        <div class="linkedin-content">
                            <p>
                                {{ carreroPT.entity.properties.title}}
                            </p>
                            <p class="post">
                                <span class="date">Location {{ carreroPT.entity.properties.location}}</span>
                            </p>
                            <p class="post">
                                <span class="date">Posted {{ carreroPT.entity.properties.post_date}}</span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right-section-item alert-message-wrapper" ng-hide="entitySearchResult.list['current_job_openings'].length > 0">
            <div class="alert-message loading-message" ng-if="entitySearchResult.is_data_not_found.is_carrer_opportuny">Loading...</div>
            <div class="alert-message alert-message-wrapper" ng-if="!entitySearchResult.is_data_not_found.is_carrer_opportuny">Data
                Not Found</div>
        </div>

    </div>
    <!-- Employee academics Trend Ends -->
<script>
    $(
        '.entityCompanyNew-inner-wrapper .entity-company-content-right, .latest-news-section-item, .employee-academics-chart-wrapper'
    ).mCustomScrollbar({

        axis: "y",
        theme: "minimal-dark"
    });  
 
</script>