
    <!--  Risk Score Starts  -->
    <div class="header-content-entry person-bar-graph progress-bar-wrapper">
        <h3>Risk Score </h3>
        <div class="rightRiskScore">
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">DR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[1]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[1]}}%">
                        </div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[1].toFixed(2)}}
                        <span ng-if="scaledNumArr[1].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">IR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[0]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[0]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[0].toFixed(2)}}
                        <span ng-if="scaledNumArr[0].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
            <div class="risk-progressbar-holder">
                <div class="progress-wrapper">
                    <div class="inline">TR</div>
                    <div class="progress progress-gradient-grey">
                        <div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[2]}}%" aria-valuemin="0" aria-valuemax="100"
                            style="width: {{scaledNumArr[2]}}%"></div>
                    </div>
                    <div class="progress-percent">{{scaledNumArr[2].toFixed(2)}}
                        <span ng-if="scaledNumArr[0].toFixed(2)">%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-content-entry person-circle-graph  custom-person-circle-graph clearfix">
        <div class="c100 p{{cumulativeRisk| number: 0}} orange radial" ng-click="openRiskScoreModal();">
            <span class="inner-number riskScoreTooltip" ng-if="isDefined(cumulativeRisk) && cumulativeRisk != null">{{cumulativeRisk|
                number: 0}}%
                <!--                                         <span class="inner-text"> -->
                <!--                                             DETAILS -->
                <!--                                         </span> -->
            </span>
            <span class="inner-number" ng-if="!isDefined(cumulativeRisk) || cumulativeRisk == null ">
                N/A
            </span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <!--  Risk Score Ends  -->
    <!-- Screening Data  -->
    <div class="due-tab-wrapper">
        <div class="row custom-row">
            <div class="custom-col">
                <div class="panel custom-panel-wrapper details-panel-wrapper">
                    <div class="panel-heading d-flex ai-c">
                        <h4 class="top-details-heading f-12">Screening Results</h4>
                        <div class="company-details mar-autol">
                                <ul class="list-inline  custom-list count-list item-1">
    
                                    <li class="pad-x15 d-flex ai-c pad-y0">
                                        Identified
                                        <span class="text-dark-grey2 mar-r10">Risks</span>
                                        <span class="f-18 mxw-60 text-overflow"><!-- {{identifiedRisk+ScreeningRisk}} --> {{entitySearchResult.list.summaryCount.sanctionCount + entitySearchResult.list.summaryCount.financeCount + entitySearchResult.list.summaryCount.adverseCount + entitySearchResult.list.summaryCount.highRiskCount + entitySearchResult.list.summaryCount.pepCount}}</span>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="panel-body">
                      
                        <div class="company-details-body p-rel custom-media">
                            <span class="custom-spinner full-page-spinner" ng-show="entitySearchResult.is_data_not_found.is_rightScreening_data">
                                <i class="fa fa-spinner fa-spin fa-2x"></i>
                            </span>
                            <ul class="list-inline custom-list item-3 text-center screening-list">
                                <li ng-show="actualScreeningData[0].pep_url.length > 0">
                                    <span class="help-block">
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-if="actualScreeningData[0].pep_url.length  === 0" ng-mouseover="mouseover(actualScreeningData[0].pep_url, 'companyInfoTooltip');"
                                            ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].pep_url)"
                                            style="cursor: pointer;">[0P]</span>
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-if="actualScreeningData[0].pep_url.length !== 0" ng-mouseover="mouseover(actualScreeningData[0].pep_url, 'companyInfoTooltip');"
                                            ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].pep_url)"
                                            style="cursor: pointer;">[1P]</span>
                                        <span class="text-pink">[0S]</span>
                                    </span>
                                    <i class="fa fa-street-view text-light-orange showTooltip f-21 mar-y10" ng-click="openmodal(actualScreeningData[0], 'pepalert', $index)"
                                        ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <span class="help-block text-dark-grey2">PEP Alerts</span>
                                </li>
                                <li ng-hide="actualScreeningData[0].pep_url.length > 0">
                                    <span class="help-block">
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-if="actualScreeningData[0].pep_url === ''" ng-mouseover="mouseover(actualScreeningData[0].pep_url, 'companyInfoTooltip');"
                                            ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].pep_url)"
                                            style="cursor: pointer;">[0P]</span>
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-if="actualScreeningData[0].pep_url !== ''" ng-mouseover="mouseover(actualScreeningData[0].pep_url, 'companyInfoTooltip');"
                                            ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].pep_url)"
                                            style="cursor: pointer;">[1P]</span>
                                        <span class="text-pink">[0S]</span>
                                    </span>
                                    <i class="fa fa-street-view text-dark-green2 showTooltip f-21 mar-y10" ng-click="openmodal(actualScreeningData[0], 'pepalert', $index)"
                                        ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <span class="help-block text-dark-grey2">PEP Alerts</span>
                                </li>
                                <li ng-show="(actualScreeningData[0]['sanction_bst:description'].length > 0)">
                                    <span class="help-block">
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-hide="actualScreeningData[0].sanction_url !== ''" ng-mouseover="mouseover(actualScreeningData[0].sanction_url, 'companyInfoTooltip');"
                                            ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].sanction_url)"
                                            style="cursor: pointer;">[0P]</span>
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-show="actualScreeningData[0].sanction_url !== ''" ng-mouseover="mouseover(actualScreeningData[0].sanction_url, 'companyInfoTooltip');"
                                            ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].sanction_url)"
                                            style="cursor: pointer;">[1P]</span>
                                        <span class="text-pink">[0S]</span>
                                    </span>
                                    <i class="fa fa-ban text-light-orange showTooltip f-21 mar-y10" ng-click="openmodal(actualScreeningData[0], 'sanction', $index)"
                                        ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <span class="help-block text-dark-grey2">Sanctions</span>
                                </li>
                                <li ng-hide="(actualScreeningData[0]['sanction_bst:description'].length > 0)">
                                    <span class="help-block">
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-if="actualScreeningData[0].sanction_url === ''" ng-mouseover="mouseover(actualScreeningData[0].sanction_url, 'companyInfoTooltip');"
                                            ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].sanction_url)"
                                            style="cursor: pointer;">[0P]</span>
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-if="actualScreeningData[0].sanction_url !== ''" ng-mouseover="mouseover(actualScreeningData[0].sanction_url, 'companyInfoTooltip');"
                                            ng-style="myStyle2" ng-click="corporatePopup(actualScreeningData[0].sanction_url)"
                                            style="cursor: pointer;">[0P]</span>
                                        <span class="text-pink">[0S]</span>
                                    </span>
                                    <i class="fa fa-ban  text-dark-green2 showTooltip f-21 mar-y10" ng-click="openmodal(actualScreeningData[0], 'sanction', $index)"
                                        ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <span class="help-block text-dark-grey2">Sanctions</span>
                                </li>
                                <li ng-show="actualScreeningData[0].high_risk_jurisdiction === 'high'">
                                    <span class="help-block">
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-mouseover="mouseover('', 'companyInfoTooltip');" ng-style="myStyle2"
                                            ng-click="corporatePopup('')" style="cursor: pointer;">[0P]</span>
                                        <span class="text-pink">[0S]</span>
                                    </span>
                                    <i class="fa fa-globe text-light-orange showTooltip f-21 mar-y10" ng-click="openmodal(actualScreeningData[0], 'high_risk_jurisdiction')"
                                        ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <span class="help-block text-dark-grey2">Jurisdiction</span>
                                </li>
                                <li ng-hide="(actualScreeningData[0].high_risk_jurisdiction === 'high') || (actualScreeningData[0].high_risk_jurisdiction === 'medium')">
                                    <span class="help-block">
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-mouseover="mouseover('', 'companyInfoTooltip');" ng-style="myStyle2"
                                            ng-click="corporatePopup('')" style="cursor: pointer;">[0P]</span>
                                        <span class="text-pink">[0S]</span>
                                    </span>
                                    <i class="fa fa-globe text-dark-green2 showTooltip f-21 mar-y10" ng-click="openmodal(actualScreeningData[0], 'high_risk_jurisdiction')"
                                        ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <span class="help-block text-dark-grey2">Jurisdiction</span>
                                </li>
                                <li ng-show="actualScreeningData[0].high_risk_jurisdiction === 'medium'">
                                    <span class="help-block">
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-mouseover="mouseover('', 'companyInfoTooltip');" ng-style="myStyle2"
                                            ng-click="corporatePopup('')" style="cursor: pointer;">[0P]</span>
                                        <span class="text-pink">[0S]</span>
                                    </span>
                                    <i class="fa fa-globe text-light-yellow2 showTooltip f-21 mar-y10" ng-click="openmodal(actualScreeningData[0], 'high_risk_jurisdiction')"
                                        ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <span class="help-block text-dark-grey2">Jurisdiction</span>
                                </li>
                                <li ng-hide="actualScreeningData[0].finance_Crime_url.length === 0">
                                    <span class="help-block">
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-mouseover="mouseover(actualScreeningData[0].finance_Crime_url, 'companyInfoTooltip');"
                                            ng-style="myStyle2" ng-click="corporatePopup('')" style="cursor: pointer;">[0P]</span>
                                        <span class="text-pink">[0S]</span>
                                    </span>
                                    <i class="fa fa-gavel text-light-orange showTooltip f-21 mar-y10" ng-click="openmodal(actualScreeningData[0], 'financeCrime',0)"
                                        ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <span class="help-block text-dark-grey2">Finance Crime</span>
                                    <!--<i class="fa fa-gavel text-light-red showTooltip" ng-click="openmodal(screening, 'high_risk_jurisdiction')" ng-mouseover="tooltipdtata(screening)"></i>-->
                                </li>
                                <li ng-show="actualScreeningData[0].finance_Crime_url.length === 0">
                                    <span class="help-block">
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-mouseover="mouseover(actualScreeningData[0].finance_Crime_url, 'companyInfoTooltip');"
                                            ng-style="myStyle2" ng-click="corporatePopup('')" style="cursor: pointer;">[0P]</span>
                                        <span class="text-pink">[0S]</span>
                                    </span>
                                    <i class="fa fa-gavel text-dark-green2 showTooltip f-21 mar-y10" ng-click="openmodal(actualScreeningData[0], 'financeCrime',0)" ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <span class="help-block text-dark-grey2">Finance Crime</span>
                                    <!--<i class="fa fa-gavel text-light-red showTooltip" ng-click="openmodal(screening, 'high_risk_jurisdiction')" ng-mouseover="tooltipdtata(screening)"></i>-->
                                </li>
                                <li ng-hide="actualScreeningData[0].adverseNews_url.length === 0">
                                    <span class="help-block">
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-mouseover="mouseover('', 'companyInfoTooltip');" ng-style="myStyle2"
                                            ng-click="corporatePopup('')" style="cursor: pointer;">[0P]</span>
                                        <span class="text-pink">[0S]</span>
                                    </span>
                                    <i class="fa fa-newspaper-o text-light-orange showTooltip f-21 mar-y10" ng-click="openmodal(actualScreeningData[0], 'AdverseNews',0)"
                                        ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <span class="help-block text-dark-grey2">News</span>
                                    <!--<i class=" fa fa-newspaper-o text-light-red showTooltip" ng-click="openmodal(screening, 'high_risk_jurisdiction')" ng-mouseover="tooltipdtata(screening)"></i>-->
                                </li>
                                <li ng-show="actualScreeningData[0].adverseNews_url.length === 0">
                                    <span class="help-block">
                                        <span class="text-blue1 mar-r5 mar-r5 companyInfoTooltip" ng-mouseover="mouseover('', 'companyInfoTooltip');" ng-style="myStyle2"
                                            ng-click="corporatePopup('')" style="cursor: pointer;">[0P]</span>
                                        <span class="text-pink">[0S]</span>
                                    </span>
                                    <i class="fa fa-newspaper-o text-dark-green2 showTooltip f-21 mar-y10" ng-show=" actualScreeningData[0].adverseNews_url.length === 0  && actualScreeningData[0].non_negativenews.length === 0 "
                                        ng-click="openmodal(actualScreeningData[0], 'AdverseNews',0)" ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <i class="fa fa-newspaper-o text-dark-grey showTooltip f-21 mar-y10" ng-show=" actualScreeningData[0].adverseNews_url.length === 0  && actualScreeningData[0].non_negativenews.length > 0"
                                        ng-click="openmodal(actualScreeningData[0], 'AdverseNews',0)" ng-mouseover="tooltipdtata(actualScreeningData[0])"></i>
                                    <span class="help-block text-dark-grey2">News</span>

                                    <!--<i class=" fa fa-newspaper-o text-light-red showTooltip" ng-click="openmodal(screening, 'high_risk_jurisdiction')" ng-mouseover="tooltipdtata(screening)"></i>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Screening Resuls Ends -->
    <!-- Adverse news -->
    <div class="entity-item">
        <div class="recent-linkedin-wrapper">
            <h3>News <span class="pull-right" ng-show="!pageloader.treeGraphloader && pageloader.loadingText">Loading..</span></h3> 
  
            <div class="entity-result-item  recent-linkedin">
                <span class="custom-spinner full-page-spinner" ng-show="entitySearchResult.is_data_not_found.is_rightadverseNews">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </span>
                <div class="company-details-body p-rel custom-media" ng-show="complianceRightAdverseNews.length > 0 ">
                    <ul class="media-list">
                        <li class="media" ng-repeat="news in complianceRightAdverseNews">
                            <div class="recent-linkedin">
                                <div class="linkedin-content">
                                    <p>
                                        <a style="display:inline" class="c-arrow">{{news.title}}</a>
                                        <span class="custom-vla-icon text-dark-grey2 p-rel mar-x10 fa fa-circle-o" ng-click="openAdverseNewsModal(news,$index)">
                                            <i class="fa fa-circle c-pointer"></i>
                                        </span>
                                        <!-- <span ng-click="openAdverseNewsModal(news,$index)" class="c-pointer" title ="Visualizer "><img src="../assets/images/vla/Entity_extract.png" width="15px" height="15px" alt="entityVisualizer"></span> -->
                                        <span>
                                            <a target="_blank" href="{{news.url}}" title="Show Article Source in a new tab"> <i
                                                    class="fa fa-external-link text-dark-grey2 c-pointer"></i></a>
                                        </span>
                                    </p>
                                    <p ng-if="news.published">
                                        <b>Published at:</b> {{ news.published | date:'medium'}}</p>
                                </div>
                            </div>
                        </li>
        <!--                <li class="media" ng-repeat="news in officersAdverseNews">
                            <div class="recent-linkedin">
                                <div class="linkedin-content">
                                    <p>
                                        <a class="c-arrow" style="display:inline">{{news.title}}</a>
                                        <span class="custom-vla-icon text-dark-grey2 p-rel mar-x10 fa fa-circle-o" ng-click="openAdverseNewsModal(news,$index)">
                                            <i class="fa fa-circle c-pointer"></i>
                                        </span>
                                        <span>
                                            <a target="_blank" href="{{news.url}}" title="Show Article Source in a new tab"> <i
                                                    class="fa text-dark-grey2 fa-external-link c-pointer"></i></a>
                                        </span>
                                    </p>
                                    <p ng-if="news.published">
                                        <b>Published at:</b> {{ news.published | date:'medium'}}</p>
                                </div>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <div class="entity-result-item custom-result-item alert-message-wrapper" ng-hide="complianceRightAdverseNews.length > 0">
                    <div class="alert-message loading-message" ng-if=""></div>
                    <div class="alert-message alert-message-wrapper" ng-hide="entitySearchResult.is_data_not_found.is_rightadverseNews"> No
                        NEWS</div>
                </div>
        </div>
    </div>
    <!-- adverse news ends -->
    <!--  Map Wrapper Starts  -->
    <div class="entity-item associated-locations-wrapper">
        <h3>ASSOCIATED LOCATIONS</h3>
        <div>
            <div id="companyexample5" class="chartContentDiv"></div>
        </div>
    </div>
    <!--  Map Wrapper Starts  -->

   <script> 
    $('.entity-result-item').mCustomScrollbar({
        axis: "y"
    });
</script>