  <div class="header-content-entry person-circle-graph  custom-person-circle-graph clearfix">
        <h3 class="riskScoreColor">Risk Score </h3>
        <div class="c100 p{{cumulativeRisk| number: 0}} orange radial" ng-click="openRiskScoreModal();">
            <span class="inner-number riskScoreTooltip" ng-if="isDefined(cumulativeRisk) && cumulativeRisk != null">{{cumulativeRisk|
                number: 0}}%
                <!--                                         <span class="inner-text"> -->
                <!--                                             DETAILS -->
                <!--                                         </span> -->
            </span>
            <span class="inner-number" ng-if="!isDefined(cumulativeRisk) || cumulativeRisk == null ">
                N/A
            </span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>

    <div class="row custom-row mar-b0">
        <div class="panel p-rel custom-panel-wrapper  bg-transparent border-0  autodesk-panel-wrapper">

            <div class="panel-heading  bg-transparent progressbar-list-item">
                <h3 class="top-details-heading f-12">By Top-Countries</h3>
            </div>
            <div class="panel-body" id="byTopCountriesList">
                <!--  Progressbar List Starts-->
                <ul class="list-unstyled progressbar-list">
                    <li class="progressbar-list-item" ng-click="applyFilters(item.key, false, 'location', item.name, 'selectedMarker');" ng-repeat="item in threatIntelligenceTabData.topFilteredCountriesList"
                        ng-if="threatIntelligenceTabData.topFilteredCountriesList.length > 0">
                        <div class="left-col text-uppercase">{{item.name}}</div>
                        <div class="progress progress-gradient-grey bottom-pop">
                            <div ng-mouseover="showTooltipByIndustry(item.name, item.count, 'topCountries')" class="progress-bar topConutriesAndTechToolTip  progress-gradient-curious-blue c-pointer showTooltip"
                                role="progressbar" aria-valuenow="{{item.percent}}%" aria-valuemin="0"
                                aria-valuemax="100" style="width:{{item.percent}}%">
                                <span class="sr-only ">{{item.percent}} Complete</span>
                            </div>
                        </div>

                    </li>

                </ul>
                <!--  Progressbar List Ends-->
            </div>
            <div ng-if="threatIntelligenceTabData.topFilteredCountriesList.length == 0 && !threatIntelligenceTabData.worldMapLoader">
                <div class="autodesk-alert-class ">Data Not Found </div>

            </div>
            <span ng-show="threatIntelligenceTabData.worldMapLoader" class="custom-spinner">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </span>
        </div>
    </div>
    <div class="row mar-b0 custom-row">
        <div class="panel p-rel bg-transparent border-0  custom-panel-wrapper autodesk-panel-wrapper">
            <span ng-show="threatIntelligenceTabData.topTechnologiesLoader" class="custom-spinner">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </span>
            <div class="panel-heading bg-transparent panel-heading-right">
                <h3 class="top-details-heading  top-details-heading  pad-b10 multiple pad-x0  width-100 custom-auto-dropdown pull-right autodesk-newslist-border-class">By
                    Top Technologies


                    <div ng-dropdown-multiselect="" class="pull-right customScrollForSelect" options="threatIntelligenceTabData.technologiesList"
                        selected-model="technologyName" extra-settings="example34settings" events="selectTechnology"
                        disabled="threatIntelligenceTabData.technologiesList.length == 0" onSelectAll=""
                        onDeselectAll=""></div>

                </h3>
            </div>
            <div class="panel-body" id="technologiesList">
                <!--  Progressbar List Starts-->
                <ul class="list-unstyled width-100 progressbar-list">
                    <li class="progressbar-list-item" ng-click="applyFilters(item.key, false, 'technology', item.name, 'technologyMultiple', 'locationMultipleEnd')"
                        ng-repeat="item in threatIntelligenceTabData.filteredTechnologies | orderBy: '-count'"
                        ng-if="threatIntelligenceTabData.filteredTechnologies.length > 0">
                        <div class="left-col text-uppercase">{{item.name}}</div>
                        <div class="progress progress-gradient-grey bottom-pop">
                            <div ng-mouseover="showTooltipByIndustry(item.name, item.count, 'topTechnologies')" class="progress-bar topConutriesAndTechToolTip  progress-gradient-curious-blue c-pointer showTooltip"
                                role="progressbar" aria-valuenow="{{item.percent}}%" aria-valuemin="0"
                                aria-valuemax="100" style="width:{{item.percent}}%">
                                <span class="sr-only ">{{item.percent}} Complete</span>
                            </div>
                        </div>
                    </li>

                </ul>
                <!--  Progressbar List Ends-->
            </div>
            <div ng-if="threatIntelligenceTabData.filteredTechnologies.length == 0 && !threatIntelligenceTabData.topTechnologiesLoader">
                <div class="autodesk-alert-class autodesk-alert">Data Not Found </div>
            </div>
        </div>
    </div>
    <div class="row mar-b0 mar-x0">
        <div class="p-rel">
            <span ng-show="threatIntelligenceTabData.newsListLoader" class="custom-spinner ">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </span>
            <div class=" width-100 height-100 ng-scope" ng-if="threatIntelligenceTabData.newsListLength == 0 && !threatIntelligenceTabData.newsListLoader">
                <div class="autodesk-alert-class">Data Not Found</div>
            </div>
            <ul class="row p-rel pad-l0 top-row autodesk-top-alert-list width-a mar-b0 border-b0 h-160 custom-row" id="">

                <li class="width-a mnw-325 custom-col">
                    <div class="panel bg-transparent border-0 mar-b0 segment-panel-wrapper alert-message-wrapper">
                        <div class="panel-heading">
                            <h4>
                                Cyber Security
                                <strong class=" pull-right">{{threatIntelligenceTabData.newsList[0].incidentsCount}}</strong>

                            </h4>
                            <div class="select-group pad-x0 pad-y10 custom-select-dropdown pull-right autodesk-newslist-border-class" ng-if="threatIntelligenceTabData.newsListLength > 0">
                                <span ng-style="{'color': threatIntelligenceTabData.newsList[0].incidentAvg == 0 ? '#96a5a2' : threatIntelligenceTabData.newsList[0].incidentAvg > 0 ? '#cb3e4b' : '#63b844'}">
                                    <i class="fa fa-angle-down" ng-if="threatIntelligenceTabData.newsList[0].incidentAvg > 0"></i>
                                    <i class="fa fa-angle-up" ng-if="threatIntelligenceTabData.newsList[0].incidentAvg < 0"></i>
                                    {{threatIntelligenceTabData.newsList[0].incidentAvg}}%
                                </span>
                            </div>
                        </div>
                        <div class="panel-body  pad-x15 mxh-100 mnh-100px pad-y10">
                            <div id="bar_1"></div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>