	<div class="header-content-entry person-bar-graph progress-bar-wrapper">
		<h3>Risk Score </h3>
		<div class="rightRiskScore">
			<div class="risk-progressbar-holder">
				<div class="progress-wrapper">
					<div class="inline">DR</div>
					<div class="progress progress-gradient-grey">
						<div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[1]}}%" aria-valuemin="0" aria-valuemax="100"
							style="width: {{scaledNumArr[1]}}%">
						</div>
					</div>
					<div class="progress-percent">{{scaledNumArr[1].toFixed(2)}}
						<span ng-if="scaledNumArr[1].toFixed(2)">%</span>
					</div>
				</div>
			</div>
			<div class="risk-progressbar-holder">
				<div class="progress-wrapper">
					<div class="inline">IR</div>
					<div class="progress progress-gradient-grey">
						<div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[0]}}%" aria-valuemin="0" aria-valuemax="100"
							style="width: {{scaledNumArr[0]}}%"></div>
					</div>
					<div class="progress-percent">{{scaledNumArr[0].toFixed(2)}}
						<span ng-if="scaledNumArr[0].toFixed(2)">%</span>
					</div>
				</div>
			</div>
			<div class="risk-progressbar-holder">
				<div class="progress-wrapper">
					<div class="inline">TR</div>
					<div class="progress progress-gradient-grey">
						<div class="progress-bar  progress-gradient-curious-blue" role="progressbar" aria-valuenow="{{scaledNumArr[2]}}%" aria-valuemin="0" aria-valuemax="100"
							style="width: {{scaledNumArr[2]}}%"></div>
					</div>
					<div class="progress-percent">{{scaledNumArr[2].toFixed(2)}}
						<span ng-if="scaledNumArr[2].toFixed(2)">%</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-content-entry person-circle-graph  custom-person-circle-graph clearfix">
		<div class="c100 p{{cumulativeRisk| number: 0}} orange radial" ng-click="openRiskScoreModal();">
			<span class="inner-number riskScoreTooltip" ng-if="cumulativeRisk">{{cumulativeRisk|
				number: 0}}%
				<!--                                         <span class="inner-text"> -->
				<!--                                             DETAILS -->
			</span>
			<span class="inner-number" ng-if="!cumulativeRisk">
				N/A
			</span>
			<div class="slice">
				<div class="bar"></div>
				<div class="fill"></div>
			</div>
		</div>

	</div>