
/*==============================================================================
***********************  Animation Styles For The Site  ************************
==============================================================================*/

/*--  Transform Animation Styles  --*/
@-webkit-keyframes transform-animation{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-180deg);
    }
}
@-moz-keyframes transform-animation{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-180deg);
    }
}  
@keyframes transform-animation{ 
    from{
        transform: rotate(0);
    }
    to{ 
        transform: rotate(-180deg);
    }
}
@keyframes spin {
    0% {
        @include rotate(0deg);
    }
    100% {
        @include rotate(360deg);
    }
}

// Spin Randomly Animation
// @-webkit-keyframes spin-rotate {
//     0% {
//         transform:rotateX(0deg);
//     }
//    10% {
//         transform:rotateX(360deg);
//     }
//      30% {
//         transform:rotateY(360deg);
//     }
//      40% {
//         transform:rotateY(0deg);
//     }
//      60% {
//         transform:rotateX(0deg);
//     }
//     70% {
//         transform:rotateX(360deg);
//     }
//      90% {
//         transform:rotateY(360deg);
//     }
//      100% {
//         transform:rotateY(0deg);
//     }
    
// }
// @keyframes spin-rotate {
//     0% {
//         transform:rotateX(0deg);
//     }
//    10% {
//         transform:rotateX(360deg);
//     }
//      30% {
//         transform:rotateY(360deg);
//     }
//      40% {
//         transform:rotateY(0deg);
//     }
//      60% {
//         transform:rotateX(0deg);
//     }
//     70% {
//         transform:rotateX(360deg);
//     }
//      90% {
//         transform:rotateY(360deg);
//     }
//      100% {
//         transform:rotateY(0deg);
//     }
    
// }

// Bounce Animation
@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

/*--  Flicker Animation Styles  --*/

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
/*--  Pulsanate Animation Styles  --*/

@keyframes pulsanate {
    0% {
        box-shadow: none;
        transform: scale(1);
    }
    50% {
        box-shadow: 0 2rem 4rem rgba(0,0,0,.25);
        transform: scale(1.3);
    }
    100% {
        box-shadow: none;
        transform: scale(1);
    }
}

@-o-keyframes pulsanate {
    0% {
        box-shadow: none;
        transform: scale(1);
    }
    50% {
        box-shadow: 0 2rem 4rem rgba(0,0,0,.25);
        transform: scale(1.3);
    }
    100% {
        box-shadow: none;
        transform: scale(1);
    }
}

@-moz-keyframes pulsanate {
    0% {
        box-shadow: none;
        transform: scale(1);
    }
    50% {
        box-shadow: 0 2rem 4rem rgba(0,0,0,.25);
        transform: scale(1.3);
    }
    100% {
        box-shadow: none;
        transform: scale(1);
    }
}

@-webkit-keyframes pulsanate {
    0% {
        box-shadow: none;
        transform: scale(1);
    }
    50% {
        box-shadow: 0 2rem 4rem rgba(0,0,0,.25);
        transform: scale(1.3);
    }
    100% {
        box-shadow: none;
        transform: scale(1);
    }
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.0);
    }
    40% {
        -webkit-transform: scale (1 .0);
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale (1 .0);
        -webkit-transform: scale (1 .0);
    }
}



/*--  Appear with delay Animation Styles  --*/

@keyframes appearAnimation {
    0% {
        opacity: 0;
    }
   
    100% {
        opacity: 1;
    }
}

@-o-keyframes appearAnimation {
    0% {
        opacity: 0;
    }
   
    100% {
        opacity: 1;
    }
}

@-moz-keyframes appearAnimation {
    0% {
        opacity: 0;
    }
   
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes appearAnimation {
    0% {
        opacity: 0;
    }
   
    100% {
        opacity: 1;
    }
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/
@media (min-width:$screen-lg){

}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {
 
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {

}