/*
================================================================================
**********************  Custom Card Styles For The Site  ***********************
================================================================================
*/
.custom-card {
    @include padding(15px);
    background-color: #314650;
}

.bst_card_wrapper {
    background-color: #2d2d2d;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    margin-bottom: 0;
    border: 0;

    &_heading {
        background-color: transparent;
        height: 3.5rem;
    }

    h4,
    h3 {
        @extend .text-capitalize;
        @extend .roboto-light;
        @extend .text-cream;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
    }

    &_body {
        height: calc(100% - 3.5rem);
        @extend .pad-10px;
        @extend .text-cream;
        p,
        span,
        li {
            @extend .roboto-regular;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: -0.2px;

        }

        p {
            @extend .text-cream;

            font-size: 14px;
        }
    }
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/

@media (min-width:$screen-lg) {}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {}