/*==============================================================================
******************  Custom Panel Wrapper Styles For The Site  ******************
==============================================================================*/

.custom-panel-wrapper {
    @include margin(0 0 27px);
    @include box-shadow(none);
    @include border-radius(0);
    border: 1px solid $dark-grey3;

    .panel-heading {
        background-color: $light-black1;
        color: $white;

        .panel-title {
            @include padding(0);
            position: relative;

            i {
                font-size: $font-size-large;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .link-red {
            float: right;
            font-size: ($font-size-large - 5);
            line-height: ($line-height-computed * 1.05);
        }

        .link-black,
        .link-red,
        .link-white,
        .link-yellow {
            i {
                top: 3px;
                font-size: ($font-size-large - 2);
            }
        }
    }

    .panel-body {
        @include padding(30px 60px 60px);

        .row {
            +.row {
                @include margin(15px -15px 0);
            }
        }

        .description {
            @include margin(0 -15px 0);
            color: $dark-grey8;
            font-size: $font-size-base;
            line-height: ($line-height-computed * 1.05);
            font-family: $roboto-light;

            strong {
                color: $dark-grey9;
            }
        }

        .custom-list {
            li {
                a {
                    @extend .text-center;
                    color: $dark-grey8;
                    font-size: $font-size-base;
                    line-height: ($line-height-computed * 1.05);

                    img {
                        min-height: 50px;
                    }
                }
            }
        }
    }

    &.panel-info {
        .panel-body {
            p {
                color: $dark-grey8;
                font-size: $font-size-base;
                line-height: ($line-height-computed * 1.05);

                &.description {
                    @include margin(0 0 15px);
                    @include padding(0 0 15px);
                    border-bottom: 1px solid $dark-grey3;
                }
            }

            .breadcrumb {
                @include padding(0);
                background-color: transparent;

                li {
                    a {
                        color: $dark-grey8;
                        font-size: $font-size-base;
                        line-height: ($line-height-computed * 1.05);
                    }
                }
            }
        }

        .panel-footer {
            background-color: $light-blue;

            h3 {
                @include margin(0);
                @include padding(0 0 0 30px);
                color: $white;
                font-size: $font-size-large;
                position: relative;

                i {
                    font-size: ($font-size-large * 1.5);
                    position: absolute;
                    top: -3px;
                    left: 0;
                }

                small {
                    color: $white;
                    position: relative;
                    top: -2.5px;
                }
            }

            a {
                color: $white;
                font-size: $font-size-large;
            }
        }
    }

    &.bst_panel_wrapper {
        background-color: #2d2d2d;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
        border-radius: 10px;
        margin-bottom: 0;
        border: 0;

        .panel-heading {
            background-color: transparent;
            height: 3.5rem;
            padding: 10px 0 0 10px;
            .heading-icons{
                color:rgba(#fbfbfb,.8);
                &:active{
                    color:#3eb6ff;
                }
            }
            h4,
            h3 {
                @extend .text-capitalize;
                @extend .roboto-light;
                @extend .text-cream;
                font-size: 18px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
            }
        }

        .panel-body {
            height: calc(100% - 3.5rem);
            @extend .pad-10px;
            @extend .text-cream;

            p,
            span,
            li {              
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.43;
                letter-spacing: -0.2px;
            }
            p,        
            li {
                @extend .roboto-light;
            } 
            p {
                @extend .text-cream;

                font-size: 14px;
            }
            &.pad-x0{
                @extend .pad-x0;
            }
        }
    }
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/
@media (min-width:$screen-lg) {}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {
    .custom-panel-wrapper {
        .panel-heading {
            .panel-title {
                @include padding(0 0 0 20px);
                font-size: $font-size-base;

                i {
                    font-size: ($font-size-base + 2);
                    top: 2px;
                    left: -5px;
                }
            }

            .link-red {
                font-size: $font-size-base;
            }
        }
    }
}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {}