/*==============================================================================
******************  Custom Pagination Styles For The Site  *********************
==============================================================================*/

.pagination {
    li {
        >a {
            background-color: $pag-link-bg;
            color: $pag-link-color;
            border: 0;
            &:hover,
            &:focus {
                background-color: $pag-link-bg-success;
                color: $pag-link-color-success;
                border: 0;
            }
        }
        &.disabled {
            >a {
                background-color: $pag-link-bg-disabled;
                color: $pag-link-color-disabled;
                border: 0;
                &:hover,
                &:focus {
                    background-color: $pag-link-bg-disabled;
                    color: $pag-link-color-disabled;
                    border: 0;
                }
            }
        }
    }
    &.upload-pagination-wrapper {
        position: absolute;
        width: auto;
        bottom: 0;
        right: 40px;
    }
}

.right-pagination {
    position: absolute;
    right: 10px;
    bottom: 0;
}

.pagination-new {
    a {
        font-size: 1.4rem;
        color: #f1f1f1;
    }
    span {
        font-size: 1.4rem;
        margin: 0 25px 0 0;
        color: $text-color-default
    }
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/

@media (min-width:$screen-lg) {}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {}