/*==============================================================================
***********************  Custom Btn Styles For The Site  ***********************
==============================================================================*/

/*--  Bordered Button Styles  --*/
.bordered-button {
    box-sizing: border-box;
    height: 2.5em;
    padding:.4em 1.8em .4em!important;
    border-radius:1.4em!important;
    line-height: 1.5em;                    
    border: solid 2px #3eb6ff!important; 
    font-size: 1.4rem;
    background: transparent!important;
    background-color: transparent!important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: normal;
    text-align: center;
    color: #3eb6ff !important;
    text-transform: capitalize!important;
    &.grey-bordered{   
        color: #fff!important;
        border: 2px solid #fff!important;
    }  
    &:hover{
        opacity: .9;
      }
    &.sm-btns{ 
        padding: .4em .8em!important;
        line-height: 14px;
        vertical-align: middle;
        height: auto;
    }
}
/*--  Gradient Button Styles  --*/
.grad-button {
    box-sizing: border-box;
    height: 2.5em; 
    line-height: 1.9em;
    padding: .4em 1.8em .4em!important;
    border-radius: 1.4em!important; 
    background-image: linear-gradient(to bottom, #79c9ff, #009eff);
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    border: 0!important; 
    letter-spacing: normal;               
    text-align: center; 
    text-transform: capitalize!important;
    color: $text-color-default !important;
    &.sm-btns{
        padding: .4em .8em!important;
        line-height: 14px;
        vertical-align: middle; 
        height: auto;  
    }
    &:hover{
      opacity: .9;
    }
}
/*--  Gradient Grey Button Styles  --*/
.grad-grey-button {
    border-radius: 1.4em!important;
    box-sizing: border-box;
    height: 2.5em;
    line-height: 1.9em;
    padding: .4em 1.8em .4em!important;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    background-color: rgba($text-color-default2,0.38);
    text-transform: capitalize;
    border: 0!important;
    color: rgba(256,256,256,.5)!important;
    letter-spacing: normal;
    text-align: center;
    color: $text-color-default !important;
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/
@media (min-width:$screen-lg) {}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {}