/*==============================================================================
********************  Custom Tool-tip Styles For The Site  *********************
==============================================================================*/

body {
    >div {
        &.tooltip {
            display: none !important;
        }
    }
}

/*--  Custom Tool-tip Styles  --*/

.custom-tooltip {
    position: absolute;
    min-width: 300px;

    .tooltip-inner {
        @extend .text-capitalize;
        @include padding(7px 10px);
        @include border-radius(5px);
        background-color: $tooltip-inner;
        color: $bali-hai;
        font-family: $roboto-regular;
        font-size: $font-size-small;
        line-height: ($line-height-computed * .8);
        letter-spacing: .2px;
        max-width: 250px;
        border: 1px solid $tooltip-inner;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        margin-left: -5px;
        position: absolute;
        bottom: 1px;
        left: 50%;
        border-width: 8px 8px 0;
        border-style: solid;
    }

    &.top {
        padding: 8px 0;
        margin-top: -3px;
    }

    &.right {
        padding: 0 8px;
        margin-left: 3px;
    }

    &.bottom {
        padding: 8px 0;
        margin-top: 3px;
    }

    &.left {
        padding: 0 8px;
        margin-left: -3px;
    }

    .tooltip.top {
        .tooltip-arrow {
            bottom: 0;
            left: 50%;
            margin-left: -5px;
            border-width: 8px 8px 0;
            border-top-color: $tooltip-inner;
        }
    }

    &.top-left {
        .tooltip-arrow {
            right: 5px;
            bottom: 0;
            margin-bottom: -5px;
            border-width: 8px 8px 0;
            border-top-color: $tooltip-inner;
        }
    }

    &.top-right {
        .tooltip-arrow {
            bottom: 0;
            left: 5px;
            margin-bottom: -5px;
            border-width: 8px 8px 0;
            border-top-color: $tooltip-inner;
        }
    }

    &.right {
        .tooltip-arrow {
            top: 50%;
            left: 7px;
            margin-top: -5px;
            border-width: 8px 8px 8px 0;
            border-right-color: $tooltip-inner;
        }
    }

    &.left {
        .tooltip-arrow {
            top: 50%;
            right: 0;
            margin-top: -5px;
            border-width: 8px 0 8px 8px;
            border-left-color: $tooltip-inner;
        }
    }

    &.bottom {
        .tooltip-arrow {
            top: 0;
            left: 50%;
            margin-left: -5px;
            border-width: 0 8px 8px;
            border-bottom-color: $tooltip-inner;
        }
    }

    &.bottom-left {
        .tooltip-arrow {
            top: 0;
            right: 5px;
            margin-top: -5px;
            border-width: 0 8px 8px;
            border-bottom-color: $tooltip-inner;
        }
    }

    &.bottom-right {
        .tooltip-arrow {
            top: 0;
            left: 5px;
            margin-top: -5px;
            border-width: 0 8px 8px;
            border-bottom-color: $tooltip-inner;
        }
    }
}

.chart-tooltip {
    @extend .text-capitalize;
    @include border-radius(5px);
    background-color: $tooltip-inner !important;
    color: $bali-hai !important;
    font-family: $roboto-regular;
    font-size: $font-size-small !important;
    letter-spacing: .2px !important;
    pointer-events: none;
    visibility: hidden;
    max-width: 250px;
    padding: 5px !important;
    border: 1px solid $tooltip-inner !important;
    position: absolute;
    overflow: visible;
    z-index: 9;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.12), 0 5px 15px 0 rgba(0, 0, 0, 0.14);
    &:before {
        @include translateY(-50%);
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top: 50%;
        right: auto;
        left: -6px;
        border-top: 5px solid transparent;
        border-right: 5px solid $tooltip-inner;
        border-bottom: 5px solid transparent;
        z-index: 9;
    }
}

/*--  Time-line Tool-tip Styles  --*/

/*.work_flow_tip, */

#vla_tooltip,
.entity_vlatooltip,
.qtip-bootstrap,
.timeline-tooltip {
    @extend .chart-tooltip;

    h3 {
        @extend .text-uppercase;
        @include margin(0 0 10px);
        @include padding(0 0 10px 20px);
        color: $tooltip-heading-color;
        font-size: $font-size-base;
        font-weight: bold;
        border-bottom: 1px solid $tooltip-heading-border-color;
        position: relative;

        .icon {
            position: absolute;
            left: 0;
            top: 0;
            width: 15px;
        }
    }

    .icon {
        @include margin(0 10px 0 0);
        font-size: $font-size-small;
        color: $tooltip-icon-color;
    }

    .progress-text {

        i,
        img {
            @include margin(0 10px 0 0);
            display: inline-block;
        }

        span {
            @include margin(0 10px 0 0);
            display: inline-block;
        }
    }

    &.tooltip-left {
        &:before {
            @include translateY(-50%);
            position: absolute;
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            top: 50%;
            right: auto;
            left: -8px;
            border-top: 5px solid transparent;
            border-right: 8px solid $tooltip-inner;
            border-bottom: 5px solid transparent;
            z-index: 9;
        }
    }

    &.tooltip-right {
        &:before {
            @include translateY(-50%);
            position: absolute;
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            top: 50%;
            right: -8px;
            left: auto;
            border-top: 5px solid transparent;
            border-left: 8px solid $tooltip-inner;
            border-right: 0;
            border-bottom: 5px solid transparent;
            z-index: 9;
        }
    }
}

.work_flow_tip {
    max-width: 300px;
    @extend .text-capitalize;
    @include border-radius(5px);
    background-color: $tooltip-inner !important;
    color: $bali-hai !important;
    font-family: $roboto-regular;
    font-size: $font-size-small !important;
    letter-spacing: .2px !important;
    pointer-events: none;
    max-width: 250px;
    padding: 5px !important;
    border: 1px solid $tooltip-inner !important;
    position: absolute;
    z-index: 9;

    &:before {
        @include translateY(-50%);
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top: 50%;
        right: auto;
        left: -8px;
        border-top: 5px solid transparent;
        border-right: 8px solid $tooltip-inner;
        border-bottom: 5px solid transparent;
        z-index: 9;
    }

    p {
        @include margin(0 0 5px);
        line-height: ($line-height-computed * .75);

        &:last-of-type {
            @include margin(0);
        }
    }
}

/*--  Tooltip Left And Right Caret Styles  --*/
.line_chart_new_tooltip {
    text-transform: unset !important;
}

.toolTip_piehorizontal,
.toolTip_horizontal,
.sank_tooltip,
.Cluster_Chart_tooltip,
.TimeScale_Bubble_Chart_tooltip,
.TimeScale_Bubble_Chart_tooltip1,
.bubblehierarchy_tooltip,
.TimeScale_Bubble_Chart_tooltip,
.Bubble_Chart_tooltip,
.grouped-bar-tooltip,
.line_chart_tooltip,
.line_chart_new_tooltip,
.line_Chart_tooltip,
.line_chart_tool,
.grouped_bar_tooltip,
.context_tooltip {
    @extend .chart-tooltip;

    span {
        color: $tooltip-color !important;
    }

    &:before {
        display: none;
    }

    &.tooltip-left {
        &:before {
            @include translateY(-50%);
            position: absolute;
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            top: 50%;
            right: auto;
            left: -8px;
            border-top: 5px solid transparent;
            border-right: 8px solid $tooltip-inner;
            border-bottom: 5px solid transparent;
            z-index: 9;
        }
    }

    &.tooltip-right {
        &:before {
            @include translateY(-50%);
            position: absolute;
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            top: 50%;
            right: -8px;
            left: auto;
            border-top: 5px solid transparent;
            border-left: 8px solid $tooltip-inner;
            border-right: 0;
            border-bottom: 5px solid transparent;
            z-index: 9;
        }
    }

    &.cluster-chart-tooltip {
        max-height: none;
        min-width: 350px;
        background-color: #000 !important;

        .progressbar-list {
            margin-right: 10px;

            .progressbar-list-item {
                display: flex;
                align-items: center;
                margin: 0 0 3px;

                .left-col {
                    width: 80px;
                    white-space: normal;
                    line-height: 10px;
                }

                .progress {
                    width: calc(100% - 137px);
                }
            }
        }

        .c100 {
            font-size: ($font-size-base * 4);
            position: relative;
            top: 5px;
            left: 10px;

            span {
                position: absolute;
                @include center-position();
                color: #bd2267 !important;
            }
        }

        h3 {
            color: #bd2267;
            font-size: $font-size-base;
            margin-bottom: 0;
        }

        p {
            // color: #4d7082;
            font-size: $font-size-small;
        }

        .bar-chart-wrapper {
            @extend .mnh-100px;
        }
    }
}

.Bubble_Chart_tooltip,
.Bubble_Chart_tooltip * {
    z-index: 99;
}

.Screening_new_tooltip {
    @extend .top-right;
    min-width: 300px;
    max-width: 100%;
    width: auto;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.12), 0 5px 15px 0 rgba(0, 0, 0, 0.14);
    .top-heading {
       // border-bottom: 1px solid;

        .tool-tip-heading {
            margin-bottom: 7px;
        }

        .heading-icon {
            @extend .mar-r5;
        }
    }

    .primary-section {
        .custom-heading {
            @extend .pad-b5;
            border-bottom: 1px solid;

            h4 {
                @extend .f-10;
                @extend .mar-y5;
                line-height: 10px;
                font-size: 12px;
                color: #879fa9;
            }
        }

        .primary-para {
            a {
                text-transform: capitalize;
            }

            .bold-anchor {
                font-weight: bolder;
            }
        }

        a {
            @extend .width-100;
            @extend .mar-t10;
            @extend .f-12;
            color: rgba($text-color-default, .8);
            text-transform: lowercase;
            line-height: 14px;
            display: block;
        }
    }

    .secondary-section {
        margin-top: 7px;

        p {
            @extend .text-overflow;
            @extend .width-100;
            display: inline-block;
            line-height: 12px;
            font-size: 12px;
            color: #879fa9;
        }

        span {
            @extend .mar-x5;
            @extend .text-overflow;
            max-width: 50%;
            line-height: 12px;
            vertical-align: middle;
            font-size: 12px;
            color: #879fa9;
        }

        &.details-tooltip {
            font-size: 12px;
            color: #879fa9;
            max-width: 450px;

            .tooltip-heading {
                border-bottom: 1px solid;

                h3 {
                    margin-bottom: 7px;

                    .heading-icon {
                        @extend .mar-r5;
                    }
                }

                span {
                    @extend .mar-x5;
                    @extend .text-overflow;
                    max-width: 55%;
                    line-height: 12px;
                    font-size: 12px;
                    color: #879fa9;
                }
            }
        }
    }
}

.Bubble_Chart_tooltip {
    &.bubble-chart-cluster {
        min-width: 350px;
        max-width: 100%;
        width: auto;

        .chart-tooltip-right {
            .progressbar-list {
                .progressbar-list-item {
                    .right-col {
                        margin-left: 5px;
                        width: auto !important;
                    }
                }
            }
        }
    }
}

.line_chart_tooltip,
.world_map_tooltip1 {
    /*  padding: 0 !important; */
    overflow: hidden;
}

.datamaps-hoverover,
.toolTip_piehorizontal {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;

    &:before {
        @include translateY(-50%);
        position: absolute;
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        top: 50%;
        right: auto;
        left: -6px;
        border-top: 6px solid transparent;
        border-right: 8px solid rgb(27, 39, 53);
        border-bottom: 6px solid transparent;
        z-index: 9;
    }
}

/*--  Card Segment Tip Styles  --*/

.card_segment_tooltip {
    @include padding(15px);
    @include size(auto, auto);
    min-width: 350px;
    background-color: rgba(84, 84, 84,.9);

    .tooltip-top {
        margin-bottom: 10px;

        .card-tool-tip-right {
            width: 300px;

            h3 {
                @extend .text-uppercase;
                color: #5e7c8a;
            }
        }

        .card-tool-tip-left {
            width: auto;

            span {
                display: block;
                color: #945c21;
                font-weight: 700;
                font-size: ($font-size-base * 1.5);

                &:nth-of-type(2) {
                    margin-top: 40px;
                }
            }
        }
    }

    .tooltip-bottom {
        p {
            @extend .text-uppercase;
            width: 150px;
            color: #5e7c8a;
            font-size: $font-size-small;
        }

        strong {
            color: #945c21;
            font-size: $font-size-large;
            font-weight: 700;
        }

        .bottom-tool-tip-left {
            width: auto;
        }

        .bottom-tool-tip-right {
            width: auto;
        }
    }
}

/*--  Arc Segment Tool Tip Styles  --*/

.arc_segment_tooltip {
    @include size(auto, auto);
    @include padding(20px 15px 0);
    min-width: 350px;
    background-color: rgba(84, 84, 84,.9);

    .tooltip-top {
        margin-bottom: 10px;

        .tool-tip-right {
            width: 300px;
            display: inline-block;

            p {
                @extend .text-uppercase;
                color: #587584;
                font-size: 12px;
                margin: 0 0 15px;
            }
        }

        .tool-tip-left {
            width: auto;
            display: inline-block;

            h3 {
                color: #f581be;
                margin: 26px 0 15px;
                font-size: 17px;
                font-weight: 700;
            }

            span {
                display: block;
                color: #377fb9;
                font-size: 21px;
                margin: 0 0 15px;
                font-weight: 700;

                &:nth-of-type(1) {
                    margin: 5px 0 25px 0;
                }
            }

            strong {
                color: #377fb9;
                font-size: 25px;
                margin: 0 0 15px;
                font-weight: 700;
            }
        }
    }
}

/*--  Leaflet Popup Styles  --*/

.leaflet-fade-anim {
    .leaflet-map-pane {
        .leaflet-popup {
            .leaflet-popup-content-wrapper,
            .leaflet-popup-tip {
                background: $tooltip-inner;
                color: $tooltip-color;
                .leaflet-popup-content {
                    a {    
                        color: $tooltip-color;
                        &.leaflet-popup-close-button {
                            margin: 0;
                            color: #b3cfe5;
                            font-size: 18px;
                            font-weight: 400;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.bst_tooltip_wrapper {
    position:relative; 
    &:hover {
        &:after {
            visibility: visible;
            opacity: 1;
        }
    } 
    &:after {    
        @extend .roboto-regular; 
        opacity: 0; 
        visibility: hidden;
        background-color: #424242 !important;
        border: 2px solid #424242 !important;     
        color: $text-color-default;  
        font-size: 12px;
        padding: 5px;
        content: attr(name);
        position: absolute;          
        top: -100%;
        border-radius: 10px;
        left: -50%;
        transform: translate(-50%, -50%);   
        transition: all .5s ease;
    } 
}           
     
/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/

@media (min-width:$screen-lg) {}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {}