/*==============================================================================
***********************  Wrapper Styles For The Site  **************************
==============================================================================*/

.custom-accordion {
  .panel {
    @include box-shadow(none);
    @include border-radius(0);
    background-color: transparent;
    border: 0;

    .panel-heading {
      @include margin(0 0 15px);
      @include padding(0 0 15px);
      @include border-radius(0);
      background-color: transparent;
      border-bottom: 1px solid rgba(53, 77, 88, 0.3);

      .panel-title {
        color: #8197a1;
        font-family: $roboto-regular;
        font-size: $font-size-small;

        a {
          @extend .pad-r25;
          @extend .text-overflow;
          display: block;

          .action-icon-list {
            li {
              i {
                position: relative;
              }
            }
          }
        }
      }
    }

    .panel-body {
      @include margin(0 0 15px);
      color: #8197a1;
      font-family: $roboto-regular;
      font-size: $font-size-base;
      padding: 0 0 15px !important;
      border: 0 !important;
      border-bottom: 1px solid #354b55 !important;

      .custom-list {
        li {
          a {
            font-size: $font-size-small;
            line-height: ($line-height-computed * 0.75);
            text-align: left;
          }
        }
      }
    }
  }
}

.bst_custom_accordian {
  .panel-group {
    .panel-default {
      border: none;
      @extend .pad-b5;
      .panel-heading {
        @extend .bg-transparent;
        @extend .pad-x0;
        border: none;
        border-bottom: 1px solid rgba(249, 249, 249, 0.2);
        border-radius: 0;
      }
      .panel-title {
        a {
          @extend .width-100;
          > span {
            @extend .roboto-bold;
            @extend .text-cream;
            @extend .d-flex;
            @extend .ai-c;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
          }
          i {
            @extend .mar-autol;
          }
        }
      }

      &:nth-of-type(odd) {
        background-color: #353535;
      }

      &:nth-of-type(even) {
        background-color: #2d2d2d;
      }
    }
  }
  &.evidence-accordian-wrapper {
    .panel-default {
      background: #424242!important;
      border-radius: 10px;
      position:relative;
      &.active{
        &:after{
          background-image: linear-gradient(to bottom, #79c9ff, #009eff);
        }
      }
      &:after{
            content: "";
            position: absolute;
            height: 100%;
            width: 5px;
           background-image: linear-gradient(to top, rgba(249, 249, 249, 0.2), rgba(250, 250, 250, 0.5));
            top: 0;
            border-radius: 5px 0 0 5px;
      }
      &.panel-open {
        background: #009eff;
      }
      & > .panel-heading {
        .custom-media-wrapper {
          padding: 0 10px !important;
          .media-left {
            padding: 0 !important ;
            background: transparent;
          }
          .entity-company-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #747474;
            img {
              width: 100%;
              height: 100%;
              background: #fbfbfb;
              border-radius: 50%;
            }
            i {
              font-size: 14px;
              color: rgba(251, 251, 251, 0.6);
              margin: 0 auto !important;
            }
          }
          .media-body {
            background: transparent !important;
            padding: 10px 0 0 10px !important;
            .media-header-wrapper {
              display: flex;
              ul {
                li {
                  padding-left: 10px;
                  font-size: 15px ;
                }
              }
            }
          }
        }
        & + .panel-collapse > .panel-body {
          border-top: 0;
          padding: 0;
          padding-left: 70px;
        }
      }
    }
    .panel-title:before {
      height: 0 !important;
    }
  }
  &.company_details {
    .panel-default {
      @extend .pad-x25;

      .panel-body {
        border: none;
        @extend .pad-x0;
      }
    }
  }
}

// New Accordian design
.bst_accordian_wrapper{
  .panel-group{
    .panel{
      @extend .bg-transparent;
      position:relative; 
      &:after{
        position:absolute;
        content:"";
        width:100%;      
        height: 1px;
        bottom:0;
        background-image: linear-gradient(to left, rgba(249, 249, 249, 0.2), rgba(250, 250, 250, 0.5));
      }
      border:0;      
      .panel-heading{
        @extend .bg-transparent;
        .accordion-toggle{
          width:100%;
          &>span{
            width:100%;
          }
        }
        .dropdown-toggle{
          color:#fbfbfb;
          text-transform: capitalize;
        }
      }
      .panel-body{
        @extend .bg-transparent;
        padding:0px 20px 10px 0;
        border:0;        
      }
      &.panel-open{
        .dropdown-toggle{
          .fa-caret-down{
            &:before{
              content:"\f0d8";
            }            
          }
        }        
      }
    }
  }
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/

@media (min-width: $screen-lg) {
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {
}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {
}
