/*==============================================================================
*********************  Custom Table Styles For The Site  ***********************
==============================================================================*/

/*--  Six Column Styles  --*/

/*--  Table Scroll Styles  --*/

.table {
    &.scroll-table {
        @include margin(0);
        table-layout: fixed;
        border-collapse: collapse;
        display: block;

        .mCSB_container {
           // @extend .pad-r10;
            @extend .mar-0;
        }

        .mCSB_scrollTools_vertical {
            right: -5px;
        }

        thead {
           // @extend .pad-r10;
            display: block;
            width: 100%;
            background-color: transparent !important;

            tr {
                @extend .clearfix;
                display: flex;
                align-items: center;
                width: 100%;
                margin: 0 auto;
                border-radius: 0.5rem !important;
                color: $text-color-default;
                background-image: linear-gradient(to right, #79c9ff, #009eff) !important;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14) !important;
                border: 0 !important;

                th {
                    @extend .pull-left;
                    background-color: transparent !important;
                    color: $text-color-default;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    vertical-align: middle;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: flex;
                    align-items: center;
                    .c100:hover>span {
                        width: 1.9em;
                        line-height: 2.1em;
                        font-size: .5em;
                        color: #307bbb;
                    }
                    .c100>span {
                        -webkit-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                        font-size: .4em;
                        line-height: 2.6em;
                        color: #ccc;
                        text-align: center;
                        white-space: nowrap;
                        left: 0;
                        top: 0;
                        display: block;
                        width: 2.4em;
                        z-index: 1;
                    }
                    p,
                    span {
                        color: $text-color-default;
                        line-height: 1.2;
                        font-size: 1.4rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                    }

                    span {
                        //   padding-bottom: 1em;
                    }
                }
            }
        }

        tbody {
            display: block;
            width: 100% !important;
            overflow: hidden !important;

            tr {
                @extend .clearfix;
                display: flex;
                align-items: center;
                width: 100%;
                border-radius: 0.5em;
                color: $text-color-default;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14) !important;
                background-color: #545454 !important;
                margin: 5px 0;

                td {
                    @extend .pull-left;
                    background-color: transparent !important;
                    color: $text-color-default;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    vertical-align: middle;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: flex;
                    align-items: center;

                    p,
                    span {
                        margin: 0;
                        color: $text-color-default;
                        line-height: 1.2;
                        font-size: 1.4rem;
                        vertical-align: middle;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        &.fa {
                            padding-bottom: 1em;
                        }
                    }
                }

            }
        }
        &.five-col-news  {
            margin: 0 auto;

            thead {
                tr {                   

                    th {
                      

                        &:nth-of-type(1) {
                            width:22.5%;                 
                        }

                        &:nth-of-type(2) {
                            width:22.5%; 
                        }

                        &:nth-of-type(3) {
                            width: 10%;
                        }

                        &:nth-of-type(4) {
                            width:22.5%; 
                        }

                        &:nth-of-type(5) {
                            width:22.5%; 
                        }
                    }
                }
            }

            tbody {
                tr {
                   

                    td {
                        &:nth-of-type(1) {
                            width:22.5%;                            
                        }

                        &:nth-of-type(2) {
                            width:22.5%; 
                        }

                        &:nth-of-type(3) {
                            width: 10%;
                        }

                        &:nth-of-type(4) {
                            width:22.5%; 
                        }

                        &:nth-of-type(5) {
                            width:22.5%; 
                        }
                    }
                }
            }
        }

        &.six-col-docparser {
            // width: 100.8em!important;
            margin: 0 auto;

            thead {
                tr {
                    font-size: 1rem;
                    height: 5.2em;

                    th {
                        font-size: 1rem;
                        height: 5.2em;
                        line-height: 5.2em;

                        &:nth-of-type(1) {
                            width: 32%;

                            p,
                            span {
                                padding-left: 1em;
                            }
                        }

                        &:nth-of-type(2) {
                            width: 13%;
                        }

                        &:nth-of-type(3) {
                            width: 10%;
                        }

                        &:nth-of-type(4) {
                            width: 15%;
                        }

                        &:nth-of-type(5) {
                            width: 20%;
                        }

                        &:nth-of-type(6) {
                            width: 10%;
                        }
                    }
                }
            }

            tbody {
                tr {
                    font-size: 1rem;
                    height: 5.2em;

                    td {
                        font-size: 1rem;
                        height: 5.2em;
                        line-height: 5.2em;

                        &:nth-of-type(1) {
                            width: 32%;

                            p,
                            span {
                                padding-left: 1em;
                            }
                        }

                        &:nth-of-type(2) {
                            width: 13%;
                        }

                        &:nth-of-type(3) {
                            width: 10%;
                        }

                        &:nth-of-type(4) {
                            width: 15%;
                        }

                        &:nth-of-type(5) {
                            width: 20%;
                        }

                        &:nth-of-type(6) {
                            width: 10%;
                        }
                    }
                }
            }
        }

        &.n-col-table {
            overflow: visible !important;

            thead {
                overflow: visible !important;

                tr {
                    @extend .d-flex;
                    overflow: visible !important;
                    font-size: 1rem;
                    height: 5.2em;
                    border-radius: 0 !important;

                    th {
                        @extend .d-flex;
                        @extend .ai-c;
                        justify-content: center;
                        font-size: 1rem;
                        height: 5.2em;
                        line-height: 1.2!important;
                        width: 16rem;

                        p {
                            line-height: 1.2 !important;
                            font-size: 14px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.43;
                            letter-spacing: -0.2px;
                            margin: 0;
                        }

                    }
                }
            }

            tbody {
                overflow: visible !important;

                tr {
                    @extend .d-flex;
                    overflow: visible !important;
                    font-size: 1rem;
                    height: 5.2em;

                    td {
                        @extend .d-flex;
                        @extend .ai-c;
                        justify-content: center;
                        text-transform: unset !important;
                        font-size: 1rem;
                        height: 5.2em;
                        line-height: 1.2 !important;
                        width: 16rem;

                        p {
                            line-height: 1.2 !important;
                            font-size: 14px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.43;
                            letter-spacing: -0.2px;
                        }

                    }

                    &:nth-of-type(1) {
                        background-color: #545454 !important;

                        td {
                            overflow: visible;
                        }
                    }

                    &:nth-of-type(even) {
                        background-color: #2d2d2d !important;
                    }

                    &:nth-of-type(odd) {
                        background-color: rgba(251, 251, 251, .04) !important;
                    }
                }
            }
        }
    }


    &.table-striped {
        tr {
            &:nth-of-type(even) {
                background-color: #2d2d2d !important;
            }

            &:nth-of-type(odd) {
                background-color: rgba(251, 251, 251, .04) !important;
            }
        }

    }

    &.col-four-unequal {
        thead {
            background-color: transparent;

            th {
                background-color: transparent !important;
            }
        }

        tr {
            &:nth-of-type(odd) {
                background-color: transparent;
            }
        }

        tbody {
            tr {
                &:nth-of-type(odd) {
                    background-color: transparent;
                }
            }
        }

        &.leadgen-table {
            tbody {
                tr {
                    td {
                        overflow: visible;

                        span {
                            //  @extend .roboto-regular;                      
                            max-width: 100%;
                            color: $text-color-default !important;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.43;
                            font-size: 1.4rem;
                            letter-spacing: -0.2px;

                            &.fa.fa-angle-right {
                                color: #407fb3 !important;
                                font-weight: bolder;
                                font-size: 2.1rem;
                                right: -1px;
                                line-height: 1em;
                                top: 3px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    &.striped-table {
        tbody {
            tr {
                td {
                    text-transform: unset;
                    white-space: normal;
                }

                &:nth-of-type(even) {
                    background-color: transparent !important;
                    border: 0;
                    box-shadow: none !important;

                }
            }
        }
    }
}

.custom-data-table-wrapper {
    .table {
        &.striped-table {
            border-bottom: none !important;

            tbody {
                tr {
                    td {
                        text-transform: unset;
                        white-space: normal;
                    }

                    &:nth-of-type(even) {
                        background-color: transparent !important;
                        border: 0;
                        box-shadow: none !important;
                    }
                }
            }
        }

        &.table-striped-z {
            tbody{
                background-color: #2d2d2d !important;
            }
            tr {
                &:nth-of-type(even) {
                    background-color: #2d2d2d !important;
                }

                &:nth-of-type(odd) {
                    background-color: rgba(251, 251, 251, .04) !important;
                }
            }

        }

        &.full-width {

            tbody,
            thead {
                padding-right: 0!important;
                border-radius: 0!important;
                margin: 0;
                tr {
                    border-radius: 0!important;
                    margin: 0;
                }
            }
        }

        &.scroll-table {
            thead {
                tr {
                    th {
                        color: $text-color-default;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        color: $text-color-default;
                    }
                }
            }
        }
    }
}

.n-col-custom-table {
    width: 100vw;
    height: calc(100vh - 158px);
}


/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/

@media (min-width: $screen-lg) {}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {}