 
/*  
================================================================================
************************  Font Styles For The Site  ****************************
================================================================================
*/
/*--  Bootstrap Fonts  --*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../../../assets/fonts/glyphicons-halflings-regular.eot");
  src: url("../../../assets/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
   url("../../../assets/fonts/glyphicons-halflings-regular.woff2") format("woff2"), 
   url("../../../assets/fonts/glyphicons-halflings-regular.woff") format("woff"), 
   url("../../../assets/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
   url("../../../assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); 
} 
 
/*--  Font Awesome Fonts  --*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../../../assets/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), 
  url("../../../assets/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), 
  url("../../../assets/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), 
  url("../../../assets/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), 
  url("../../../assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; 
 }
  
/*--  Roboto Fonts  --*/
@font-face {  
	font-family: 'Roboto';
	src: url("../../../assets/fonts/roboto/roboto.eot");
	src: url("../../../assets/fonts/roboto/roboto.eot?#iefix") format("embedded-opentype"),
		url("../../../assets/fonts/roboto/roboto.woff") format("woff"),
		url("../../../assets/fonts/roboto/roboto.ttf") format("truetype"),
		url("../../../assets/fonts/roboto/roboto.svg#svgFontName") format("svg");
}

/*--  Roboto Bold Fonts  --*/
@font-face {
	font-family: 'Roboto Bold';
	src: url("../../../assets/fonts/roboto-bold/roboto-bold.eot");
	src: url("../../../assets/fonts/roboto-bold/roboto-bold.eot?#iefix") format("embedded-opentype"),
		url("../../../assets/fonts/roboto-bold/roboto-bold.woff") format("woff"),
		url("../../../assets/fonts/roboto-bold/roboto-bold.ttf") format("truetype"),
		url("../../../assets/fonts/roboto-bold/roboto-bold.svg#svgFontName") format("svg");
}

/*--  Roboto Light Fonts  --*/
@font-face {
	font-family: 'Roboto Light';
	src: url("../../../assets/fonts/roboto-light/roboto-light.eot");
	src: url("../../../assets/fonts/roboto-light/roboto-light.eot?#iefix") format("embedded-opentype"),
		url("../../../assets/fonts/roboto-light/roboto-light.woff") format("woff"),
		url("../../../assets/fonts/roboto-light/roboto-light.ttf") format("truetype"),
		url("../../../assets/fonts/roboto-light/roboto-light.svg#svgFontName") format("svg");
}

/*--  Roboto Light Italic Fonts  --*/
@font-face {
	font-family: 'Roboto Light Italic';
	src: url("../../../assets/fonts/roboto-light-italic/roboto-light-italic.eot");
	src: url("../../../assets/fonts/roboto-light-italic/roboto-light-italic.eot?#iefix") format("embedded-opentype"),
		url("../../../assets/fonts/roboto-light-italic/roboto-light-italic.woff") format("woff"),
		url("../../../assets/fonts/roboto-light-italic/roboto-light-italic.ttf") format("truetype"),
		url("../../../assets/fonts/roboto-light-italic/roboto-light-italic.svg#svgFontName") format("svg");
}

/*--  Roboto Regular Fonts  --*/
@font-face {
	font-family: 'Roboto Regular';
	src: url("../../../assets/fonts/roboto-regular/roboto-regular.eot");
	src: url("../../../assets/fonts/roboto-regular/roboto-regular.eot?#iefix") format("embedded-opentype"),
		url("../../../assets/fonts/roboto-regular/roboto-regular.woff") format("woff"),
		url("../../../assets/fonts/roboto-medium/roboto-regular.ttf") format("truetype"),
		url("../../../assets/fonts/roboto-regular/roboto-regular.svg#svgFontName") format("svg");
}

/*--  Roboto Medium Fonts  --*/
@font-face {
	font-family: 'Roboto Medium';
	src: url("../../../assets/fonts/roboto-medium/roboto-medium.eot");
	src: url("../../../assets/fonts/roboto-medium/roboto-medium.eot?#iefix") format("embedded-opentype"),
		url("../../../assets/fonts/roboto-medium/roboto-medium.woff") format("woff"),
		url("../../../assets/fonts/roboto-medium/roboto-medium.ttf") format("truetype"),
		url("../../../assets/fonts/roboto-medium/roboto-medium.svg#svgFontName") format("svg");
}

/*--  Francois One Regular Fonts  --*/
@font-face {
	font-family: 'Francois One Regular';
	src: url("../../../assets/fonts/francoisone-regular/francoisone-regular.eot");
	src: url("../../../assets/fonts/francoisone-regular/francoisone-regular.eot?#iefix") format("embedded-opentype"),
		url("../../../assets/fonts/francoisone-regular/francoisone-regular.woff") format("woff"),
		url("../../../assets/fonts/francoisone-regular/francoisone-regular.ttf") format("truetype"),
		url("../../../assets/fonts/francoisone-regular/francoisone-regular.svg#svgFontName") format("svg");
}

/*--  Cherokee Regular Font  --*/
@font-face {
    font-family: 'cherokee-regular';
    src: url('../../../assets/fonts/cherokee-regular/cherokee-regular.eot');
    src: url('../../../assets/fonts/cherokee-regular/cherokee-regular.eot?#iefix') format("embedded-opentype"),
      url('../../../assets/fonts/cherokee-regular/cherokee-regular.woff') format("woff"),
      url('../../../assets/fonts/cherokee-regular/cherokee-regular.ttf') format("truetype"), 
      url('../../../assets/fonts/cherokee-regular/cherokee-regular.svg#cherokeeregular') format("svg");
    font-weight: normal;
    font-style: normal;
}
/*--  Raleway Regular Font  --*/
@font-face {
    font-family: 'raleway-light';
    src: url('../../../assets/fonts/raleway/Raleway-Light.ttf');
    src: url('../../../assets/fonts/raleway/Raleway-Light.ttf') format("truetype");     
    font-weight: 300;
    font-style: normal;
}