<flash-message class="main-flash-wrapper"></flash-message>
<div class="upload-media-modal-wrapper">
	<span ng-show="addMediaPreloader" class="custom-spinner case-dairy-spinner"> 
		<i class="fa fa-spinner fa-spin fa-2x"></i>
	</span>
	<div class="modal-header">
		<button type="button" class="close" aria-hidden="true" ng-click="closeUploadDocument()"><span>&#x2716;</span></button>
		<h4 class="modal-title">UPLOAD DOCUMENT</h4>
	</div>
	<div class="modal-body">
		<form class="form">
			<div class="form-group row">
				<label class="control-label">File Title :</label> 
				<input type="text" class="form-control" id="upload-doc-file-title"  ng-model="uploadDocumentFileTitle">
			</div>
<!-- 			<div class="form-group row"> -->
<!-- 				<label class="control-label">Remarks :</label> -->
<!-- 				<textarea class="form-control" id="upload-doc-remarks" rows="3" ng-model="uploadDocumentRemarks"></textarea> -->
<!-- 			</div> -->
		</form>
		<div ng-if="!uploadDocTypeList" class="text-dark-grey2">Supported File Types : pdf, docx, xlsx, csv, txt, rtf, jpg, jpeg, png, gif</div><br>
		<div ng-if="uploadDocTypeList && uploadDocTypeList.length == 0  " class="text-dark-grey2">Files cant be uploaded</div><br>
		<span ng-if="!maxFile_size" class="text-dark-grey2">File Size: up to 20MB</span>
		<div ng-if="uploadDocTypeList.length > 0" class="text-dark-grey2">Supported File Types : <span  ng-repeat="uploadFileType in uploadDocTypeList track by $index">{{uploadFileType}}<span class="mar-r5" ng-if="!$last">,</span></span></div><br>
		<span ng-if="maxFile_size" class="text-dark-grey2">File Size: up to {{maxFile_size}}</span>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary btn-update" ng-disabled = "uploadDocTypeList && uploadDocTypeList.length == 0" ngf-select="uploadDocumentOnSubmit($file,$event)">
			<i class="fa fa-upload"></i><span>Upload</span>
		</button>
		<button type="button" class="btn btn-default btn-cancel" ng-click="closeUploadDocument()">Close</button>
	</div>
</div>
