  <div class="upload-questionnaire-modal-wrapper" >
     <div class="modal-header">
        <button type="button" class="close" ng-click="chatBotModalController.closechatbot()" data-dismiss="modal" aria-hidden="true"><span>&#x2716;</span></button>
        <h4 class="modal-title">Sure to close conversation?</h4>
     </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-update" ng-click="chatBotModalController.resetchatbot();">Yes</button> 
        <button type="button" class="btn btn-cancel" ng-click="chatBotModalController.closechatbot();" data-dismiss="modal">No</button>
     </div>
</div>