<div class="modal-header d-none">
   <button type="button" class="close text-cream" ng-click="closeDataPopUp()" data-dismiss="modal" aria-hidden="true"><span>&#x2716;</span></button>
   <h4 class="modal-title" id="mainTitle">Delete Template</h4>
</div>
<div class="modal-body pad-x15">
	<div class="row">
		<div class="col-sm-12">
			<p id="mainData" class="text-left text-cream">
	              Are you sure you wish to delete this template?
			</p>
		</div>
		<div class="btn-group width-100 text-right">
				<button class="grad-button" type="button" ng-click="ok()">Yes</button>
				<button class="bordered-button" type="button" ng-click="closeDataPopUp()">No</button>
		</div>	
	</div>
</div>
