<div class="upload-media-modal-wrapper">
	<span ng-show="createEventPreloader" class="custom-spinner case-dairy-spinner"> 
		<i class="fa fa-spinner fa-spin fa-2x"></i>
	</span>
	<div class="modal-header">
		<button type="button" class="close" aria-hidden="true" ng-click="closeCreateEvent()"><span>&#x2716;</span></button>
		<h4 class="modal-title" ng-hide="isEdit">Create an Event</h4>
		<h4 class="modal-title" ng-show="isEdit">Update an Event</h4>
	</div>
	<div class="modal-body">
    	<form class="form">
	        <div class="form-group clearfix">
	            <label class="col-sm-3 control-label">Subject</label>
	            <div class="col-sm-9">
	                <input class="form-control" placeholder="Subject" type='text'  ng-model='subject'/>
	            </div>
	        </div>
	        <div class="form-group clearfix">
	            <label class="col-sm-3 control-label">Description</label>
	            <div class="col-sm-9">
	                <textarea class="form-control" rows="5"  id="" ng-model='description'></textarea>
	            </div>
	        </div>
	        <div class="form-group clearfix">
	            <label class="col-sm-3 control-label"><i class="fa fa-user"></i> Send To:</label>
	            <select class="form-control" id="newUserId" ng-model="user.userIds" multiple="true">
					<option ng-repeat="item in user.userList" value="{{item.userId}}">{{item.firstName}}{{item.lastName}}</option>
				</select>
	        </div> 
<!-- 	        <div class="form-group clearfix"> -->
<!-- 	           <div class="row"> -->
<!-- 			      <div class="col-md-6"> -->
<!-- 			        <p class="input-group"> -->
<!-- 			          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="todayVariable.dtFrom" is-open="todayVariable.fromDate" datepicker-options="todayVariable.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-change="todayFunctions.onChangeDateFrom(todayVariable.dtFrom)" /> -->
<!-- 			          <span class="input-group-btn"> -->
<!-- 			            <button type="button" class="btn btn-default" ng-click="todayFunctions.openscheduleFrom()"><i class="glyphicon glyphicon-calendar"></i></button> -->
<!-- 			          </span> -->
<!-- 			        </p> -->
<!-- 			      </div> -->
<!-- 		    	  <div class="col-md-6"> -->
<!-- 			        <p class="input-group"> -->
<!-- 			          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="todayVariable.dtTo" is-open="todayVariable.toDate" datepicker-options="todayVariable.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-change="todayFunctions.onChangeDateTo(todayVariable.dtTo)"  /> -->
<!-- 			          <span class="input-group-btn"> -->
<!-- 			            <button type="button" class="btn btn-default" ng-click="todayFunctions.openscheduleTo()"><i class="glyphicon glyphicon-calendar"></i></button> -->
<!-- 			          </span> -->
<!-- 			        </p> -->
<!-- 			      </div> -->
<!-- 				</div> -->
			<div class="form-group clearfix">
				<label class="col-sm-4 pad-t10">Select Range:</label>
				<div class="col-sm-4">
					<label class="control-label text-uppercase">Start Date</label>
					<div class="input-group date custom-input-group right" data-provide="datepicker">
						<input placeholder="08/29/2017 00:00" type="text" class="form-control alphanumSpecials" value="" id="rest_example_3_start" name="rest_example_3_start" ng-model="StartDate" />
						<div class="input-group-addon">
							<span class="fa fa-angle-down"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<label class="control-label text-uppercase">End Date</label>
					<div class="input-group date custom-input-group right" data-provide="datepicker">
						<input placeholder="12/21/2017 00:00" type="text" class="form-control alphanumSpecials" value="" id="rest_example_3_end" name="rest_example_3_end" ng-model="EndDate" />
						<div class="input-group-addon">
							<span class="fa fa-angle-down"></span>
						</div>
					</div>
			 	</div>
		   </div>
	    </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary btn-update" ng-click="createEvent()" ng-disabled='!subject || !description || !StartDate' ng-hide="isEdit">Create</button>
		<button type="button" class="btn btn-primary btn-update" ng-click="updateEvent()" ng-disabled='!subject || !description || !StartDate' ng-show="isEdit">Update</button>
		<button type="button" class="btn btn-default btn-cancel" ng-click="closeCreateEvent()">Cancel</button>
	</div>
</div>