<div>
	<div class="custom-spinner case-dairy-spinner" ng-show="entityLoader">
		<i class="fa fa-spinner fa-spin fa-3x"></i>
	</div>
	<div class="modal-header">
		<button type="button" class="close" ng-click="closeEntityModal()" data-dismiss="modal" aria-hidden="true"><span>&#x2716;</span></button>
		<h4 class="modal-title"><a href="{{url}}" target="_blank">{{title}}</a></h4><!-- 
		<select ng-model="selectedItem">
			<option ng-repeat="item in languageTransition" value="{{item}}" selected>{{item}}</option>
		</select> -->
	</div>
	<div class="modal-body">
		<div id="displacy"></div>
	</div>
</div>

<script>
	$('.entity-visualiser-modal .modal-body').mCustomScrollbar({
		axis : "y",
		theme : "minimal-dark"
	});
</script>