<div class="modal-header">
	<button type="button" class="close" aria-hidden="true"
		ng-click="closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">Select Filters</h4>
</div>
<div class="modal-body">
	<form class="form">
		<div class="row form-group mar-b5 text-uppercase">
			<label class="col-sm-4 pad-t10"> Search: </label>
			<div class="col-sm-8 text-uppercase">
				<div class="custom-select-dropdown">
					<input type="text" class="form-control"
						uib-typeahead="state for state in CompleteList | filter:$viewValue | limitTo:8"
						ng-model="searchKeyword">
					<div class="searchKeywordErrorDiv error-message"
						ng-show="searchKeyword.length>0 && searchKeyword.length<3 && !isOnlyKeyword">
						<small>Search keyword length should atleast be 3
							characters.</small>
					</div>
				</div>
			</div>
		</div>

		<div class="row  form-group mar-b5 text-uppercase"
			ng-hide="isOnlyKeyword">
			<label class="col-sm-4 pad-t10">TYPE:</label>
			<div class="col-sm-8">
				<select class="form-control text-uppercase" ng-model="seletedtype">
					<option>ALL</option>
					<option>kyc</option>
				</select>
			</div>
		</div>
		<div class="row  form-group mar-b5 text-uppercase"
			ng-hide="isOnlyKeyword">
			<label class="col-sm-4 pad-t10">Order By:</label>
			<div class="col-sm-8">
				<select class="form-control  text-uppercase"
					ng-model="seletedOrderby">
					<option value="createdOn">Created On</option>
					<option value="name">Name</option>
					<option value="priority">priority</option>
					<option value="health">health</option>
					<option value="currentstatus">current status</option>
					<option value="directrisk">direct risk</option>
					<option value="indirectrisk">indirect risk</option>
					<option value="transactionalrisk">transactional risk</option>
				</select>
			</div>
		</div>
		<div class="row form-group mar-b0 text-uppercase"
			ng-hide="isOnlyKeyword">
			<label class="col-sm-4 pad-t10">OrderIn:</label>
			<div class="col-sm-8">
				<select class="form-control  text-uppercase"
					ng-model="seletedOrderIn">
					<option value="asc">Ascending</option>
					<option value="desc">Descending</option>
				</select>
			</div>
		</div>
		<div class="row form-group mar-b0 text-uppercase"
			ng-show="isOnlyKeyword && !RiskRatio && !onlySearch && !statusList">
			<label class="col-sm-4 pad-t10">Entity Type:</label>
			<div class="col-sm-8">
				<select class="form-control  text-uppercase"
					ng-model="seletedEntityType">
					<option value="ALL">ALL</option>
					<option ng-repeat="keys in keysTofilter" value="{{keys}}">{{keys}}</option>
					<!-- 					<option value="persons">{{keys==FilteredKey}}</option> -->
					<!-- 					<option value="companies">Companies</option> -->
					<!-- 					<option value="locations">Locations</option> -->
					<!-- 					<option value="phrases">Phrases</option> -->
				</select>
			</div>
		</div>
		<div class="row  form-group mar-b5 text-uppercase"
			ng-hide="isOnlyKeyword && !RiskRatio">
			<label class="col-sm-4 pad-t10">Priority:</label>
			<div class="col-sm-8">
				<select class="form-control  text-uppercase"
					ng-model="seletedPriority">
					<option value="ALL">ALL</option>
					<option value="HIGH">high</option>
					<option value="MEDIUM">medium</option>
					<option value="LOW">low</option>
				</select>
			</div>
		</div>
		<div class="row  form-group mar-b5 text-uppercase" ng-hide="isOnlyKeyword && !statusList">
			<label class="col-sm-4 pad-t10">Status:</label>
			<div class="col-sm-8">
				<select class="form-control  text-uppercase" ng-model="seletedStatus">
					<option value="ALL">ALL</option>
					<option ng-repeat="status in statusList" value="{{status.code }}">{{status.status}}</option>
				</select>
			</div>
		</div>
		<div class="row  form-group mar-b5 text-uppercase" ng-show="itemsPerPage">
			<label class="col-sm-4 pad-t10">Items per page:</label>
			<div class="col-sm-8">
				<input type="number" class="form-control" ng-model="recordsPerPage" min="1">
			</div>
		</div>
		<div class="row  form-group mar-b5 text-uppercase"
			ng-show="isdateRequired">
			<label class="col-sm-4 pad-t10">Select Range:</label>
			<div class="col-sm-4">
				<!-- 			 	<div class="form-group"> -->
				<label class="control-label text-uppercase">Start Date</label>
				<div class="input-group date custom-input-group right"
					data-provide="datepicker">
					<!-- <div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div> -->
					<!-- 								<input type="text" class="form-control" id="start_date"> -->
					<input placeholder="08/29/2017 00:00" type="text"
						class="form-control alphanumSpecials" value=""
						id="rest_example_3_start" name="rest_example_3_start"
						ng-model="StartDate" />
					<div class="input-group-addon">
						<span class="fa fa-angle-down"></span>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<!-- 						<div class="form-group"> -->
				<label class="control-label text-uppercase">End Date</label>
				<div class="input-group date custom-input-group right"
					data-provide="datepicker">
					<!-- <div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div> -->
					<!-- 								<input type="text" class="form-control" id="end_date"> -->
					<input placeholder="12/21/2017 00:00" type="text"
						class="form-control alphanumSpecials" value=""
						id="rest_example_3_end" name="rest_example_3_end"
						ng-model="EndDate" />
					<div class="input-group-addon">
						<span class="fa fa-angle-down"></span>
					</div>
				</div>
			</div>
		</div>


	</form>
</div>
<div class="modal-footer">
	<button type="button"
		ng-disabled="searchKeyword.length>0 && searchKeyword.length<3 && !isOnlyKeyword"
		class="btn btn-update" ng-click="applyFilters()">Apply</button>
</div>