<form name="noteForm" novalidate>
    <div class="modal-body pad-b0">
        <p class="mar-0 ">Please Enter Title</p>
        <div class="custom-input-group">
            <input type='text' id="getTitle" name="getTitle" ng-model="getTitle" required ng-minlength="4"/>
            <span style = "color:red" ng-show="noteForm.getTitle.$error.required">*Title is required</span>
            <span style = "color:red" ng-show="noteForm.getTitle.$error.minlength">*Minimum 4 character required</span>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-disabled="noteForm.getTitle.$invalid" ng-click="confirmDocument('','sticky')"
            class="btn btn-update">Save</button>
        <button type="button" ng-click="confirmDocument('close')" class="btn btn-update">Cancel</button>
    </div>
</form>