<div id="onboardinghere" ng-if="showOnBoardingQuestionary">
	<div class="modal-header text-center">
	   <h3 class="modal-title" ng-if="!openCheckList">Onboarding Questionnaire</h3>
	    <h3 class="modal-title" ng-if="openCheckList">Compliance Checklist</h3>
	   <button type="button" class="close" ng-click="idvQuestionaire.closeOnBoardingQuestionnaireModal()" style="position: absolute; right:20px; top: 20px;">&times;</button>
	</div>
	<div class="iframe-wrapper">
   		<iframe class="iframe1" ng-src="{{idvQuestionaire.filterUrl()}}" />
	</div>
</div>
<div class="intro-onboarding" ng-if="showOnBoardingIntro">
   <div class="intro-onboarding-inner-wrapper">
      <h3>KNOW YOUR CUSTOMER</h3>
      <h4>Please confirm your consent for participation</h4>
      <h5 style="">
         Terms & Condition
      </h5>
      <p class="onboarding-terms">
         Welcome to our Questionnaire. The questionnaire on this website, was designed by BST in accordance 
         with the company policy. By using this questionnaire you are agreeing to comply with and be bound 
         by the following terms and conditions of use, which together with our privacy policy govern 
         Blackswan-techologies\' relationship with you in relation to this website. If you disagree with 
         any part of these terms and conditions, please do not use our website. The term [Customer\'s name] 
         refers to the owner of the data whose registered office is [address]. Our company registration 
         number is [company registration number and place of registration]. The term \'you\' refers to 
         the user or viewer of our website. The use of this website is subject to the following terms 
         of use: The content of the pages of this website is for your general information and use only.
         It is subject to change without notice. This website uses cookies to monitor browsing preferences. 
         If you do allow cookies to be used, the following personal information may be stored by us for use
         by third parties: [insert list of information]. Neither we nor any third parties provide any warranty
         or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information 
         and materials found or offered on this website for any particular purpose. You acknowledge that such
         information and materials may contain inaccuracies or errors and we expressly exclude liability for 
         any such inaccuracies or errors to the fullest extent permitted by law. Your use of any information
         or materials on this website is entirely at your own risk, for which we shall not be liable. It shall
         be your own responsibility to ensure that any products, services or information available through
         this website meet your specific requirements. This website contains material which is owned by or
         licensed to us. This material includes, but is not limited to, the design, layout, look, appearance
         and graphics. Reproduction is prohibited other than in accordance with the copyright notice, 
         which forms part of these terms and conditions. All trade marks reproduced in this website which are
         not the property of, or licensed to, the operator are acknowledged on the website. Unauthorised 
         use of this website may give rise to a claim for damages and/or be a criminal offense. From time 
         to time this website may also include links to other websites. These links are provided for your 
         convenience to provide further information. They do not signify that we endorse the website(s).
         We have no responsibility for the content of the linked website(s). Your use of this website and 
         any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland,
         Scotland and Wales.
      </p>
      <div class="intro-onboarding-footer">
         <a href="javascript:void(0);" ng-click="idvQuestionaire.closeidvQuestionaireModal()" id="closemodal">Cancel</a>
         <a href="javascript:void(0);" ng-click="idvQuestionaire.onClickAgree()" id="agree"><i class="fa fa-check-circle"></i> Agree</a>
      </div>
   </div>
</div>

<script>
	$('.onboarding-terms').mCustomScrollbar({
		axis : "y"
	});
	$('.iframe-wrapper').mCustomScrollbar({
		axis : "y",
		theme : "minimal-dark"
	});
</script>