
<!-- Widget Capture Modal Starts  -->
<div class="capture-modal-wrapper" id="maximizeAllchart">
	<span ng-show="widgetCapturePreloader" class="custom-spinner case-dairy-spinner"> 
		<i class="fa fa-spinner fa-spin fa-2x"></i>
	</span>
	<div class="modal-header">
		<button type="button" class="close" ng-click="closeWidgetCaptureModal()"><span>&#x2716;</span></button>
		<h4 class="modal-title">{{header}}</h4>
	</div>
	<div class="modal-body screencapture-modal-body">
		<div class="row">
			<div class="col-sm-12">
				<div id="maximizeChart" class="text-center dashboard-wrapper" style="height:80vh"></div>
			</div>
		</div>
	</div>
		
</div>
<!-- Widget Capture Modal Ends  -->
