<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">Select Filters</h4>
</div>
<div class="modal-body">
     <div class="datepicker-wrapper">
                        <div id="notification_reportrange" class="range-wrapper">
                            <i class="fa fa-calendar-o icon-left"></i>
                            <span></span>
                            <i class="fa fa-angle-down icon-right"></i>
                        </div>
                    </div>
	<form class="form">
		<div class="row form-group mar-b5 text-uppercase">
			<label class="col-sm-4 pad-t10"> Search: </label>
			<div class="col-sm-8 text-uppercase">
				<input class="form-control" ng-model="searchKeyword">
				<div class="searchKeywordErrorDiv error-message" ng-show="searchKeyword.length>0 && searchKeyword.length<5 && !isOnlyKeyword">
					<small>Search keyword length should atleast be 5 characters.</small>
				</div>
			</div>
		</div>
		<div class="row  form-group mar-b5 text-uppercase" ng-hide="isOnlyKeyword">
			<label class="col-sm-4 pad-t10">TYPE:</label>
			<div class="col-sm-8">
				<select class="form-control text-uppercase" ng-model="seletedtype">
					<option>ALL</option>
					<option>kyc</option>
				</select>
			</div>
		</div>
		<div class="row  form-group mar-b5 text-uppercase" ng-hide="isOnlyKeyword">
			<label class="col-sm-4 pad-t10">Order By:</label>
			<div class="col-sm-8">
				<select class="form-control  text-uppercase" ng-model="seletedOrderby">
					<option value="createdOn">Created On</option>
					<option value="name">Name</option>
					<option value="priority">priority</option>
					<option value="health">health</option>
					<option value="currentstatus">current status</option>
					<option value="directrisk">direct risk</option>
					<option value="indirectrisk">indirect risk</option>
					<option value="transactionalrisk">transactional risk</option>
				</select>
			</div>
		</div>
		<div class="row form-group mar-b0 text-uppercase" ng-hide="isOnlyKeyword">
			<label class="col-sm-4 pad-t10">OrderIn:</label>
			<div class="col-sm-8">
				<select class="form-control  text-uppercase" ng-model="seletedOrderIn">
					<option value="asc">Ascending</option>
					<option value="desc">Descending</option>
				</select>
			</div>
		</div>
		<div class="row form-group mar-b0 text-uppercase" ng-show="isOnlyKeyword">
			<label class="col-sm-4 pad-t10">Entity Type:</label>
			<div class="col-sm-8">
				<select class="form-control  text-uppercase" ng-model="seletedEntityType">
					<option value="ALL">ALL</option>
					<option value="persons">Persons</option>
					<option value="companies">Companies</option>
					<option value="locations">Locations</option>
					<option value="phrases">Phrases</option>
				</select>
			</div>
		</div>
		<div class="row  form-group mar-b5 text-uppercase" ng-hide="isOnlyKeyword">
			<label class="col-sm-4 pad-t10">Priority:</label>
			<div class="col-sm-8">
				<select class="form-control  text-uppercase" ng-model="seletedPriority">
					<option value="ALL">ALL</option>
					<option value="HIGH">high</option>
					<option value="MEDIUM">medium</option>
					<option value="LOW">low</option>
				</select>
			</div>
		</div>
		<div class="row  form-group mar-b5 text-uppercase" ng-hide="isOnlyKeyword">
			<label class="col-sm-4 pad-t10">Status:</label>
			<div class="col-sm-8">
				<select class="form-control  text-uppercase" ng-model="seletedStatus">
					<option value="ALL">ALL</option>
					<option ng-repeat="status in statusList" value="{{status.code }}">{{ status.status }}</option>
					<!-- 							<option value=1>Fresh</option>					 -->
					<!-- 							<option value=2>Submitted</option> -->
					<!-- 							<option value=3>Acknowledge</option> -->
					<!-- 							<option value=4>Accepted</option>	 -->
					<!-- 							<option value=5>Pause</option>					 -->
					<!-- <!-- 							<option value=6>Rejected</option> -->-->
					<!-- <!-- 							<option value=7>Focus</option> -->-->
					<!-- 							<option value=8>Resolved</option>	 -->
					<!-- 							<option value=9>Canceled</option>							 -->
				</select>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" ng-disabled="searchKeyword.length>0 && searchKeyword.length<5 && !isOnlyKeyword" class="btn btn-update"
	    ng-click="notificationFunctions.applyFilters()">Apply</button>
</div>