<!--  Onboarding Modal Wrapper Starts  -->
<div class="onboarding-modal-wrapper">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" ng-click="onBoardingModal.closeonBoarding()"><span>&#x2716;</span></button>
	    <h4 class="modal-title">Onboarding Workflow</h4>
	</div>
	<div class="modal-body">
	    <h3 class="modal-subtitle">
	        Your Application is under process
	    </h3>
	    <div class="modal-text">
	        <span class="help-block">Your status will be updated once each process has been successfully completed.</span> 
<!-- 	        You will be notified on each stage through email or you can check back this link -->
	    </div>
	    <div class="bootstrap-wizard-wrapper">
	        <ul class="bootstrapWizard form-wizard clearfix">	        
	        	<li class="btn-group dropdown" uib-dropdown>
				      <a href="javascript:void(0);" id="single-button" class="dropdown-toggle" uib-dropdown-toggle>
				        <span class="step" ng-style="onBoardingModal.isUploadQuestionaire ? {'background-color':'green'} :  {'background-color':'red'}"><i ng-class="onBoardingModal.isUploadQuestionaire ? 'fa fa-check' : 'fa fa-exclamation'" aria-hidden="true"></i></span>
				        <span class="title">ID&V Questionnaire</span>
				      </a>
				      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
				        <li><a ng-click="onBoardingModal.displayIDVQuestionnaire()">ID&V Questionnaire</a></li>
				        <li><a ng-click="onBoardingModal.displayUploadQuestionnaire()">Upload Questionnaire</a></li>
				      </ul>
		   		 </li>	       
	            <li data-target="#step2" class="active" ng-class="{'disabled': !onBoardingModal.isUploadQuestionaire}" >
	                <a href="javascript:void(0);" ng-style="onBoardingModal.isUploadQuestionaire ? {'pointer-events':'all'} : {'pointer-events':'none'}" data-toggle="tab" ng-click="onBoardingModal.isUploadQuestionaire ? onBoardingModal.uploadDocuments(): ''">
	                  <span class="step" ng-style="onBoardingModal.isUploadDocuments ? {'background-color':'green'} :  {'background-color':'red'}"><i ng-class="onBoardingModal.isUploadDocuments ? 'fa fa-check' : 'fa fa-exclamation'" aria-hidden="true"></i></span>
	                  <span class="title">Upload Documents</span> 
	                </a>
	            </li>
<!-- 	            <li data-target="#step3" class="active"> -->
<!-- 	                <a href="javascript:void(0);" ng-style="onBoardingModal.isUploadQuestionaire ? {'pointer-events':'all'} : {'pointer-events':'none'}" data-toggle="tab" ng-click="onBoardingModal.uploadKYCQuestionaire()"> -->
<!-- 		                  <span class="step" ><i class="fa fa-check"></i></span> -->
<!-- 		                  <span class="title">KYC Questionnaire</span>  -->
<!-- 	                 </a> -->
<!-- 	            </li> -->
	            <li data-target="#step4" class="active" ng-class="{'disabled': !(onBoardingModal.isUploadDocuments && onBoardingModal.uploadedFilesLength >=6)}">
	                <a href="javascript:void(0);" ng-style="onBoardingModal.isUploadDocuments && onBoardingModal.uploadedFilesLength >=6 ? {'pointer-events':'all'} : {'pointer-events':'none'}" data-toggle="tab" ng-click="onBoardingModal.isUploadDocuments && onBoardingModal.uploadedFilesLength >=6 ? onBoardingModal.uploadAdditionalDocs(): ''">
		                 <span class="step"><i class="fa fa-check"></i></span> 
		                 <span class="title">Upload Additional Documents</span> 
	                 </a>
	            </li>
	            <li data-target="#step5" class="active" ng-class="{'disabled':true}">
	                <a href="javascript:void(0);" ng-style="onBoardingModal.isUploadQuestionaire ? {'pointer-events':'all'} : {'pointer-events':'none'}" data-toggle="tab"> 
		                <span class="step"><i class="fa fa-check"></i></span> 
		                <span class="title">Process Completed</span> 
	                </a>
	            </li>
	        </ul>
	    </div>
	</div>
</div>
<!--  Onboarding Modal Wrapper Ends  -->