<div class="upload-media-modal-wrapper">
	<span ng-show="participantsPreloader" class="custom-spinner case-dairy-spinner"> 
		<i class="fa fa-spinner fa-spin fa-2x"></i>
	</span>
	<div class="modal-header">
		<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
		<h4 class="modal-title" ng-hide="isRemove">Add participants</h4>
		<h4 class="modal-title" ng-show="isRemove">Remove participants</h4>
	</div>
	<div class="modal-body">
    	<form class="form">
	        <div class="form-group clearfix">
	            <label class="col-sm-3 control-label"><i class="fa fa-user"></i> participants:</label>
	            <select class="form-control" id="newUserId" ng-model="user.userIds" multiple="true" ng-hide="isRemove">
					<option ng-repeat="item in user.userList" value="{{item.userId}}">{{item.firstName}}{{item.lastName}}</option>
				</select>
				<select class="form-control" id="newUserId" ng-model="user.userIds" multiple="true" ng-show="isRemove && user.userList.length > 0">
					<option ng-repeat="item in user.userList" value="{{item.userId}}">{{item.name}}</option>
				</select>
				<span ng-show="isRemove && user.userList.length == 0">No participants found.</span>
	        </div> 
	    </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary btn-update" ng-click="addParticipants()" ng-hide="isRemove" ng-disabled="user.userIds.length == 0">Add</button>
		<button type="button" class="btn btn-primary btn-update" ng-click="removeParticipants()" ng-show="isRemove" ng-disabled="user.userIds.length == 0">Remove</button>
		<button type="button" class="btn btn-default btn-cancel" ng-click="closeModal()">Cancel</button>
	</div>
</div>