<style>



.dropdownBottomWidth{
border-bottom: solid;
    border-bottom-width: 1px;
    color: #407fb3;
}


.selectdivDropdown:after {
    content: '\f078';
    font: normal normal normal 8px/1 FontAwesome;
    color: #407fb3;
    z-index:-1;
    right: 4px;
    position: absolute;
    cursor: pointer;
}


.pointNone{
pointer-events: none;}

.validClass{
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
}

.text-orneClr{
color: #f15034 !important;
}

.otherModal {text-align: center;
    color: cadetblue;
    cursor: pointer;
  }
   
   .highlight:hover{
    background-color: #3B3E53;
   }
   
   
   #OsintTab a{
   	color: #6d6969 !important;
   }


</style>
<flash-message class="main-flash-wrapper"></flash-message>
<div class="modal-header">
    <button type="button" class="close text-slate-grey" data-dismiss="modal" ng-click="riskScoringFunction.closeRiskModal();">
        <span>&#x2716;</span>
    </button>
    <h4 class="modal-title">Decision Scoring</h4>
</div>
<div class="modal-body pad-y0">
    <span ng-if="riskScoringVariable.riskScoringLoader" data-dismiss="true" class="custom-spinner h-450 case-dairy-spinner">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </span>
    <!--  Settings Landing Wrapper Starts  -->
    <div class="settings-landing-wrapper height-95 pad-0">
        <div class="welcome-page-wrapper tiles-wrapper pad-15px" ng-if="domainWrapper">
            <h3 class="text-center">Please select a domain</h3>

            <div class="row" id='homePageMenu'>
                <!-- <div class="col-sm-4">
              
            </div> -->
                <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="(k,modal) in domains">
                    <div class="tile mnh-100px mar-10 pad-0 domain-tile-wrapper" ng-class="{ 'active': {{modal.id == 'default'}} }"
                        ng-if="modal.id != 'Default'" id="{{name.modalName.split(' ').join('__')}}">
                        <div class="widget-header custom-input-group pad-l15 bg-transparent border-0">
                            <!--  <input ng-if='!enableInput' class="custom-input text-overflow text-uppercase pad-l0 f-16 border-0" ng-model="modal.decisionModelName"
                                class="" disabled> -->
                            <div>
                                <h3 ng-click="riskScoringFunction.selectDomain(modal,k,modal.id == 'default')" ng-if='!enableInput' class=" text-overflow mar-t5 text-uppercase pad-l0 f-16 border-0 c-pointer">{{modal.decisionModelName}}</h3>
                                <input ng-if='enableInput' maxlength="255" ng-model="modal.decisionModelName" class="custom-input text-uppercase pad-l0 f-16 ">
                                <span ng-show='enableInput' ng-click="enableInput = false;riskScoringFunction.renameModel(modal,k)" class='right-addon c-pointer input-group-addon fa fa-check'></span>
                                <span ng-show='enableInput' ng-click="riskScoringFunction.renameModel(modal,'clear')" class='right-addon c-pointer right-addon2 input-group-addon fa fa-remove'></span>
                                <p class="danger-message" ng-show='modal.showValid'>Domain Name Already Exist </p>

                            </div>

                            <a href="javascript:void(0);" class="dropdown-toggle z-999999" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-v ellipsis"></i>
                            </a>
                            <ul class="dropdown-menu pad-r15 filter-menu">
                                <li>
                                    <a href="javascript:void(0);" class="border-0" ng-click="enableInput =true;">
                                        Rename
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="border-0" ng-click="riskScoringFunction.cloneDomain(modal)">
                                        Clone
                                    </a>
                                </li>
                                <li ng-if="modal.id != 'default'">
                                    <a href="javascript:void(0)" class="border-0" ng-click="riskScoringFunction.deleteDomain($event,modal)">
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-bottom row pad-x15 c-arrow">
                            <div class="col-sm-9 widget-content pad-r0">
                                <p class=" mar-t10 f-10">Created On
                                    <span>{{modal.createdOn}}</span>
                                </p>
                                <p class=" f-10">Modified On
                                    <span ng-if="modal.modifiedOn  ==''">-</span>
                                    <span ng-if="modal.modifiedOn !=''">{{modal.modifiedOn}}</span>
                                </p>
                            </div>
                            <div class="col-sm-3 widget-content">
                                <div class="custom-checkbox	 decision-checkbox inline top-pop welcome-page decision-score-pop mar-t15 width-a">
                                    <label  ng-if="modal.id == 'default'" class="checkbox-inline " popover-append-to-body='true' popover-class="top-pop-wrapper" uib-popover='Active domain' popover-trigger="'mouseenter'"
                                        popover-placement='top'>
                                        <input type="checkbox">
                                        <span ng-class="{ 'active': {{modal.id == 'default'}} }">
                                            <i class="fa fa-check text-grey-slate"></i>
                                        </span>
                                    </label>
                                    <label ng-if="modal.id != 'default'" class="checkbox-inline "  popover-append-to-body='true' popover-class="top-pop-wrapper" uib-popover='Click here to activate domain'
                                        popover-trigger="'mouseenter'" popover-placement='top'>
                                        <input type="checkbox">
                                        <span ng-click="riskScoringFunction.domainSelection($event,modal,modal.id == 'default')" ng-class="{ 'active': {{modal.id == 'default'}} }">
                                            <i class="fa fa-check text-grey-slate"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!--  Custom Tabs Wrapper Starts  -->
        <div class="custom-tabs-wrapper pad-x15" ng-if='entityWrapper'>
            <span ng-if="riskScoringVariable.riskScoringTabLoader" data-dismiss="true" class="custom-spinner case-dairy-spinner">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </span>
            <div class="custom-uib-tab-wrapper tab-wrapper clearfix">
                <!-- <h3 class="title-arrow">
                                <a href="javascript:void(0);" class="fa fa-angle-left left" ng-click="riskScoringFunction.showTilesWrapper()"></a>
                                <span style='cursor: pointer;' ng-click="riskScoringFunction.showTilesWrapper()">{{domainsMap[selectedDomainAttribue]}}</span>
                            </h3> -->
                <h3 class="heading-left" ng-click="riskScoringFunction.riskHomePage();">

                    <a class="text-uppercase">
                        {{ selectedModalNmae }}</a>
                </h3>
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Entity" id='indiSelectedAttrValue'>
                        <div class="top-content-wrapper row mar-0">
                            <h3>Choose Entity Type</h3>
                            <div class="col-sm-6 pad-l0 custom-media-wrapper">
                                <div class="media">
                                    <div class="media-left c-pointer " ng-click="riskScoringFunction.openPersonPage();">
                                        <h4 class="media-heading">Person</h4>
                                        <i class="media-icon fa fa-user"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Default-score</h4>
                                        <strong class="score-count">
                                            {{ riskScoringVariable.riskDefaultParametersData['individualDefaultScore'] }}
                                        </strong>
                                        <div class="custom-range-wrapper entity-range-bar">
                                            <input type="range" min="0" max="1" step=0.01 ng-model="riskScoringVariable.riskDefaultParametersData[
                                                'individualDefaultScore']" class="bg-transparent">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 custom-media-wrapper">
                                <div class="media">
                                    <div class="media-left c-pointer " ng-click="riskScoringFunction.openCompanyPage();">
                                        <h4 class="media-heading">Company</h4>
                                        <i class="media-icon fa fa-bank"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Default-score</h4>
                                        <strong class="score-count">
                                            {{ riskScoringVariable.riskDefaultParametersData['entityDefaultScore'] }}
                                        </strong>
                                        <div class="custom-range-wrapper entity-range-bar ">
                                            <input type="range" min="0" max="1" step="0.01" ng-model="riskScoringVariable.riskDefaultParametersData['entityDefaultScore']"
                                                class="bg-transparent">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content-wrapper pad-t15 row mar-0">
                            <h3 class=" mar-t15">Choose Aggregation Level</h3>
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="left">
                                        <div class="custom-range-wrapper no-thumb-border verticle-range-bar">
                                            <input type="range" min="0" max="100" class="bg-transparent" ng-model="riskScoringVariable.riskToleranceData['score']" ng-change="riskScoringFunction.setDescription()"
                                                step="20">
                                            <div class=" range-indicator">
                                                <p>--
                                                    <span class="f-10">Most Conservative </span>
                                                </p>
                                                <p>--
                                                    <span class="f-10"> Maximum</span>
                                                </p>
                                                <p>--
                                                    <span class="f-10">Average</span>
                                                </p>
                                                <p>--
                                                    <span class="f-10">Summation</span>
                                                </p>
                                                <p>--
                                                    <span class="f-10">Minimum</span>
                                                </p>
                                                <p>--
                                                    <span class="f-10">Least Conservative</span>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="right">
                                        <h2 class="f-14">
                                            <b class='text-slate-grey'>{{entityHeading}}</b>
                                        </h2>
                                        <p class="f-12 text-right">
                                            {{setMessageAgg}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>

        </div>

        <!--  Custom Tabs Wrapper Wrapper Ends  -->

        <!--  Attribute Selection Starts  -->
        <div class="custom-tabs-wrapper attribute-selection pad-x15" ng-if="modelTabsWrapper">
            <span ng-if="riskScoringVariable.riskScoringTabLoader" data-dismiss="true" class="custom-spinner case-dairy-spinner">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </span>
            <div class="custom-uib-tab-wrapper tab-wrapper clearfix">
                <h3 class="heading-left">
                    <a class="text-uppercase" ng-click="riskScoringFunction.showEntityPage()">
                        {{ selectedModalNmae }}</a>
                    <span>
                        {{ activeName }}
                        <i class="fa mar-l15 fa-chevron-right"></i>
                    </span>
                </h3>
                <uib-tabset active="active">
                <span ng-if="attributeInsightDataLoader" data-dismiss="true" class="custom-spinner h-450 case-dairy-spinner">
			        <i class="fa fa-spinner fa-spin fa-2x"></i>
			    </span>
                    <uib-tab index="0" heading="Direct Attributes" id='indiSelectedAttrValue' onclick="addScoll('#docsList3',280)">
                        <div class="content-wrapper">
                            <div class="left-col pad-t15">
                                <h3 class="pull-left text-grey-slate width-50">Selected Attributes
                                    <span>({{saveDomain[setIndexValue][openPerson_Company]['attributeRiskScores'].length}} ITEMS)</span>
                                </h3>
                                <div class="input-group inline width-35 custom-input-group">
                                    <input type="text" name="" placeholder="SEARCH" class="width-100 custom-input" id='attrList' ng-keyup="riskScoringFunction.searchAttribute($event)">
                                    <span class="input-group-addon text-dark-blue right-addon left-95 fa fa-search"></span>
                                </div>
                                <!-- <input type="button" value="Save" class="btn pull-right  btn-dark-blue"> -->
                                <div class="bottom-content">
                                    <div class="panel custom-panel-wrapper mar-t10 border-0 bg-transparent filters-panel-wrapper">
                                        <div class="panel-body mnh-300 pad-x0">
                                            <div class=" custom-data-table-wrapper">
                                                <table id="" class="table table-scroll  decision-attribute-wrapper four-col border-b0" role="grid">

                                                    <thead>
                                                        <tr role="row"  class=' d-flex ai-c'>

                                                            <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                                                Name
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                                                Last Edited
                                                            </th>
                                                            <th class="sorting" rowspan="1" colspan="1" aria-label="Id">
                                                                Score
                                                            </th>

                                                            <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                                                Remove
                                                            </th>


                                                        </tr>
                                                    </thead>
                                                    <tbody id="docsList3" class="right-pop">
                                                        <tr role="row" class="even" ng-repeat="(index,attr) in riskScoringVariable.CompanyPersonData['attributeRiskScores'] track by $index"  class=' d-flex ai-c'>
                                                            <td>
                                                                <p class=" mar-b0">
                                                                    {{attr.attributeName.split('_').join(' ')}}</p>
                                                            </td>
                                                            <td>
                                                                <p class=" mar-b0"> {{attr.modifiedOn}}</p>
                                                            </td>
                                                            <td  class='d-flex jc-c' ng-click="riskScoringFunction.openTempletewithAttributeValue(index,riskScoringVariable.CompanyPersonData['attributeRiskScores'][index]['attributeName'])"                                                                
                                                                onclick="addScoll('#attrValueList',150)">
                                                                <span class="fa fa-pencil-square-o c-pointer" popover-placement="right" popover-is-open="riskScoringVariable.CompanyPersonData['attributeRiskScores'][index]['isOpen']"
                                                                uib-popover-template="'attributesTemplate.html'" popover-append-to-body='true'></span>
                                                            </td>
                                                            <td  class=' d-flex jc-c' >
                                                                <span class="fa fa-trash  c-pointer" ng-click="riskScoringFunction.deleteAttribute(index,riskScoringVariable.CompanyPersonData['attributeRiskScores'][index]['attributeName'])"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-col pad-t15 pull-right">
                                <h3 class="text-grey-slate">Attribute Repository

                                </h3>
                                <div class="panel custom-panel-wrapper bg-transparent filters-panel-wrapper">
                                    <div class="panel-body p-rel pad-15px">
                                        <div class="input-group width-100 custom-input-group">
                                            <input type="text" name="" class="width-100 custom-input" placeholder="SEARCH" ng-model='searchValue' id="attrRepo" ng-keyup="riskScoringFunction.searchNewAttribute($event)">
                                            <span class="input-group-addon text-dark-blue right-addon left-95 fa fa-search"></span>
                                        </div>
                                        <div id="" class="dynamic-tabs">
                                            <div class="remote-filters-wrapper">
                                                <ul class="list-inline remote-filters-list-wrapper mnh-100" id='showAttrValue'>
                                                    <li class="remote-filters-list" ng-repeat='(index,attrVal) in riskScoringVariable.attributeValueData track by $index' ng-click="riskScoringFunction.addAttribute(index,attrVal.attributeName)">
                                                        <a class="remote-filter bg-transparent" onclick="addScoll('#docsList3',280)">
                                                            <span>{{attrVal.attributeName.split('_').join(' ')}}</span>
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="create-domain fixed-button2 run d-ib custom-select-dropdown  welcome-page decision-score-pop  top-pop" ng-click="riskScoringFunction.addClassToRun()">
                                            <a href="javascript:void(0);" popover-class="attribute-pop" popover-is-open="riskScoringVariable.closeAddingNewAttr" popover-placement="top"  ng-click="resetPOpOver()" uib-popover-template="'addAttribute.html'"
                                                class="f-12 text-dark-grey width-100">
                                                <i class="f-18 text-dark-blue fa fa-plus-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Direct Relationship" id='' onclick="addScoll('#docsList2',280)">
                        <div class="content-wrapper">
                            <div class="left-col pad-t15">
                                <h3 class="pull-left text-grey-slate width-50">Selected Relationship
                                    <span>({{saveDomain[setIndexValue][openPerson_Company]['relationshipRiskScores'].length}} ITEMS)</span>
                                </h3>
                                <div class="input-group inline width-35 custom-input-group">
                                    <input type="text" name="" placeholder="SEARCH" class="width-100 custom-input" id="relationList" ng-keyup="riskScoringFunction.searchRelationshipValue($event)">
                                    <span class="input-group-addon text-dark-blue right-addon left-95 fa fa-search"></span>
                                </div>
                                <!--  <input type="button" value="Save" class="btn pull-right  btn-dark-blue"> -->
                                <div class="bottom-content">
                                    <div class="panel custom-panel-wrapper mar-t10 border-0 bg-transparent filters-panel-wrapper">
                                        <div class="panel-body mnh-300 pad-x0">
                                            <div class=" custom-data-table-wrapper">
                                                <table id="" class="table table-scroll  decision-attribute-wrapper four-col border-b0" role="grid">

                                                    <thead>
                                                        <tr role="row"  class=' d-flex ai-c'>

                                                            <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                                                Name
                                                            </th>

                                                            <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                                                Last Edited
                                                            </th>
                                                            <th class="sorting" rowspan="1" colspan="1" aria-label="Id">
                                                                Score
                                                            </th>

                                                            <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                                                Remove
                                                            </th>


                                                        </tr>
                                                    </thead>
                                                    <tbody id="docsList2" class="right-pop">
                                                        <tr role="row" class=' d-flex ai-c even' ng-repeat="(index,relVal) in riskScoringVariable.CompanyPersonData['relationshipRiskScores'] track by $index">
                                                            <td>
                                                                <p>
                                                                    {{relVal.label.split('_').join(' ')}}
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <p> {{relVal.modifiedOn}} </p>
                                                            </td>
                                                            <td class="option-form-wrapper">
                                                                <div class="custom-range-wrapper no-thumb-border width-70">
                                                                    <input type="range" min="0" max="1" step=0.01 class="bg-transparent" ng-model="riskScoringVariable.CompanyPersonData['relationshipRiskScores'][index]['riskScore']"
                                                                        ng-change="riskScoringFunction.setRangeForRelationRiskScoresUsingSlider(relVal.label,riskScoringVariable.CompanyPersonData['relationshipRiskScores'][index]['riskScore'],index)">
                                                                </div>
                                                                <input type="number" name="" class="width-20 pad-5 mar-t5 pull-right custom-input" id="" ng-model="riskScoringVariable.CompanyPersonData['relationshipRiskScores'][index]['riskScore']"
                                                                    ng-keyup="riskScoringFunction.setRangeForRelationRiskScoresUsingSlider(relVal.label,riskScoringVariable.CompanyPersonData['relationshipRiskScores'][index]['riskScore'],index)">
                                                            </td>
                                                            <td  class=' d-flex jc-c'>
                                                                <span class="fa fa-trash  c-pointer" ng-click="riskScoringFunction.deleteRelationship(index,relVal.label)"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-col pad-t15 pull-right">
                                <h3 class="text-grey-slate">Relationship Repository

                                </h3>
                                <div class="panel custom-panel-wrapper bg-transparent filters-panel-wrapper">
                                    <div class="panel-body  pad-15px">
                                        <div class="input-group width-100 custom-input-group">
                                            <input type="text" name="" class="width-100 custom-input" placeholder="SEARCH" id='relatioRepo' ng-keyup="riskScoringFunction.searchNewRelationship($event)">
                                            <span class="input-group-addon text-dark-blue right-addon left-95 fa fa-search"></span>
                                        </div>
                                        <div id="" class="dynamic-tabs">
                                            <div class="remote-filters-wrapper">
                                                <ul class="list-inline remote-filters-list-wrapper mnh-100 " id='relREpoSlider' onclick="addScoll('#relREpoSlider',180)">
                                                    <li class="remote-filters-list" ng-repeat="(index,relVal) in relationShipValues[ativeRelationShip] track by $index" ng-click="riskScoringFunction.addRelationship(index,relVal.label)">
                                                        <a class="remote-filter bg-transparent">
                                                            <span>{{relVal.label.split('_').join(' ')}}</span>
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="create-domain fixed-button2 run d-ib custom-select-dropdown welcome-page decision-score-pop  top-pop" ng-click="riskScoringFunction.addClassToRun()">
                                            <a href="javascript:void(0);" popover-is-open="riskScoringVariable.closeAddingNewRel" popover-placement="top" uib-popover-template="'addRelationship.html'"
                                                class="pad-l5 f-12 text-dark-grey width-100">
                                                <i class="fa f-18 text-dark-blue fa-plus-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Osint" id='OsintTab' style ="pointer-events: none;" onclick="addScoll('#osintSlider',280,'#osintREpoSlider',180)">
                        <div class="content-wrapper">
                            <div class="left-col pad-t15">
                                <h3 class="pull-left text-grey-slate width-50">Selected OSINT
                                    <span>({{riskScoringVariable.CompanyPersonData['osintRiskScores']['scores'].length}} ITEMS)</span>
                                </h3>
                                <div class="input-group inline width-35 custom-input-group">
                                    <!-- <input type="text" name="" placeholder="SEARCH" class="width-100 custom-input" id="osintList" ng-keyup="riskScoringFunction.searchOsintValue($event)"> -->
                                    <input type="text" name="" placeholder="SEARCH" class="width-100 custom-input" id="osintList" ng-model="searchOsintValue"
                                        ng-change="riskScoringFunction.searchOsint(searchOsintValue)">
                                    <span class="input-group-addon text-dark-blue right-addon left-95 fa fa-search"></span>
                                </div>
                                <!--  <input type="button" value="Save" class="btn pull-right  btn-dark-blue"> -->
                                <div class="bottom-content">
                                    <div class="panel custom-panel-wrapper mar-t10 border-0 bg-transparent filters-panel-wrapper">
                                        <div class="panel-body mnh-300 pad-x0">
                                            <div class=" custom-data-table-wrapper">
                                                <table id="" class="table table-scroll  decision-attribute-wrapper four-col border-b0" role="grid">

                                                    <thead>
                                                        <tr role="row" class=' d-flex ai-c'>

                                                            <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                                                Name
                                                            </th>

                                                            <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                                                Last Edited
                                                            </th>
                                                            <th class="sorting" rowspan="1" colspan="1" aria-label="Id">
                                                                Score
                                                            </th>

                                                            <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                                                Remove
                                                            </th>


                                                        </tr>
                                                    </thead>
                                                    <tbody class="right-pop" id="osintSlider">
                                                        <tr role="row" class=' d-flex ai-c even' ng-repeat="(k,v) in riskScoringVariable.CompanyPersonData['osintRiskScores']['scores'] track by $index">
                                                            <td>
                                                                <p class=" mar-b0">
                                                                    {{v.relationshipName.split('_').join(' ')}}
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <p class=" mar-b0"> </p>
                                                            </td>
                                                            <td class="option-form-wrapper">
                                                                <div class="custom-range-wrapper no-thumb-border width-70">
                                                                    <input type="range" min="0" max="1" step=0.01 class="bg-transparent" ng-model="riskScoringVariable.CompanyPersonData['osintRiskScores']['scores'][k]['riskScore']"
                                                                        ng-change="riskScoringFunction.setRangeForOsintRiskScoresUsingSlider(v.relationshipName,riskScoringVariable.CompanyPersonData['osintRiskScores']['scores'][k]['riskScore'],index)">
                                                                </div>
                                                                <input type="number" name="" class="width-20 pad-5 mar-t5 pull-right custom-input" id="" ng-model="riskScoringVariable.CompanyPersonData['osintRiskScores']['scores'][k]['riskScore']"
                                                                    ng-keyup="riskScoringFunction.setRangeForOsintRiskScoresUsingSlider(v.relationshipName,riskScoringVariable.CompanyPersonData['osintRiskScores']['scores'][k]['riskScore'],index)">
                                                            </td>
                                                            <td class=' d-flex jc-c'>
                                                                <span class="fa fa-trash  c-pointer" ng-click="riskScoringFunction.deleteOsintUI(index,v.relationshipName)"></span>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-col pad-t15 pull-right">
                                <h3 class="text-grey-slate">Osint Repository</h3>
                                <div class="panel custom-panel-wrapper bg-transparent filters-panel-wrapper">
                                    <div class="panel-body  pad-15px">
                                        <div class="input-group width-100 custom-input-group">
                                            <input type="text" name="" class="width-100 custom-input" placeholder="SEARCH" id='osintRepo' ng-model="searchOsintRepoValue"
                                                ng-change="riskScoringFunction.searchOsintRepoSearch(searchOsintRepoValue)">
                                            <span class="input-group-addon text-dark-blue right-addon left-95 fa fa-search"></span>
                                        </div>
                                        <div id="" class="dynamic-tabs">
                                            <div class="remote-filters-wrapper">
                                                <ul class="list-inline remote-filters-list-wrapper mnh-100 " id='osintREpoSlider'>
                                                    <li class="remote-filters-list" ng-repeat="(index,Val) in riskScoringVariable.osintData track by $index" ng-click="riskScoringFunction.addOsint(index,Val.relationshipName)">
                                                        <a class="remote-filter bg-transparent">
                                                            <span>{{Val.relationshipName}}</span>
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </uib-tab>
                    <uib-tab index="3" heading="Transaction Relationship" id=''>
                        <div class='custom-data-table-wrapper'>
                            <table id="" class="table table-scroll  decision-attribute-wrapper two-col-equal border-b0" role="grid">
                                <thead>
                                    <tr class='bg-th' role="row" >
                                        <th class="sorting " tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                            Name
                                        </th>
                                        <th class="sorting " rowspan="1" colspan="1" aria-label="Id">
                                            Score
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <form class="form pad-t10 pad-x5">
                            <div class="form-group  option-form-wrapper clearfix">

                                <label class="control-label col-sm-3">Transactions > $k</label>
                                <div class="col-sm-7">
                                    <div class="custom-range-wrapper no-thumb-border">
                                        <input type="range" class="form-control color-input" max=1 min=0 step='0.01' ng-model="saveDomain[setIndexValue][openPerson_Company]['transactionScores']['transactionGreaterThanKScore']">

                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control color-input" ng-model="saveDomain[setIndexValue][openPerson_Company]['transactionScores']['transactionGreaterThanKScore']"
                                    />
                                </div>

                            </div>
                            <div class="form-group  option-form-wrapper clearfix">
                                <label class="control-label col-sm-10">Set K value</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control mar-autox  color-input" ng-model="saveDomain[setIndexValue][openPerson_Company]['transactionScores']['kAmount']"
                                    />
                                </div>
                            </div>
                            <div class="form-group  option-form-wrapper clearfix">
                                <label class="control-label col-sm-3">More than M transactions </label>
                                <div class="col-sm-7">
                                    <div class="custom-range-wrapper no-thumb-border">
                                        <input type="range" class="form-control color-input" max=1 min=0 step='0.01' ng-model="saveDomain[setIndexValue][openPerson_Company]['transactionScores']['transactionsMoreThanMScore']">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control color-input" ng-model="saveDomain[setIndexValue][openPerson_Company]['transactionScores']['transactionsMoreThanMScore']"
                                    />
                                </div>

                            </div>
                            <div class="form-group  option-form-wrapper clearfix">
                                <label class="control-label col-sm-10">Set M value</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control mar-autox color-input" ng-model="saveDomain[setIndexValue][openPerson_Company]['transactionScores']['mValue']"
                                    />
                                </div>
                            </div>
                            <div class="bottom-content-wrapper border-grey-thin-t pad-t10">
                                <h3 class="title-arrow1">Set Field</h3>

                                <div class="form-group  option-form-wrapper clearfix">
                                    <label class="control-label col-sm-6">Field where transactions are identified</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control mar-autox width-60 color-input" ng-model="saveDomain[setIndexValue][openPerson_Company]['transactionScores']['transactionAmountFieldName']"
                                        />
                                    </div>
                                </div>
                                <div class="form-group  option-form-wrapper clearfix">
                                    <label class="control-label col-sm-6">Field where amount are identified</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control mar-autox width-60 color-input" ng-model="saveDomain[setIndexValue][openPerson_Company]['transactionScores']['transactionRelationshipName']"
                                        />
                                    </div>
                                </div>
                            </div>

                        </form>
                    </uib-tab>
                    <uib-tab index="4" heading="Shared Relationship" id='' onclick="addScoll('#connectionScroll',350)">
                        <div class=" custom-data-table-wrapper">
                            <div class="dropdown pull-right  bg-transparent connection-dropdown-wrapper width-15 custom-select-dropdown">
                                <div class="input-group inline width-100 custom-input-group">
                                    <input type="text" name="" placeholder="" ng-model='filterCon' class="width-100 pad-x5 custom-input border-blue-thin-b" ng-click="riskScoringFunction.showDropdown()">
                                    <span class="input-group-addon text-dark-blue right-addon left-95 fa fa-search"></span>
                                </div>
                                <!-- INVESTIGATION Drop Down Wrapper Starts  -->
                                <ul class="tool-list-wrapper dropdown-menu  mxh-100" id='addscrollToconnection' ng-class="{ 'd-block':showConnection }">
                                    <li ng-repeat="data in riskRelationOrignal[ativeRelationShip] | filter:filterCon" ng-click="riskScoringFunction.addConnection(data)">
                                        {{data.split('_').join(' ').toUpperCase()}}
                                    </li>
                                </ul>
                                <!-- INVESTIGATION Drop Down Wrapper Ends  -->

                            </div>
                            <table id="" class="table table-scroll  decision-attribute-wrapper three-col-equal decision-score border-b0" role="grid">

                                <thead>
                                    <tr role="row">

                                        <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                            Name
                                        </th>
                                        <th class="sorting" rowspan="1" colspan="1" aria-label="Id">
                                            Score
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                                            Remove
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="right-pop" id='connectionScroll'>
                                    <tr role="row" class=' d-flex ai-c even' class="even" ng-repeat="(k,v) in saveDomain[setIndexValue][openPerson_Company]['connectionsScores'] track by $index">
                                        <td>
                                            <p class=" mar-b0">
                                                {{v.connectionName.split('_').join(' ')}}
                                            </p>
                                        </td>
                                        <td class="option-form-wrapper mar-b0">
                                            <div class="custom-range-wrapper no-thumb-border width-70">
                                                <input type="range" class="bg-transparent " min=0 max=1 step="0.01" ng-model="saveDomain[setIndexValue][openPerson_Company]['connectionsScores'][k]['connectionScore']">
                                            </div>
                                            <input type="number" class="form-control pull-right mar-t5" ng-model="saveDomain[setIndexValue][openPerson_Company]['connectionsScores'][k]['connectionScore']"
                                            />
                                        </td>
                                        <td  class=' d-flex jc-c'>
                                            <span class="fa fa-trash f-16 mar-t5 c-pointer" ng-click="riskScoringFunction.deleteConnection(k)"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </uib-tab>
                </uib-tabset>
            </div>

        </div>



        <div class="create-domain fixed-button custom-select-dropdown mar-10 welcome-page decision-score-pop top-pop" ng-if='riskScoringVariable.showRunButtonNew'>
            <a href="javascript:void(0);" uib-popover='Create new Domain' ng-click="riskScoringFunction.createNewDomainPlus()" popover-trigger="'mouseenter'"
                popover-placement='top' class=" pad-0 f-40 text-dark-blue width-100">
                <i class="fa fa-plus-circle"></i>
            </a>
        </div>
        <div class="create-domain fixed-button3 run d-ib custom-select-dropdown mar-10 welcome-page decision-score-pop  top-pop"
            ng-if='riskScoringVariable.showRunButtonNew' ng-click="riskScoringFunction.addClassToRun()">
            <a href="javascript:void(0);" popover-trigger="'outsideClick'"  popover-placement="top" uib-popover-template="'attributesTemplate2.html'"
                class="pad-l5 f-12 text-dark-grey width-100">
                <i class="fa fa-play-circle"></i>
            </a>
        </div>
    </div>
    <!--  <div class="create-domain top-pop decision-score-pop fixed-button  custom-select-dropdown mar-10 ng-scope" ng-if='riskScoringVariable.showRunButtonNew'>
        
    </div> -->
    <button type="button" ng-if='riskScoringVariable.showSaveNew' ng-click="riskScoringFunction.saveUpdatedChange()" class="btn btn-blue width-10 fixed-button" style="width: 150px !important;">SAVE & CLOSE</button>
    <div id="" class="overlay  z-9999999 " ng-class="{ 'width-100': riskScoringVariable.showModalBox }">
        <div class="overlay-content mar-auto clearfix border-grey fixed-message-box bg-light-grey1">
            <p class="message-wrapper text-center  mar-b5">
                {{riskScoringVariable.modalMessage}}
            </p>
            <div class="btn-group mar-autox ">
                <div class="btn btn-blue text-uppercase pad-x10 pad-y5 mar-r5" ng-click="riskScoringFunction.deleteYesOrNo('yes')">Yes</div>
                <div class="btn btn-blue pad-x10 pad-y5 border-grey-thin bg-dark-grey radius-0 text-uppercase" ng-click="riskScoringFunction.deleteYesOrNo('no')">Cancel</div>
            </div>
        </div>
    </div>
    <div id="" class="overlay  z-9999999 " ng-class="{ 'width-100': riskScoringVariable.showModalBox2 }">
        <div class="overlay-content mar-auto clearfix border-grey fixed-message-box bg-light-grey1">
            <p class="message-wrapper text-center mar-b5">
                {{riskScoringVariable.modalMessage}}
            </p>
            <div class="btn-group mar-autox">
                <div class="btn btn-blue text-uppercase pad-x10 pad-y5 mar-r5" ng-click="riskScoringFunction.sayYesorNo('yes')">Yes</div>
                <div class="btn btn-blue pad-x10 pad-y5 border-grey-thin bg-dark-grey radius-0 text-uppercase" ng-click="riskScoringFunction.sayYesorNo('no')">Cancel</div>
            </div>
        </div>
    </div>

</div>


<script type="text/ng-template" id="attributesTemplate.html">
    <div class="panel custom-panel-wrapper mar-t10 border-0 bg-transparent filters-panel-wrapper">
        <div class="panel-heading pad-x0 bg-transparent">
            <h3 class="mar-0 text-grey-slate">{{selectedAttributeName.split('_').join(' ')}}
                <span class="pull-right text-grey-slate f-16 fa fa-times c-pointer" ng-click="riskScoringFunction.closeTemplate();"></span>
            </h3>
        </div>
        <div class="panel-body  pad-0">
            <table id="" class="table table-scroll bg-transparent five-col border-b0" role="grid">

                <thead>
                    <tr role="row"  class=' d-flex ai-c'>
                        <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                            Operator
                        </th>
					   <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                            Value
                        </th>
                        <th class="sorting" rowspan="1" colspan="1" aria-label="Id">
                            Risk score
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="landingTableData" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                        </th>
						
                        <th class="sorting" rowspan="1" colspan="1" aria-label="Id">
                            Delete </th>
                    </tr>
                </thead>
                <tbody id="attrValueList" class="right-pop mnh-100">
                    <tr role="row" class="bg-transparent d-flex ai-c p-rel" ng-repeat="(k,v) in saveDomain[setIndexValue][openPerson_Company]['attributeRiskScores'][selectedAttributeType]['attributeScores']" ng-mouseover="makeItVisbile = true;" ng-init="makeItVisbile=false" ng-mouseleave="makeItVisbile = false">
                        <td>
                            <p  ng-if="!showEditValue" class="mar-0">
                                {{v.operator.split('_').join(' ')}}</p>
						     <div class="input-group custom-input-group dropdownBottomWidth selectdivDropdown width-100 mar-b0 custom-select-dropdown inner-element" ng-if="showEditValue && v.operator!='Other'">
					 <label class="width-100">	
						<select class="filter-value custom-select-dropdown bg-transparent border-0 width-100 text-uppercase" ng-model="v.operator" style="-webkit-appearance: none;  appearance: none;"
                                    ng-change="selectnewTypeBasedOnAttrType(v.operator,k)"  ng-options="v.split('_').join(' ')  for v in dropDownDataAttribute.value">
                                    
                                </select>
						</label>
						</div>
 						<p  ng-if="showEditValue && v.operator =='Other'" class="mar-0">
 							{{v.operator.split('_').join(' ')}}</p>
                    
                        </td>
						<td style="text-overflow:unset">
                            <div class="custom-range-wrapper mar-b10"  ng-if="saveDomain[setIndexValue][openPerson_Company]['attributeRiskScores'][selectedAttributeType].attributeType == 'string' && v.operator != 'range' && v.operator !='Other'" >
                                <input type="text" ng-if="showEditValue" ng-model ="v.value"  ng-change="validateInputValue(v.value,k)" class="custom-input color-input" style="max-width: 100%;">
								<span ng-if="!showEditValue"> {{v.value}}</span>				
                            </div>
 							<div class="custom-range-wrapper mar-b10 "  ng-if="saveDomain[setIndexValue][openPerson_Company]['attributeRiskScores'][selectedAttributeType].attributeType == 'Currency' && v.operator != 'range' && v.operator !='Other'" >
                                <input type="number" ng-if="showEditValue" ng-model ="v.value"  ng-change="validateInputValue(v.value,k)" class="custom-input color-input" style="max-width: 100%;">
								<span ng-if="!showEditValue"> {{v.value}}</span>				
                            </div>
							<div class="custom-range-wrapper mar-b10"  ng-if="saveDomain[setIndexValue][openPerson_Company]['attributeRiskScores'][selectedAttributeType].attributeType == 'Numeric' && v.operator != 'range' && v.operator !='Other'" >
                                <input type="number" ng-if="showEditValue" ng-model ="v.value"  ng-change="validateInputValue(v.value,k)" class="custom-input color-input" style="max-width: 100%;">
								<span ng-if="!showEditValue"> {{v.value}}</span>				
                            </div>

							
                            <div class="custom-range-wrapper mar-b10"  ng-if="v.operator == 'range' && v.operator =='Other' "   >
                                <input type="number" ng-if="showEditValue" ng-model ="v.value.from" min="1"  ng-change="validateInputValue(v.value.from,k)" class="custom-input color-input" style="max-width: 50%;">
 								<input type="number" ng-if="showEditValue" ng-model ="v.value.to" min="1"  ng-change="validateInputValue(v.value.to,k)"  class="custom-input color-input" style="max-width: 50%;">
								<span ng-if="!showEditValue"> {{v.value.from}}-{{v.value.to}}</span>				
                            </div>
							<div class="custom-range-wrapper mar-b10"  ng-if="saveDomain[setIndexValue][openPerson_Company]['attributeRiskScores'][selectedAttributeType].attributeType == 'Date' && v.operator != 'range' && v.operator !='Other'" >
                               <input type="text" ng-if="showEditValue" ng-model ="v.value" ng-change="validateInputValue(v.value,k)" class="custom-input color-input" style="max-width: 100%;">
								<span ng-if="!showEditValue"> {{v.value}}</span>						
                            </div>

                        </td>
                        <td>
                            <div class="custom-range-wrapper no-thumb-border">
                                <input type="range" min="0" max="1" step=0.01 class="bg-transparent"  ng-change ="riskScoringFunction.setRangeForAttributeRiskScoresUsingSlider()" ng-model="saveDomain[setIndexValue][openPerson_Company]['attributeRiskScores'][selectedAttributeType]['attributeScores'][k].score"
                                 >
                            </div>

                        </td>
                        <td>

                            <input type="number" name="" class="width-100  custom-input" id=""   ng-model="saveDomain[setIndexValue][openPerson_Company]['attributeRiskScores'][selectedAttributeType]['attributeScores'][k].score"
                                ng-change="riskScoringFunction.setRangeForAttributeRiskScoresUsingSlider(k)">
                        </td>

                        <td>
							<span class="fa fa-pencil-square-o f-16 c-pointer" ng-show="makeItVisbile && !showEditValue  && v.operator !='Other'" ng-click="showEditValue = true;makeItVisbile=false;validateInputValue(v.value,k)" ></span>				
                            <span class="fa fa-trash f-16  mar-t5  c-pointer" ng-show="!showEditValue" ng-click="riskScoringFunction.removeAttributeValues(setIndexValue,openPerson_Company,selectedAttributeType,k)"></span>
							<span ng-show='showEditValue' ng-class="{pointNone:v.validToSave}"  ng-click="showEditValue = false;updateAttrValue(true,k,selectedValueForSelectAttrVal)" class='right-addon c-pointer input-group-addon fa fa-check' style="background: transparent;border: none; color:#407fb3;"></span>
                            <span ng-show='showEditValue' ng-click="showEditValue = false;updateAttrValue(false,k)" class='right-addon c-pointer right-addon2 input-group-addon fa fa-remove' style="background: transparent;border: none; color:#407fb3;"></span>
                          <p class=" mar-xauto d-ib text-center mar-t5  f-10 text-capitalize text-orneClr mar-b0 p-abs validClass" ng-show="v.validToSave && !v.validToSaveRange && v.operator !='Other'"">
                		Attribute name cant be empty</p>
						 <p class=" mar-xauto d-ib text-center mar-t5  f-10 text-capitalize text-orneClr mar-b0 p-abs validClass" ng-show="v.validToSave && v.validToSaveRange && v.operator !='Other'"">
                		Attribute value must be from lower to upper value</p>
                        </td>
					
                    </tr>
                </tbody>
            </table>
            <div class="custom-data-table-wrapper">
                <div class="create-domain decision-score-pop fixed-button fixed-button2 custom-select-dropdown mar-10 ng-scope" >
                    <a href="javascript:void(0);" popover-placement="top" popover-class="top-pop-wrapper pad-x0 decision-edit-attr" popover-is-open="riskScoringVariable.addAtributeIsOpen" uib-popover-template="'attributesTemplate1.html'"
                        class=" pad-0 f-28 text-dark-blue">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </div>
            </div>



        </div>
    </div>
</script>
<script>
    function addScoll(id, height, id2, height2) {
        $(document).ready(function () {
            $(id).mCustomScrollbar({
                axis: "y",
                theme: "minimal"
            }, function (event) { })
            $(id).css('height', height + 'px')
            if (id2 != undefined) {
                $(id2).mCustomScrollbar({
                    axis: "y",
                    theme: "minimal"
                }, function (event) { })
                $(id2).css('height', height2 + 'px')
            }
            $('body>.popover.right.fade.ng-scope.in').addClass('right-pop');
        })
    }
</script>
<script type="text/ng-template" id="attributesTemplate1.html">
    <div class="otherModal">
		<div style="" class="highlight" ng-click="riskScoringFunction.storeListOfDeletedAttr()">Add Rule</div>
		<div style="" class="highlight" ng-if="noMoreOther" ng-click = "addOtherAttribute()">Add Other</div>
	</div>
</script>

<script type="text/ng-template" id="attributesTemplate2.html">
    <h4 class="f-12 mar-b5 text-grey-slate">Enter Case Id :</h4>
    <div class="input-group custom-input-group  width-100 mar-b0 custom-select-dropdown inner-element">
        <input class="custom-input color-input" ng-model='caseId' type='text' id="setAttrName">
        <span class="pull-right input-group-addon1 rotate-0 p-abs text-dark-blue c-pointer z-999">
            <i class="fa fa-check" ng-click="riskScoringFunction.runRiskScoring(caseId)"></i>
        </span>
    </div>
</script>
<script type="text/ng-template" id="attributesTemplate3.html">
    <h4 class="f-12 mar-b5 text-grey-slate">Add Connection</h4>
    <div class="input-group custom-input-group  width-100 mar-b0 custom-select-dropdown inner-element">
        <input class="form-control custom-input color-input" type="text" maxlength="255" id='typeheadrel' ng-model='connectionName'
            placeholder="" uib-typeahead="name for name in riskRelationOrignal[ativeRelationShip] | filter:$viewValue " typeahead-loading="loadingPersonsNames"
            typeahead-on-select="riskScoringFunction.addConnection($item, $model, $label)"> {{name.split('_').join(' ')}}
    </div>
</script>
<script type="text/ng-template" id="addAttribute.html">
    <span class="pull-right text-grey-slate f-16 fa fa-times c-pointer" ng-click="closeADdAttributeModal();"></span>
       
<div>   
        <form autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form pad-x0"> 
<h4 class="f-12 mar-b5 text-grey-slate">Add Attribute:</h4>
    <div class="input-group custom-input-group  width-100 mar-b0 custom-select-dropdown inner-element">
        <input class="custom-input color-input" ng-model='attrName' type='text' id="setNewAttrName">
        <span class="pull-right input-group-addon1 rotate-0 p-abs text-dark-blue c-pointer z-999 d-none">
            <i class="fa fa-check"  ></i>
        </span>
  <p class=" mar-xauto d-ib text-center mar-t5 f-10 text-capitalize text-orneClr  mar-b0 " ng-show="attributeNameNotSelected">
                Attribute name cant be empty</p>
    </div>
</div>

<div style="margin-top:11%">
<h4 class="f-12 mar-b5 text-grey-slate">Attribute Type</h4>
    <div class="input-group custom-input-group dropdownBottomWidth selectdivDropdown width-100 mar-b0 custom-select-dropdown inner-element">
 <label class="width-100">	
<select class="filter-value custom-select-dropdown bg-transparent border-0 width-100 text-uppercase" ng-model="attrTypeValueChange" style="-webkit-appearance: none;
    appearance: none;"
                                    ng-change="riskScoringFunction.attrTypeChangeValue(attrTypeValueChange)">
                                    <option value="string">String</option>
                                    <option value="Date">Date</option>
                                    <option value="Currency">Currency</option>
                                    <option value="Numeric">Numeric</option>
                                </select>
</label>
</div>
 <p class=" mar-xauto d-ib text-center mar-t5 f-10 text-capitalize text-orneClr  mar-b0 " ng-show="attributeTypeNotSelected">
                 Attribute Type cant be empty</p>
</div>

<div style="margin-top:11%">
<h4 class="f-12 mar-b5 text-grey-slate">Insight</h4>
    <div class="input-group custom-input-group  width-100 mar-b0 custom-select-dropdown inner-element">
<input class="form-control custom-input color-input" type="text" maxlength="255" id='typeheadrel' ng-model='insightValue' ng-change="insightValueChange(insightValue)"
            placeholder="" uib-typeahead="state.split('_').join(' ').toUpperCase() for state in addAttributeTypeValue | filter:$viewValue" typeahead-loading="loadingPersonsNames"
            typeahead-on-select="riskScoringFunction.insighSelectedValue($item, $model, $label)"  typeahead-no-results="noResults"> {{state.split('_').join(' ')}}
<div ng-show="noResults" class=" mar-xauto d-ib text-center mar-t5 f-10 text-capitalize text-orneClr  mar-b0 " >
      No Results Found
    </div>
	   
</div>
<p class=" mar-xauto d-ib text-center mar-t5 f-10 text-capitalize text-orneClr  mar-b0 " ng-show="attributeInsightNotSelected">
                 Insight Type cant be empty</p>


</div>
<div  style="margin-top:11%">
<button class="btn btn-blue" ng-click="riskScoringFunction.addNewAttribute(attrName)">save</button>
<div>
</form>
<div>
</script>
<script type="text/ng-template" id="addRelationship.html">
    <h4 class="f-12 mar-b5 text-grey-slate">Add Relationship:</h4>
    <div class="input-group custom-input-group  width-100 mar-b0 custom-select-dropdown inner-element">
        <input class="custom-input color-input" ng-model='relName' type='text' id="setNewAttrName">
        <span class="pull-right input-group-addon1 rotate-0 p-abs text-dark-blue c-pointer z-999">
            <i class="fa fa-check" ng-click="riskScoringFunction.addNewRelationship(relName)"></i>
        </span>
    </div>
</script>