<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="riskScoringFunction.closeRiskModal();">
        <span>&#x2716;</span>
    </button>
    <h4 class="modal-title">Settings | Decision Scoring</h4>
</div>
<div class="modal-body pad-y0">
    <span ng-if="riskScoringVariable.riskScoringLoader" class="custom-spinner case-dairy-spinner">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </span>
    <!--  Settings Landing Wrapper Starts  -->
    <div class="settings-landing-wrapper tiles-wrapper pad-y15" ng-if="domainWrapper">
        <h3 class="text-center">Please select a domain</h3>

        <div class="row" id='homePageMenu'>
            <div class="col-sm-4">
                <div class="tile domain-tile-wrapper custom-select-dropdown mar-10">
                    <a href="javascript:void(0);" class="pad-y10 pad-0 width-100" data-toggle="dropdown">
                        <i class="fa fa-plus-circle"></i>
                        Create New
                    </a>
                    <ul class="dropdown-menu border-0 pad-15px mar-t15 custom-list item-1" id="createNewId">
                        DOMAIN TITLE:
                        <input class="custom-input color-input" type='text' id="createDomainTilte">
                        <li ng-click="riskScoringFunction.createNewDomain(riskScoringVariable.sampleDomainData)">
                            <a href="javascript:void(0);">Sample Modal</a>
                        </li>
                        <li ng-repeat="modal in domains" ng-click="riskScoringFunction.createNewDomain(modal)">
                            <a ng-if="modal.id != 'Default'" href="javascript:void(0);">{{modal.decisionModelName}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4" ng-repeat="modal in domains">
                <div class="tile mar-10 domain-tile-wrapper" ng-class="{ 'active': {{modal.id == getDefaultModelValue.data.id}} }" ng-if="modal.id != 'Default'"
                    ng-click="riskScoringFunction.selectDomain(modal)" id="{{name.modalName.split(' ').join('__')}}">
                    <h3 class="">{{modal.decisionModelName}}

                    </h3>
                    <a class="pull-right general-tiles" ng-click="riskScoringFunction.deleteDomain($event,modal)">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>

        </div>
        <!-- <ul class="list-inline switch-list">
            <li ng-repeat="modal in domains">
                <a href="javascript:void(0);">
                    <label class="switch custom-switch-wrapper">
                        <input type="checkbox" ng-click="riskScoringFunction.selectDomain(modal)"  class="custom-switch-checkbox" id="{{name.modalName.split(' ').join('__')}}"
                        />
                        <span class="slider round"></span>
                    </label >
                    {{modal.decisionModelName}}
                </a>
            </li>
            <li class="dropdown custom-select-dropdown">
                <a href="javascript:void(0);" data-toggle="dropdown">
                    <i class="fa fa-plus-circle"></i>
                    Create New
                </a>
                <ul class="dropdown-menu border-0 pad-10px custom-list item-1" id="createNewId">
                    DOMAIN TITLE: <input class="custom-input color-input" type='text' id="createDomainTilte">
                    <li ng-repeat="modal in domains" ng-click="riskScoringFunction.createNewDomain(modal)">
                        <a href="javascript:void(0);" >{{modal.decisionModelName}}</a>
                    </li>
                </ul>
            </li>
              <li class="dropdown custom-select-dropdown">
                <a href="javascript:void(0);" data-toggle="dropdown">
                    <i class="fa fa-plus-circle"></i>
                    Delete Domain
                </a>
                <ul class="dropdown-menu border-0 pad-10px custom-list item-1" id="deleteId">
                    <li ng-repeat="modal in domains" ng-click="riskScoringFunction.deleteDomain(modal)" >
                        <a href="javascript:void(0);"  >{{modal.decisionModelName}}</a>
                    </li>
                </ul>
            </li>
        </ul>-->
    </div>
    <!--  Settings Landing Wrapper Ends  -->

    <!--  Tiles Wrapper Starts  -->
    <div class="tiles-wrapper pad-15px" ng-if="tilesWrapper">
        <div class="row">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-wrapper mar-t15">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);" ng-click="riskScoringFunction.riskHomePage()">Domain</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">{{selectedModalNmae}}</a>
                        </li>
                        <li class="breadcrumb-item active">Select parameter type</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-repeat="(k,v) in modalAttribute" ng-click="riskScoringFunction.getdecisionScrolling(k,v)">
                <div class="tile mar-10">
                    <h3>{{domainsMap[k]}}</h3>
                </div>
            </div>
        </div>
    </div>
    <!--  Tiles Wrapper Starts  -->

    <!--  Custom Tabs Wrapper Starts  -->
    <div class="custom-tabs-wrapper" ng-if="modelTabsWrapper">

        <div class="row custom-row">
            <div class="col-sm-12 ">
                <div class="settings-wrapper clearfix pad-x15">
                    <span ng-if="riskScoringFunction.saveLoader" class="custom-spinner case-dairy-spinner">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </span>
                    <h3 class="title-arrow">
                        <a href="javascript:void(0);" class="fa fa-angle-left left" ng-click="riskScoringFunction.showTilesWrapper()"></a>
                        <span style='cursor: pointer;' ng-click="riskScoringFunction.showTilesWrapper()">{{domainsMap[selectedDomainAttribue]}}</span>
                    </h3>
                    <uib-tabset active="active" vertical="true">
                        <uib-tab index="0" heading="{{domainsMap[selectedDomainAttribue]}} Attributes" ng-click="riskScoringFunction.setAttributeValue('attributeRiskScores')"
                            id='individualAttrTab' onclick="setIndividualAttrfun()">
                            <form class="form inner-uib-wrapper tab-wrapper" ng-if="setIndividualAttr">
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Selected" id='indiSelectedAttrValue'>
                                        <div class="list-scroll">
                                            <ul class="custom-list indiRelScroll scroll-list pad-0 mar-0 item-1" id='scrollIndiAttr'>
                                                <li class="list-attribute-wrapper pad-l0 mar-x0 mar-y10" ng-repeat='(k,v) in invidualAtrribute'>
                                                    <label class="control-label pad-l0 col-sm-5 text-uppercase">{{v.attributeName.split('_').join(' ')}}</label>
                                                    <div class="col-sm-7">
                                                        <button class='btn btn-blue' ng-click="riskScoringFunction.selectedIndivialAttr(k,v.attributeName)">select</button>
                                                        <a class="mar-l15" ng-click="riskScoringFunction.deleteIndividualClass(k)">
                                                            <i class="fa text-blue f-16 fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1" select="" heading="Select New" id="selectNewAttr" ng-click='riskScoringFunction.initializeScroll()'>
                                        <div class="list-scroll">
                                            <ul class="custom-list scroll-list pad-0 mar-0 item-1" id='indiSelectedNewAttrValue'>
                                                <li class="list-attribute-wrapper pad-l0  mar-x0 mar-y10" ng-repeat='(k,v) in riskScoringVariable.riskAttributeValue'>
                                                    <label class="control-label pad-l0 col-sm-5 text-uppercase">{{v.attributeName.split('_').join(' ')}}</label>
                                                    <div class="col-sm-7">
                                                        <button class='btn btn-blue' ng-click="riskScoringFunction.selecteNewIndivialAttr(k,v.attributeName)">select</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </uib-tab>
                                </uib-tabset>
                            </form>
                            <div class="score-chart-wrapper " ng-if="setResidingCountryScores">
                                <div class="row">
                                    <div class="decision-wrapper pad-l15  pull-left">
                                        <ul class="list-inline mar-0">
                                            <li>
                                                <h3 class="title-arrow content-title">
                                                    <a class="fa fa-angle-left left" ng-click="riskScoringFunction.backToIndividualAttr()" onclick="setIndividualAttrfun()"></a>{{selectedAttrValue.split('_').join(' ')}} Scores</h3>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="custom-data-table-wrapper mar-t15">
                                    <table class="table table-scroll two-col-equal" ng-if="oldSelectedValue">
                                        <thead>
                                            <tr>
                                                <th>Attribute Name</th>
                                                <th class="text-center">Blackswan Risk Score</th>
                                            </tr>
                                        </thead>
                                        <tbody class="indiAttrScroll">
                                            <tr ng-repeat='(k,v) in IndividualAttrTable' class="pad-y10">
                                                <td>{{k.split('_').join(' ')}}
                                                </td>
                                                <td class="option-form-wrapper">
                                                    <div class="col-sm-7">
                                                        <div class="custom-range-wrapper">
                                                            <input type="range" class="bg-transparent" max=1 min=0 step='0.01' ng-change="riskScoringFunction.setValueForIndivialAttrTableOnSliderChnage(v,k)"
                                                                ng-model=v>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <input class='custom-input width-80 pull-left pad-0 text-center' style="border-bottom-color: #1f77b4; height:15px;" ng-keyup="riskScoringFunction.setValueForIndivialAttrTable($event,k,v)"
                                                            type='text' value='{{v}}' id="{{k}}">
                                                        <a class="mar-l10" ng-click="riskScoringFunction.deleteIndividualAttr(k,v)">
                                                            <i class="fa text-blue f-16 fa-trash"></i>
                                                        </a>
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-scroll two-col-equal" ng-if="!oldSelectedValue">
                                        <div class=" custom-select-dropdown mar-10" ng-if="!oldSelectedValue">
                                            <a href="javascript:void(0);" class="pad-y10 pad-0" data-toggle="dropdown">
                                                <i class="fa fa-plus-circle"></i>
                                                Add New
                                            </a>
                                            <ul class="dropdown-menu border-0 pad-15px mar-t15 custom-list item-1" id="">
                                                Enter Attribute name:
                                                <li>
                                                    <input class="custom-input color-input" ng-model='attrName' type='text' id="setAttrName">
                                                </li>
                                                <li>
                                                    <button ng-click="riskScoringFunction.setNewAttr(attrName)" class="btn btn-blue">Add</button>
                                                </li>
                                            </ul>
                                        </div>
                                        <thead>
                                            <tr>

                                                <th>Attribute Name</th>
                                                <th class="text-center">Blackswan Risk Score</th>
                                            </tr>
                                        </thead>
                                        <tbody class="indiAttrScroll">
                                            <tr ng-repeat='(k,v) in IndividualAttrTable' class="pad-y10">
                                                <td>
                                                    <div class="custom-checkbox inline mar-0 pad-x0 text-uppercase">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" ng-model="checkedValue" ng-click="riskScoringFunction.pushNewAttr(checkedValue,k)">
                                                            <span>
                                                                <i class="fa fa-check"></i>
                                                            </span>
                                                        </label>
                                                    </div>{{k.split('_').join(' ')}}</td>
                                                <td class="text-center option-form-wrapper">
                                                    <div class="col-sm-7">
                                                        <div class="custom-range-wrapper">
                                                            <input type="range" class="bg-transparent" max=1 min=0 step='0.01' ng-change="riskScoringFunction.setValueForNewIndivialAttrTableOnSliderChnage(checkedValue,v,k,$index)"
                                                                ng-model=v>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <input ng-if="true" class='custom-input width-80 pad-0 text-center' style="border-bottom-color: #1f77b4; height:15px;" ng-keyup="riskScoringFunction.setValueForNewIndivialAttrTable(checkedValue,$event,k)"
                                                            type='text' value='{{v}}' id="{{'setValue'+$index}}">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="OSINT Linkage" ng-click="riskScoringFunction.setAttributeValueOsint('osintRiskScores')">
                            <div class="select-group">
                                <span class="filter-key text-uppercase">List-By :</span>
                                <select class="filter-value custom-select-dropdown bg-transparent border-0 text-uppercase" ng-model="checkedValueListBy"
                                    ng-change="riskScoringFunction.changeOsintListByDropDown(checkedValueListBy)">
                                    <option value="asc">Ascending</option>
                                    <option value="dsc">Descending</option>
                                </select>
                            </div>
                            <form class="form linkage-form-wrapper pad-t10" id="osintSlider">
                                <div class="form-group  option-form-wrapper clearfix" ng-repeat="(k,scores) in invidualAtrributeForOsint.scores">
                                    <label class="control-label pad-x15 col-sm-3">{{scores.relationshipName.split('_').join(' ')}}</label>
                                    <div class="col-sm-7">
                                        <div class="custom-range-wrapper">
                                            <input type="range" class="form-control color-input" max=1 min=0 step='0.01' ng-change="osintrangeChangeUsingSlider(scores.riskScore,k)"
                                                ng-model=scores.riskScore>
                                            <!-- <rzslider rz-slider-model=scores.riskScore   rz-slider-options="{floor: 0,ceil: 100 }"  ng-model="changeValue"></rzslider>
 -->
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <!-- <input type="text" class="form-control" ng-keyup="setRangeForDefault($event,riskDefaultParameters,k)" ng-model="{{v}}" /> -->
                                        <input type="text" class="form-control color-input" value="{{scores.riskScore}}" ng-keyup="setRangeForOsintRiskScores($event,k)"
                                            id="{{'setOsintValue'+k}}" />
                                    </div>
                                </div>
                            </form>
                        </uib-tab>
                        <uib-tab index="2" heading="{{domainsMap[selectedDomainAttribue]}} Relationships" ng-click="riskScoringFunction.setAttributeValueRel('connectionsScores','relationshipRiskScores')"
                            id="indiRelation" onclick="setIndividualRelationfun()">
                            <div class="inner-uib-wrapper tab-wrapper">
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Selected" id="selectIndiRel">
                                        <div class="select-group">
                                            <span class="filter-key text-uppercase">List-By :</span>
                                            <select class="filter-value custom-select-dropdown bg-transparent border-0 text-uppercase" ng-model="checkedValueListBy"
                                                ng-change="riskScoringFunction.changeRelationshipValueListByDropDown(checkedValueListBy)">
                                                <option value="asc">Ascending</option>
                                                <option value="dsc">Descending</option>
                                            </select>
                                        </div>
                                        <form class="form clearfix">
                                            <div class="form-group clearfix custom-data-table-wrapper">
                                                <table class="table table-scroll two-col-equal">
                                                    <!--   <thead>
                                                        <tr>
                                                            <th>Label</th>
                                                            <th>Risk Score</th>
                                                        </tr>
                                                    </thead> -->
                                                    <tbody class="indiRelScroll">
                                                        <tr ng-repeat='(k,relValues) in invidualAtrributeForRelationshipRisk' class="pad-t10">
                                                            <td>{{relValues.label.split('_').join(' ')}}

                                                            </td>
                                                            <td class="option-form-wrapper">
                                                                <div class="col-sm-7">
                                                                    <div class="custom-range-wrapper">
                                                                        <input type="range" class="bg-transparent" max=1 min=0 step='0.01' ng-change="riskScoringFunction.setValueForIndividualRelOnSliderChnage(relValues.riskScore,relValues.label,k)"
                                                                            ng-model=relValues.riskScore>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input ng-if="true" class="form-control pull-left width-80 color-input" ng-keyup="riskScoringFunction.setValueForIndividualRel($event,k)"
                                                                        type='text' value='{{relValues.riskScore}}' id="{{relValues.label}}">
                                                                    <a class="mar-l10" ng-click="riskScoringFunction.deleteRelationAttr(k)">
                                                                        <i class="fa text-blue f-16 fa-trash"></i>
                                                                    </a>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </uib-tab>
                                    <uib-tab index="1" heading="Select New">
                                        <form class="form clearfix">
                                            <div class="form-group custom-data-table-wrapper">
                                                <table class="table table-scroll two-col-equal">
                                                    <!--  <thead>
                                                        <tr>

                                                            <th>Label</th>
                                                            <th>Risk Score</th>
                                                        </tr>
                                                    </thead> -->
                                                    <tbody class="indiRelScroll">
                                                        <tr ng-repeat='(k,relValues) in riskScoringVariable.riskRelationshipValue' class="pad-y10">
                                                            <td>
                                                                <div class="custom-checkbox inline pad-x10 text-uppercase">
                                                                    <label class="checkbox-inline">
                                                                        <input type="checkbox" class="txcheckCls" ng-model="checkedValue" ng-click="riskScoringFunction.pushNewIndiRelAttr(checkedValue,k,relValues.label)">

                                                                        <span>
                                                                            <i class="fa fa-check"></i>
                                                                        </span>
                                                                    </label>
                                                                </div> {{relValues.label.split('_').join(' ')}}</td>
                                                            <td>
                                                                <div class="col-sm-7">
                                                                    <div class="custom-range-wrapper">
                                                                        <input type="range" class="bg-transparent" max=1 min=0 step='0.01' ng-change="riskScoringFunction.setValueForNewIndiRelAttrOnSliderChnage(checkedValue,relValues.riskScore,k,relValues.label)"
                                                                            ng-model=relValues.riskScore>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input ng-if="true" class="form-control color-input" ng-keyup="riskScoringFunction.setValueForNewIndiRelAttr(checkedValue,$event,k,relValues.label)"
                                                                        type='text' value='{{relValues.riskScore}}' id="{{'setRelationValue'+k }}">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </uib-tab>
                        <uib-tab index="3" heading="Transaction Relationships" ng-click="riskScoringFunction.setAttributeValueTrans('transactionScores')">
                            <form class="form pad-t10">

                                <div class="form-group  option-form-wrapper clearfix">

                                    <label class="control-label col-sm-3">Transactions > $k</label>
                                    <div class="col-sm-7">
                                        <div class="custom-range-wrapper">
                                            <input type="range" class="form-control color-input" ng-change="transrangeChangeUsingSlider('transactionGreaterThanKScore',transactionRelation.transactionGreaterThanKScore)"
                                                max=1 min=0 step='0.01' ng-model=transactionRelation.transactionGreaterThanKScore
                                                id="myRangeForTolerance">

                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control color-input" value="{{transactionRelation.transactionGreaterThanKScore}}" ng-keyup="setRangeForTransactionRel($event,k,'transactionGreaterThanKScore')"
                                            id="transactionGreaterThanKScore" />
                                    </div>

                                </div>
                                <div class="form-group  option-form-wrapper clearfix">
                                    <label class="control-label col-sm-10">Set K value</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control mar-autox  color-input" value="{{transactionRelation.kAmount}}" ng-keyup="riskScoringFunction.setRangeForTransactionRelAggType($event,'kAmount')"
                                            id="kAmount" />
                                    </div>
                                </div>
                                <div class="form-group  option-form-wrapper clearfix">
                                    <label class="control-label col-sm-3">More than M transactions </label>
                                    <div class="col-sm-7">
                                        <div class="custom-range-wrapper">
                                            <input type="range" class="form-control color-input" ng-change="transrangeChangeUsingSlider('transactionsMoreThanMScore',transactionRelation.transactionsMoreThanMScore)"
                                                max=1 min=0 step='0.01' ng-model=transactionRelation.transactionsMoreThanMScore
                                                id="">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control color-input" value="{{transactionRelation.transactionsMoreThanMScore}}" ng-keyup="setRangeForTransactionRel($event,k,'transactionsMoreThanMScore')"
                                            id="transactionsMoreThanMScore" />
                                    </div>

                                </div>
                                <div class="form-group  option-form-wrapper clearfix">
                                    <label class="control-label col-sm-10">Set M value</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control mar-autox color-input" value="{{transactionRelation.mValue}}" ng-keyup="riskScoringFunction.setRangeForTransactionRelAggType($event,'mValue')"
                                            id="" />
                                    </div>
                                </div>
                                <div class="bottom-content-wrapper border-grey-thin-t pad-t10">
                                    <h3 class="title-arrow1">Set Field</h3>

                                    <div class="form-group  option-form-wrapper clearfix">
                                        <label class="control-label col-sm-6">Field where transactions are identified</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control mar-autox width-60 color-input" value="{{transactionRelation.transactionAmountFieldName.toLowerCase()}}"
                                                ng-keyup="riskScoringFunction.setRangeForTransactionRelAggType($event,'transactionAmountFieldName')"
                                                id="transactionAmountFieldName" />
                                        </div>
                                    </div>
                                    <div class="form-group  option-form-wrapper clearfix">
                                        <label class="control-label col-sm-6">Field where amount are identified</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control mar-autox width-60 color-input" value="{{transactionRelation.transactionRelationshipName.toLowerCase()}}"
                                                ng-keyup="riskScoringFunction.setRangeForTransactionRelAggType($event,'transactionRelationshipName')"
                                                id="transactionRelationshipName" />
                                        </div>
                                    </div>
                                </div>
                                <!--  <div class="form-group  option-form-wrapper clearfix">
                                    <label class="control-label col-sm-3">Set M value</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control color-input" value="{{transactionRelation.transactionsMoreThanOnceScore}}" ng-keyup="setRangeForTransactionRel($event,k,'transactionsMoreThanOnceScore')"
                                            id="transactionsMoreThanOnceScore" />
                                    </div>
                                </div> -->

                            </form>
                        </uib-tab>
                        <uib-tab index="4" heading="Connections" ng-click="riskScoringFunction.setAttributeValueRel('connectionsScores','relationshipRiskScores')">
                            <div class="inner-uib-wrapper tab-wrapper">
                                <div class="top-content">
                                    <form class="form clearfix pad-t10 ">
                                        <div class="form-group option-form-wrapper clearfix" ng-repeat='(k,v) in invidualAtrributeForIndiRel'>
                                            <label class="control-label col-sm-3">{{k}}</label>
                                            <div class="col-sm-7">
                                                <div class="custom-range-wrapper">
                                                    <input type="range" class="form-control color-input" min=0 max=1 step="0.01" ng-change="riskScoringFunction.setRangeForIndividualRelRiskScoresUsingSlider(v,k)"
                                                        ng-model=v>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" value={{v}} ng-keyup="riskScoringFunction.setRangeForIndividualRelRiskScores($event,k)"
                                                    id='{{k}}' />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        </uib-tab>
                    </uib-tabset>
                    </div>

                    </uib-tab>



                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
    <!--  Custom Tabs Wrapper Ends  -->

    <!--  Risk Tolerance Wrapper Starts  -->

    <!--  <div class="custom-tabs-wrapper risk-tolerance-wrapper"> -->
    <div class="custom-tabs-wrapper" ng-if="riskToleranceWrapper">
        <span ng-if="riskScoringFunction.saveLoaderForAggregationTab" class="custom-spinner case-dairy-spinner">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </span>
        <div class="row custom-row">
            <div class="col-sm-4 custom-col">
                <aside class="left-sidebar-wrapper left">
                    <h3 class="title-arrow  mar-l15 pad-t15" ng-click="riskScoringFunction.showTilesWrapper();">
                        <a href="javascript:void(0);" class="fa fa-angle-left pad-t15 left"></a>
                        <span>Aggregation Tolerance</span>
                    </h3>
                    <!--  <h4>Logs</h4> -->
                    <p class="paragraph-text">

                        <span class="help-block"></span>
                    </p>
                    <p class="paragraph-text">

                        <span class="help-block"></span>
                    </p>
                    <p class="paragraph-text">

                        <span class="help-block"></span>
                    </p>
                </aside>
            </div>
            <div class="col-sm-8 custom-col">
                <form class="form risk-tolerance-wrapper">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <h3>Select aggregation type</h3>
                        </div>
                    </div>

                    <div class="form-group option-form-wrapper risk-form-wrapper clearfix">

                        <h3 class="control-label">Individual Default score</h3>
                        <div class="row">
                            <div class="custom-range-wrapper pad-r15" id="riskToleranceSlider">
                                <input type="range" class="form-control color-input" ng-change="rangeChangeUsingSlider(riskTolerancValue)" step='any' ng-model=riskTolerancValue
                                    id="myRangeForTolerance">
                            </div>
                            <ul class="list-inline range-list-wrapper pad-x15 custom-list item-5">
                                <li>
                                    <a href="javascript:void(0);" class="text-grey text-uppercase">Least conservative</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-grey text-uppercase">Minimum</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-grey text-uppercase">Average</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-grey text-uppercase">Maximum</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-grey text-uppercase">Most Conservative</a>
                                </li>
                            </ul>
                        </div>
                        <!--  <div class="col-sm-2">
                            <input type="text" class="form-control" id="inputRiskValue" value={{riskTolerancValue}} ng-keyup="riskScoringFunction.setRangeForRiskTolerance($event)"
                            />
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  Risk Tolerance Wrapper Ends  -->

    <!--  Parameters Wrapper Starts  -->

    <div class="custom-tabs-wrapper parameters-wrapper" ng-if="defaultPramsWrapper">
        <span ng-if="riskScoringFunction.saveLoaderForDefaultTab" class="custom-spinner case-dairy-spinner">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </span>
        <div class="row custom-row">
            <div class="col-sm-4 custom-col">
                <aside class="left-sidebar-wrapper">
                    <h3 class="title-arrow  mar-l15 pad-t15" ng-click="riskScoringFunction.showTilesWrapper()">
                        <a href="javascript:void(0);" class="fa fa-angle-left pad-t15 left"></a>
                        <span>Default Parameters</span>
                    </h3>
                    <!-- <h4>Logs</h4> -->
                    <p class="paragraph-text">

                        <span class="help-block"></span>
                    </p>
                    <p class="paragraph-text">

                        <span class="help-block"></span>
                    </p>
                    <p class="paragraph-text">

                        <span class="help-block"></span>
                    </p>
                </aside>
            </div>
            <div class="col-sm-8 custom-col">
                <form class="form pad-t15">
                    <div class="form-group clearfix option-form-wrapper" ng-repeat="(k,v) in riskDefaultParameters">
                        <label class="control-label col-sm-3">{{k}}</label>
                        <div class="col-sm-7">
                            <div class="custom-range-wrapper">
                                <input type="range" class="form-control color-input" step="0.01" min="0" max="1" ng-change="riskScoringFunction.setRangeForDefaultOnchangeSlider(k,v,$index)"
                                    ng-model=v id="myRangeForTolerance">
                                <!--  <rzslider rz-slider-model=v rz-slider-options="{floor: 0,ceil: 100 ,value:0}" ng-model="changeValue"></rzslider> -->
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-keyup="riskScoringFunction.setRangeForDefault($event,riskDefaultParameters,k)"
                                value="{{v}}" id="{{'setRiskDefValue'+$index}}" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--  Parameters Wrapper Ends  -->
    <div class=" custom-select-dropdown mar-10 width-10 fixed-button" ng-if='riskScoringVariable.showRunButton'>
        <a href="javascript:void(0);" class="pad-y10 pad-0" data-toggle="dropdown">
            <i class="fa fa-plus-circle"></i>
            Run
        </a>
        <ul class="dropdown-menu border-0 pad-15px mar-t15 custom-list item-1" id="">
            Enter CaseId:
            <li>
                <input class="custom-input color-input" ng-model='caseId' type='text' id="setAttrName">
            </li>
            <li>
                <button ng-click="riskScoringFunction.runRiskScoring(caseId)" class="btn btn-blue">Run</button>
            </li>
        </ul>
    </div>
    <button type="button" ng-if='riskScoringVariable.showSaveButton' ng-click="riskScoringFunction.saveUpdatedChange()" class="btn btn-blue width-10 fixed-button">SAVE</button>
    <!-- <button type="button"  class="btn btn-cancel">Cancel</button>
</div>
<!--<div class="modal-footer border-t0">
    <button type="button" ng-if='riskScoringVariable.showSaveButton' ng-click="riskScoringFunction.saveUpdatedChange()" class="btn btn-update">Save</button>
    <!-- <button type="button"  class="btn btn-cancel">Cancel</button> -->

</div>

<script>
    function setIndividualAttrfun() {
        $('#indiSelectedAttrValue a').click();
    }

    function setIndividualRelationfun() {
        $('#selectIndiRel a').click();
    }
</script>