<!--  Risk Overview Modal Wrapper Starts  -->
<div class="risk-overview-modal-wrapper">
		<div class="custom-spinner case-dairy-spinner" ng-show="riskOverviewLoader">
			<i class="fa fa-spinner fa-spin fa-3x"></i>
		</div>
		<div class="modal-header">
			<button type="button" class="closePulseModal" ng-click="closeScreeningTestingModal()" data-dismiss="modal">&times;</button>
			<h4 class="modal-title width-95 text-overflow">
				<span id="articleHeader">{{ data.name }}</span>
			</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-4 pad-rt-0">
					<ul class="list-group pad-r15 custom-list-group">						
						<li class="list-group-item" ng-class="{'active': (slectedHit == $index)}"  ng-repeat="hit in data.hits" ng-click="updatetableData(hit,$index)">
							<div ng-repeat="field in hit.fields" ng-if="field.fieldName == 'full-name' || field.fieldName == 'organization-name' ">
								<h5 style="color:#657F8B !important"">{{field.value}}</h5>
								<div ng-if="hit.rules[0].ruleName"> Score: {{hit.rules[0].matchScore}}%, Rule: {{hit.rules[0].ruleName}}<span ng-if="hit['id']">, Source: {{hit['id']}}</span></div>
							</div>
						</li>						
					</ul>
				</div>
				<div class="col-sm-8 pad-rt-0">
					<div class="pulseVisualizerText-wrapper">
						<div class="custom-data-table-wrapper text-captalise pad-r15 text-justify" ng-if="listtabledata">
							<table class="table text-uppercase table-scroll three-col-equal">
								<thead>
									<tr>
										<th>Field</th>
										<th>Value</th>
										<th>Matches type</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="val in listtabledata">
										<td style="white-space:normal">{{ val.fieldName }}</td>
										<td style="white-space:normal">{{ val.value }}</td>
										<td style="white-space:normal">{{ val.matches.join(', ') }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  Risk Overview Modal Wrapper Ends  -->
	
	<script>
		setTimeout(function(){
			$('.pulseVisualizerText-wrapper,.pulseVisualizerList-wrapper,.custom-list-group').mCustomScrollbar({
				axis : "y",
				theme : "minimal-dark"
			});
		},10);
	</script>
	