<!--  Upload Document Wrapper Starts  -->
<div class="update-entities-modal kyc-wrapper">
	<div class="custom-spinner case-dairy-spinner" ng-show="uploadDocumentsModal.uploadFileStatus">
		<i class="fa fa-spinner fa-spin fa-3x"></i>
	</div>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="uploadDocumentsModal.closeUploadModal();">
			<span>&#x2716;</span>
		</button>
		<h4 class="modal-title">KNOW YOUR CUSTOMER</h4>
	</div>
	<div class="modal-body clearfix">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-8">
				<span class="progress-status mar-b5">COMPLETED: {{uploadDocumentsModal.progressbarValue}} %</span>
				<uib-progressbar class="progress-striped" value="uploadDocumentsModal.progressbarValue" type="success"></uib-progressbar>
			</div>
		</div>
		<div class="upload-wrap" ng-repeat="uploadfile in uploadDocumentsModal.getUploadedFiles | limitTo: uploadDocumentsModal.getUploadedFilesLimit">
			<input type="text" placeholder="{{placeHolders[$index] }}" ng-value="uploadfile.fileTitle" ng-readonly="uploadfile.fileTitle == '' ? true : false"
			    ng-model="uploadfile.fileTitle">
			<!-- <input type="text" ng-model="uploadfile.remarks" placeholder="remarks"> -->
			<div class="upload-btn-wrapper">
				<button type="file" class="btn" ngf-select="uploadDocumentsModal.uploadFiles($file,uploadfile,$index)" ng-if="uploadfile.fileTitle == '' ? true : false"
				    ngf-accept="'.pdf'">Upload</button>
				<button type="file" class="btn" ngf-select="uploadDocumentsModal.changeFileDetails($file,uploadfile,$index)" ng-if="uploadfile.fileTitle != '' ? true : false"
				    ngf-accept="'.pdf'">Change</button>
				<button type="text" class="btn upload-delete" ng-if="uploadfile.fileTitle != '' ? true : false" ng-click="uploadDocumentsModal.deleteFile(uploadfile,$index);">x</button>
			</div>
		</div>

	</div>
<!-- 	<div class="modal-footer"> -->
<!-- 		<div class="modal-btn-wrapper" style="text-align: right;"> -->
<!-- 			<button type="button" class="btn btn-cancel pull-right" style="background-color:#495C6A;" data-dismiss="modal" ng-click="uploadDocumentsModal.closeUploadModal();">CANCEL</button> -->
<!-- 		</div> -->
<!-- 	</div> -->
</div>
<!--  Upload Document Wrapper Ends  -->