<div class="upload-questionnaire-modal-wrapper" name="myForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="uploadquestionaire.closeUploadQuestionnaire()" data-dismiss="modal" aria-hidden="true">
      <span>&#x2716;</span>
    </button>
    <h4 class="modal-title">UPLOAD QUESTIONNAIRE</h4>
  </div>
  <div class="modal-body">
    <form name="uploadQuestionaire" class="form form-upload">
      <div class="custom-spinner case-dairy-spinner" ng-show="uploadquestionaire.questionaireStatus">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-3" for="caseName">Upload File :</label>
        <div class="col-sm-9">
          <input type="file" id="caseName" class="form-control" ngf-select ng-model="createCase.picFile" name="file" required ngf-model-invalid="errorFile"
            ngf-accept="'.csv'" />
        </div>
        <div>{{questionnaireFile}}</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-update" ng-click="uploadquestionaire.createCase(createCase.picFile)" ng-disabled="!uploadQuestionaire.$valid">Create Case</button>
    <button type="button" class="btn btn-cancel" ng-click="uploadquestionaire.closeUploadQuestionnaire()" data-dismiss="modal">Cancel</button>
  </div>
</div>