<!--  Upload Document Wrapper Starts  -->
<div class="update-entities-modal kyc-wrapper">
	<!-- 	<div class="custom-spinner case-dairy-spinner" ng-show="uploadKYCQuestionaire.uploadFileStatus"><i class="fa fa-spinner fa-spin fa-3x"></i></div> -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="uploadKYCQuestionaire.closeUploadKYCModal();">
			<span>&#x2716;</span>
		</button>
		<h4 class="modal-title">KYC QUESTIONNAIRE</h4>
	</div>

	<div class="modal-body clearfix">
		<div class="row">
			<div class="col-sm-7">
			</div>
			<div class="col-sm-4">
				<span class="progress-status mar-b5">COMPLETED: {{uploadKYCQuestionaire.progressbarValue}} %</span>
				<uib-progressbar class="progress-striped" value="uploadKYCQuestionaire.progressbarValue" type="success"></uib-progressbar>
			</div>
		</div>
		<div class="upload-wrap" ng-repeat="uploadfile in uploadKYCQuestionaire.uploadedKYCFiles">
			<input type="text" ng-value="uploadfile.fileTitle" ng-readonly="uploadfile.fileTitle == '' ? true : false" ng-model="uploadfile.fileTitle">
			<!-- <input type="text" ng-model="uploadfile.remarks" placeholder="remarks"> -->
			<button type="file" class="btn" ngf-select="uploadKYCQuestionaire.uploadFiles($file,uploadfile,$index)" ng-if="uploadfile.fileTitle == '' ? true : false"
			    ngf-accept="'.pdf'">Upload</button>
			<button type="text" class="btn" ng-if="uploadfile.fileTitle != '' ? true : false" ng-click="uploadKYCQuestionaire.changeFileDetails(uploadfile,$index);">Change</button>
			<button type="text" class="btn" ng-if="uploadfile.fileTitle != '' ? true : false" ng-click="uploadKYCQuestionaire.deleteFile(uploadfile,$index);">Delete</button>
		</div>
	</div>
	<div class="modal-footer">
		<div class="modal-btn-wrapper" style="text-align: right;">
			<button type="button" class="btn btn-cancel pull-right" style="background-color:#495C6A;" data-dismiss="modal" ng-click="uploadKYCQuestionaire.closeUploadKYCModal();">CANCEL</button>
		</div>
	</div>
</div>
<!--  Upload Document Wrapper Ends  -->