
<!-- Widget Capture Modal Starts  -->
<div class="capture-modal-wrapper" id="mainWidgetCapture">
	<span ng-show="widgetCapturePreloader" class="custom-spinner case-dairy-spinner"> 
		<i class="fa fa-spinner fa-spin fa-2x"></i>
	</span>
	<div class="modal-header">
		<button type="button" class="close" ng-click="closeWidgetCaptureModal()"><span>&#x2716;</span></button>
		<h4 class="modal-title">Capture Widget</h4>
	</div>
	<div class="modal-body screencapture-modal-body">
		<div class="row">
			<div class="col-sm-12">
				<div id="mainWidgetCapturePreview" class="text-center"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer clearfix">
		<input class="pull-left captured-name" id="mainCaptureFilename" ng-model="captureFilename" type="text" placeholder="File Name"> 
		<a class="pull-right btn btn-update" href="javascript:void(0);" id="mainDownloadWidgetCapture" ng-click="mainDownloadWidgetCapture()">Download</a>
	</div>
	<canvas id="downloadleafletImage" style="display:none;" ></canvas>
		
</div>
<!-- Widget Capture Modal Ends  -->
