<!--  Comments Modal Starts  -->
<div class="comments-modal-wrapper">
	<div class="custom-spinner case-dairy-spinner" ng-show="caseLoader">
		<i class="fa fa-spinner fa-spin fa-3x"></i>
	</div>

	<form class="form-horizontal" ng-submit="save()" name="myForm" novalidate>
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeModal()" aria-hidden="true">
				<span>&#x2716;</span>
			</button>
			<h4 class="modal-title">case details</h4>
		</div>
		<div class="modal-body">
			<div class="form clearfix pad-0">
				<div class="form-group col-sm-6 mar-0">
					<div class="custom-input-group mar-b0">
						<label class="pull-left lh-30 control-label">title</label>
						<input type="text" name="name" class="width-80 h-30 border-blue-thin-b" ng-model="data.title" required/>
					</div>
				</div>
				<div class="form-group col-sm-6 mar-0">
					<label class="pull-left lh-30 control-label" for="case-name">Type</label>
					<div class="custom-select-wrapper pad-y0">
						<select class="form-control h-30 pad-y0 width-80" ng-model="data.link" required>
							<option value="Lead Generation">Lead Generation</option>
						</select>
					</div>
				</div>
				<div class="form-group col-sm-12 checkbox-wrapper mar-0" ng-show="data.link">
					<p class="text-dark-grey2 text-uppercase" for="case-name">sub type:</p>

					<div class="checkbox-wrapper">
					



					<div class="custom-radio radio-circle"><label class="radio-inline"><input class="warmup" type="radio" ng-model="data.subType" value="General Cluster"
							 ng-required="!data.subType"> <span><i class="fa fa-circle"></i></span> General Cluster</label>
					<label class="radio-inline"><input type="radio" class="warmup" ng-model="data.subType" value="Dual Card Holders"
							 ng-required="!data.subType"> <span><i class="fa fa-circle"></i></span>Dual Card Holders</label>
					<label class="radio-inline"><input type="radio" class="warmup" ng-model="data.subType" value="Predicting Dual Card Holders"
							 ng-required="!data.subType"> <span><i class="fa fa-circle"></i></span>Predicting Dual Card Holders</label>
					<label class="radio-inline"><input type="radio" class="warmup" ng-model="data.subType" value="Early Adaptors"
							 ng-required="!data.subType"> <span><i class="fa fa-circle"></i></span>Early Adaptors</label></div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-update" ng-disabled="myForm.$invalid" ng-if="isCaseExisted">Update</button>
			<button type="submit" class="btn btn-primary btn-update" ng-disabled="myForm.$invalid" ng-if="!isCaseExisted">Save</button>
			<button type="button" class="btn btn-default btn-cancel" ng-click="closeModal()">Cancel</button>
		</div>
	</form>
</div>
<!--  Comments Modal Ends  -->