<div click-anywhere="$hide()" ignore-class="toggle-people-select">
    <div class="arrow"></div>
    <div class="popover-header">
        <span class="title">select user</span>
        <div class="actions">
			 <a ng-click="myPopover.close()"><span>&#x2716;</span></a>
        </div>
    </div>

<!--     <div class="popover-wrapper" ng-if="!popupModel.emailMode"> -->
     <div class="popover-wrapper">

<!--         <div class="form-group" ng-if="popupModel.formFields"> -->
<!--             <div class="col-xs-4"> -->
<!--                 <label>{{'INVOLVE-PEOPLE.SOURCE.TYPE' | translate}}</label> -->
<!--             </div> -->
<!--             <div class="col-xs-8"> -->
<!--                 <div class="btn-group btn-group-justified"> -->
<!--                   <div class="btn-group"> -->
<!--                     <button type="button" class="btn btn-default" ng-click="setSearchType()" ng-model="popupModel.userSourceType" ng-class="{'active' : (!popupModel.userSourceType || popupModel.userSourceType == 'search')}">{{'INVOLVE-PEOPLE.SOURCE.SEARCH-OPTION' | translate}}</button> -->
<!--                   </div> -->
<!--                   <div class="btn-group"> -->
<!--                     <button type="button" class="btn btn-default" ng-click="setFormFieldType()" ng-model="popupModel.userSourceType" ng-class="{'active' : popupModel.userSourceType == 'field'}">{{'INVOLVE-PEOPLE.SOURCE.FIELD-OPTION' | translate}}</button> -->
<!--                   </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
        
<!--         <div ng-if="popupModel.formFields" class="col-xs-12" style="margin-bottom:10px" /> -->

<!--         <div ng-show="(!popupModel.userSourceType || popupModel.userSourceType == 'search')"> -->
		<div ng-form='myForm'>
            <div class="form-group">
                <input class="form-control" type="text" id="people-select-input" placeholder="Search by name" auto-focus
                       custom-keys up-pressed="previousUser()" down-pressed="nextUser()" enter-pressed="confirmUser()"
                       delayed-model="popupModel.filter" delay="200" name="name" ng-model="searchUser" ng-change="searchUserBykeyword(searchUser)"/>
                 <span class="text-red" ng-if="searchUser.length != 0 && searchUser.length<3">Length of the search string should be at least 3 character.</span>
                <div class="subtle" style="padding: 5px 0 0 1px;">Use &uparrow; and &downarrow; to select and press enter to confirm</div>
            </div>
            <h4>
<!--                 <span translate="GENERAL.TITLE.MATCHING-PEOPLE" ng-if="!popupModel.showRecentResults"></span> -->
 					<span>Matching people</span>
            </h4>
            <div class="people-select">
            	<div class="custom-spinner case-dairy-spinner" ng-show="popoverLoader">
					<i class="fa fa-spinner fa-spin fa-3x"></i>
				</div>
                <div class="no-results">
                    <span>Use the search box above to find users</span>
                </div>
                <ul class="simple-list selectable pack" id="selectUsersPopup" ng-show="popupModel.userResults.length > 0" scroll-to-active scroll-to-active-model="popupModel.selectedUser.userId">
                    <li ng-click="confirmUser(user);" ng-repeat="user in popupModel.userResults"
                        ng-class="{'active': user.userId === popupModel.selectedUser.userId}">
                        <i class="icon icon-user"></i><span>{{user.firstName}} {{user.lastName}}</span>
                    </li>
                </ul>
                <div class="text-center pad-t10" ng-if="(myForm.name.$dirty && searchUser.length >= 3) && popupModel.userResults.length == 0">
                    <span>No users found</span>
                </div>
            </div>
        </div>
        
<!--         <div ng-show="popupModel.userSourceType == 'field'" class="form-group clearfix"> -->
<!--             <div class="col-xs-4"> -->
<!--                 <label>{{'PROCESS-BUILDER.PUBLISH-STEP.SOURCE.FORM-FIELD' | translate}}:</label> -->
<!--             </div> -->
<!--             <div class="col-xs-8"> -->
<!--                 <div id="userFormField" variables-select include-type="false" expand-relative="true" field-type-filter="popupModel.userFieldFilter" -->
<!--                        select-title="'FORM-BUILDER.MESSAGE.READONLY-TEXT-INSERT-FIELD'" fields="popupModel.formFields" selected-field="popupModel.userField" ignore-selection="true"></div> -->
<!--             </div> -->
<!--         </div> -->
        
<!--     </div> -->

<!--     <div class="popover-wrapper" ng-if="popupModel.emailMode && (popupModel.emailDisabled == null || popupModel.emailDisabled == undefined || popupModel.emailDisabled == false)"> -->
<!--         <form name="emailForm" class="form-group"> -->
<!--             <div class="people-select"> -->
<!--                 <div class="input-group"> -->
<!--                     <input name="emailInput" class="form-control" type="email" placeholder="{{ 'INVOLVE-PEOPLE.EMAIL-PLACEHOLDER' | translate }}" -->
<!--                            ng-model="popupModel.email" -->
<!--                            custom-keys enter-pressed="selectPersonByEmail(!emailForm.emailInput.$error.email)" -->
<!--                            auto-focus/> -->
<!--                     <span class="input-group-btn"> -->
<!--                         <button class="btn btn-sm" type="button" ng-disabled="popupModel.email == null || popupModel.email == undefined || popupModel.email.length == 0 || emailForm.emailInput.$error.email" -->
<!--                                 ng-click="selectPersonByEmail(!emailForm.emailInput.$error.email)">{{'INVOLVE-PEOPLE.ACTION-SELECT' | translate}}</button> -->
<!--                     </span> -->
<!--                 </div> -->
<!--                 <div class="subtle" translate="INVOLVE-PEOPLE.EMAIL-HELP" style="padding: 5px 0 0 1px;"></div> -->
<!--                 <div class="clearfix"></div> -->
<!--                 <div class="people-select-link" style="margin-top: 20px" -->
<!--                      ng-click="$event.stopPropagation(); popupModel.emailMode = false"> -->
<!--                     <span ng-if="account.tenantId != null && account.tenantId != undefined" class="glyphicon glyphicon-search">&nbsp;</span> -->
<!--                     <span ng-if="account.tenantId != null && account.tenantId != undefined" style="margin-left: -12px;">{{'INVOLVE-PEOPLE.BACK-TO-SEARCH' | translate}}</span> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </form> -->
<!--     </div> -->
</div>