<!--  Comments Modal Starts  -->
<div class="comments-modal-wrapper">
	<div class="custom-spinner case-dairy-spinner" ng-show="commentsLoader">
		<i class="fa fa-spinner fa-spin fa-3x"></i>
	</div>

	<form class="form-horizontal" ng-if="tempTargetStatus == 5" ng-submit="pause()" novalidate>
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeComments('failure')" aria-hidden="true">
				<span>&#x2716;</span>
			</button>
			<h4 class="modal-title">STATUS COMMENT</h4>
		</div>
		<div class="modal-body">
			<div class="form pad-0">
				<div class="form-group row mar-b0">
					<div class="col-lg-12">
						<label class="control-label">Reason of changing the status to Pause</label>
						<input type="hidden" id="caseSeedId" name="caseSeedId" ng-value="tempSeedId" />
						<input type="hidden" id="caseStatus" name="caseStatus" ng-value="tempCurrentStatus" />
					</div>
				</div>
				<div class="form-group row mar-b0">
					<div class="col-lg-12">
						<textarea class="form-control custom-text-area" id="statusComments" rows="3" ng-model="data.statusComments"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-update" ng-disabled="!data.statusComments">Submit</button>
			<button type="button" class="btn btn-default btn-cancel" ng-click="closeComments('failure')">Cancel</button>
		</div>
	</form>

	<form class="form-horizontal" ng-if="tempTargetStatus == 6" ng-submit="reject()" novalidate>
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeComments('failure')" aria-hidden="true">
				<span>&#x2716;</span>
			</button>
			<h4 class="modal-title">STATUS COMMENT</h4>
		</div>
		<div class="modal-body">
			<div class="form pad-0">
				<div class="form-group row mar-b0">
					<div class="col-lg-12">
						<label class="control-label">Reason of changing the status to Decline</label>
						<input type="hidden" id="caseSeedId" name="caseSeedId" ng-value="tempSeedId" />
						<input type="hidden" id="caseStatus" name="caseStatus" ng-value="tempCurrentStatus" />
					</div>
				</div>
				<div class="form-group row mar-b0">
					<div class="col-lg-12">
						<textarea class="form-control custom-text-area" id="statusComments" rows="3" ng-model="data.statusComments"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-update" ng-disabled="!data.statusComments">Submit</button>
			<button type="button" class="btn btn-default btn-cancel" ng-click="closeComments('failure')">Cancel</button>
		</div>
	</form>

	<form class="form-horizontal" ng-if="tempTargetStatus == 8" ng-submit="resolve()" novalidate>
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeComments('failure')" aria-hidden="true">
				<span>&#x2716;</span>
			</button>
			<h4 class="modal-title">STATUS COMMENT</h4>
		</div>
		<div class="modal-body">
			<div class="form pad-0">
				<div class="form-group row mar-b0">
					<div class="col-lg-12">
						<label class="control-label">Reason of changing the status to Resolved</label>
					</div>
				</div>
				<div class="form-group row mar-b0">
					<div class="col-lg-12">
						<textarea class="form-control custom-text-area" id="statusComments" rows="3" ng-model="data.statusComments"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-update" ng-disabled="!data.statusComments">Submit</button>
			<button type="button" class="btn btn-cancel" ng-click="closeComments('failure')">Cancel</button>
		</div>
	</form>
</div>
<!--  Comments Modal Ends  -->