<div class="createcase-modal-wrapper">
	<div class="custom-spinner case-dairy-spinner" ng-show="createCaseLoader">
		<i class="fa fa-spinner fa-spin fa-3x"></i>
	</div>
	<form class="form-horizontal" ng-submit="createCase()" novalidate>
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeCreateCase()" aria-hidden="true">
				<span>&#x2716;</span>
			</button>
			<h4 class="modal-title">CREATE CASE</h4>
		</div>
		<div class="modal-body">
			<div class="form">
				<div class="form-group row">
					<label class="col-lg-3" for="case-name">Case Name:</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" id="case-name" ng-model="data.caseName">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3" for="pwd">Description:</label>
					<div class="col-lg-9">
						<textarea class="form-control col-lg-9" id="description" rows="3" ng-model="data.description"></textarea>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3" for="case-name">Priority:</label>
					<div class="col-lg-9">
						<select class="form-control" id="priority" ng-model="data.priority">
							<option value="0">High</option>
							<option value="1">Medium</option>
							<option value="2">Low</option>
						</select>
					</div>
				</div>
<!-- 				<div class="form-group row"> -->
<!-- 					<label class="col-lg-3" for="case-name">Health:</label> -->
<!-- 					<div class="col-lg-9"> -->
<!-- 						<select class="form-control" id="health" ng-model="data.health"> -->
<!-- 							<option ng-repeat="healthVal in healthValues" value="{{healthVal}}">{{healthVal}}</option> -->
<!-- 						</select> -->
<!-- 					</div> -->
<!-- 				</div> -->
				<div class="form-group row">
					<label class="col-lg-3" for="case-name">Upload File:</label>
					<div class="col-lg-9">
						<input class="col-lg-8" id="jsonFile" type="file" fileread="data.jsonFile" />
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary" ng-disabled="!data.caseName ">Submit</button>
			<button type="button" class="btn btn-default" ng-click="closeCreateCase()">Close</button>
		</div>
	</form>
</div>