<div class="forwardcase-modal-wrapper custom-modal">
	<div class="custom-spinner case-dairy-spinner" ng-show="forwardLoader">
		<i class="fa fa-spinner fa-spin fa-3x"></i>
	</div>
	<form class="form-horizontal" ng-submit="forward()" novalidate>
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeForward()" aria-hidden="true"><span>&#x2716;</span></button>
			<h4 class="modal-title">FORWARD CASE</h4>
		</div>
		<div class="modal-body">
			<div class="form pad-0">
				<div class="form-group row">
					<div class="col-lg-4">
						<label>OrderBy :</label>
					</div>
					<div class="col-lg-8">
						<select class="form-control" ng-model="orderByOption" ng-change="getUserOrderBy(orderByOption);">
							<option value="" disabled selected>Select</option>
							<option value="firstName">FirstName</option>
							<option value="username">UserName</option>
							<option value="createdDate">CreatedDate</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-4">
						<label for="newUserId">Forward To User :</label>
					</div>
					<div class="col-lg-8">
						<select class="form-control" id="newUserId" ng-model="data.newUserId">
							<option ng-repeat="user in userList | orderBy:data.firstName" value="{{user.userId}}">{{user.firstName}}{{user.lastName}}</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-4">
						<label for="statusFwdComments">Comments :</label>
					</div>
					<div class="col-lg-8">
						<textarea class="form-control" id="statusFwdComments" rows="4" ng-model="data.statusFwdComments"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary" ng-disabled="!data.newUserId">Submit</button>
			<button type="button" class="btn btn-default" ng-click="closeForward()">Close</button>
		</div>
	</form>
</div>