<div class="risk-overview-modal-wrapper">
    
    <div class="modal-header pad-b10 d-flex ai-c">
        <h4 class="modal-title mar-autor">
            <span id="articleHeader">Add source</span>
        </h4>
        <button type="button" class="f-24 bg-transparent border-0 mar-l10 text-cream " ng-click="closeAddSourceModal()"
            data-dismiss="modal">&times;</button>

    </div>
    <div class="modal-body">
        <form class="form" name="form">
            <div class="row">
                <div class="col-sm-6 pad-l0">
                    <span class="custom-spinner case-dairy-spinner l-0 t-0 hidden" id="loginLoader">
                        <i class="fa fa-spinner fa-spin fa-3x"></i>
                    </span>
                    <div class="form-group mar-x0">
                        <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                            <div class="input-shadow-wrapper"></div>
                            <span class="input-group-append fa fa-caret-down"></span>
                            <select name="classification" ng-init="addSourceData.classification = currentTab" class="custom-input custom-input_select height-100" id="classification"
                                ng-options="option.title as option.title for option in mainClassificationData" ng-model="addSourceData.classification"
                                required>

                            </select>
                            <span for="classification" class="label">Classification</span>
                        </div>
                    </div>
                    <div class="form-group mar-x0">
                        <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                            <div class="input-shadow-wrapper"></div>
                            <span class="input-group-append fa fa-check" ng-show="(!form.sourcename.$error.maxlength) && (addSourceData.sourcename.length > 0)"></span>
                            <span class="input-group-append fa fa-times" ng-click="addSourceData.sourcename = ''"
                                ng-show="form.sourcename.$error.maxlength"></span>
                            <input type="text" ng-if="addSourceData.classification !== 'NEWS'" ng-pattern="/^[ A-Za-z0-9_@(.,)$&/#&+-]*$/" autocomplete="off" ng-model="addSourceData.sourcename" ng-maxlength="50" ng-minlength="6" placeholder="Source Name"
                                class="custom-input height-100" id="sourceName" name="sourcename" required />
                            <input type="text" ng-if="addSourceData.classification === 'NEWS'" autocomplete="off" ng-model="addSourceData.sourcename"  placeholder="Source Name"
                                class="custom-input height-100" id="sourceName" name="sourcename" ng-change="getNewsOnSearchSource(addSourceData.sourcename)" required />
                            <span for="sourceName" class="label">Source Name</span>
                            <span ng-if="addSourceData.classification !== 'NEWS'" ng-show="form.sourcename.$error.pattern" class="text-coral-red">Please enter valid Source Name</span>
                            <span ng-if="addSourceData.classification !== 'NEWS'" ng-show="form.sourcename.$error.minlength" class="text-coral-red">Source name should  be at least 6 characters!</span>
                            <span ng-if="addSourceData.classification !== 'NEWS'" ng-show="form.sourcename.$error.maxlength" class="text-coral-red">Source name should not be more than 50 characters!</span>
                            <ul class="custom-list auto-complete-list z-999 mxh-140 l-0 pad-10px p-abs item-1" ng-if="addSourceData.classification === 'NEWS' && !listSelected && newsSourceResults.length > 0" style="width: inherit;background: #424242!important;">
                                <li class="" ng-repeat="newsSource in newsSourceResults" ng-click="setSelectedNewsSource(newsSource)">{{newsSource}}   </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group mar-x0">
                        <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                            <div class="input-shadow-wrapper"></div>
                            <span class="input-group-append fa fa-check" ng-show="(!form.sourceLink.$error.maxlength) && (addSourceData.sourcelink.length > 0)"></span>
                            <span class="input-group-append fa fa-times" ng-click="addSourceData.sourcelink = ''"
                                ng-show="form.sourceLink.$error.maxlength"></span>
                            <input type="text" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"  autocomplete="off" ng-class="{'c-ban' : !((addSourceData.classification.toLowerCase() == 'general') || (addSourceData.classification.toLowerCase() == 'news'))}" ng-disabled="!((addSourceData.classification.toLowerCase() == 'general') || (addSourceData.classification.toLowerCase() == 'news'))" http-prefix ng-model="addSourceData.sourcelink" id="sourceLink" ng-maxlength="150"
                                placeholder="Source Link" class="custom-input height-100" name="sourceLink" required />
                            <span for="sourcelink" class="label">Source Link</span>
                            <span ng-show="form.sourceLink.$error.pattern" class="text-coral-red">Please enter valid url</span>
                            <span ng-show="form.sourceLink.$error.maxlength" class="text-coral-red">{{form.sourceLink.$error}}Source link should not be more than 150 characters!</span>
                        </div>
                    </div>
                    <div class="form-group remote-filters-wrapper remote-filters-wrapper-blue  mar-x0">
                            <div class="width-100 p-rel remote-filters-list-wrapper  bst_input_group bst_input_group_modal">
                                <div class="filter-wrapper-s  remote-filters-list  p-abs d-flex ai-c" style="  top: 45%;  left: 22px;  z-index: 999;"> <span class="remote-filter pad-r25"  ng-repeat="item in selectedLists.selectedIndustryList" ng-if="item.id != 'All'">{{item.id}}<i class="fa fa-times c-pointer" ng-click="removeParticularItem(item,selectedLists.selectedIndustryList,'IndustryList','selectedIndustryList')"></i></span></div>
    
                                <div class="input-shadow-wrapper"></div>
                                <div id="industryId" ng-click="someClick()" ng-dropdown-multiselect="" class="multiselect-wrapper height-100"
                                    options="IndustryList" search-filter="customFilter" events="selectIndustryList" selected-model="selectedLists.selectedIndustryList"
                                    extra-settings="extraSettingsForMutliSelect" disabled="" >
                                </div>
                                <!-- <div ng-dropdown-multiselect="" options="example2data" events="selectLocation" selected-model="example2model" extra-settings="example2settings" ></div> -->
                                <span for="industry" class="label">Industry</span>
    
                                <div class="bst_input_group_auto_update " id ="industry"style="z-index:100000" ng-if="hideShowDiv.showAddNewIndustryAttributeSection">
                                    <p class="mar-b5">No such option found, Do you want to add a new one -"{{newAttribute}}"?</p>
                                    <div class="bst_input_group_auto_update_button_wrapper d-flex ai-c">
                                        <a href="" ng-click="closeAddAttributeModal('industry')" class="btn">
                                            Cancel </a><a href="" ng-click="saveSource(newAttribute,'industry');hideShowDiv.showAddNewIndustryAttributeSection = false"
                                            class="btn">Add A new Item</a>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="danger-alerts d-flex lh-14 errors" id="forgotErrorBox" hidden></div>
                    <div class="success-alerts d-flex lh-14" id="successBox" hidden></div>
                </div>

                <div class="col-sm-6 pad-r0">
                    <div class="form-group remote-filters-wrapper remote-filters-wrapper-blue mar-x0">
                        <div class="width-100 remote-filters-list-wrapper p-rel bst_input_group bst_input_group_modal">
                            <div class="filter-wrapper-s remote-filters-list  p-abs d-flex ai-c" style="  top: 45%;  left: 22px;  z-index: 99;"> <span class="remote-filter pad-r25" ng-repeat="item in selectedLists.selectedJurisdictionList" ng-if="item.id != 'All'"><span class="flag-icon flag-icon-squared flag-icon-{{( item.jurisdictionName) | lowercase}}"></span><span class="pad-l5">{{item.id}}</span><i class="fa fa-times c-pointer" ng-click="removeParticularItem(item,selectedLists.selectedJurisdictionList,'JurisdictionList','selectedJurisdictionList')"></i></span></div>
                            <div class="input-shadow-wrapper"></div>
                            <div id="jurisdictionId" ng-dropdown-multiselect="" class="multiselect-wrapper height-100"
                                events="selectJurisdictionList" options="JurisdictionList" selected-model="selectedLists.selectedJurisdictionList"
                                extra-settings="extraSettingsForMutliSelect" disabled="" >
                            </div>

                            <span for="jurisdiction" class="label">Jurisdiction</span>
                            <div class="bst_input_group_auto_update d-none" id="jurisdiction" style="z-index:100000" ng-if="hideShowDiv.showAddNewJurisdictionAttributeSection">
                                <p class="mar-b5">No such option found, Do you want to add a new one -"{{newAttribute}}"?</p>
                                <div class="bst_input_group_auto_update_button_wrapper d-flex ai-c">
                                    <a href="" ng-click="closeAddAttributeModal('jurisdiction')"
                                        class="btn"> Cancel </a><a href="" ng-click="saveSource(newAttribute,'jurisdiction');hideShowDiv.showAddNewJurisdictionAttributeSection = false"
                                        class="btn">Add A new Item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group remote-filters-wrapper remote-filters-wrapper-blue mar-x0">
                        <div class="width-100 remote-filters-list-wrapper p-rel bst_input_group bst_input_group_modal">
                            <div class="filter-wrapper-s  remote-filters-list  p-abs d-flex ai-c" style="  top: 45%;  left: 22px;  z-index: 99;">
                                <span  class="remote-filter pad-r25" ng-repeat="item in selectedLists.selectedDomainList" ng-if="item.id != 'All'">{{item.id}}<i class="fa fa-times c-pointer" ng-click="removeParticularItem(item,selectedLists.selectedDomainList,'DomainList','selectedDomainList')"></i></span></div>
                            <div class="input-shadow-wrapper"></div>

                            <div id="domainId" ng-dropdown-multiselect="" class="multiselect-wrapper height-100" events="selectDomainList"
                                options="DomainList" selected-model="selectedLists.selectedDomainList" extra-settings="extraSettingsForMutliSelect"
                                disabled="" >
                            </div>
                            <span for="domain" class="label">Domain</span>

                            <div class="bst_input_group_auto_update " id="domain" style="z-index:100000" ng-if="hideShowDiv.showAddNewDomainAttributeSection">
                                <p class="mar-b5">No such option found, Do you want to add a new one -"{{newAttribute}}"?</p>
                                <div class="bst_input_group_auto_update_button_wrapper d-flex ai-c">
                                    <a href="" ng-click="closeAddAttributeModal('domain')" class="btn">
                                        Cancel </a><a href="" ng-click="saveSource(newAttribute,'domain');hideShowDiv.showAddNewDomainAttributeSection = false"
                                        class="btn">Add A new Item</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group remote-filters-wrapper remote-filters-wrapper-blue mar-x0">
                        <div class="width-100 remote-filters-list-wrapper  p-rel bst_input_group bst_input_group_modal">
                            <div class="filter-wrapper-s remote-filters-list  p-abs d-flex ai-c" style="  top: 45%;  left: 22px;  z-index: 99;"><span  class="remote-filter pad-r25" ng-repeat="item in selectedLists.selectedMediaList" ng-if="item.id != 'All'">{{item.id}}<i class="fa fa-times c-pointer" ng-click="removeParticularItem(item,selectedLists.selectedMediaList,'MediaList','selectedMediaList')"></i></span></div>
                            <div class="input-shadow-wrapper"></div>
                            <div id="mediaId" ng-dropdown-multiselect="" class="multiselect-wrapper height-100" events="selectMediaList"
                                options="mediaLists" selected-model="selectedLists.selectedMediaList" extra-settings="extraSettingsForMutliSelect"
                                disabled="" >
                            </div>
                            <span for="media" class="label">Media</span>

                            <div class="bst_input_group_auto_update d-none" id="media" style="z-index:100000" ng-if="hideShowDiv.showAddNewMediaAttributeSection">
                                <p class="mar-b5">No such option found, Do you want to add a new one -"{{newAttribute}}"?</p>
                                <div class="bst_input_group_auto_update_button_wrapper d-flex ai-c">
                                    <a href="" ng-click="closeAddAttributeModal('media')" class="btn">
                                        Cancel </a><a href="" ng-click="saveSource(newAttribute,'media');hideShowDiv.showAddNewMediaAttributeSection = false"
                                        class="btn">Add A new Item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown bst_input_group  width-100 height-100 p-rel">
                            <!-- <select class="selectBoxWidget custom-input custom-input_select custom-select height-100 pad-t15 pad-b5 pad-x15 text-cream bg-transparent border-0 ng-pristine ng-untouched ng-valid ng-empty" style="-webkit-appearance: menulist !important;"
                                ng-model="addModelClassification.personRoleModel" 
                                ng-options="v.label for v in addModelClassification.personRoleData">
                            </select> -->
                            <select ng-model="addSourceData.addRole" class="selectBoxWidget custom-input custom-input_select custom-select height-100 pad-t15 pad-b5 pad-x15 text-cream bg-transparent border-0 ng-pristine ng-untouched ng-valid ng-empty" style="-webkit-appearance: menulist !important;" required>
                                    <option ng-repeat="v in CategoriesList" ng-selected="addSourceData.addRole == v.label" value="{{v.label}}">{{v.label}}</option>
                            </select>
                            <span class="label p-abs t-0 flag_select_label" style="color:rgba(251,251,251,.6)">Category</span>
                    </div>
                    <span ng-show="!addSourceData.addRole" class="text-coral-red">Please select category</span>
                </div>

                <div class="col-sm-12 pad-x0">
                   
                </div>
                <div class="text-right pad-x0 col-sm-12 buttons-wrapper">
                    <button type="button" class="btn bordered-button text-capitalize " ng-click="closeAddSourceModal()">Cancel</button>
                    <button type="button" ng-click="addSourceTotableFromModal()" ng-disabled="!addSourceData.addRole && !form.$valid && ((addSourceData.classification.toLowerCase() == 'general') || (addSourceData.classification.toLowerCase() == 'news'))" class="btn text-capitalize grad-button">Add
                        source</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".filter-wrapper-s").mThumbnailScroller({
                axis: "x",
                advanced: {
                    updateOnSelectorChange: true
                }
            });
        }, 0);
    });
</script>