
    <div class="risk-overview-modal-wrapper">
        <div class="custom-spinner case-dairy-spinner hidden">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
        <div class="modal-header d-flex ai-c">
            <h4 class="modal-title mar-autor">
                <span id="articleHeader">Add source</span>
            </h4>
            <button type="button" class="f-24 bg-transparent border-0 mar-l10 text-cream " ng-click="closeAddSourceModal()" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
            <form class="form">
                <div class="row">
                    <div class="col-sm-6">
                        <span class="custom-spinner case-dairy-spinner l-0 t-0 hidden" id="loginLoader">
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
                        </span>
                        <div class="form-group mar-x0">
                            <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                                <div class="input-shadow-wrapper"></div>
                                <span class="input-group-append fa fa-caret-down"></span>
                                <select name="classification" class="custom-input custom-input_select height-100" id="classification" ng-options="option.title for option in mainClassificationData" ng-model="addSourceData.classification" required>
                                    <option value="" disabled selected>Classification</option>
                                </select>
                                <span for="classification" class="label">Classification</span>
                            </div>
                        </div>
                        <div class="form-group mar-x0">
                            <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                                <div class="input-shadow-wrapper"></div>
                                <span class="input-group-append fa fa-check"></span>
                                <input type="text" ng-model="addSourceData.sourcename" ng-minlength='{{source.name.minlength}}' ng-maxlength="{{source.name.maxlength}}" placeholder="Source Name" class="custom-input height-100" id="sourceName"
                                    name="sourceName" required />
                                <span for="sourceName" class="label">Source Name</span>
            
                                <span ng-show="form.sourceName.$error.minlength">Input is too short!</span>
                                <span ng-show="form.sourceName.$error.maxlength">Input is too long!</span>
                            </div>
                        </div>
                        <div class="form-group mar-x0">
                            <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                                <div class="input-shadow-wrapper"></div>
                                <span class="input-group-append fa fa-check"></span>
                                <input type="url" ng-model="addSourceData.sourcelink" id="sourceLink" placeholder="Source Link" class="custom-input height-100"
                                    name="sourceLink" required />
                                <span for="sourcelink" class="label">Source Link</span>
                            </div>
                        </div>

                    
                        <div class="danger-alerts d-flex lh-14 errors" id="forgotErrorBox" hidden></div>
                    <div class="success-alerts d-flex lh-14" id="successBox" hidden></div>
                    </div>



                    


                    <!-- <ul class="list-group pad-r15 custom-list-group custom-scroll-wrapper" style="overflow:auto !important;height:400px;max-height:400px;">						
                            <li class="list-group-item" ng-class="{'active': (slectedHit == $index)}"  ng-repeat="hit in data.hits" ng-click="updatetableData(hit,$index)">
                                <div ng-repeat="field in hit.fields" ng-if="field.fieldName == 'full-name' || field.fieldName == 'organization-name' ">
                                    <h5 style="color:#657F8B !important"">{{field.value}}</h5>
                                    <div ng-if="hit.rules[0].ruleName"> Score: {{hit.rules[0].matchScore}}%, Rule: {{hit.rules[0].ruleName}}</div>
                                    <div ng-if="hit['watchlists']">Sources:
                                        <span class="badge mar-l5" ng-repeat="list in hit['watchlists'].split(',')">
                                    {{list}}</span>
                                </div>
                                </div>
                            </li>						
                        </ul> -->
                   
                    <div class="col-sm-6">
                            <div class="form-group mar-x0">
                                    <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                                        <div class="input-shadow-wrapper"></div>
                                        <span class="input-group-append fa fa-caret-down"></span>
                                        <div id="" ng-dropdown-multiselect="" class=" height-100 multiselect-wrapper" options="sampleJurisdictionList"
                                            selected-model="selectedJurisdictionList" extra-settings="example24settings"
                                            events="" disabled="sampleJurisdictionList.length == 0"
                                            onSelectAll="" onDeselectAll="">
                                            </div>
                                        <span for="jurisdiction" class="label">Jurisdiction</span>
                                    </div>
                                </div>
                        <div class="form-group mar-x0">
                            <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                                <div class="input-shadow-wrapper"></div>
                                <span class="input-group-append fa fa-caret-down"></span>
                                <div id="" ng-dropdown-multiselect="" class=" height-100 multiselect-wrapper" options="sampleDomainList"
                                    selected-model="selectedSampleDomainList" extra-settings="example24settings"
                                    events="" disabled="sampleDomainList == 0"
                                    onSelectAll="" onDeselectAll="">
                                    </div>
                                <span for="domain" class="label">Domain</span>
                             
                                <div class="bst_input_group_auto_update d-none">
                                    <p class="mar-b5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, vero.</p>
                                    <div class="bst_input_group_auto_update_button_wrapper d-flex ai-c">
                                        <a href="#" class="btn"> Cancel </a><a href="#" class="btn">Add A new Item</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group mar-x0">
                            <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                                <div class="input-shadow-wrapper"></div>
                                <span class="input-group-append fa fa-caret-down"></span>
                                <div id="" ng-dropdown-multiselect="" class="height-100 multiselect-wrapper" options="sampleMediaList"
                                    selected-model="selectedSampleMediaList" extra-settings="example24settings"
                                    events="" disabled="sampleMediaList == 0"
                                    onSelectAll="" onDeselectAll="">
                                    </div>
                                <span for="media" class="label">Media</span>
                            </div>
                        </div>       
                     
                    </div>

                    <!-- <div class="pulseVisualizerText-wrapper">
                            <div class="custom-data-table-wrapper text-captalise pad-r15 text-justify" ng-if="listtabledata">
                                <table id="moreDetailsTable" class="table text-uppercase table-scroll three-col-equal">
                                    <thead>
                                        <tr>
                                            <th>Field</th>
                                            <th>Value</th>
                                            <th>Matches type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="val in listtabledata">
                                            <td >{{ val.fieldName }}</td>
                                            <td >{{ val.value }}</td>
                                            <td >{{ val.matches.join(', ') }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
              
                <div class="col-sm-12">
                    
                        <div class="form-group mar-x0">
                                <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                                    <div class="input-shadow-wrapper"></div>
                                    <div id="" ng-dropdown-multiselect="" class="multiselect-wrapper height-100" options="sampleIndustryList"
                                        selected-model="selectedIndustryList" extra-settings="example24settings"
                                        events="" disabled="sampleIndustryList.length == 0"
                                        onSelectAll="" onDeselectAll="">
                                        </div>
                                    <span for="industry" class="label">Industry</span>
                                </div>
                            </div>
                 
                </div>
                <div class="text-right col-sm-12 buttons-wrapper">
                    <button class="btn bordered-button text-capitalize " ng-click="closeAddSourceModal()">Cancel</button>
<button ng-click="addSourceTotableFromModal()" class="btn text-capitalize grad-button">Add source</button>
                </div>
            </div>
        </form>
    </div>
</div>