<div class="risk-overview-modal-wrapper">
    <div class="custom-spinner case-dairy-spinner hidden">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
    <div class="modal-header pad-b10 d-flex ai-c">
        <h4 class="modal-title mar-autor">
            <span id="articleHeader">Edit source</span>
        </h4>
        <button type="button" class="f-24 bg-transparent border-0 mar-l10 text-cream " ng-click="closeeditSourceModal()"
            data-dismiss="modal">&times;</button>

    </div>
    <div class="modal-body">
        <form class="form" name="form">
            <div class="row">
                <div class="col-sm-6 pad-l0">
                    <span class="custom-spinner case-dairy-spinner l-0 t-0 hidden" id="loginLoader">
                        <i class="fa fa-spinner fa-spin fa-3x"></i>
                    </span>
                    <div class="form-group mar-x0">
                        <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                            <div class="input-shadow-wrapper"></div>
                            <span class="input-group-append fa fa-caret-down"></span>
                            <select name="classification" ng-init="editSourceData.classifications = currentTab"
                                class="custom-input custom-input_select height-100" id="classification" ng-options="option.title as option.title for option in mainClassificationData"
                                ng-model="editSourceData.classifications" required>
                            </select>
                            <span for="classification" class="label">Classification</span>
                        </div>
                    </div>
                    <div class="form-group mar-x0">
                        <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                            <div class="input-shadow-wrapper"></div>
                            <span class="input-group-append fa fa-check" ng-show="(!form.sourceDisplayName.$error.maxlength) && (editSourceData.sourceDisplayName.length > 0)"></span>
                            <span class="input-group-append fa fa-times" ng-click="editSourceData.sourceDisplayName = ''"
                                ng-show="form.sourceDisplayName.$error.maxlength"></span>
                            <input ng-if="editSourceData.classifications !== 'NEWS'" type="text" ng-model="editSourceData.sourceDisplayName" ng-maxlength="50"
                                placeholder="Source Name" class="custom-input height-100" id="sourceDisplayName" name="sourceDisplayName"
                                required />
                            <input ng-if="editSourceData.classifications === 'NEWS'" type="text" ng-model="editSourceData.sourceDisplayName" ng-maxlength="50"
                                placeholder="Source Name" class="custom-input height-100" id="sourceDisplayName" name="sourceDisplayName"
                                ng-change="getNewsOnSearchSource(editSourceData.sourceDisplayName)" required />
                            <span for="sourceDisplayName" class="label">Source Name</span>

                            <span ng-if="editSourceData.classifications !== 'NEWS'" ng-show="form.sourceDisplayName.$error.maxlength">Source name should not be more than 50 characters!</span>
                            <ul class="custom-list auto-complete-list z-999 mxh-140 l-0 pad-10px p-abs item-1" ng-if="editSourceData.classifications === 'NEWS' && !listSelected && newsSourceResults.length > 0" style="width: inherit;background: #424242!important;">
                                    <li class="" ng-repeat="newsSource in newsSourceResults" ng-click="setSelectedNewsSource(newsSource)">{{newsSource}}   </li>
                             </ul>
                        </div>
                    </div>
                    <div class="form-group mar-x0">
                        <div class="width-100 p-rel bst_input_group bst_input_group_modal">
                            <div class="input-shadow-wrapper"></div>
                            <span class="input-group-append fa fa-check" ng-show="(!form.sourceLink.$error.maxlength) && (editSourceData.sourcelink.length > 0)"></span>
                            <span class="input-group-append fa fa-times" ng-click="editSourceData.sourcelink = ''"
                                ng-show="form.sourcelink.$error.maxlength"></span>
                            <input type="text" ng-class="{'c-ban' : !((editSourceData.classifications.toLowerCase() == 'general') || (editSourceData.classifications.toLowerCase() == 'news'))}" 
                            ng-disabled="!((editSourceData.classifications.toLowerCase() == 'general') || (editSourceData.classifications.toLowerCase() == 'news'))" ng-model="editSourceData.sourcelink" http-prefix id="sourcelink" ng-maxlength="150"
                                placeholder="Source Link" class="custom-input height-100" name="sourcelink" required />
                            <span for="sourcelink" class="label">Source Link</span>

                            <span ng-show="form.sourcelink.$error.maxlength">Source link should not be more than 150 characters!</span>
                        </div>
                        
                    </div>
                    <div class="form-group remote-filters-wrapper remote-filters-wrapper-blue mar-x0">
                            <div class="width-100 remote-filters-list-wrapper p-rel bst_input_group bst_input_group_modal">
                                <div class="filter-wrapper-s remote-filters-list  p-abs d-flex ai-c" style="  top: 45%;  left: 22px;  z-index: 99;"> <span class="remote-filter pad-r25"  class="" ng-repeat="item in editSourceData.industry" ng-if="item.id != 'All'">{{item.id}}<i class="fa fa-times c-pointer" ng-click="removeParticularItem(item,editSourceData.industry,'IndustryList','industry')"></i></span></div>
                                <div class="input-shadow-wrapper"></div>
                                <div id="" ng-dropdown-multiselect="" class="multiselect-wrapper height-100" options="IndustryList"
                                    selected-model="editSourceData.industry" extra-settings="multiselectorSettingsForEdit" events="selectIndustryListForEdit"
                                    disabled="IndustryList.length == 0" >
                                </div>
                                <span for="industry" class="label">Industry</span>
                            </div>
                    </div>

                    <div class="danger-alerts d-flex lh-14 errors" id="forgotErrorBox" hidden></div>
                    <div class="success-alerts d-flex lh-14" id="successBox" hidden></div>
                </div>

                <div class="col-sm-6 pad-r0">
                    <div class="form-group remote-filters-wrapper remote-filters-wrapper-blue mar-x0">
                        <div class="width-100 remote-filters-list-wrapper p-rel bst_input_group bst_input_group_modal">
                            <div class="filter-wrapper-s remote-filters-list  p-abs d-flex ai-c" style="  top: 45%;  left: 22px;  z-index: 99;"> <span class="remote-filter pad-r25"  class="" ng-repeat="item in editSourceData.jurisdiction" ng-if="item.id != 'All'"><span class="flag-icon flag-icon-squared flag-icon-{{( item.jurisdictionName) | lowercase}}"></span><span class="pad-l5 ">{{item.id}}</span><i class="fa fa-times c-pointer" ng-click="removeParticularItem(item,editSourceData.jurisdiction,'JurisdictionList','jurisdiction')"></i></span></div>
                            <div class="input-shadow-wrapper"></div>

                            <div id="" ng-dropdown-multiselect="" class="height-100 multiselect-wrapper" options="JurisdictionList"
                                selected-model="editSourceData.jurisdiction" extra-settings="multiselectorSettingsForEdit" events="selectJurisdictionListForEdit"
                                disabled="JurisdictionList.length == 0" >
                            </div>
                            <span for="jurisdiction" class="label">Jurisdiction</span>
                        </div>
                    </div>
                    <div class="form-group remote-filters-wrapper remote-filters-wrapper-blue mar-x0">
                        <div class="width-100 remote-filters-list-wrapper p-rel bst_input_group bst_input_group_modal">
                            <div class="filter-wrapper-s remote-filters-list  p-abs d-flex ai-c" style="  top: 45%;  left: 22px;  z-index: 99;"> <span class="remote-filter pad-r25"  class="" ng-repeat="item in editSourceData.domain" ng-if="item.id != 'All'">{{item.id}}<i class="fa fa-times c-pointer" ng-click="removeParticularItem(item,editSourceData.domain,'DomainList','domain')"></i></span></div>
                            <div class="input-shadow-wrapper"></div>

                            <div id="" ng-dropdown-multiselect="" class="height-100 multiselect-wrapper" options="DomainList"
                                selected-model="editSourceData.domain" extra-settings="multiselectorSettingsForEdit" events="selectDomainListForEdit"
                                disabled="DomainList == 0" >
                            </div>
                            <span for="domain" class="label">Domain</span>

                            <div class="bst_input_group_auto_update d-none">
                                <p class="mar-b5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, vero.</p>
                                <div class="bst_input_group_auto_update_button_wrapper d-flex ai-c">
                                    <a href="#" class="btn"> Cancel </a><a href="#" class="btn">Add A new Item</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group remote-filters-wrapper remote-filters-wrapper-blue mar-x0">
                        <div class="width-100 remote-filters-list-wrapper p-rel bst_input_group bst_input_group_modal">
                            <div class="filter-wrapper-s remote-filters-list  p-abs d-flex ai-c" style="  top: 45%;  left: 22px;  z-index: 99;"> <span class="remote-filter pad-r25"  class="" ng-repeat="item in editSourceData.media" ng-if="item.id != 'All'">{{item.id}}<i class="fa fa-times c-pointer"ng-click="removeParticularItem(item,editSourceData.media,'mediaLists','media')"></i></span></div>
                            <div class="input-shadow-wrapper"></div>

                            <div id="" ng-dropdown-multiselect="" class="height-100 multiselect-wrapper" options="mediaLists"
                                selected-model="editSourceData.media" extra-settings="multiselectorSettingsForEdit" events="selectMediaListForEdit"
                                disabled="mediaLists == 0" >
                            </div>
                            <span for="media" class="label">Media</span>
                        </div>
                    </div>
                    <div class="dropdown bst_input_group  width-100 height-100 p-rel">
                            <!-- <select class="selectBoxWidget custom-input custom-input_select custom-select height-100 pad-t15 pad-b5 pad-x15 text-cream bg-transparent border-0 ng-pristine ng-untouched ng-valid ng-empty" style="-webkit-appearance: menulist !important;"
                                ng-model="addModelClassification.personRoleModel" 
                                ng-options="v.label for v in addModelClassification.personRoleData">
                            </select> -->
                            <select ng-model="editSourceData.editRole" class="selectBoxWidget custom-input custom-input_select custom-select height-100 pad-t15 pad-b5 pad-x15 text-cream bg-transparent border-0 ng-pristine ng-untouched ng-valid ng-empty" style="-webkit-appearance: menulist !important;" required>
                                    <option ng-repeat="v in CategoriesList" ng-selected="editSourceData.editRole == v.label" value="{{v.label}}">{{v.label}}</option>
                            </select>
                            <span class="label p-abs t-0 flag_select_label" style="color:rgba(251,251,251,.6)">Category</span>
                    </div>
                    <span ng-show="!editSourceData.editRole" class="text-coral-red">Please select category</span>
                </div>

                <div class="col-sm-12 pad-x0">
               
                </div>
                <div class="text-right pad-x0 col-sm-12 buttons-wrapper">
                    <button type="button" class="btn bordered-button text-capitalize " ng-click="closeeditSourceModal()">Cancel</button>
                    <button type="button" ng-click="updatetoformatdata()" ng-disabled="!editSourceData.editRole && !form.$valid && ((editSourceData.classifications.toLowerCase() == 'general') || (editSourceData.classifications.toLowerCase() == 'news'))" class="btn text-capitalize grad-button">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
            $(".filter-wrapper-s").mThumbnailScroller({
                axis: "x",
                advanced: {
                    updateOnSelectorChange: true
                }
            });    
        });
    
</script>