/*==============================================================================
*************  Identity Management Editor Styles For The Site  *****************
==============================================================================*/
.identity-management-wrapper{
    .subtle-select .glyphicon {
        visibility: hidden;
        padding-left: 5px;
    }

    a.subtle-select:hover .glyphicon {
        visibility: visible;
    }

    .full {
        padding: 0 15px;
        width: 100%;
    }

    .inline {
        display: inline;
    }

    .greyish {
        color: #afafaf;
    }

    .roweditor-canvas {
        margin-top: 15px;
    }

    .no-pad {
        margin: 0;
        max-width: 1300px;
        min-width: 1100px;
    }

    .content.no-pad {
        max-width: 100%;
        min-width: 100%;
    }

    .inset .col-sm-3 {
        margin-left: -15px;
    }

    .no-pad > div {
        padding: 0;
    }

    .dropdown-toggle .icon-caret-down {
        padding-left: 10px;
        font-size: 85%;
    }

    h1 {
        margin: 0 0 0 15px;
        padding: 0;
        font-size: 22px;
        line-height: 40px;
        border: none;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }

    .truncate {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        > span {
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .subheader {
        .details {
            position: relative;
            .counter {
                position: relative;
                background-color: #4d7a9e;
                height: 20px;
                color: #8eb3cf;
                width: 20px;
                line-height: 21px;
                @include border-radius(50%);
                display: inline-block;
                vertical-align: top;
                margin: -2px 0 0 5px;
            }
        }
        .subtle-select {
            margin: -6px 0 0 -8px;
        }
    }

    .btn .icon-and-label {
        padding-right: 5px;
    }

    .dropdown-menu {
        .title {
            margin: 5px 10px 0px 10px;
            font-size: 17px;
            min-width: 250px;
        }
        ul {
            list-style: none;
            list-style-position: inside;
            padding: 5px 10px;
        }
    }

    /*--  List Filter Styles  --*/

    .filter-wrapper {
        min-height: 400px;
        margin-top: 10px;
    }

    ul.filter-list {
        list-style: none;
        list-style-position: inside;
        padding-left: 0px;
        padding-top: 10px;
        li {
            a {
                display: block;
                color: #8b9fa8;
                font-size: 12px;
                margin: 10px 5px 10px 0px;
                padding-left: 10px;
                text-transform: uppercase;
                font-family: "Roboto Regular",sans-serif;
            }
            &.current a {
                color: #3179ad;
                padding-left: 5px;
                border-left: 5px solid #3179ad;
            }
            a {
                &:hover, &:focus {
                    text-decoration: none;
                    color: #3179ad;
                    padding-left: 5px;
                    border-left: 5px solid #3179ad;
                    /* background-color: #e8edf1; */
                }
            }
            &.current a {
                &:hover, &:focus {
                    background-color: transparent;
                    color: #3179ad;
                    cursor: default;
                    text-decoration: none;
                }
            }
        }
    }

    /*--  Result Items Styles  --*/

    .item-wrapper {
        padding-left: 0;
        margin-top: 5px;
        .message {
            text-align: left;
            margin-left: 5px;
            line-height: 40px;
            color: #657F8B;
            span {
                font-size: 14px;
            }
        }
        .item {
            width: 25%;
            padding: 0;
            margin: 0;
            float: left;
            .btn-default {
                &.disabled {
                    border-color: #ffffff;
                    cursor: default;
                }
                &[disabled] {
                    border-color: #ffffff;
                    cursor: default;
                    &:active, &:hover {
                        border-color: #ffffff;
                        cursor: default;
                    }
                }
            }
            .item-box {
                margin: 5px;
                border: 1px solid #4f616b;
                height: 250px;
                overflow: hidden;
                cursor: pointer;
                background-repeat: no-repeat;
                background-position: center 27px;
                background-size: auto;
                position: relative;
            }
        }
    }

    .item-box {
        .details {
            position: relative;
            background-color: #384b59;
            color: #cfcecc;
            height: 160px;
            margin-top: 120px;
            padding: 5px;
            font-size: 13px;
            @include transition(margin-top .5s ease);
        }
        &:hover .details, &.active .details {
            margin-top: 50px;
        }
        .actions {
            padding: 5px;
            height: 45px;
            .btn-group {
                @include transition(bottom .5s ease);
                position: absolute;
                right: 10px;
                bottom: 0;
                z-index: 9;
                visibility: hidden;
            }
        }
        &:hover .actions .btn-group, 
            &.active .actions .btn-group {
            visibility: inherit;
            bottom: 115px;
        }
        .details {
            h3 {
                font-size: 14px;
                margin: 0;
                padding: 2px;
                text-transform: uppercase;
            }
            span {
                display: block;
                margin-top: 5px;
                i {
                    padding-right: 10px;
                    padding-left: 5px;
                }
            }
            .basic-details {
                min-height: 60px;
                color: #4e6271;
            }
            p {
                color: #657F8B;
                width: 100%;
                height: 70px;
                font-size: 12px;
                overflow: hidden;
            }
        }
    }

    .create-inline {
        padding: 100px 20px 80px 20px;
        border: 1px solid #3E5662;
        span {
            display: block;
            font-size: 18px;
            color: #657F8B;
            text-align: center;
            margin-bottom: 20px;
            .btn {
                text-transform: uppercase;
            }
        }
        .glyphicon {
            margin-right: 10px;
        }
    }

    .show-more {
        clear: both;
        height: 50px;
        text-align: center;
        padding-top: 5px;
        margin: 5px;
        a {
            display: block;
            padding: 5px;
            font-size: 15px;
            text-decoration: none;
            cursor: pointer;
            color: #666666;
            &:hover {
                color: #1a1a1a;
                background: #e8edf1;
            }
        }
    }

    .content-canvas-wrapper {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        z-index: 0;
        padding: 15px;
        background-color: #f9f9f9;
        background-color: #384b59;
        color: #657F8B;
        li.form-field-wrapper {
            list-style: none;
        }
        ul li {
            padding-bottom: 0.5rem;
        }
        li.dndPlaceholder {
            list-style: none;
            display: block;
            width: 100%;
            min-height: 70px;
            z-index: 2;
            margin-bottom: 0.5rem;
            background-color: transparent !important;
            border: 1px dashed #425661;
        }
        .container-control li.dndPlaceholder {
            min-height: calc(70px - 1.5rem);
        }
        > ul > li.dndPlaceholder {
            width: calc(100% - 10px);
        }
        ul[dnd-list] {
            position: relative;
            > li {
                position: relative;
            }
        }
        .form-group {
            margin-bottom: 0;
            /* reset bootstrap margin */
        }
        .container-control {
            width: 100%;
            table-layout: fixed;
            /* border-spacing: 5px 0; */
            border-collapse: separate;
            .input-group {
                border-spacing: 0;
                /* restore bootstrap layout */
            }
        }
        .container-control-cell {
            width: 50%;
            vertical-align: top;
            /* padding: 1rem; */
        }
        .container-control tr > td {
            /* padding-left: 0; */
            min-height: 100%;
            position: relative;
        }
        .container-control-cell:nth-child(1) {
            border-right: none;
        }
        .container-control tr > td > ul {
            min-height: 70px;
            list-style: none;
            padding: 0.5rem;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #F9F9F8;
                z-index: 0;
                margin-left: -0.5rem;
                margin-top: -0.5rem;
            }
            &.dndDragover::before {
                background-color: #EFEFEF;
            }
        }
        .dndDraggingSource {
            display: none;
        }
    }

    /*
        make sure that there is something filling the entire cell to stop drag events form being fired to the main
        droppable list and therefore start flickering
    */

    .content-canvas {
        margin: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        h3 {
            margin: 15px 0;
            font-family: "Roboto Bold", sans-serif;
            text-transform: uppercase;
            font-size: 13px;
        }
        .no-results {
            color: #657F8B;
            font-size: 14px;
            margin: 10px 0px;
            font-family: "Roboto Regular", sans-serif;
        }
        .item-wrapper {
            margin: 5px 10px;
        }
        .canvas-element {
            margin: 8px;
            padding: 8px;
            position: relative;
            z-index: 0;
            border: 1px dashed #425661;
            /* padding-left: 0; */
            min-height: 100%;
        }
    }

    /*--  History Table Styles  --*/

    table.history {
        margin: 0;
        padding: 0;
    }

    .subheader table.history {
        min-width: 250px;
    }

    table.history {
        td {
            vertical-align: middle;
        }
        tr {
            td:last-child {
                width: 90%;
            }
            &:hover {
                /* background-color: #f3f6f8; */
                cursor: pointer;
            }
            &.current:hover {
                /* background-color: #e8edf1; */
                cursor: inherit;
            }
        }
        a:hover {
            text-decoration: none;
        }
        .version {
            font-size: 30px;
            display: inline-block;
            color: #3179ad;
            padding: 5px 10px;
            vertical-align: middle;
            color: #3179ad;
        }
        .detail {
            padding: 5px 5px;
            font-size: 15px;
            color: #8b9fa8;
            display: inline-block;
        }
        tr.current {
            font-weight: bold;
            background-color: #384b59;
            td {
                background-color: #384b59;
            }
        }
    }

    .comments {
        clear: both;
        width: 350px;
        border-top: 1px solid #eeeeee;
        margin-top: 5px;
        max-height: 350px;
        overflow: auto;
    }

    .comment {
        margin: 10px 0px 20px 0px;
        font-size: 12px;
        .date {
            color: #999999;
            font-size: 12px;
        }
        .author {
            color: #3179ad;
            font-size: 18px;
        }
        p {
            word-wrap: break-word;
        }
    }

    .modal.modal-wide .modal-dialog, 
    .modal-dialog.modal-wide {
        width: 1000px;
    }

    .modal-body p {
        font-size: 15px;
        &.danger {
            color: #d35f5f;
            margin-top: 10px;
        }
    }

    .form-group {
        .inline-help {
            font-size: 11px;
            color: #666666;
            margin-top: 5px;
        }
        .message {
            color: #1a1a1a;
            font-size: 14px;
        }
    }

    .people-select > .selection {
        width: 100%;
        text-align: left;
    }

    .popup-wrapper .people-select {
        max-height: 160px;
    }

    .people-select .nothing-to-see {
        padding: 5px 0;
        color: #999999;
    }

    .inline-people-select {
        max-height: 120px;
        overflow: auto;
    }

    /*--  Center Tabbed Pane Styles  --*/

    .center-pane {
        overflow: auto;
        padding-bottom: 20px;
        .content {
            overflow: hidden;
        }
        .tab-actions {
            padding: 8px;
        }
        .tabs-wrapper > .pull-right {
            margin-right: 5px;
        }
    }

    .tabs-wrapper .form-group .input-group .form-control {
        background-color: transparent !important;
        border: 1px solid #3179ad;
    }

    .center-pane {
        .content, &.content {
            padding: 0;
        }
        .content .tabs, &.content .tabs {
            padding-left: 0;
        }
        .content .tabs > li a, &.content .tabs > li a {
            padding: 8px 0 0;
            margin: 0 15px;
        }
        .header {
            h1 {
                font-size: 30px;
                margin: 0;
                padding: 0;
            }
            h2 {
                font-size: 14px;
                margin: 0 0 5px 0;
                padding: 0;
                text-transform: uppercase;
                font-family: "Roboto Bold", sans-serif;
            }
            padding: 5px 10px 25px 10px;
            &.compact {
                padding-bottom: 5px;
            }
        }
        .well {
            -moz-border-radius: 0px;
            -webkit-border-radius: px;
            border-radius: 0px;
            background-color: #384b59;
            color: #657F8B;
            padding: 12px 10px;
            margin: 0;
            border: 0;
        }
    }

    /*--  Steps Builder Styles  --*/

    .steps-wrapper {
        position: relative;
        padding: 15px;
        top: 0;
        left: 0;
        bottom: 1px;
        right: 0;
        height: auto;
        background-color: transparent;
        .popover.step-center {
            left: 50% !important;
            margin-left: -200px;
            min-width: 400px;
            margin-bottom: 20px;
        }
    }

    .step {
        background-color: #ffffff;
        padding: 0px 0px 10px 0px;
        border: 2px solid #1a1a1a;
        -webkit-box-shadow: 0px 2px 2px 0px #999999;
        -moz-box-shadow: 0px 2px 2px 0px #999999;
        box-shadow: 0px 2px 2px 0px #999999;
        font-size: 13px;
        z-index: 2;
    }

    .has-line {
        background: transparent url('../images/line.png') repeat-y center top;
    }

    .step .form-group {
        margin-bottom: 10px;
    }

    .steps-wrapper > div > .step {
        margin: 0 auto 0 auto;
        width: 600px;
    }

    .step-group {
        border: 2px dotted #1a1a1a;
        padding: 5px 0 5px 0;
        background-color: #ffffff;
        margin: 0 auto 0 auto;
        -webkit-transition: width 0.2s ease-in-out;
        -moz-transition: width 0.2s ease-in-out;
        -o-transition: width 0.2s ease-in-out;
        transition: width 0.2s ease-in-out;
        &.active {
            position: relative;
            width: 100%;
        }
        > .col-xs-6 {
            background-color: transparent;
        }
    }

    .step h4, .step-group h4 {
        cursor: pointer;
        margin: 10px 0 5px 10px;
    }

    .step h4 .icon, .step-group h4 .icon, .line-marker h4 .icon {
        font-size: 70%;
    }

    .step > .actions, .step-group > .actions {
        display: none;
        clear: both;
        float: right;
        margin-top: 5px;
    }

    .step:hover > .actions, .step-group:hover > .actions {
        display: inherit;
    }

    .step > .subtitle, .step-group > .subtitle {
        margin-left: 25px;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .step-type {
        float: left;
        margin-right: 5px;
        font-size: 18px;
        line-height: 20px;
        color: #666666;
    }

    .step-placeholder-readonly {
        top: 0;
        margin: 6px auto;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border: 3px solid #999999;
        color: #999999;
        font-size: 16px;
        line-height: 14px;
        overflow: hidden;
        text-align: center;
        -webkit-transition: background-color 0.2s ease-in-out;
        -moz-transition: background-color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
    }

    .step-placeholder {
        top: 0;
        margin: 6px auto;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border: 3px solid #999999;
        color: #999999;
        font-size: 16px;
        line-height: 14px;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        -webkit-transition: background-color 0.2s ease-in-out;
        -moz-transition: background-color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
        z-index: 2;
        &:before {
            content: '+';
        }
        &:hover {
            background-color: #ffffff;
            margin: 1px auto;
            width: 30px;
            height: 30px;
            line-height: 24px;
            border-color: #5f8dd3;
            color: #5f8dd3;
            font-size: 20px;
        }
    }

    .detail-wrapper {
        padding: 0 10px;
        background-color: #384b59;
        color: #cfcecc;
    }

    .moving .step-placeholder {
        background-color: #b7d897;
        border-color: #72a83f;
        color: #b7d897;
        &.no-move {
            background-color: #ffffff;
            border-color: #eeeeee;
            color: #eeeeee;
        }
    }

    .no-move.no-click {
        pointer-events: none;
        cursor: default;
    }

    .validation-error {
        border-color: #ff0000;
    }

    .step .details, .step-group > .details {
        border-top: 1px solid #bbbbbb;
        margin: 10px 5px 10px 5px;
        padding: 0 5px 0 5px;
    }

    .step .details .detail-group, .step-group > .details .detail-group {
        margin: 10px 0 5px 0;
        padding-top: 10px;
        border-top: 1px dotted #f2f2f2;
    }

    .step .details .detail-group:first-child {
        margin-top: 0px;
        border-top: none;
    }

    .step-group {
        > .details .detail-group:first-child {
            margin-top: 0px;
            border-top: none;
        }
        .detail-group.first {
            border-top: none;
            margin-top: 5px;
        }
    }

    .step .detail-group.first {
        border-top: none;
        margin-top: 5px;
    }

    .detail-group .btn-group.pull-right, .line-marker .btn-group.pull-right {
        margin: 0 0 5px 5px;
    }

    .detail-group .form-group .detail, .section .form-group .detail {
        margin-top: 5px;
        font-size: 13px;
    }

    .detail-group .form-group .detail .empty {
        color: #666666;
    }

    .line-marker {
        margin: 0 auto 0 auto;
        cursor: pointer;
        max-width: 300px;
        padding: 5px 20px;
        background-color: #ffffff;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        border: 3px solid #aaaaaa;
        z-index: 2;
        -webkit-transition: max-width .3s ease;
        transition: max-width .3s ease;
    }

    .line-marker-only {
        margin: 0 auto 0 auto;
        max-width: 300px;
        padding: 5px 20px;
        background-color: #ffffff;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        border: 3px solid #aaaaaa;
        z-index: 2;
        -webkit-transition: max-width .3s ease;
        transition: max-width .3s ease;
        .section {
            min-height: 20px;
            margin: 10px 0 5px 0;
        }
        h4 {
            text-align: center;
            margin: 0;
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            > span {
                font-size: 14px;
                color: #5f8dd3;
                line-height: 18px;
                padding-left: 5px;
            }
        }
    }

    .line-marker {
        &.expanded {
            max-width: 600px;
            width: 600px;
            padding: 10px 5px;
            h4 {
                margin-bottom: 10px;
            }
        }
        h4 {
            > i {
                visibility: hidden;
            }
            &:hover > i {
                visibility: visible;
            }
        }
        &.expanded h4 > i {
            visibility: visible;
        }
        .section {
            min-height: 20px;
            margin: 10px 0 5px 0;
        }
    }

    .step.moving {
        border-color: #72a83f;
        border-style: solid;
    }

    .step-group {
        &.moving {
            border-color: #72a83f;
            border-style: solid;
        }
        .line-marker {
            max-width: 90%;
        }
    }

    .line-marker h4 {
        text-align: center;
        margin: 0;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        > span {
            font-size: 14px;
            color: #5f8dd3;
            line-height: 18px;
            padding-left: 5px;
        }
    }

    .step .details label, .line-marker .section label {
        font-weight: normal;
        padding-right: 10px;
        padding-top: 5px;
    }

    .step-group .tabs, .step .tabs {
        margin-top: 15px;
    }

    .step-types {
        li {
            cursor: pointer;
            font-size: 14px;
            text-align: left;
            .icon, .glyphicon-inline {
                padding-right: 5px;
                color: #666666;
            }
        } 
    }

    .steps-wrapper h5 {
        margin-top: 5px;
        margin-left: 0px;
        font-size: 16px;
    }

    /*--  Form Builder Styles  --*/

    .palette-entry {
        cursor: pointer;
        padding: 5px 5px 5px 10px;
        &:hover {
            background-color: #f2f2f2;
        }
        span {
            padding-left: 10px;
        }
    }

    .form-palette {
        position: relative;
        height: calc(100% - 60px);
        .col-sm-2 ul {
            position: relative;
            margin-bottom: 0;
            &::before {
                position: absolute;
                top: 0;
                right: -15px;
                content: "";
                height: 100%;
                border-right: 1pt solid #4f616b;
            }
        }
    }

    .form-canvas {
        .empty {
            border: 2px dashed #eeeeee;
            padding: 15px;
            color: #444444;
        }
        .popover {
            width: 100%;
        }
        .checkbox.inline {
            float: right;
            width: 50%;
            margin-top: 10px;
            &:last-child {
                float: none;
            }
        }
    }

    .palette {
        padding-bottom: 10px;
        &:first-child {
            margin-top: 150px;
        }
    }

    .form-canvas td {
        width: 50%;
    }

    .form-field {
        position: relative;
        overflow: visible;
        > .actions {
            position: absolute;
            top: 0;
            right: 5px;
            display: none;
            clear: both;
            border: 0;
            padding: 0;
            background-color: #3179ad;
            color: #c5d0d8;
            z-index: 3;
        }
        &:hover > .actions {
            display: inherit;
        }
    }

    .editing .form-field {
        &:hover > .actions {
            display: none;
        }
        color: #aaaaaa;
        input {
            border-color: #f2f2f2;
            color: #aaaaaa;
        }
        &.editing {
            border-color: #dddddd;
            border-bottom-color: transparent;
            color: #333333;
            input {
                color: #333333;
                border-color: #cccccc;
            }
        }
    }

    .form-canvas-wrapper .inline-edit {
        position: relative;
        max-height: 0px;
        border: 1px solid #cdcdcd;
        border-top: none;
        padding: 20px 15px;
        overflow: hidden;
        background-color: #fdfdfd;
        margin: 0px -10px;
        -webkit-transition: max-height .4s;
        -moz-transition: max-height .4s;
        -o-transition: max-height .4s;
        transition: max-height .4s;
        overflow: auto;
    }

    .inline-edit {
        .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-9 {
            margin-bottom: 10px;
        }
        .section {
            border-top: 1px dotted #eeeeee;
            padding-top: 10px;
            &:first-child {
                border-top: none;
                padding-top: 0px;
            }
        }
        .btn-group.pull-right {
            margin: 0 15px 15px 0;
        }
    }

    .arrow_box {
        position: relative;
        background: #ffffff;
        border-top: 1px solid #cdcdcd;
        &:after, &:before {
            bottom: 100%;
            left: 25%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 16px;
            margin-left: -16px;
        }
    }

    .second-column .form-field-edit .arrow_box {
        &:before, &:after {
            left: 75%;
        }
    }

    .arrow_box:before {
        border-color: rgba(238, 238, 238, 0);
        border-bottom-color: #cdcdcd;
        border-width: 17px;
        margin-left: -17px;
    }

    .form-canvas-wrapper .expand .inline-edit {
        max-height: 500px;
    }

    .form-field-edit {
        position: relative;
        background-color: #ffffff;
        margin: 0 -15px;
    }

    /*--  General Button Styles  --*/

    .btn.btn-clean {
        border: none;
        font-size: 16px;
        padding: 2px 6px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .btn-clean {
        &:hover .icon-remove {
            color: #a02828;
        }
        &:focus, &:hover {
            color: #5f8dd3;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        &:active {
            color: #2c5aa0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }

    /*--  Show List In Popup  --*/

    ul.list {
        list-style: none inside;
        padding: 0px;
        margin-bottom: 3px;
        > li {
            line-height: 30px;
            margin: 0;
            padding: 4px;
            cursor: pointer;
        }
    }

    .popup-wrapper ul.list > li {
        border-top: 1px solid #eeeeee;
        &:last-child {
            border-bottom: 1px solid #eeeeee;
        }
    }

    ul.list > li {
        &:hover, &.active {
            background-color: #f2f2f2;
        }
        .actions {
            float: right;
            margin: 0px 0px 0px 5px;
            visibility: hidden;
        }
        &:hover .actions {
            visibility: inherit;
        }
    }

    /*--  Model Preview Styles  --*/

    .model-preview-wrapper {
        overflow: auto;
        width: auto;
        height: 100%;
        padding: 5px;
        > div {
            margin-left: auto;
            margin-right: auto;
        }
    }

    /*--  Sharing Styles  --*/

    .sharing-info {
        min-height: 250px;
        font-size: 13px;
        p, span {
            font-size: 14px;
        }
        .no-results {
            font-size: 15px;
            padding-top: 100px;
            text-align: center;
        }
        .sharing-list {
            margin-top: 15px;
            line-height: 40px;
            table {
                margin-bottom: 0;
                overflow: auto;
            }
        }
    }

    .sharing-list .sharing-entry {
        border-bottom: 1px solid #a4acb9;
        .glyphicon {
            margin-right: 10px;
            cursor: pointer;
        }
        .active-permission {
            color: #3179ad;
            font-weight: bold;
        }
        .not-active-permission {
            color: darkgrey;
        }
    }

    .sharing-list-table-wrapper {
        overflow: auto;
        height: 300px;
    }

    /*--  Simple Content Box Styles  --*/

    .simple-content-wrapper {
        margin-top: 40px;
        p {
            font-size: 15px;
        }
        .loading-text {
            font-size: 15px;
            line-height: 30px;
        }
        .alert {
            font-size: 15px;
            margin: 20px 0px;
        }
        .seperator {
            width: 100%;
            content: ' ';
            margin-top: 25px;
            margin-bottom: 5px;
            text-transform: uppercase;
            color: #cfcfcf;
            font-size: 12px;
            &:first-child {
                margin-top: 0px;
            }
            i.glyphicon {
                padding-right: 5px;
            }
        }
        p.subtle {
            font-size: 13px;
            color: #afafaf;
            margin: 0;
            text-align: right;
        }
        .btn-group.pull-right {
            margin-left: 10px;
        }
        p.subtle a {
            font-size: 13px;
            color: #afafaf;
            &:hover {
                color: #3179ad;
            }
        }
        .form-group {
            margin-bottom: 10px;
        }
    }

    /*--  Re-captcha Styles  --*/

    .recaptcha-image-wrapper {
        margin: 5px 20px 0px 0px;
        float: left;
        border-right: 1px solid rgb(204, 204, 204);
        padding-right: 20px;
        min-height: 100px;
    }

    #recaptcha_image img {
        margin: 20px 5px;
        float: left;
    }

    .recaptcha-actions {
        margin: 20px 5px 20px 5px;
        a {
            font-size: 13px;
        }
        i.glyphicon {
            padding-right: 5px;
        }
        .subtle {
            font-size: 11px;
            color: rgb(204, 204, 204);
        }
    }

    .subtle > a {
        font-size: 11px;
        color: rgb(204, 204, 204);
    }

    /*--  Animations Styles  --*/

    .fadein {
        &.ng-enter, &.ng-move {
            -webkit-transition: 0.5s linear opacity;
            transition: 0.5s linear all;
        }
        &.ng-enter {
            opacity: 0;
            &.ng-enter-active {
                opacity: 1;
            }
        }
        &.ng-move {
            opacity: 0.5;
            &.ng-move-active {
                opacity: 1;
            }
        }
    }

    .popup-error {
        color: red;
        padding: 0 5px 8px 0;
    }

    /*--  Passwords Styles  --*/

    .password-field {
        width: 320px;
    }

    /*--  LOADING Styles  --*/

    .message .loading {
        line-height: 40px;
        margin: 0 auto;
        float: none !important;
    }

    /*--  Import process definition Styles  --*/

    .import-process-form {
        margin: 0 20% 0 20%;
        text-align: center;
        position: relative;
        .upload-file {
            position: relative;
            display: block;
            height: 27px;
            &:before {
                position: absolute;
                content: "Choose File";
                top: 0;
                left: 0;
                width: 120px;
                height: 27px;
                border: 1px solid #4f616b;
                line-height: 22px;
                cursor: pointer;
            }
        }
        input[type=file] {
            position: absolute;
            height: 27px;
            width: 240px;
            opacity: 0;
            cursor: pointer !important;
            -moz-opacity: 0;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            margin: 0 0 0 -120px;
        }
    }

    .import-process-dropbox {
        background: transparent;
        border: 5px dashed #485c6c;
        color: #657F8B;
        text-align: center;
        padding: 35px 0 35px 0;
        margin: 20px 0 20px 0;
        &.dragover {
            border: 5px dashed #55ae4d;
            color: #55ae4d;
        }
    }

    /*--  Bootstrap-Tour Tweaks Styles  --*/

    .popover.tour {
        min-width: 200px;
        padding: 0 0 10px 0;
    }

    .popover-content {
        font-size: 14px;
    }

    .row-no-gutter {
        .col-xs-3.tour-activitiEditorTour-element, .col-xs-9.tour-activitiEditorTour-element {
            z-index: 1101;
        }
    }

    .popover .grid {
        max-height: 350px;
        overflow: auto;
        width: 550px;
        margin: -5px -10px -5px -10px;
        padding: 0 5px;
        .item {
            float: left;
            width: 14%;
            margin: 0;
            padding: 0;
            font-size: 21px;
            text-align: center;
            padding: 1% 0;
            cursor: pointer;
            color: #657F8B;
        }
        &.wide .item {
            width: 20%;
        }
        .item.active {
            /* background-color: #f3f6f8; */
            color: #3179ad;
        }
    }

    /*
     * Stencils
     */

    .stencil-title {
        margin-top: 10px;
    }

    .stencil-info-filter-dropdown {
        margin-top: 10px;
        button {
            color: black;
            background-color: white;
            border-color: #e8edf1;
            &:hover {
                background-color: #3179ad;
            }
        }
    }

    .stencil-filter-selected {
        color: #55ae4d;
    }

    .stencil-info {
        margin-top: 15px;
        font-size: 16px;
    }

    .stencil-info-actions {
        margin-top: 10px;
        font-size: 14px;
        padding-left: 10px;
        border-left: 1px solid #e8edf1;
        i {
            padding-right: 6px;
        }
    }

    .stencil-info h2, .stencil-info-box h2, .stencil-info-container h2 {
        margin-top: 0;
    }

    .stencil-info-box {
        border: 1px solid #e8edf1;
        padding: 10px;
    }

    .stencil-info-items-box, .stencil-info-properties-box {
        border-right: 1px solid #e8edf1;
    }

    .stencil-info-property-description {
        font-size: 12px;
    }

    .stencil-info-item {
        list-style: none;
        list-style-position: outside;
        margin: 0px 0px 5px 15px;
        background-color: #ffffff;
        font-family: Arial, Regular;
        color: #323437;
        cursor: pointer;
        i {
            font-size: 12px;
            cursor: pointer;
        }
    }

    .stencil-info-group {
        margin-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
    }

    .stencil-info-group-selected, .stencil-info-groupItem-selected {
        color: #3179ad;
    }

    .stencil-info-groupitem {
        padding: 5px 5px 5px 25px;
    }

    .stencil-info-group:hover, .stencil-info-groupitem:hover, .restoreable-stencil-item:hover {
        color: #3179ad;
    }

    .stencil-item-list-icon {
        vertical-align: top;
        margin: 2px 2px 0 0;
    }

    .stencil-info-item-icon {
        float: right;
        margin: 0 10px 0 10px;
    }

    .stencil-info-edit-properties {
        margin-left: 10px;
    }

    .restoreable-stencil-item {
        font-size: 16px;
        cursor: pointer;
    }

    .selected-restoreable-stencil-item {
        color: #55ae4d;
    }

    .reverteable-stencil-row {
        cursor: pointer;
    }

    /*--  App Definitions Styles  --*/

    .apps-wrapper {
        padding-top: 55px;
        width: 1200px;
        margin: 0 auto;
    }

    .app-wrapper {
        float: left;
        width: 300px;
    }

    .app {
        margin: 10px 10px;
        height: 200px;
        border-left: 8px solid transparent;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        &.app-swatch {
            margin: 0 5px;
            padding: 0 20px;
            height: 50px;
            content: ' ';
        }
        &.thumb {
            height: 75px;
        }
        .backdrop, .logo {
            position: absolute;
            text-shadow: none;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
            z-index: 4;
        }
        .backdrop {
            font-size: 300px;
            right: 50px;
            top: -100px;
        }
        &.thumb .backdrop {
            font-size: 100px;
            right: 20px;
            top: -20px;
        }
        .logo {
            font-size: 150px;
            right: 20px;
            top: 20px;
        }
        &.thumb .logo {
            font-size: 50px;
            right: 5px;
            top: 10px;
        }
        &:hover .backdrop {
            top: -55px;
        }
        &.thumb:hover .backdrop {
            top: 0px;
        }
        &:hover .logo {
            right: -10px;
        }
        &.thumb:hover .logo {
            right: 0px;
        }
        h3 {
            margin: 15px 10px 0px 10px;
            position: relative;
        }
    }

    .app-content {
        color: #ffffff;
        position: relative;
        z-index: 5;
        p {
            display: none;
            margin: 10px 0px 10px 10px;
            padding: 10px 10px 0 0;
            border-top: 1px solid #ffffff;
            border-color: rgba(255, 255, 255, 0.1);
        }
    }

    .preview-wrapper {
        padding: 0px;
        border: 2px dotted #425661;
        > h3 {
            font-size: 14px;
            margin: 10px 10px 0px 10px;
            color: #657F8B;
            text-transform: uppercase;
            text-align: center;
            font-family: "Roboto Bold", sans-serif;
        }
    }

    .app {
        .app-actions {
            padding: 5px;
            height: 45px;
            z-index: 10;
            position: relative;
            .btn-group {
                visibility: hidden;
            }
        }
        &:hover .app-actions .btn-group, &.active .app-actions .btn-group {
            visibility: inherit;
            z-index: 10;
        }
    }

    .btn-group.span {
        width: 100%;
        .selection {
            width: 100%;
            text-align: left;
        }
    }

    .field-type {
        color: #888888;
        font-size: 12px;
    }

    .form-field-edit .subtitle {
        font-size: 14px;
        padding-top: 6px;
    }

    .app-publish-error {
        padding: 10px;
        font-size: 14px;
    }

    /*--  Stencil overview Styles  --*/

    .stencil-preview {
        position: absolute;
        left: 50%;
        top: -30px;
        margin-left: -100px;
        font-size: 200px;
        color: #9cc5d0;
    }

    .stencil-wrapper {
        height: 100%;
        position: fixed;
        z-index: auto;
        overflow: hidden;
    }

    .stencil-panel {
        height: 100%;
        overflow-y: auto;
    }

    .dynamicTable {
        border: 1px solid rgb(212, 212, 212);
        border-spacing: 2px;
        display: block;
        width: 100%;
        height: 125px;
        border: 1px;
        border-collapse: collapse;
        td, tr {
            border: 1px solid rgb(212, 212, 212);
            padding: 6px;
        }
    }

    .modal-dialog.modal-maxheight {
        max-height: 724px;
        overflow-y: auto;
    }

    .dynamicTable-cellError {
        background-color: rgb(235, 204, 204) !important;
    }

    .rest-response {
        &.fail {
            border-width: medium;
            border-color: rgba(255, 0, 0, 0.45);
        }
        &.success {
            border-width: medium;
            border-color: rgba(7, 131, 7, 0.37);
        }
    }

    .form-canvas input[disabled] {
        cursor: default;
        background-color: #425661 !important;
    }

    /**
     *
     * Tooltips css selectively chosen from the bootstrap-additions.min.css from angular strap
     *
     * angular-strap
     * @version v2.0.5 - 2014-08-07
     * @link http://mgcrea.github.io/angular-strap
     * @author Olivier Louvignes (olivier@mg-crea.com)
     * @license MIT License, http://www.opensource.org/licenses/MIT
     */

    .tooltip {
        &.tooltip-info {
            &.top .tooltip-arrow, &.top-left .tooltip-arrow, &.top-right .tooltip-arrow {
                border-top-color: #d9edf7;
            }
            &.right .tooltip-arrow {
                border-right-color: #d9edf7;
            }
            &.bottom .tooltip-arrow, &.bottom-left .tooltip-arrow, &.bottom-right .tooltip-arrow {
                border-bottom-color: #d9edf7;
            }
            &.left .tooltip-arrow {
                border-left-color: #d9edf7;
            }
            .tooltip-inner {
                background-color: #d9edf7;
                border-color: #bce8f1;
                color: #31708f;
                hr {
                    border-top-color: #a6e1ec;
                }
                .alert-link {
                    color: #245269;
                }
            }
        }
        &.tooltip-success {
            &.top .tooltip-arrow, &.top-left .tooltip-arrow, &.top-right .tooltip-arrow {
                border-top-color: #dff0d8;
            }
            &.right .tooltip-arrow {
                border-right-color: #dff0d8;
            }
            &.bottom .tooltip-arrow, &.bottom-left .tooltip-arrow, &.bottom-right .tooltip-arrow {
                border-bottom-color: #dff0d8;
            }
            &.left .tooltip-arrow {
                border-left-color: #dff0d8;
            }
            .tooltip-inner {
                background-color: #dff0d8;
                border-color: #d6e9c6;
                color: #3c763d;
                hr {
                    border-top-color: #c9e2b3;
                }
                .alert-link {
                    color: #2b542c;
                }
            }
        }
        &.tooltip-danger {
            &.top .tooltip-arrow, &.top-left .tooltip-arrow, &.top-right .tooltip-arrow {
                border-top-color: #f2dede;
            }
            &.right .tooltip-arrow {
                border-right-color: #f2dede;
            }
            &.bottom .tooltip-arrow, &.bottom-left .tooltip-arrow, &.bottom-right .tooltip-arrow {
                border-bottom-color: #f2dede;
            }
            &.left .tooltip-arrow {
                border-left-color: #f2dede;
            }
            .tooltip-inner {
                background-color: #f2dede;
                border-color: #ebccd1;
                color: #a94442;
                hr {
                    border-top-color: #e4b9c0;
                }
                .alert-link {
                    color: #843534;
                }
            }
        }
        &.top-left {
            margin-top: -3px;
            padding: 5px 0;
            .tooltip-arrow {
                bottom: 0;
                margin-left: -5px;
                border-width: 5px 5px 0;
                border-top-color: #000;
                left: 10%;
            }
        }
        &.top-right {
            margin-top: -3px;
            padding: 5px 0;
            .tooltip-arrow {
                bottom: 0;
                margin-left: -5px;
                border-width: 5px 5px 0;
                border-top-color: #000;
                left: 90%;
            }
        }
        &.bottom-left {
            margin-top: 3px;
            padding: 5px 0;
            .tooltip-arrow {
                top: 0;
                margin-left: -5px;
                border-width: 0 5px 5px;
                border-bottom-color: #000;
                left: 10%;
            }
        }
        &.bottom-right {
            margin-top: 3px;
            padding: 5px 0;
            .tooltip-arrow {
                top: 0;
                margin-left: -5px;
                border-width: 0 5px 5px;
                border-bottom-color: #000;
                left: 90%;
            }
        }
    }

    .subheader .btn-group {
        #toggle-history {
            background-color: #1a5577;
            color: #cfe1eb;
            border-color: #236084;
            padding: 5px 10px;
            &:hover, &:focus {
                background-color: #1a5577;
                color: #cfe1eb;
                border-color: #236084;
                padding: 5px 10px;
            }
        }
        .btn {
            background-color: #1a5577;
            color: #cfe1eb;
            border-color: #236084;
            padding: 5px 10px;
            &:hover, &:focus {
                background-color: #1a5577;
                color: #cfe1eb;
                border-color: #236084;
                padding: 5px 10px;
            }
        }
    }

}