/*==============================================================================
*******************       Process Wrapper Styles For The Site    ***************
==============================================================================*/

/*--  Process Wrapper Styles  --*/

.process-wrapper {                
    @include padding(15px);
    background: #424242;

    .welcome-msg-wrapper {
        @extend .d-flex;
        @include margin(15px 0 100px);

        /*--  Welcome Message Wrapper Styles  --*/
        p {
            @extend .text-cream;
            @extend .raleway-light;
            font-size: 2.4rem;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.58;
            letter-spacing: normal;
            text-transform: none;
            margin-bottom: 0;

            a {
                font-size: 1.6rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: -0.3px;
                color: #3eb6ff;
                text-transform: none;
            }
        }
    }

    /*--  Tile Wrapper Styles  --*/
    .tile-wrapper {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(4, minmax(auto, 1fr)) 1.5fr;
        grid-gap: 5px;

        .tile-group-wrapper {
            transition: .3s all;

            .tile-name {
                transform: translateY(-195%);
                -o-transform: translateY(-195%);
                -moz-transform: translateY(-195%);
                -webkit-transform: translateY(-195%);
                position: absolute;
                top: 0;
                left: 0;
                height: auto;

                .tile-content {

                    .icon {
                        // @include margin(0 0 20px);
                        font-size: 28px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #ffffff;
                    }

                    h4 {
                        @extend .text-capitalize;
                        @extend .raleway-light;
                        @extend .text-cream;
                        font-size: 24px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.58;
                        letter-spacing: normal;
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            .tile {
                @include transition(all 0.5s ease-in-out);
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                // @include margin(0 5px 5px 0);
                position: relative;

                &.disabled {
                    cursor: no-drop;
                    opacity: 0.6;
                }

                .tile-contents {
                    @extend .text-left;
                    @include padding(0);
                    background-color: transparent;
                    position: relative;
                    width: auto;

                    .tile-contents-list {
                        @include padding(0);
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
                        grid-template-rows: repeat(6, minmax(18%, 1fr));
                        grid-gap: 5px;
                        list-style: none;
                        grid-auto-flow: dense;

                        .tile-contents-list-item {
                            @extend .text-center;
                            @include padding(0);
                            // @include margin(3px);
                            transition: .3s all;
                            // width: 33.33%;
                            // float: left;
                            -webkit-backdrop-filter: blur(2px);
                            backdrop-filter: blur(2px);
                            animation: appearAnimation .5s linear;
                            animation-fill-mode: forwards;
                            opacity: 0;
                            position: relative;
                            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
                            @for $i from 1 through 21 {
                                &:nth-child(#{$i}) {
                                    animation-delay: $i * 100ms;
                                }
                            }

                            .home-icon {    
                                opacity: 0;
                                position: absolute;
                                right: 10px;
                                top: 8px;
                                font-size: 1.6rem;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                text-align: center;
                                color: #f1f1f1;
                                transition: all .3s;
                            }

                            .icon {
                                @extend .text-cream;
                                @include margin(0 0 10px);
                                font-size: 28px;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: 0.6px;
                                text-align: center;
                            }

                            .btn {
                                @extend .text-cream;
                                @include margin(0);
                                @include padding(10px 5px);
                                @include box-shadow(none);
                                @include border-radius(0);
                                white-space: normal;
                                display: block;
                                width: 100%;
                                height: 100%;
                                vertical-align: middle;
                                opacity: 1;
                                border: 0;
                                p {
                                    @extend .text-cream;
                                    @extend .roboto-regular;
                                    font-size: 14px;
                                    font-weight: normal;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 1.14;
                                    letter-spacing: normal;
                                    text-align: center;
                                }

                                span {
                                    display: block;
                                }
                            }

                            &:hover {
                                transform: scale(1.01, 1.01);
                                // animation: spin .3s linear;                                
                                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

                                .home-icon {
                                    opacity: 1;
                                }
                            }

                            &.small-size {
                                grid-column: span 1;
                            }

                            &.medium-size {
                                grid-column: span 2;
                            }

                            &.large-size {
                                grid-column: span 2;
                                grid-row: span 2;
                            }

                        }
                    }
                }

                &:hover {
                    .img-tile {
                        opacity: 0;
                    }
                }

                &.enrich-tile {
                    // @include size(361px, 386px);
                    //  @include margin(0 0 5px);
                    //  @include padding(225px 15px 5px);
                    // @include background-size(cover);
                    // background: $bg-enrich url(../images/enrich.png) no-repeat;

                    .tile-contents {
                        .icon {
                            color: #fb8975;
                        }

                        ul {
                            li {
                                &:nth-of-type(1) {
                                    grid-column: 1/-1;
                                    grid-row: 1/3;
                                }

                                &:nth-of-type(2) {
                                    grid-column: 1/3;

                                    .btn {
                                        // animation-name: spin-rotate;
                                        // animation-duration: 10s;
                                        // animation-iteration-count: infinite;
                                        // animation-timing-function: ease-in-out;
                                    }
                                }
                            }
                        }

                        .btn {
                            background-color: #ef5350;
                            color: $white;

                            &[disabled="disabled"] {
                                opacity: 0.5;
                            }

                            &:hover {
                                //  background-color: $bg-enrich-btn-hover;
                            }

                            // &.light {
                            //     background-color: #f55538;
                            // }

                            // &.medium {
                            //     background-color: #fd6246;
                            // }

                            // &.dark {
                            //     background-color: #fd6246;
                            // }
                        }
                    }

                    &:hover {
                        .tile-contents {
                            //background: $bg-enrich;
                        }
                    }
                }

                &.discover-tile {
                    //    @include size(361px, 611px);
                    //    @include margin(0 5px 5px);
                    //    @include padding(50px 15px 5px);
                    @include background-size(cover);
                    // background: $light-blue1 url(../images/discover.png) no-repeat;

                    .tile-contents {

                        //  background-color: $bg-discover;
                        //   height: 611px;
                        ul {
                            li {
                                &:nth-of-type(5) {
                                    .btn {
                                        // animation-name: spin-rotate;
                                        // animation-duration: 10s;
                                        // animation-iteration-count: infinite;
                                        // animation-timing-function: ease-in-out;
                                    }
                                }

                                &:nth-of-type(5) {
                                    grid-column: 1/3;

                                }
                            }
                        }

                        .icon {
                            color: #c091e9;
                        }

                        .btn {
                            background-color: #8661c6;
                            color: $white;

                            &[disabled="disabled"] {
                                opacity: 0.5;
                            }

                            &:hover {
                                //    background-color: $bg-discover-btn-hover;
                            }

                            // &.light {
                            //     background-color: #ae7cda;
                            // }

                            // &.medium {
                            //     background-color: #bb8ae6;
                            // }

                            // &.dark {
                            //     background-color: #c797f1;
                            // }
                        }
                    }

                    &:hover {
                        .tile-contents {
                            //     background: $bg-discover;
                        }
                    }
                }

                &.act-tile {
                    //     @include size(361px, 220px);
                    //     @include margin(0 0 5px);
                    //     @include padding(50px 15px 5px);
                    @include background-size(cover);
                    //  background: $light-yellow1 url(../images/act.png) no-repeat;

                    .tile-contents {
                        //  background: $bg-act;
                        //        height: 220px;
                        position: relative !important;

                        ul {
                            li {
                                &:nth-of-type(3) {
                                    grid-column: 1/-1;
                                    grid-row: 1/3;
                                }

                                &:nth-of-type(2) {
                                    // grid-column: 1/-1;
                                    // grid-row: 1/3;

                                    .btn {
                                        // animation-name: spin-rotate;
                                        // animation-duration: 10s;
                                        // animation-iteration-count: infinite;
                                        // animation-timing-function: ease-in-out;
                                    }
                                }

                            }
                        }

                        .icon {
                            color: #f3eeae;
                        }

                        .btn {
                            background-color: #f7a248;
                            color: $white;

                            &[disabled="disabled"] {
                                opacity: 0.5;
                            }

                            &:hover {
                                //   background-color: $bg-act-btn-hover;
                            }

                            // &.light {
                            //     background-color: #d5c04a;
                            // }

                            // &.medium {
                            //     background-color: #ddc851;
                            // }

                            // &.dark {
                            //     background-color: #e6d261;
                            // }
                        }
                    }

                    &:hover {
                        .tile-contents {
                            //  background: $bg-act;
                        }
                    }
                }

                &.predict-tile {
                    //     @include size(361px, 155px);
                    //@include margin(0 0 5px);
                    //    @include padding(100px 15px 5px);
                    @include background-size(cover);
                    //  background: $dark-blue2 url(../images/predict.png) no-repeat;

                    .tile-contents {

                        // background-color: $bg-predict;
                        //    height: 155px;
                        ul {

                            li {
                                &:nth-of-type(1) {
                                    grid-column: 1/-1;
                                    grid-row: 1/3;
                                }


                            }
                        }

                        .icon {
                            color: #7da6da;
                        }

                        .btn {
                            background-color: #4e75ff;
                            color: $white;

                            &[disabled="disabled"] {
                                opacity: 0.5;
                            }

                            &:hover {
                                //  background-color: $bg-predict-btn-hover;
                            }

                            // &.light {
                            //     background-color: #4778bb;
                            // }

                            // &.medium {
                            //     background-color: #3566aa;
                            // }

                            // &.dark {
                            //     background-color: #2a5085;
                            // }
                        }
                    }

                    &:hover {
                        //  background: $bg-predict;

                        .tile-contents {
                            //  background: $bg-predict;
                        }
                    }
                }

                &.manage-tile {
                    //     @include size(361px, 451px);
                    //     @include padding(200px 15px 5px);
                    @include background-size(cover);
                    // background: $bg-manage url(../images/manage.png) no-repeat;
                    background-size: 100% 100%;

                    .tile-contents {
                        .icon {
                            color: #9cf7e5;
                        }

                        ul {
                            grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
                            grid-template-rows: repeat(auto, minmax(19.7%, 1fr));

                            li {
                                &:nth-of-type(5) {
                                    grid-column: 2/-1;
                                    grid-row: 2/4;
                                }

                                &:nth-of-type(3) {
                                    .btn {
                                        // animation-name: spin-rotate;
                                        // animation-duration: 10s;
                                        // animation-iteration-count: infinite;
                                        // animation-timing-function: ease-in-out;
                                    }
                                }
                            }
                        }

                        .btn {
                            background-color: #009f59;
                            color: $white;

                            &[disabled="disabled"] {
                                opacity: 0.5;
                            }

                            &:hover {
                                // background-color: $bg-manage-btn-hover;
                            }

                            // &.light {
                            //     background-color: #2fbfa2;
                            // }

                            // &.medium {
                            //     background-color: #3bcaad;
                            // }

                            // &.dark {
                            //     background-color: #48d9bc;
                            // }
                        }
                    }

                    &:hover {
                        .tile-contents {
                            //   background: $bg-manage;
                        }
                    }
                }
            }

            &:after {
                content: "";
                height: 4px;
                width: 100%;
                top: -4%;
                left: -0;
                position: absolute;
                // border-radius: 5px;
            }

            &:nth-of-type(1) {
                &:after {
                    background-color: #ef5350;
                }

            }

            &:nth-of-type(2) {
                &:after {
                    background-color: #8661c6;
                }
            }

            &:nth-of-type(3) {
                &:after {
                    background-color: #4e75ff;
                }
            }

            &:nth-of-type(4) {
                &:after {
                    background-color: #f7a248;
                }
            }

            &:nth-of-type(5) {
                &:after {
                    background-color: #009f59;
                }
            }


        }
    }
}

.ehub-chat-wrapper {
    display: none;
}

/*==============================================================================
**********************        Media Styles For The Site    *********************
==============================================================================*/

@media (min-width:$screen-lg) {}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {}