
<!-- Widget Capture Modal Starts  -->
<div class="capture-modal-wrapper ceri-wrapper" id="maximizeAllchart">
	<span ng-show="widgetCapturePreloader" class="custom-spinner case-dairy-spinner"> 
		<i class="fa fa-spinner fa-spin fa-2x"></i>
	</span>
	<div class="modal-header">
		<button type="button" class="close" ng-click="closeWidgetCaptureModal()"><span>&#x2716;</span></button>
		   <ul class="list-inline pull-left custom-list circle-list">
               <li>
                   <a>
                       <i class="fa fa-circle mar-5 text-green"></i>
                       <span class="text-grey text-uppercase">Holding/Parent<span> </span> </span>
                   </a>
               </li>
               <li>
                   <a>
                       <i class="fa fa-circle mar-5 text-green"></i>
                       <span class="text-grey text-uppercase">Subsidary</span>
                   </a>
               </li>
           </ul>
	</div>
	<div class="modal-body screencapture-modal-body" style="overflow:hidden">
		<div class="row">
			<div class="col-sm-12">
				<div id="maximizeChart" class="text-center orgchart-wrapper dashboard-wrapper" style="height:80vh"></div>
			</div>
		</div>
	</div>
		
</div>
<!-- Widget Capture Modal Ends  -->

<script>
	$(".modal-body").mCustomScrollbar({
		axis: "xy",
		theme: "minimal-dark"
	});
</script>