<div class="modal-header">
    <p class="heading">Preview Document <button type="button" class="close" ng-click="closeUploadFileModal()" data-dismiss="modal" aria-hidden="true"><span>&#x2716;</span></button></p>   
   
   </div>
   <div class="modal-body">
       <div class="mainInfoPanel overflow-h mxh-300">
           <div class="panel bg-transparent border-0 custom-panel-wrapper ">
               <div class="panel-body pad-0 overflow-v">
                   <div>
                       <div class="paragraph-wrapper mar-y10 text-grey-ta" ng-repeat="(key, doc) in previewData">
                           <!--  question content starts-->
                           <div id="ques_{{doc.contentData.questionId}}" ng-if="(doc.isQuestion && doc.contentData.answerType != 'TEXT') && !doc.contentData.isOSINT"
                               class="customClassDisabledBanSymble question-wrapper checkbox-wrapper-main{{mainkey}}-sub{{key}}">
                               <div class="d-block width-100  mar-b10 clearfix">
                                   <div class="question-content mnh-40 text-cream mar-b10">
                                       <span class="iso-codes text-cream showTooltip_quessionaire" ng-mouseover="sendDetails(doc.contentData.primaryIsoCode, doc.contentData.secondaryIsoCodes)"
                                           ng-if="showIso && doc.contentData.primaryIsoCode && doc.contentData.primaryIsoCode!='un mapped'">{{
                                           doc.contentData.primaryIsoCode}}
                                       </span>
                                       <span class="question-numbers text-cream">
                                           {{doc.contentData.questionNumber}})</span>
                                       <i class="fa fa-cloud-download text-dark-green" ng-if="doc.contentData.isOSINT"></i>
                                       {{doc.contentData.question}}
                                   </div>
                                   <div ng-if="doc.contentData.answerType == 'CHECKBOX' && doc.contentData.possibleAnswer"
                                       ng-repeat="answer in doc.contentData.possibleAnswer track by $index" class="answer-wrapper">
                                       <div class="custom-checkbox width-a inline">
                                           <label class="checkbox-inline text-cream">
                                               <input ng-click="CheckBoxToRadio('.checkbox-wrapper-main'+mainkey+'-sub'+key+' .chs'); updateValue(answer, doc, doc.contentData.questionId, docMain, checkedValue)"
                                                   type="checkbox" ng-value="answer" class="chs text-cream evalInputForBanSymbol"
                                                   ng-model="checkedValue" ng-checked="doc.contentData.answer === answer">
                                               <span>
                                                   <i class="fa fa-check"></i>
                                               </span>
                                           </label>
                                           <span class="answer-content text-cream">{{answer.toUpperCase()}}</span>
                                       </div>
                                   </div> 
                               </div>
                               <div ng-if="doc.contentData.answerType == 'CHECKBOX' && doc.contentData.specifiedQuestion !== null">
                                   <p class="text-cream">{{ doc.contentData.specifiedQuestion }}</p>
                                   <div class="input-group-mat mar-b10 width-95">
                                       <input type="text" ng-blur="updateValue(doc.contentData.specifiedAnswer, doc, doc.contentData.specifiedQuestionId, docMain);"
                                           class="form-control mnh-40 border-0 custom-input pad-x5 width-100 text-cream" ng-model="doc.contentData.specifiedAnswer"
                                           ng-change="onChangeAnswer($index)" />
                                   </div>
                               </div>
                               <div ng-if=" doc.isQuestion && doc.contentData.answerType == 'TABLE'">
                                   <div class="input-group-mat text-cream mar-b10 width-95">
                                       <table class="table border-b0 text-cream" role="grid">
                                           <tbody>
                                               <tr ng-repeat="rows in doc.contentData.table.rows" ng-class="{'bg-th' :(rows.columns[0].columData.header)}">
                                                   <td ng-repeat="tds in rows.columns">
                                                       <span class="pad-x5 text-cream mar-l15" ng-if="tds.columData.header">{{
                                                           tds.columData.name}}
                                                       </span>
                                                       <input ng-blur="updateValue(tds.columData.name, doc, doc.contentData.questionId,docMain,tds.columData);"
                                                           ng-if="!tds.columData.header" type="text" class="form-control text-cream  custom-input pad-x15 text-gray-ta width-90"
                                                           ng-model="tds.columData.name" />
                                                   </td>
                                               </tr>
                                           </tbody>
                                       </table>
                                   </div>
                               </div>
                               <div class="icons-wrapper pull-right">
   
                               </div>
                               <!--  icons panel end -->
                           </div>
   
                           <div id="ques_{{doc.contentData.questionId}}" ng-if="(doc.isQuestion && doc.contentData.answerType == 'TEXT') && !doc.contentData.isOSINT"
                               class="clearfix">
                               <p class="d-ib text-cream">
                                   <span class="iso-codes showTooltip_quessionaire" ng-mouseover="sendDetails(doc.contentData.primaryIsoCode, doc.contentData.secondaryIsoCodes)"
                                       ng-if="showIso && doc.contentData.primaryIsoCode && doc.contentData.primaryIsoCode!='un mapped'">{{
                                       doc.contentData.primaryIsoCode}}
                                   </span>
                                   <span class="question-numbers">
                                       {{doc.contentData.questionNumber}})</span>
                                   <i class="fa fa-cloud-download text-dark-green" ng-if="doc.contentData.isOSINT"></i>
                                   {{doc.contentData.question}}
                               </p>
                               <div>
                                   <div class="input-group-mat mar-b10 width-95">
                                       <input type="text" ng-blur="updateValue(doc.contentData.answer, doc, doc.contentData.questionId, docMain);"
                                           class="form-control custom-input text-cream pad-x15 mnh-40 border-0 text-cream width-100 evalInputForBanSymbol"
                                           ng-model="doc.contentData.answer" ng-change="onChangeAnswer($index)" />
                                   </div>
                               </div>
                           </div>
                         
                            <div id="ques_{{doc.contentData.questionId}}" ng-if="(doc.contentType == 'Heading' || doc.contentType == 'Paragraph') && !doc.contentData.isOSINT"
                               class="clearfix">
                               <span class="d-ib text-cream">
                                   <i class="fa fa-cloud-download text-dark-green" ng-if="doc.contentData.isOSINT"></i>
   <!--                                 {{doc.contentData.question}} -->
                                    <p class="text-cream text-capitalize mar-b5 f-18" ng-if="doc.contentType == 'Heading'">{{doc.contentData.text}}</p>
                                    <p class="text-cream f-12" ng-if="doc.contentType == 'Paragraph'">{{doc.contentData.text}}</p>
                               </span>
                           </div>
                           <!--  question content ends-->
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <script>
       $(document).ready(function () {
           /*Custom Scroll Bar*/
           $('.mainInfoPanel').mCustomScrollbar({
               axis: "y",
               theme: "minimal-dark"
           });
   
       });
   </script>