
<div class="modal-header">
    <p>Upload New Documents <button type="button" class="close pull-right " ng-click="closeUploadFileModal()"
            data-dismiss="modal" aria-hidden="true"><span class="fa fa-times"></span></button>
    </p>
</div>
<div class="modal-body">
    <div class="upload-wrapper" ngf-drop ngf-multiple="true" ng-model="filess" ngf-allow-dir="true">

        <div class="drag-drop-wrapper text-center">
            <h3 class="text-center"> Drag & Drop</h3>
            <p  class="text-center">Supported file formats</p>
            <span ><i class="fa fa-file-pdf-o"></i>pdf</span>
            <!-- <span class="fa fa-file">docx</span>
            <span class="fa fa-file-image-o">jpg</span> -->
        </div>
        <h4 class="mar-y10 text-center ">or
        </h4>
        <form class="form ng-pristine pad-b0 ng-valid">
            <div class="form-group mar-b0 row">
                <div class="text-center">
                    <button type="button" class="btn mar-t10 grad-button" ngf-select="uploadDocumentOnSubmit($files)"
                        ngf-multiple="true">                     
                        <span>Choose FIles</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>