<!--  Company Profile Modal Starts  -->

<div class="modal custom-modal people-options-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close('company')" aria-label="Close">
					<span>&#x2716;</span>
				</button>
				<h4 class="modal-title">Company</h4>
				<div uib-alert class="alert-danger" ng-show="showCompanyErrorMsg !== ''">{{showCompanyErrorMsg}}</div>
			</div>

			<div class="modal-body">
				<form class="form mar-0 bg-transparent enrich-dashboard-wrapper" autocomplete="off">
					<div class="row d-flex ai-c form-group">
						<label class="col-sm-4 mar-b0">Company Name<span class="mar-l5 text-dark-red">*</span></label>
						<div class="col-sm-8">
							<input type="text" autocomplete="new-password" id="companyname" ng-keyup="$event.keyCode == 13 ? updateCompanyParam() : null" class="form-control lh-14 pad-b0 height-a"
							 placeholder="Company Name" ng-model="company.fullName" />
						</div>
					</div>
					<div class="row form-group mnh-auto bg-transparent enrich-advanced-search-wrapper">
						<div class="custom-searchbar-wrapper enrich-modal-dropdown-wrapper">
							
							<div class="custom-search-tags pad-0 clearfix d-flex ai-c " role="tab">
									<label class="col-sm-4 mar-b0 switch-label">Jurisdictions<span class="mar-l5 text-dark-red">*</span></label>
								<div class="custom-switch col-sm-8 pad-x15 switch-label-wrapper">									
									<div class="input-group custom-input-group d-ib mar-b0 jurisdiction-drop custom-select-dropdown width-100" ng-class="{'pad-left': customSelected }" id="enrichInput_container">
											<input type="text" autocomplete="off" ng-click="jurisdictionListScrollInitialize()" ng-model="customSelected" placeholder="Jurisdiction Name" uib-typeahead="state as state.jurisdictionOriginalName for state in jurisdictionList | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="custom-input pad-y0 pad-x15 mar-t0 bg-transparent form-control typehead-dropdown" typeahead-show-hint="true" typeahead-min-length="0" typeahead-on-select="onChangeJurisdictionType($label,$item)"  id="input">
											<img ng-if="customSelected && (customSelected.jurisdictionOriginalName === jurisdictionSelected) && SelectedFlagSource" ng-src="{{SelectedFlagSource}}" id="enrichInput_img">
									</div>								 
								</div>
							</div>
						</div>
					</div>
					<div class="row form-group d-flex ai-c ">
						<label class="col-sm-4 mar-b0">Website</label>
						<div class="col-sm-8">
							<input type="text" autocomplete="new-password" id="website" ng-keyup="$event.keyCode == 13 ? updateCompanyParam() : null" class="form-control lh-14 pad-b0 height-a"
							 placeholder="Website" ng-model="company.website" />
						</div>
					</div>
					<div class="row form-group d-flex ai-c ">
						<label class="col-sm-4 mar-b0">Founded Year</label>
						<div class="col-sm-8">
							<input type="text" autocomplete="new-password" id="company-founded" ng-keyup="$event.keyCode == 13 ? updateCompanyParam() : null" class="form-control lh-14 pad-b0 height-a"
							 placeholder="Company Founded" maxlength="4" ng-model="company.founded" numbersonly />
						</div>
					</div>
					<div class="row form-group d-flex ai-c ">
						<label class="col-sm-4 mar-b0">Industry</label>
						<div class="col-sm-8">
							<input type="text" autocomplete="new-password" id="company-industry" ng-keyup="$event.keyCode == 13 ? updateCompanyParam() : null" class="form-control lh-14 pad-b0 height-a"
							 placeholder="Industry" ng-model="company.industry" />
						</div>
					</div>
					<div class="row form-group d-flex ai-c ">
						<label class="col-sm-4 mar-b0">Headquarter</label>
						<div class="col-sm-8">
							<input type="text" autocomplete="new-password" id="headquarter" ng-keyup="$event.keyCode == 13 ? updateCompanyParam() : null" class="form-control lh-14 pad-b0 height-a"
							 placeholder="Headquarter" ng-model="company.headquarter" />
						</div>
					</div>
					<div class="row form-group d-flex ai-c ">
						<label class="col-sm-4 mar-b0">Mobile Number</label>
						<div class="col-sm-8">
							<input type="text" autocomplete="new-password" id="phone" ng-keyup="$event.keyCode == 13 ? updateCompanyParam() : null" class="form-control lh-14 pad-b0 height-a"
							 placeholder="Phone" ng-model="company.phone" />
						</div>
					</div>

				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-update" ng-click="updateCompanyParam()">Update</button>
				<button type="button" class="btn btn-cancel btn-default" ng-click="close('company')">Cancel</button>
			</div>

		</div>
	</div>
</div>

<!-- <script>
	$(function(){
		$('#single-button').click(function(){
           $('.dropdown-menu').mThumbnailScroller({
        //    axis: "y"
       	});
       });
	})
</script> -->
<!--  Company Profile Modal Ends  -->