<!--  Enrich Rules Modal Starts  -->
<div class="modal custom-modal people-options-modal">
	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header">
				<button type="button" class="close" ng-click="close('rule')" aria-label="Close">
					<span>&#x2716;</span>
				</button>
				<h4 class="modal-title">Rules</h4>
			</div>
			
			<div class="modal-body">
				<form class="form" autocomplete="off">
					<div class="row form-group">
						<label class="col-sm-4">Rules</label>
						<div class="col-sm-8">
							<input id="rulesname" type="text" autocomplete="off" class="form-control" placeholder="Rules" ng-model="ruleText" />
						</div>
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-update" ng-click="updateRulesParam(ruleText)" data-dismiss="modal">Update</button>
				<button type="button" class="btn btn-cancel btn-default" ng-click="close('rule')">Cancel</button>				
			</div>
			
		</div>
	</div>
</div>
<!--  Enrich Rules Modal Ends  -->