<!--  Enrich Source Menu Modal Starts  -->
<div class="modal custom-modal people-options-modal source-modal">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-header">
            	<button type="button" class="close" ng-click="close('source')"><span>&#x2716;</span></button>
                <h4 class="modal-title">SOURCE</h4>
            </div>
            
            <div class="modal-body">
                <p class="message">Please select sources from the menu</p>
                <div class="source form">
                    <div class="row form-group">
                        <div class="col-sm-6 source-menu-wrapper">
                            <div id="sourceMenu" data-wheelnav data-wheelnav-slicepath="DonutSlice" data-wheelnav-cssmode data-wheelnav-marker data-wheelnav-init>
                            </div>
                            <div class="center" ng-if="steps === 1">
                            	<h3 class="title"><strong>Select Sources</strong></h3>
                           	</div>
                           	<div class="center" ng-if="steps === 2">
								<h3 class="title"><!-- <strong>{{selectedSourceName}}</strong> --> <span>{{totalCategorySelectedCount}} Selected</span></h3>
								<ul class="list-unstyled">
									<li ng-click="onSelectAllCategory()">Select All</li>
									<li ng-click="onDeselectCategoryAll()">Deselect All</li>
									<li ng-click="doneSelectingCategory()">Done</li>
								</ul>
							</div>
							<div class="center" ng-if="steps === 3">
								<h3 class="title"><!-- <strong>{{selectedSourceName}}</strong> --> <span>{{totalCategorySelectedCount}} Selected</span></h3>
								<ul class="list-unstyled">
									<li ng-click="onSelectAllCategory()">Select All</li>
									<li ng-click="onDeselectCategoryAll()">Deselect All</li>
									<li ng-click="doneSelectingCategory()">Done</li>
								</ul>
							</div>
							<div class="center" ng-if="steps === 4">
								<h3 class="title"><span>{{totalCategorySelectedCount}} Selected</span>
							</div>
							<!-- <div class="center" ng-if="steps === 5">
								<h3 class="title"><span>{{totalCategorySelectedCount}} Selected</span>
								<ul>
									<li ng-click="onSelectAllCategory()">Select All</li>
									<li ng-click="onDeselectCategoryAll()">Deselect All</li>
									<li ng-click="doneSelectingSource()">Done</li>
								</ul>
							</div> -->
                        </div>
                        <div class="col-sm-6 source-menu-form-wrapper">
	                        <form id="sourceMenuForm" class="form" ng-repeat="source in sourceCategoryConstant" ng-if="sourceSelectedIndex === $index">
	                        	<div class="form-group">
	                        		<h3 class="title">{{selectedSourceName}}</h3>
	                        		<ul class="list-inline source-option-list">
	                        			<li><a href ng-click="onSelectAllCategoryPerSource()">All</a></li>
	                        			<li><a href ng-click="onDeselectCategoryAllPerSource()">None</a></li>
	                        		</ul>
	                        	</div>
	                        	<div class="form-group" ng-repeat="category in source.categories">
	                        		 <input id="{{category.name}}-category-{{$index}}" autocomplete="off" class="pieInputCheck" type="checkbox" name="{{category.name}}-category-{{$index}}" ng-model="category.value" ng-change="onChangeCategoryStatus(category.name)">
	                        		 <label for="{{category.name}}-category-{{$index}}">{{category.name}}</label>
	                        	</div>
	                        </form>                       
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-update" ng-click="updateSourceParam()" data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-cancel btn-default" ng-click="close('source')">Cancel</button>                
            </div>
            
        </div>
    </div>
</div>
<!--  Enrich Source Menu Modal Ends  -->