<!--  People Company Modal Starts  -->
<div class="modal custom-modal people-options-modal">
	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header">
				<button type="button" class="close" ng-click="close('person')" aria-label="Close">
					<span>&#x2716;</span>
				</button>
				<h4 class="modal-title">Person</h4>
				<div uib-alert class="alert-danger"	ng-show="showPeopleErrorMsg !== ''" style="margin-top: 20px;">
					{{showPeopleErrorMsg}}
				</div>
			</div>
			
			<div class="modal-body">
				<form class="form" autocomplete="off">
					<div class="row form-group">
						<label class="col-sm-4">FULL NAME</label>
						<div class="col-sm-8">
							<div class="row">
								<div class="col-sm-10">
									<input type="text" autocomplete="new-password" id="fullname" class="form-control" placeholder="Full Name" ng-model="person.fullName" ng-class="{'name-disabled': isNamesRequired}" />
								</div>
								<div class="col-sm-2">
									<i class="fa fa-chevron-down" ng-if="!isNamesRequired" ng-click="onExpandNames(true)"></i>
									<i class="fa fa-chevron-up" ng-if="isNamesRequired" ng-click="onExpandNames(false)"></i>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="isNamesRequired" class="row form-group">
						<label class="col-sm-4">FIRST NAME</label>
						<div class="col-sm-8">
							<div class="row">
								<div class="col-sm-10">
									<input type="text" autocomplete="new-password" id="firstName" class="form-control" placeholder="First Name" ng-model="person.firstName" />								 
								</div>
								<div class="col-sm-2">
									<i class="fa fa-times" ng-click="person.firstName = ''"></i>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="isNamesRequired" class="row form-group">
						<label class="col-sm-4">LAST NAME</label>
						<div class="col-sm-8">
							<div class="row">
								<div class="col-sm-10">
									<input type="text" autocomplete="new-password" id="lastName" class="form-control" placeholder="Last Name" ng-model="person.lastName" />
								</div>
								<div class="col-sm-2">
									 <i class="fa fa-times" ng-click="person.lastName = ''"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4">EMAIL</label>
						<div class="col-sm-8">
							<div class="row">
								<div class="col-sm-10">
									<input type="text" autocomplete="off" id="email" class="form-control" placeholder="Email" ng-model="person.email"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4">MOBILE NUMBER</label>
						<div class="col-sm-8">
							<div class="row">
								<div class="col-sm-10">
									<input type="text" id="phone" autocomplete="new-password" class="form-control" placeholder="Mobile Number" ng-model="person.phone"/>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-update" ng-click="updatePeopleParam()">Update</button>
				<button type="button" class="btn btn-cancel btn-default" ng-click="close('person')">Cancel</button>			
			</div>
			
		</div>
	</div>
</div>
<!--  People Company Modal Ends  -->
