<!--  Reassign Modal Wrapper Starts  -->
<div class="reassign-modal-wrapper">
	<form class="form-horizontal" name="myForm" novalidate>
		<div class="modal-header">
			<button type="button" class="close" ng-click="reassign.closeReassign()" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">CASE REASSIGNMENT</h4>
		</div>
		<div class="modal-body">
			<div class="form">
				<div class="form-group row">
					<div class="col-lg-3">
						<label>OrderBy:</label>
					</div>
					<div class="col-lg-9">
						<select class="form-control" ng-model="reassign.params.orderBy" ng-change="reassign.getUserOrderBy(reassign.params.orderBy);">
							<option value="" disabled selected>Select</option>
							<option value="firstName">FirstName</option>
							<option value="username">UserName</option>
							<option value="createdDate">CreatedDate</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-3">
						<label for="newUserId">Reassign User:</label>
					</div>
					<div class="col-lg-9">
						<select class="form-control" ng-model="reassign.reassignUser" required>
							<option ng-repeat="user in reassign.userList | orderBy:firstName" value="{{user.userId}}">{{user.firstName | titlecase}} {{user.lastName | titlecase}}</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-3">
						<label for="statusFwdComments">Notes:</label>
					</div>
					<div class="col-lg-9">
						<textarea class="form-control col-lg-9" rows="3" ng-model="reassign.reassignNotes" required></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary btn-update" ng-click="reassign.reassignCase(reassign)" ng-disabled="myForm.$invalid">Submit</button>
			<button type="button" class="btn btn-default btn-cancel" ng-click="reassign.closeReassign()" data-dismiss="modal">Close</button>
		</div>
	</form>
</div>
<!--  Reassign Modal Wrapper Ends  -->