  <div class="modal-content">
                        <div class="modal-header clearfix">
                            <div class="add-user-submit">
                                <button type="button" ng-click="addUserModel.cancelAddModal()" class="cancel" data-dismiss="modal" aria-label="Close">
                                    <span class="text-uppercase">cancel</span>
                                </button>
                                <button type="submit" class="custom-submit" >
                                    <span class="text-uppercase">save</span>
                                </button>
                            </div>
                            <div class="modal-title">
                                <!--<span><i class="fa fa-plus"></i></span>-->
                                <p class="text-uppercase">New data source</p>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="adddb-stages">
                            <uib-tabset active="active">
						    <uib-tab index="0" heading="Select Source"><div class="clearfix form-stages">
                                <div class="col-sm-7">
                                    <div class="form-group clearfix">
                                        <label class="control-label col-sm-4 text-uppercase" for="name">Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="control-label col-sm-4 text-uppercase" for="sourceType">Source Type</label>
                                        <div class="col-sm-8">
                                            <select  class="form-control text-uppercase" id="sourceType">
                                                <option class="text-uppercase">select</option>
                                                <option class="text-uppercase">Data Warehouse</option>
                                                <option class="text-uppercase">GRAPH</option>
                                                <option class="text-uppercase">BIG DATA</option>
                                                <option class="text-uppercase">FILES</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">

                                </div>
                            </div></uib-tab>
						    <uib-tab index="1" heading="Staging"></uib-tab>
						  </uib-tabset>
                            </div>
                          
                        </div>
                    </div>