<div class="modal-content">
		<div class="modal-header clearfix">
			<div class="add-user-submit">
				<button type="button"ng-click="addUserModel.cancelAddModal()" class="cancel" data-dismiss="modal"aria-label="Close">
						<span class="text-uppercase">cancel</span>
				</button>
				<button type="submit" class="custom-submit">
						<span class="text-uppercase">save</span>
				</button>
			</div>
		   <div class="modal-title">
			<span><i class="fa fa-plus"></i></span>
				<p class="text-uppercase">add user</p>
		   </div>
	 	</div>
					
			<div class="modal-body">
				<div class="adduser-stages">
							<uib-tabset active="active">
    						<uib-tab index="0" heading="Personal">
    						<div class="col-sm-7">
    						<div class="form-group clearfix">
									<label class="control-label col-sm-2 text-uppercase"
										for="title">TITLE</label>
									<div class="col-sm-4">
										<select class="form-control text-uppercase" id="title">
											<option class="text-uppercase"></option>
											<option class="text-uppercase">Associate</option>
											<option class="text-uppercase">CEO</option>
											<option class="text-uppercase">Senior Manager</option>
										</select>
									</div>
									<label class="control-label col-sm-2 text-uppercase"
										for="suffix">Suffix</label>
									<div class="col-sm-4">
										<select class="form-control text-uppercase" id="suffix">
											<option class="text-uppercase"></option>
											<option class="text-uppercase">Mr</option>
											<option class="text-uppercase">Mrs</option>
										</select>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="control-label col-sm-4 text-uppercase"
										for="firstName">First Name</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="firstName">
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="control-label col-sm-4 text-uppercase"
										for="middleName">Middle Name</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="middleName">
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="control-label col-sm-4 text-uppercase"
										for="lastName">last Name</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="lastName">
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="control-label col-sm-4 text-uppercase"
										for="email">Email</label>
									<div class="col-sm-8">
										<input type="email" class="form-control" id="email">
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="control-label col-sm-4 text-uppercase"
										for="profession">profession</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="profession">
									</div>
								</div>
								</div>
									<div class="col-sm-5">
								<div class="image-upload-wrapper text-center">
									<div class="upload-image">
										<i class="fa fa-user"></i>
									</div>
									<div class="upload-buttons">
										<a class="custom-file-upload" href="javascript:void(0);">
											<input type="file" name="fileupload" id="fileupload">
											<label for="fileupload" class="file-inline"> <span
												class="text-uppercase">Browse</span>
										</label>
										</a> <a class="text-uppercase" href="javascript:void(0);">
											Upload </a>
									</div>
								</div>
							</div>
					
								</uib-tab>
    						<uib-tab index="1" heading="Organisational"></uib-tab>
    						<uib-tab index="2" heading="Social"></uib-tab>
    					</uib-tabset>
						
						</div>
						
						
						
						
							<div class="clearfix form-stages">
							
							
					
</div>