<!-- Request Candidate Modal Wrapper Starts  -->
 <div id="requestCandidateInfo" class="request-candidate-modal-wrapper" tabindex="-1" role="dialog">
     <div class="modal-dialog modal-md" role="document">
         <div class="modal-content">
             <div class="modal-body">
                 <button type="button" class="close" ng-click="candidateInfoModal.cancelModal()" aria-label="Close">
                     <span class="fa fa-times"></span>
                 </button>
                 <div class="request-candidate-details">
                     <h5 class="text-uppercase">
                         <span>Employee Name :</span>
                         <span>Kermit James</span>
                     </h5>
                     <h5 class="text-uppercase">
                         <span>Designation :</span>
                         <span>Manager Motivation</span>
                     </h5>
                     <h5 class="text-uppercase">
                         <span>Number of Days :</span>
                         <span>2</span>
                     </h5>
                     <h5 class="text-uppercase">
                         <span>Start Date :</span>
                         <span>Wed Mar 01 04:16:00 GMT 2017</span>
                     </h5>
                     <h5 class="text-uppercase">
                         <span>Vaccation Approved :</span>
                         <span>False</span>
                     </h5>
                     <h5 class="text-uppercase">
                         <span>Vaccation Motivation :</span>
                         <span>Na</span>
                     </h5>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- Request Candidate Modal Wrapper Ends  -->