 <!-- Model Workspace Modal Wrapper Starts  -->
 <div id="deployedProcess" class="deployment-process-modal-wrapper" tabindex="-1" role="dialog">
     <div class="modal-dialog modal-md" role="document">
         <form id="workspaceForm" class="form-horizontal">
             <div class="modal-content">
                 <div class="modal-header clearfix">
                     <div class="add-user-submit">
                         <button type="button" class="cancel" ng-click="deploymentProcessModal.cancelModal()" aria-label="Close">
                             <span class="text-uppercase">cancel</span>
                         </button>
                         <button type="submit" class="custom-submit" >
                             <span class="text-uppercase">Start Process</span>
                         </button>
                     </div>
                     <div class="modal-title">
                         <!--<span><i class="fa fa-plus"></i></span>-->
                         <p class="text-uppercase">Simple Approval Process</p>
                     </div>
                 </div>
                 <div class="modal-body">
                     <div class="form-group">
                         <label class="control-label col-sm-4" >approver</label>
                         <div class="col-sm-7">
                             <a class="select-user" href="javascript:void(0);" id="approver">
                                 <span>Select User</span>
                             </a>
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="control-label col-sm-4" for="approvalDate">approval due date</label>
                         <div class="col-sm-7">
                             <input type="text" class="form-control" id="approvalDate">
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="control-label col-sm-4" for="difficulty">difficulty (number)</label>
                         <div class="col-sm-7">
                             <input type="text" class="form-control" id="difficulty">
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="control-label col-sm-4" for="instructions">instructions</label>
                         <div class="col-sm-7">
                             <input type="text" class="form-control" id="instructions">
                         </div>
                     </div>
                 </div>
             </div>
         </form>
     </div>
 </div>
 <!-- Model Workspace Modal Wrapper Ends  -->