<!-- Model Workspace Modal Wrapper Starts  -->
	<div id="workspaceModel" class="model-workspace-modal-wrapper"
		tabindex="-1" role="dialog">
		<div class="modal-dialog modal-md" role="document">
			<form id="workspaceForm" class="form-horizontal">
				<div class="modal-content">
					<div class="modal-header clearfix">
						<div class="add-user-submit">
							<button type="button" class="cancel" ng-click="modelWorkspaceModal.cancelModal()" aria-label="Close">
								<span class="text-uppercase">cancel</span>
							</button>
							<button type="submit" class="custom-submit">
								<span class="text-uppercase">Create</span>
							</button>
						</div>
						<div class="modal-title">
							<!--<span><i class="fa fa-plus"></i></span>-->
							<p class="text-uppercase">New Model</p>
						</div>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="control-label col-sm-3" for="workspaceName">Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="workspaceName">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="desc">Description</label>
							<div class="col-sm-7">
								<textarea class="form-control" id="desc"> </textarea>
							</div>
						</div>
						<div class="form-group">
							<span class="control-label col-sm-3">Choose Editor</span>
							<div class="col-sm-9">
								<div class="custom-radio-wrapper clearfix">
									<div class="activiti-modeller-radio">
										<div class="custom-radio">
											<label class="radio-inline"> <input type="radio" name="radio" checked value="" /> 
											<span> 
												<small class="radio-header text-uppercase"> Activiti Modeller </small> 
												<small class="radio-body"> Full-blown BPMN 2.0 graphical modeling environment. Choose this to
														have all features of Activiti at your fingertips. </small>
											</span>
											</label>
										</div>
									</div>
									<div class="table-driven-radio">
										<div class="custom-radio">
											<label class="radio-inline"> 
												<input type="radio" name="radio" value="" /> 
												<span> 
												<small class="radio-header text-uppercase"> table driven </small>
												<small class="radio-body"> Simplified editor using a intuitive table-based approach. Use this if you need to
														quickly develop simple. </small>
												</span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- Model Workspace Modal Wrapper Ends  -->