<!-- Add Activity Modal Wrapper Starts  -->
        <div id="addActivity" class="adduser-modal-wrapper" tabindex="-1" role="dialog">
           
                <form id="addNewActivity">
                    <div class="modal-content">
                        <div class="modal-header clearfix">
                            <div class="add-user-submit">
                                <button type="button" class="cancel" ng-click="newTasksModal.cancel()" aria-label="Close">
                                    <span class="text-uppercase">cancel</span>
                                </button>
                                <button type="submit" ng-click="newTasksModal.submit()" class="custom-submit" >
                                    <span class="text-uppercase">save</span>
                                </button>
                            </div>
                            <div class="modal-title">
                                <span><i class="fa fa-plus"></i></span>
                                <p class="text-uppercase">New Task</p>
                            </div>
                        </div>
                        <div class="modal-body">                       
                            <div class="clearfix form-stages">
                                <div class="col-sm-10">
                                    <div class="form-group clearfix">
                                        <label class="control-label col-md-3 col-sm-4 text-uppercase" for="name">Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="control-label col-md-3 col-sm-4 text-uppercase" for="description">Description</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" id="description" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="control-label col-md-3 col-sm-4 text-uppercase" for="dueDate">Due Date</label>
                                        <div class="col-sm-6">
                                            <div class="input-group date" data-provide="datepicker">
                                                   <div class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </div>
                                                <input type="text" class="form-control">
                                                <div class="input-group-addon">
                                                    <span class="fa fa-angle-down"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="control-label col-md-3 col-sm-4 text-uppercase" for="profession">Priority</label>
                                        <div class="col-sm-6">
                                            <select class="form-control text-uppercase" id="sourceType">
                                                <option class="text-uppercase">High</option>
                                                <option class="text-uppercase">Low</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
        <!-- Add Activity Modal Wrapper Ends  -->