<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="previewModalfunctions.closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">Preview Entity</h4>
</div>
<div class="modal-body">
	<form class="form custom-form pad-0">
		<div class="form-group clearfix mar-b0">
			<div class="col-sm-3">
				<label class="custom-radio">
					<input type="radio" name="gender" id="orgnisationVal" class="form-control" ng-model="previewModal.selectEntity" value="organisation"
					    checked />
					<span>
						<i class="fa fa-circle"></i>Organisation
					</span>
				</label>
				<label class="custom-radio">
					<input type="radio" name="gender" id="personVal" class="form-control" ng-model="previewModal.selectEntity" value="person"
					/>
					<span>
						<i class="fa fa-circle"></i>Person
					</span>
				</label>
			</div>
			<div class="col-sm-6">
				<div class="custom-select-dropdown" ng-if="previewModal.selectEntity=='organisation'">
					<input type="text" ng-focus="!dsbl" id='PreviewName' ng-model="previewModal.inputPreviewNameOrg" placeholder="" uib-typeahead="company as company['vcard:organization-name'] for company in previewModalfunctions.getCompanySuggestions($viewValue)"
					    typeahead-template-url="customTemplate.html" typeahead-loading="loadingCompaniesNames" typeahead-no-results="noOrgResults"
					    class="form-control"> {{company}}
					<div class="text-center">
						<i ng-show="loadingCompaniesNames" class="fa fa-spinner fa-pulse"></i>
					</div>
					<div ng-show="noOrgResults">
						<i class="glyphicon glyphicon-remove"></i> No Results Found
					</div>
				</div>
				<div class="custom-select-dropdown" ng-if="previewModal.selectEntity=='person'">
					<input class="form-control custom-input" type="text" ng-model="previewModal.inputPreviewNamePerson" placeholder="" uib-typeahead="person as person['vcard:hasName'] for person in previewModalfunctions.getPersonSuggestions($viewValue)"
					    typeahead-loading="loadingPersonsNames" typeahead-no-results="noPIResults" class="form-control" typeahead-template-url="customPersonTemplate.html"> {{person}}
					<i ng-show="loadingPersonsNames" class="glyphicon glyphicon-refresh text-light-blue"></i>
					<div ng-show="noPIResults">
						<i class="glyphicon glyphicon-remove text-light-red"></i> No Results Found
					</div>
				</div>
			</div>
			<div class="col-sm-3">
					<button type="button" ng-if="previewModalfunctions.companySearch && previewModal.selectEntity=='organisation'" class="btn btn-primary btn-update pull-right btn-add-new-role mar-t0"
				    ng-click="previewModalfunctions.editCurrentEntity('org')">
					<i class="fa fa-edit"></i> Edit</button>
				<button type="button" ng-if="previewModalfunctions.personSearch && previewModal.selectEntity=='person'" class="btn btn-primary btn-update pull-right btn-add-new-role mar-t0"
				    ng-click="previewModalfunctions.editCurrentEntity('person')">
					<i class="fa fa-edit"></i> Edit</button>
				<button type="button" class="btn btn-primary btn-update pull-right btn-add-new-role mar-r10" ng-click="previewModalfunctions.searchEntity();">Search</button>
			</div>
		</div>
		<hr style="margin:10px 0" ng-show="previewModalfunctions.checkEntityStatus()">
		<div id="appendValues">
			<div class="PersonDetails custom-data-table-wrapper" ng-show="previewModalfunctions.personSearch && previewModal.selectEntity=='person'">
				<table class="table table-striped table-scroll two-col-equal">
					<thead>
						<tr>
							<th width="30%">Field</th>
							<th width="70%">Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Prefix</td>
							<td>{{previewOP.personModal["vcard:honorific-prefix"]}}</td>
						</tr>
						<tr>
							<td>Name</td>
							<td>{{previewOP.personModal["vcard:hasName"]}}</td>
						</tr>
						<tr>
							<td>Suffix</td>
							<td>{{previewOP.personModal["vcard:honorific-suffix"]}}</td>
						</tr>
						<tr>
							<td>Family Name</td>
							<td>{{previewOP.personModal["vcard:family-name"]}}</td>
						</tr>
						<tr>
							<td>Given Name</td>
							<td>{{previewOP.personModal["vcard:given-name"]}}</td>
						</tr>
						<tr>
							<td>Preferred Name</td>
							<td>{{previewOP.personModal["tr-vcard:preferred-name"]}}</td>
						</tr>
						<tr>
							<td>Additional Name</td>
							<td>{{previewOP.personModal["vcard:additional-name"]}}</td>
						</tr>
						<tr>
							<td>Also Known As</td>
							<td>{{previewOP.personModal["bst:aka"]}}</td>
						</tr>
						<tr>
							<td>Gender</td>
							<td>{{previewOP.personModal["vcard:hasGender"]}}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{previewOP.personModal["bst:email"]}}</td>
						</tr>
						<tr>
							<td>URL</td>
							<td>{{previewOP.personModal["vcard:hasURL"]}}</td>
						</tr>
						<tr>
							<td>Telephone</td>
							<td>{{previewOP.personModal["vcard:hasTelephone"]}}</td>
						</tr>
						<tr>
							<td>Birth Date</td>
							<td>{{previewOP.personModal["vcard:bday"]}}</td>
						</tr>
						<tr>
							<td>Death Date</td>
							<td>{{previewOP.personModal["bst:deathDate"]}}</td>
						</tr>
						<tr>
							<td>Description</td>
							<td>{{previewOP.personModal["bst:description"]}}</td>
						</tr>
						<tr>
							<td>Facebook</td>
							<td>{{previewOP.personModal["bst:facebook"]}}</td>
						</tr>
						<tr>
							<td>Google Plus</td>
							<td>{{previewOP.personModal["bst:gplus"]}}</td>
						</tr>
						<tr>
							<td>Twitter</td>
							<td>{{previewOP.personModal["bst:twitter"]}}</td>
						</tr>
						<tr>
							<td>Youtube</td>
							<td>{{previewOP.personModal["bst:youtube"]}}</td>
						</tr>
						<tr>
							<td>Instagram</td>
							<td>{{previewOP.personModal["bst:instagram"]}}</td>
						</tr>
						<tr>
							<td>Linkedin</td>
							<td>{{previewOP.personModal["bst:linkedin"]}}</td>
						</tr>
						<tr ng-repeat="personalDetail in previewOP.personModal['vcard:hasAddress']">
							<td>Address_{{$index + 1}}</td>
							<td>{{personalDetail.fullAddress}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="PersonDetails custom-data-table-wrapper" ng-show="previewModalfunctions.companySearch && previewModal.selectEntity=='organisation'">
				<table class="table table-striped table-scroll two-col-equal">
					<thead>
						<tr>
							<th width="30%">Field</th>
							<th width="70%">Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Company Name</td>
							<td>{{previewOP.organizationModal["vcard:organization-name"]}}</td>
						</tr>
						<tr>
							<td>ID</td>
							<td>{{previewOP.organizationModal["bst:registrationId"]}}</td>
						</tr>
						<tr>
							<td>VAT</td>
							<td>{{previewOP.organizationModal["bst:VAT"]}}</td>
						</tr>
						<tr>
							<td>Founded Date</td>
							<td>{{previewOP.organizationModal["hasLatestOrganizationFoundedDate"]}}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{previewOP.organizationModal["bst:email"]}}</td>
						</tr>
						<tr>
							<td>Industry Group</td>
							<td>{{previewOP.organizationModal["hasPrimaryIndustryGroup"]}}</td>
						</tr>
						<tr>
							<td>Holding Classification</td>
							<td>{{previewOP.organizationModal["hasHoldingClassification"]}}</td>
						</tr>
						<tr>
							<td>Economic Sector</td>
							<td>{{previewOP.organizationModal["hasPrimaryEconomicSector"]}}</td>
						</tr>
						<tr>
							<td>Business Sector</td>
							<td>{{previewOP.organizationModal["hasPrimaryBusinessSector"]}}</td>
						</tr>
						<tr>
							<td>Incorporated In</td>
							<td>{{previewOP.organizationModal["isIncorporatedIn"]}}</td>
						</tr>
						<tr>
							<td>Domicile</td>
							<td>{{previewOP.organizationModal["isDomiciledIn"]}}</td>
						</tr>
						<tr>
							<td>Twitter</td>
							<td>{{previewOP.organizationModal["bst:twitter"]}}</td>
						</tr>
						<tr>
							<td>Facebook</td>
							<td>{{previewOP.organizationModal["bst:facebook"]}}</td>
						</tr>
						<tr>
							<td>Linkedin</td>
							<td>{{previewOP.organizationModal["bst:linkedin"]}}</td>
						</tr>
						<tr>
							<td>Google Plus</td>
							<td>{{previewOP.organizationModal["bst:gplus"]}}</td>
						</tr>
						<tr>
							<td>Youtube</td>
							<td>{{previewOP.organizationModal["bst:youtube"]}}</td>
						</tr>
						<tr>
							<td>Instagram</td>
							<td>{{previewOP.organizationModal["bst:instagram"]}}</td>
						</tr>
						<tr ng-repeat="personalDetail in previewOP.organizationModal['hasURL'] track by $index">
							<td>URL_{{$index+1}}</td>
							<td>{{personalDetail}}</td>
						</tr>
						<tr ng-repeat="personalDetail in previewOP.organizationModal['mdaas:HeadquartersAddress']">
							<td>HQ Address_{{$index +1}}</td>
							<td>{{personalDetail.fullAddress}}</td>
						</tr>
						<tr ng-repeat="personalDetail in previewOP.organizationModal['mdaas:RegisteredAddress']">
							<td>Registered Address_{{$index+1}}</td>
							<td>{{personalDetail.fullAddress}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>
</div>

<script type="text/ng-template" id="customTemplate.html">
	<a>
		<span ng-bind-html="match.model['vcard:organization-name'] | uibTypeaheadHighlight:query"></span>
		-
		<span ng-show="match.model['isDomiciledIn']" ng-bind-html="match.model['isDomiciledIn'] | uibTypeaheadHighlight:query"></span>
	</a>
</script>
<script type="text/ng-template" id="customPersonTemplate.html">
	<a>
		<span ng-bind-html="match.model['vcard:hasName'] | uibTypeaheadHighlight:query"></span>
		<span ng-show="match.model['vcard:bday']" ng-bind-html="match.model['vcard:bday'] | uibTypeaheadHighlight:query | date:'MM/dd/yyyy'"></span>
	</a>
</script>
<script>
	$(document).ready(function () {
		$("#appendValues tbody").mCustomScrollbar({
			axis: "y"
		});
	});
</script>