<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="relationModal.closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">Relation</h4>
</div>
<div class="modal-body">
	<form class="form custom-form">
		<div class="row">
			<button class="btn btn-primary btn-update pull-right btn-add-new-role" ng-click="relationModal.addNewRole();">Add New Role</button>
		</div>
		<div class="form-group clearfix " ng-repeat="roles in relationModal.newRoles">
			<div class="col-sm-12">
				<div class="form-group clearfix">
					<div class="col-sm-4">
						<label class="control-label">Role</label>
						<div>
							<label class="custom-radio">
								<input type="radio" name="director{{$index}}" class="form-control" ng-model="roles.whichRole" value="director" ng-change="relationModal.changeRole(roles.whichRole, $index);"
								/>
								<span>
									<i class="fa fa-circle"></i>Director</span>
							</label>
							<label class="custom-radio">
								<input type="radio" name="officer{{$index}}" class="form-control" ng-model="roles.whichRole" value="officer" ng-change="relationModal.changeRole(roles.whichRole, $index);"
								/>
								<span>
									<i class="fa fa-circle"></i>Officer</span>
							</label>
						</div>
					</div>
					<div class="col-sm-4" ng-show="roles.whichRole === 'director'">
						<label class="control-label">Director</label>
						<div class="select-box-wrapper light-blue">
							<select class="form-control" id="directorData{{$index}}" data-show-subtext="true" data-live-search="true" ng-model="roles.hasPositionType">
								<option ng-repeat="director in relationModal.directorsData">{{director}}</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4" ng-show="roles.whichRole === 'officer'">
						<label class="control-label">Officer</label>
						<div class="select-box-wrapper light-blue">
							<select class="form-control" id="officerData{{$index}}" data-show-subtext="true" data-live-search="true" ng-model="roles.hasPositionType">
								<option ng-repeat="officer in relationModal.officersData">{{officer}}</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4">
						<label class="control-label">Reported Title</label>
						<input type="text" placeholder="" class="form-control" ng-model="roles.hasReportedTitle" />
						<button class="btn btn-danger btn-remove" ng-if="$index > 0" ng-click="relationModal.removeRole($index, roles.fromDateModal);">
							<i class="fa fa-trash"></i>
						</button>
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-sm-4">
						<label class="control-label">Source Id</label>
						<input type="text" placeholder="" class="form-control" ng-model="roles['@source-id']" />
					</div>
					<div class="col-sm-4">
						<label class="control-label">From</label>
						<div class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup ng-model="roles.fromDateModal" is-open="roles.popupfromDate.opened"
							    datepicker-options="relationModal.dateOptionsfrom" ng-readonly="true" ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="relationModal.openFromDate($index)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>
					<div class="col-sm-4">
						<label class="control-label">To</label>
						<div class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup ng-model="roles.toDateModal" is-open="roles.popuptoDate.opened"
							    datepicker-options="roles.dateOptionsto" ng-readonly="true" ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="relationModal.openToDate($index)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<button class="btn btn-primary btn-update" ng-click="relationModal.saveModalDetails();">Save</button>
		</div>
	</form>
</div>