
/*==============================================================================
***************  Enrich Dashboard Wrapper Styles For The Site  *****************
==============================================================================*/
#enrichInput_container {
    position:relative;
    padding:0;
    margin:0;
    input {
        height:30px;
        margin:0;
    }
    #enrichInput_img {
        position:absolute;
        top:9px;
        left:15px;
        width:20px;
        height:12px;
    }
} 
.enrich-dashboard-wrapper{
    @include margin(10px);
    @include padding(0);  
    background-color: $tarawera2;
    width: auto;

    .h-200 {
        height: 200px; 
    }
    .enrich-advanced-search-wrapper{  
        background-color: $cello4;  
        @include padding(0);
        min-height: calc(100vh - 150px);
        .widget-content{
            height: 100%;
            .title{
                @extend .text-uppercase;
                @include margin(20px 0 30px 10px);
                color: $light-slate-grey;
                font-family: $roboto-bold;
                font-size: ($font-size-base);
                line-height: ($line-height-computed * 1.05);
            }
            &:hover{
                overflow: hidden;  
            }
            #recent-searches,#saved-searches{
                .panel-body{  
                    p{
                        @extend .text-uppercase;
                        @include margin(0 0 10px -15px);
                        @include padding(0 0 10px);
                        color: $heather2;
                        font-family: $roboto-medium;
                        font-size: $font-size-small;
                        border-bottom: 1px dashed $grey-chateau;
                        cursor: pointer;
                    }  
                }
            }
        }

        /*--  Panel Styles  --*/
        .panel{
        	@include box-shadow(none);
            background-color: transparent;
            border: 0;
            &#panelentities{
                @include margin(0);
                .panel-body{
                    @include padding(7px 5px 10px 20px);
                }
            }
            &.custom-panel{
                @include margin(0);
                background-color: $atomic6;
                height: 100%;
                .panel-heading{
                    @include padding(15px 0 0);
                    background-color: $atomic6;
                    color: $curious-blue2;
                    font-family: $roboto-medium;
                    font-size: ($font-size-base - 1);
                    line-height: ($line-height-computed * 1.05);
                    border: 0;
                    h4{
                        @include margin(0);
                        font-size: ($font-size-base - 1);
                    }
                }
                .panel-body{
                    @include padding(15px 15px 50px);
                    background-color: $atomic6;
                    color: $heather2;
                    font-family: $roboto-medium;
                    font-size: $font-size-small;
                    line-height: ($line-height-computed * .8);
                }
                &#saved-searches .panel-body{
                    padding: 15px 15px 70px;
                }
            }
        }

        /*--  Custom Search Bar Styles  --*/       
        .custom-searchbar-wrapper{
            position: relative;
            .pad-left{
                input{
                    padding-left: 35px!important;
                }
            }
            .headpart-search{
                position: absolute;
                right: 0;
                top: 0px;
                z-index: 9;
                button{
                    @include size(134px,38px);
                    @include padding(2px 12px);
                    @include box-shadow(none);
                    @include border-radius(0);
                    background-color: $light-green;
                    border-color: $light-green;
                    font-family: $roboto-medium;
                    font-size: $font-size-base;
                    &:hover, &:focus{
                        background-color: $light-green;
                        border-color: $light-green;
                    }
                }
            }
            .custom-search-tags{   
                @include padding(10px 0);
                .switch-label-wrapper{
                    display: block;
                    position: relative;
                    .switch-label{  
                        @extend .text-uppercase;
                        color: $heather2;
                        font-family: $roboto-medium;
                        font-size: $font-size-small;
                        display: inline-block;
                    } 
                    .custom-dropdown-wrapper{
                        display: inline-block;
                        .btn-group{
                            .custom-search-btn{
                                @extend .text-left;
                                @extend .text-uppercase;
                                @include size(350px,28px);
                                @include box-shadow(none);
                                @include border-radius(0);
                                background-color: transparent;
                                color: $fiord4;
                                font-family: $roboto-medium;
                                font-size: $font-size-small;
                                outline: none;
                                border: 0;
                                border-bottom: 1px solid $curious-blue;
                                &:focus{
                                    background-color: transparent;
                                    border-bottom: 1px solid $curious-blue;
                                    color: $fiord4;
                                }
                                .caret{
                                    @extend .pull-right;
                                    @include margin(7px 0 0);
                                }
                                .fa{    
                                    @include margin(0);
                                    font-size: ($font-size-large + 2);
                                    font-weight: bold;
                                    position: absolute;
                                    right: 0;
                                    top: 5px;  
                                }
                            }  
                            .dropdown-menu{  
                                @include border-radius(0);
                                background-color: $tangaroa;
                                width: 100%;
                                border: 1px solid $fiord2;
                                li{
                                    a{
                                        @include padding(3px 15px);
                                        @include transition(all 0.3s ease);
                                        color: $bali-hai;
                                        font-family: $roboto-regular;
                                        font-size: ($font-size-small + 1);
                                        &:hover,&:focus{
                                            background-color: transparent;
                                            color: $curious-blue2;
                                        }
                                        &.disabled{
			                            	cursor: not-allowed;
			                            	opacity: 0.5;
			                            	&:hover,&:focus{
	                                            background-color: transparent;
	                                            color: $bali-hai;
	                                        }
			                            }
                                        .icon{
                                            @extend .text-center;
                                            @include square(30px);
                                            @include margin(0 10px 0 0);
                                            @include padding(1px 4px);
                                            @include border-radius(50%);
                                            background-color: $madison;
                                            color: $curious-blue2;
                                            font-size: $font-size-small;
                                            line-height: ($line-height-computed * 1.3);
                                            display: inline-block;
                                            i{
                                                line-height: ($line-height-computed * 1.3);
                                                display: inline-block;
                                            }
                                        }
                                    }  
                                    &:first-child{
                                    	a{
                                    		.icon{  
                                    			i{
                                    				line-height: ($line-height-computed * 1.4);
                                    			}
                                    		}
                                    	}
                                    }
                                }
                            }
                        }
                    }
                    .add-link{
                        color: $lochmara;
                        font-size: ($font-size-base +  2);
                        position: absolute;
                        right: -30px;
                        top: 7px;
                    }
                }
            }
            .custom-switch{
                &.switch-label-wrapper{
                    @include padding(0 0 0 125px);
                    .switch-label{
                        position: absolute;
                        left: 0;
                        top: 7px;
                    }
                }
            } 
            .custom-add-tags{
                @include margin(0);
                .custom-switch-tags{
                    position: relative;
                    @include padding(0 0 0 115px);
                    .custom-switch{
                        @include padding(10px 0);
                        @extend .text-uppercase;
                        color: $heather2;
                        font-family: $roboto-medium;
                        font-size: $font-size-small;
                        position: absolute;
                        left: 0;
                        display: inline-block;
                    }
                    .custom-tags-wrapper{
                        .panel-heading{
                        	@include padding(7px 5px);
                            display: inline-block;
                        }
                        .custom-enrich-add{
                            @extend .text-uppercase;
                            @include padding(3px 26px);
                            @include border-radius(15px);
                            background-color: $curious-blue;
                            color: $whisper1;  
                            font-family: $roboto-medium;
                            font-size: ($font-size-base - 3);
                            line-height: ($line-height-computed * .65);
                            font-weight: normal;
                            position: relative;
                            height: 20px;
                            &.disabled{
                            	cursor: not-allowed;
                            	opacity: 0.5;
                            }
                            span{
                                @include translateY(-50%);
                                color: $seagull;
                                position: absolute;
                                left: 2px;
                                top: 50%;
                                i{
                                    &.fa-mobile{
                                        @include margin(2px 0 0);
                                        font-size: $font-size-large;
                                    }
                                }
                            }
                            i{
                                @include translateY(-50%);
                                color: $astronaut-blue;
                                position: absolute;
                                right: 8px;
                                top: 50%;
                            }
                        }
                    }
                }
            }
        }

        /*--  Tooltip Styles  --*/
        .collapse-wrapper,.custom-tags-wrapper{
            .tooltip{
                @include padding(0);
                @include box-shadow(none);
                position: absolute;
                &:before{
                    display: none;
                }
                .tooltip-arrow{
                    bottom: -4px !important;  
                }
                &.top{
                	@include padding(0);
                    .tooltip-arrow{
                        border-top-color: $tooltip-inner;
                        bottom: 1px;
                    }
                    .tooltip-inner{
                        @include padding(7px 10px);
                        background-color: $tooltip-inner;
                        color: $tooltip-color;
                        font-family: $roboto-regular;
                        font-size: $font-size-small;
                        letter-spacing: .2px;
                        max-width: 250px;
                        border: 1px solid $tooltip-border-color;
                    }
                }
            }
        }

        /*--  Node Search Styles  --*/   
        #nodeSearchContentParent{
            background-color: $arsenic1;
            border: 1px solid $cello5;
            #nodeSearchContent{
                @include padding(50px);
                .node-param-content{
                    .node-head{
                        @extend .pull-left;
                        @extend .text-center;
                        @extend .text-uppercase;
                        @include margin(0 15px 15px 0);
                        @include padding(10px 5px);
                        background-color: $curious-blue2;
                        color: $white1;
                        font-family: $roboto-medium;
                        font-size: $font-size-base;
                        font-weight: normal;
                        cursor: pointer;
                        min-width: 143px;
                        height: 40px;
                        line-height: $line-height-computed;
                        position: relative;
                        border: 1px solid $picton-blue;
                        &:before {
                            position: absolute;
                            width: 15px;
                            height: 1px;
                            background-color: $curious-blue2;
                            content: "";
                            top: 20px;
                            left: -20px;
                        }
                        &:after {  
                            position: absolute;
                            width: 1px;
                            height: 58px;
                            background-color: $curious-blue2;
                            content: "";
                            top: 20px;
                            left: -20px;
                        }
                        span{
                            display: block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    &.no-border .node-head:before, &:last-of-type .node-head:after {
                        display: none;
                    }
                    .search-string-values{
                        display: inline-block;
                        .search-string-item{
                            @extend .pull-left;
                            @extend .text-center;
                            @extend .text-uppercase;
                            @include margin(0 15px 15px 0);
                            @include padding(10px 20px);
                            background-color: $fiord6;
                            color: $link-water2;
                            font-family: $roboto-medium;
                            font-size: $font-size-base;
                            line-height: ($line-height-computed);
                            font-weight: normal;
                            display: inline-block;
                            min-width: 143px;
                            height: 40px;
                            position: relative;
                            border : 1px solid $blue-bayoux3;
                            &.middle:before {
                                position: absolute;
                                width: 15px;
                                height: 1px;
                                background-color: $fiord6;
                                content: "";
                                top: 20px;
                                left: -15px;
                            }
                            &.bottom:before {
                                position: absolute;  
                                width: 15px;
                                height: 1px;
                                background-color: $fiord6;
                                content: "";
                                top: 40px;
                                left: -15px;
                            }
                        }
                        .remove-param {
                            @extend .pull-left;
                            @include margin(0 5px);
                            @include padding(7px 0);
                            background-color: transparent;
                            color: $fiord8;
                            width: 10px;
                            min-width: auto;
                            border: 0;
                            span {
                                cursor: pointer;
                                font-size: $font-size-large;
                                color: $fiord6;
                            }
                        }
                    }
                } 
            }
        } 
  

        /*--  Chart Row Styles  --*/
        .chart-row{
            .chart-col{
                @extend .pull-left;
                @extend .text-center;
                @include transition(all 0.3s ease-in-out);
                width: 50%;
                opacity: 1;    
            }
            &.inactive{
                .chart-col{
                    &:first-of-type{
                        width: 100%;
                    }
                    &:last-of-type{
                        width: 0;
                        opacity: 0;
                        overflow: hidden;
                    }
                }
            }
        }    

        /*--  Search Results Wrapper Styles  --*/
        .search-results-wrapper{
            @include padding(15px);
            position: relative;
            min-height: 50px;
            .search-header{
                background-color: $cello1;
                border-top: 1px solid $grey-chateau;
                h3{
                    @include margin(15px 0);
                    font-size: ($font-size-small * 2);
                    color: $bali-hai3;
                }
            }
            h4{
                @extend .text-uppercase;
                @include margin(0 0 2px);
                color: $heather3;
                font-size: ($font-size-base -  1);
                line-height: ($line-height-computed * .9);
                font-weight: normal;
            }
            h5{
                @include margin(0 0 10px);
                @extend .text-uppercase;
                color: $heather3;
                font-family: $roboto-regular;
                font-size: $font-size-small;
                line-height: ($line-height-computed * .8);
                font-weight: normal;
                max-height: 60px;
                overflow: hidden;
            }    
            p{
                color: $grey-chateau2;
                font-size: $font-size-small;
                line-height: ($line-height-computed * .9);
                font-weight: normal;
                font-family: $roboto-regular;
                max-height: 72px;
    			overflow: hidden;
            }
            .circle-image-wrapper{
                @include square(95px);
                @include border-radius(50%);
                position: relative;
                border: 0;
                overflow: hidden;
                .brand-logo{
                    @include center-position();
                    display: inline-block;
                    max-width: 100%;
                }
                .brand-title{
                    @include center-position();
                    @include border-radius(50%);
                    display: inline-block;
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    border: 5px solid $blue-bayoux2;
                    line-height: ($line-height-computed * 4.75);
                    span{
                        @extend .text-center;
                        color: $fiord7;
                        font-size: $font-size-base;
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        overflow: hidden;
                    }
                }
            }
            .center-content-wrapper{
                color: $grey-chateau;
                cursor: pointer;
            }
            .btn-content-wrapper{
                min-height: 95px;
                position: relative;
                &.btn-right-wrapper{
                    @include padding(0);
                }
                .btn-wrapper{
                	@extend .clearfix;
                    @include margin(0);  
                    @include padding(0);
                    @include center-position();
                    border: 0;
                    line-height: 95px;          
                    width: 100%; 
                }
                .btn-circle{  
                	@extend .pull-left;
                    @include square(35px);
                    @include margin(0 10px);
                    @include padding(2px 3px);
                    @include transition(all 0.3s ease-in-out);
                    @include box-shadow(none);
                    @include border-radius(50%);  
                    background-color: $tarawera5;
                    color: $blue-bayoux;
                    font-size: $font-size-small;
                    line-height: 25px;
                    position: relative;
                    i{
                    	@include center-position();
                    	font-size: $font-size-large;
                    }
                    img{
                    	@include center-position();
                    	width: 18px;
                    }
                    &:hover, &:focus{  
                        background-color: $tarawera5;
                        color: $heather1;
                    }
                    &.btn-link-circle{
                        /* @include center-position(); 
                        &.btn-link-center{
                       	    right: 0 !important; 
   							left: auto !important;
                        } */                       
                    }  
                }
            }   
        }

        /*--  Custom Search Wrapper Styles  --*/
        .custom-search-wrapper{
            min-height: 480px;
            ul{
                li{

                    /*--  Custom Grid Item Styles  --*/
                    &.custom-grid-item{
                        min-height: 460px;             
                        .container-fluid{
                            @include padding(0);
                        }
                        #widgetFilter{
                            @extend .pull-left;
                            @include padding(0);
                            width: 100%;
                            height: 360px;
                        }

                        /*--  Criteria Search Wrapper Styles  --*/
                        .criteria-search-wrapper{                   
                            @include margin(0);
                            @include padding(0 200px 0 0);
                            @include border-radius(0);
                            position: relative;
                            border-bottom: 1px solid $fiord5;
                            h4{
                                @extend .pull-left;
                                @extend .text-uppercase;
                                @include margin(10px 60px 20px 5px);
                                @include padding(0);
                                color: $light-slate-grey1;
                                display: inline-block;
                            }
                            .searched-tag-wrapper{
                                @extend .pull-left;
                                @include size(calc(100% - 300px),20px);
                                @include margin(9px 0);
                                display: inline-block;
                                .search-string-values{
                                    display: inline-block;
                                    .search-string-item{
                                        @extend .text-uppercase;
                                        @include margin(0 5px);
                                        @include padding(3px 16px);
                                        @include border-radius(20px);
                                        background-color: $curious-blue2;
                                        color: $whisper1;
                                        font-family: $roboto-light-italic;
                                        font-size: ($font-size-base - 3);
                                        line-height: ($line-height-computed * .65);
                                        font-weight: normal;
                                        position: relative;
                                        height: 20px;
                                        display: inline-block;
                                    }
                                }
                            }
                            .searched-operation-btns{
                                display: inline-block;
                                position: absolute;
                                right: 5px;
                                top: 2px;
                                .btn{
                                    @extend .text-uppercase;
                                    @extend .text-uppercase;
                                    @include margin(0 8px 0 0);
                                    @include border-radius(0);
                                    font-family: $roboto-bold;
                                    font-size: $font-size-base;
                                    min-width: 70px;
                                    height: 35px;
                                    border: 0;
                                    &:last-of-type{
                                        @include margin(0);
                                    }
                                    &.search-tag-save{
                                        background-color: $curious-blue3;
                                        color: $link-water1;
                                    }
                                    &.search-tag-edit,&.search-tag-cancel{
                                        background-color: $fiord6;
                                        color: $bali-hai4;
                                        &:hover, &:focus{
                                            color: $bali-hai4;
                                            background-color: $fiord6;
                                        }
                                    }
                                }               
                            }
                        }

                        /*--  Filter Wrapper Styles  --*/
                        .filter-wrapper{  
                            .panel-filter{
                                width: 257px;   
                                .panel{
                                    background-color: $atomic6;
                                    padding: 20px 0;
                                    .panel-heading{
                                        @include padding(0 15px);
                                        background-color: $atomic6;
                                        color: $curious-blue2;
                                        font-family: $roboto-medium;
                                        font-size: $font-size-base;
                                        line-height: ($line-height-computed * .9);
                                        border: 0;
                                        h4{
                                            @include margin(0);
                                        }
                                    }
                                }  
                                .company-person-collapse-result{
                                	.collapse-body{
                                		max-height: 120px;
                                	}
                                    @include padding(15px);
                                    .mCSB_inside{
                                        > .mCSB_container{
                                            @include margin(0 20px 0 0);
                                        }
                                    }
                                     .mCSB_scrollTools{  
	                                	.mCSB_draggerRail{
		                                	width: 8px;
		                                }  
		                                .mCSB_dragger{
		                                	.mCSB_dragger_bar{
			                                	width: 8px;
			                                }
		                                }
	                                }
                                }
                            }
                            .results-wrapper{
                            	@include padding(0 20px 0 15px);
                                width: calc(100% - 257px) !important;
                                .search-header{
					                background-color: $cello1;
					                h3{
					                    @include margin(15px 0);
					                    font-size: ($font-size-base);
					                    color: $bali-hai3;
					                }
					            }
                                .mCSB_scrollTools{
                                	.mCSB_draggerRail{
	                                	width: 8px;
	                                }  
	                                .mCSB_dragger{
	                                	.mCSB_dragger_bar{
		                                	width: 8px;
		                                }
	                                }
                                }
                            }
                        }
                    }  
                }
            }
        }
       
    }
}


/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/
@media (min-width: $screen-lg) and (max-width: 1366px){
    .enrich-dashboard-wrapper{
        .enrich-advanced-search-wrapper{
            .widget-content{
                .title{
                    font-size: ($font-size-base);
                }
            }
            .panel.custom-panel{
            	.panel-heading{
            		 h4{
		             	font-size: ($font-size-base - 1);
		            }
            	}  
            }  
        }        
    }
}
@media (min-width:$screen-lg){

}
@media (min-width: $screen-md) and (max-width: $screen-md-max){
	.enrich-dashboard-wrapper{
		.enrich-advanced-search-wrapper{
			.widget-content{
				.title{    
					font-size: $font-size-small;
				}
			}    
			.search-results-wrapper{
				 .btn-content-wrapper{
				 	.btn-circle{
						@include square(30px);
						@include margin(0 2px);
					}
				 }  
			}
			.custom-searchbar-wrapper{
				 .custom-add-tags{
				 	 .custom-switch-tags{  
				 	 	.custom-tags-wrapper{
				 	 		.custom-enrich-add{
								@include padding(3px 15px);
								font-size: ($font-size-base - 4);	
								span{
									font-size: ($font-size-base - 4);	
								}	
								i{
									font-size: ($font-size-base - 4);	
									right: 4px;
								}		
			    			}
				 	 	}
				 	 }
				 }				 
			}
			.panel{
				&.custom-panel{
					.panel-heading{
						h4{
							font-size: $font-size-small;
						}
					}
				}
			} 
		}
	}
    .enrich-advanced-search-wrapper .widget-content{
        .title, .custom-panel .panel-heading h4{
            font-size: $font-size-small;
        }
        #recent-searches,#saved-searches{
            .panel-body{
                p{
                    font-size: ($font-size-small - 2);
                }
            }
        }  
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max){
    .enrich-advanced-search-wrapper{
        .save-search-item{
            width: 25% !important;
            top: 10px !important;
            left: 10px !important;
        }
        .recent-search-wrapper{
            width: 25% !important;
            top: 240px !important;  
            left: 10px !important;
        }
        .entities-grid-item{
            width: 71% !important;
            top: 10px !important;
            right: 10px !important;
            left: auto !important;
        }
        .title{
            font-size: $font-size-base;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }  
        .custom-panel{  
            .panel-heading{
                @include padding(15px 0 0 0px);
                h4{  
                    font-size: $font-size-small;
                }
            }    
        }
        #recent-searches .panel-body p, #saved-searches .panel-body p{
            font-size: ($font-size-small - 2);
        }
    }
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs-max){
    .enrich-advanced-search-wrapper{
        .widget-content{
            .title{
                font-size: $font-size-small;
            }
        }
    }
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs){

}