/*==============================================================================
*****************  Settings Dashboard Wrapper Styles For The Site  ******************
==============================================================================*/

.settings-dashboard {
    &.general-settings-wrapper {
        .settings-wrapper {
            p {
                color: #fbfbfb;
            }
            // main list icons
            span.fa.mar-r8.alert_management_settings:before {
                content: "\f071";
            }
            span.fa.mar-r8.general_settings:before {
                content: "\f013";
            }
            span.fa.mar-r8.list_management_settings:before {
                content: "\f03a";
            }

            span.fa.mar-r8.mail_settings:before {
                content: "\f0e0";
            }
            .color-input-wrapper .custom-range-slider.round-thumb-slider>.ui-slider-handle {
                top: -11px;
                &:nth-of-type(2) {
                    transform: translateX(-8px);
                }
                &:nth-of-type(1) {
                    transform: translateX(5px);
                }
            }
            .side-defined {
                width: 30rem;
                position: relative;
                left: 0; 
                bottom: 0;
                height: calc(100vh - 11.6rem) !important;
                background-color: #2d2d2d; 

                .panel {
                    min-height: auto;
                    .custom-list li a {
                        @extend .text-uppercase;
                        color: #fbfbfb;
                    }
                    .custom-list li.active a {
                        @extend .text-uppercase;
                        color: #3b7bb0;
                    }
                }
            }

            .side-remain {
                right: 0;
                bottom: 0;
                position: relative;
                height: calc(100vh - 11.6rem) !important;
                width: calc(100% - 30rem);

                .panel {
                    padding-right: 0 !important;
                    background-color: #424242 !important
                }
                .panel-body-wrapper {
                    height: calc(100%);
                    overflow: auto;
                }
                .predefined_answers{ 
                    .select-group{
                        width: 100%!important;
                        display: grid!important;
                        grid-template-columns: repeat(4, minmax(auto, 1fr));
                        select.custom-input{   
                            grid-column-start: 2;  
                            grid-column: span 2;
                            grid-row-start: 1;
                        }               
                        .custom-data-table-wrapper{         
                            grid-column-start: 1;
                            grid-column: span 4;
                            padding: 10px 0!important; 
                        }
                        span.label{
                            grid-column-start: 1;
                            grid-row-start: 1;
                            text-align: left;
                        }
                    }
                }
                .panel-body {
                    option {
                        background: #545454;
                        border: 0;
                        color:#fbfbfb;  
                        padding: 10px;
                    }
                    #customer_logo {
                        padding: 10px;
                        background: rgba(116,116,116,.2);
                        border-radius: 5px;
                        min-width: 150px;
                        display: flex;
                        min-height: 100px;
                        align-items: c;
                        justify-content: center;
                        align-items: center;
                    }

                    .bst_input_group {
                        padding-bottom: 0 !important;
                    }
                    .authentication{
                        .authentication{
                         display: grid !important;
                        grid-template-columns: repeat(2, minmax(auto, 1fr));
                        /* grid-row-start: 1; */
                            grid-gap: 5px;
                            .select-group{
                                width:100%;
                            &:nth-of-type(1){
                                grid-column-start: 2;
                                grid-row-start: 2;
                            }
                            &:nth-of-type(2){
                                grid-column-start: 1;
                                grid-row-start: 1;
                            }
                            &:nth-of-type(3){
                                grid-column-start: 2;
                                grid-row-start: 1;
                            }
                            &:nth-of-type(4){
                                grid-column-start: 1;
                                grid-row-start: 2;
                            }
                        }
                    }
                    }
                    
                    .file_settings{
                        .file_settings{
                        display: grid !important;
                        grid-template-columns: repeat(3, minmax(auto, 1fr));
                        /* grid-row-start: 1; */
                            grid-gap: 5px;
                        .select-group{ 
                            &:nth-of-type(1){
                                grid-column-start: 1;
                                grid-row-start: 1;                                                                 
                            }
                            &:nth-of-type(2){
                                grid-column-start: 1;
                                grid-row-start: 2;                                                                
                            }
                            &:nth-of-type(3){
                                grid-column-start: 2;
                                grid-row-start: 2;                                                               
                            }
                            &:nth-of-type(4){
                                grid-column-start: 3;
                                grid-row-start: 2;                                                                
                            }
                            &:nth-of-type(5){
                                grid-column-start: 1;
                                grid-row-start: 3                                                                
                            }
                            &:nth-of-type(6){
                                grid-column-start: 2;
                                grid-row-start: 3;                                                                
                            }
                            &:nth-of-type(7){
                                grid-column-start: 3;
                                grid-row-start: 3;                                                                
                            }
                            &:nth-of-type(8){
                                grid-column-start: 1;
                                grid-row-start: 4;                                                                
                            }
                            
                            &:nth-of-type(9){
                                grid-column-start: 3;
                                grid-row-start: 4;                                                                
                            }
                            &:nth-of-type(10){
                                grid-column-start: 2;
                                grid-row-start: 4;                                                                
                            }
                            &:nth-of-type(11){
                                grid-column-start: 1;
                                grid-row-start: 5;                                                                
                            }
                            &:nth-of-type(12){
                                grid-column-start: 1;
                                grid-row-start: 4;                                                                
                            }
                        }
                        }
                    }
                    .left_104 {
                        left: 94%;
                        top: 4px;
                    }

                    .fa-plus {
                        width: 40px;
                        height: 40px;
                        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
                        background-image: linear-gradient(to bottom, #79c9ff, #009eff);
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .alert_indicators .width-48{
                        width:100%;
                    }
                    // Grid Design for Alert Management            
                    .alert_indicators .setting-select-wrapper {
                        display: grid !important;
                        grid-template-columns: repeat(4, minmax(auto, 1fr));
                        /* grid-row-start: 1; */
                            grid-gap: 5px 30px;
                        grid-template-rows: repeat(4, minmax(auto, 1fr));

                        .select-group.settings-toggle-wrapper{
                            >span{
                                margin-left: 65px;
                            }
                            >label{
                                    margin-left: 0px!important;
                            }
                        }
                        
                    }

                    .alert_indicators .setting-select-wrapper .select-group:nth-of-type(1) {
                        grid-row-start: 1;
                        grid-column-start: 1;
                    }

                    .alert_indicators .setting-select-wrapper .select-group:nth-of-type(2) {
                        grid-row-start: 1;
                    }

                    .alert_indicators .setting-select-wrapper .select-group:nth-of-type(3) {
                        grid-column-start: 1;
                        grid-column-end: span 2;
                        grid-row-start: 2;
                    }

                    .alert_indicators .setting-select-wrapper .select-group:nth-of-type(4) {

                        grid-column-start: 3;
                        grid-row-start: 1;
                    }

                    .alert_indicators .setting-select-wrapper .select-group:nth-of-type(5) {
                        grid-row-start: 1;
                        grid-column-start: 4;
                    }

                    .alert_indicators .setting-select-wrapper .select-group:nth-of-type(6) {
                        grid-column-end: span 2;
                        grid-row-start: 2;
                    }

                    .alert_indicators .setting-select-wrapper .select-group:nth-of-type(7) {
                        grid-row-start: 3;
                    }

                    .alert_indicators .setting-select-wrapper .select-group:nth-of-type(8) {
                        grid-column-start: 1;
                        grid-row-start: 3;
                    }

                    .alert_indicators .setting-select-wrapper .select-group:nth-of-type(9) {
                        grid-column-start: 1;
                        grid-column-end: span 2;
                        /* grid-column-start: 3; */
                        grid-row-start: 4;
                    }
                    .sub-heading {
                        position: relative;          
                        padding-bottom: 10px;
                        text-transform: capitalize;

                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            width: 100%;
                            bottom: 0;
                            background-image: linear-gradient(to left, rgba(249, 249, 249, 0.2), rgba(250, 250, 250, 0.5));
                            height: 2px;
                        }
                    }
                    .bst_input_group{
                        height:4.2rem;
                        .custom-input{
                            padding: 10px 29px 0;
                            line-height: 1.6;
                            &:placeholder-shown~span.label{
                                top: 11px;
                            }                            
                            &:not(:placeholder-shown)~span.label{
                                top: .1rem;
                                left: .8rem;
                            }  
                        }
                        
                    }
                    .width-48 {
                        width: 48%;

                        &.settings-slider-wrapper {
                            overflow: hidden;
                            width: 100%;
                            margin-bottom: 15px !important;

                            .custom-range-slider {
                                background: #9c27b0 !important;

                                &.round-thumb-slider {
                                    max-width: none;
                                    margin: auto;
                                }
                            }

                            .ui-slider-range.ui-corner-all.ui-widget-header {
                                position: relative;
                                &:after,
                                &:before {
                                    content: "";
                                    height: 5px;
                                    width: 1000rem;
                                    top: 0;
                                    position: absolute;
                                }

                                &:before {
                                    right: 100%;
                                    background: #ef5350
                                }

                                &:after {
                                    left: 100%;
                                    background: #009f59;
                                }
                            }
                        }

                        &.settings-toggle-wrapper>label {
                            order: 1;
                        }
                        &.settings-toggle-wrapper>select {
                            order: 1;
                            height:4.2rem;
                            line-height:1.4;
                            background-color: rgba(251,251,251,.08);
                            border-bottom: 2px solid rgba(249,249,249,.5);
                            border-radius:5px 5px 0 0;
                            }
                        &.settings-toggle-wrapper>span {
                            order: 0;
                            font-weight: 300;
                        }
                        &.settings-toggle-wrapper,
                        &.settings-slider-wrapper,
                        &.file-switch-wrapper {
                            >span {
                                @extend .roboto-light;
                                font-size: 14px;
                                order: 0;
                                font-weight: 300;
                            }
                        }

                        &.settings-slider-wrapper {
                            >span {
                                margin-top: 5px;
                                display: inline-flex;
                                font-weight: 300;
                            }
                        }

                        &.settings-toggle-wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }

                        &.file-switch-wrapper {
                            width: 13rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-right: 35px !important;

                        }

                        &.file-switch-wrapper>label {
                            order: 1;
                        }

                    }

                    .setting-name-wrapper {
                        @extend .d-flex;
                        @extend .ai-c;
                        @extend .roboto-regular;
                        font-size: 24px;
                        color: #fbfbfb;
                    }

                    &.general-wrapper {}

                    &.regional-wrapper {}

                    &.report-wrapper {}

                    &.mail-wrapper {}
                }
            }
        }
    }
}

.text-uppercase {
    text-transform: uppercase;
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/

@media (min-width: $screen-lg) {}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {}