* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

}

.toolbar {
  background-color: transparent;
  border-bottom: 0;
  height: 35px;  
  padding: 0 0 0 11px;
  color:#fafafa;
  z-index: 100; 
}
.toolbar .spacer {
  display: inline-block;
  border-left: 1px solid #c1c1c1;
  height: 34px;
  margin: 0 5px -11px;
}

.toolbar a {
  color: inherit;
  text-decoration: none;
}

.toolbar button {
  background-image: linear-gradient(to bottom,#79c9ff,#009eff);
  border: 0;
  border-radius: 3px;
  font-size: 15px;
  padding: 3px;
  margin: 0;
  text-align: center;
  color: #fafafa;
  position: relative;
  min-width: 27px;
  min-height: 27px;
}
.toolbar button:after {
  content: ' ';
  display: block;
}
.toolbar button.active {
  border-color: #bababa;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.25);
     -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.25);
          box-shadow: inset 0 0 1px rgba(0,0,0,0.25);
}
.toolbar button:hover,
.toolbar button:focus {
  border-color: #bababa;
}

.toolbar button.pen {
  font-size: 16px;
}

.toolbar button.comment {
  font-size: 10px;
  color: #ffffff;
  text-shadow: 0 0 0 #000000;
}

.toolbar button.rectangle:after {
  width: 15px;
  height: 15px;
  border: 1px solid red;
  position: absolute;
  top: 4px;
  left: 4px;
}

.toolbar button.highlight:after {
  width: 17px;
  height: 17px;
  background: yellow;
  position: absolute;
  top: 4px;
  left: 4px;
}

.toolbar button.strikeout:after {
  width: 15px;
  height: 1px;
  background: red;
  position: absolute;
  top: 12px;
  left: 4px;
}

.toolbar button.text:after {
  content: 'T';
  font-family: 'Times New Roman';
}

.color {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  vertical-align: middle;
}
.color-selected {
  border: 3px solid #666;
  width: 30px;
  height: 30px;
  margin-top: -1px;
  margin-left: -2px;
  margin-right: -2px;
}
.text-color, .pen-color {
  display: inline-block;
}
.toolbar .filter-value{
  color: #6b8289;
    font-size: 12px;
    font-family: "Roboto Regular",sans-serif;
    display: inline-block;
    background-color: transparent;
    border: 0;
}
