<!--  Risk Overview Modal Wrapper Starts  -->
<div class="risk-overview-modal-wrapper">
	<div class="custom-spinner case-dairy-spinner" ng-show="riskOverviewLoader">
		<i class="fa fa-spinner fa-spin fa-3x"></i>
	</div>
	<div class="modal-header">
		<button type="button" class="closePulseModal" ng-click="closeOverviewModal()" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">
			<span id="articleHeader">{{ articelHeader }}</span>
		</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-3 pad-rt-0">
				<ul class="list-group custom-list-group">
					<li class="list-group-item" ng-class="{'active': article == articles[0]}" ng-repeat="article in articles" ng-click="loadEntDetails(article,$event)">
						<a href="javascript:void(0);">{{ article.title }}</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-6 pad-rt-0">
				<div class="pulseVisualizerText-wrapper">
					<div class="text-captalise text-justify" id="marketPulseText"></div>
				</div>
			</div>
			<div class="col-sm-3 pad-lt-0">
				<div class="pulseVisualizerList-wrapper">
					<div class="marketPulseList">
						<ul class="toggleBarMenu list-unstyled">
							<li class="pulseVisualizerList-wrapper-li" ng-repeat="entity in entitiesDetailed">
								<div class="toggle text-uppercase">
									<div class="custom-checkbox">
										<label class="checkbox-inline"> <input type="checkbox" checked value="{{ entity.key }}" ng-click="filterEntities(entity.key)" class="marketpulseparentCheck" id="parentCheck_{{entity.key }}"> <span><i class="fa fa-check"></i></span>
										</label> <span class="custom-check-text" id="custom-check-text{{ entity.key }}" ng-click="showHideMenu(entity.key)">{{ entity.key }}</span>
									</div>
								</div>
								<ul class="treeview-menu list-unstyled">
									<li ng-repeat="(key, val) in entity.values">
										<div>
											<div class="custom-checkbox">
												<label class="checkbox-inline"> 
												<input type="checkbox" value="{{ val }}" ng-click="filterEntities()" checked class="marketpulsechildrenCheck childCheck_{{entity.key }}"> <span><i class="fa fa-check"></i></span>
												</label>
												<small class="check-text">{{ key }}</small>
											</div>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  Risk Overview Modal Wrapper Ends  -->

<script>
	setTimeout(function(){
		$('.pulseVisualizerText-wrapper,.pulseVisualizerList-wrapper,.custom-list-group').mCustomScrollbar({
			axis : "y",
			theme : "minimal-dark"
		});
	},10);
</script>
