<!--  Spinner Starts  -->
<div class="custom-spinner" ng-show="showSpinner1">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->
<div class="modal-body">
	<p class="mar-0 pad-t15 pad-b15">{{ finalMsg }}</p>
</div>
<div class="modal-footer" >
   <button type="button" ng-click="confirmProcessResp(true)" class="btn btn-update">Yes</button>
   <button type="button" ng-click="confirmProcessResp()" class="btn btn-update" >No</button>
</div>
