<!--  Corporate Modal Starts  -->
<div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()">
        <span>&#x2716;</span>
    </button>
    <h4 class="modal-title">Corporate Structure Alerts</h4>
</div>
<div class="modal-body">
    <!--  Alert Dashboard Wrapper Starts  -->
    <div class="alert-dashboard-wrapper">
        <!--  Corporate Structure Grid Starts  -->
        <div class="chart-panel-wrapper four-grid">
            <!--  Corporate Structure Row Starts  -->
            <div class="row custom-row">

                <!--  First Column Starts  -->
                <div class="col-sm-4 custom-col left-col">

                    <!-- Chart Panel Starts -->
                    <div class="panel chart-panel panel-alert">
                        <div class="panel-heading">
                            <h3 class="alert-name text-lighter-grey">Efraim Deborah</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled custom-list light-grey">
                                <li>
                                    <a href="javscript:void(0);">Passport Number :
                                        <span> Ag1982201EFR</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javscript:void(0);">Date of Birth :
                                        <span>18/09/1976</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javscript:void(0);">Citizenship : Iran</a>
                                </li>
                                <li>
                                    <a href="javscript:void(0);">Address :
                                        <span>Jamial Bawa, Tehran, Iran</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
               
                        <div class="panel-heading">
                            <h3>Counter Parties</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled custom-list light-grey">
                                <li>
                                    <a href="javscript:void(0);">Type of Activity :
                                        <span> Wholesale Trader</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javscript:void(0);">Average Monthly Turnover :
                                        <span>$120,00,00</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javscript:void(0);">Geography of Business Operations :
                                        <span>Iran, Oman, Yemen</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javscript:void(0);">Main Conter Parties :
                                        <span class="text-light-blue">AL Uman Saq, Hamid Rauf, Abdulla Seth</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="panel-heading">
                            <h3>Attached Documents</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled custom-list light-grey">
                                <li>
                                    <a href="javscript:void(0);">Certificate of Incorporation, </a>
                                </li>
                                <li>
                                    <a href="javscript:void(0);">Memorandium of Association,</a>
                                </li>
                                <li>
                                    <a href="javscript:void(0);">Passport of Shareholders and CEO</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Chart Panel Ends -->

                </div>
                <!--  First Column Ends  -->

                <!--  Second Column Starts  -->
                <div class="col-sm-8 custom-col right-col">
                    <div class="row custom-row">
                        <div class="col-sm-12 custom-col">
                            <!-- Chart Panel Starts -->
                            <div class="panel chart-panel">
                            	<div class="panel-heading scenario-amount-border">
									<div class="scenario-amount-wrapper">
										<div class="scenario-amount-details">
											<h3 class="scenario-name corporate-name">Scenario : Transactions To High Risk Countries</h3>
											<p class="text-lighter-grey scenario-amount">Amount :
												<strong>$45, 773.00</strong>
											</p>
										</div>
										<div class="scenario-risk-score">
											<p class="text-lighter-grey">Risk Score :
												<span>19</span>
											</p>
										</div>
									</div>
								</div>
                                <div class="panel-heading">
                                    <h3>Counter Parties</h3>
								</div>
								<div class="panel-body">
                                    <div class="side-risk-chart-wrapper">
                                        <div id="sideRiskBarChartOne"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Chart Panel Ends -->
                        </div>
                        <div class="col-sm-6 custom-col">
                            <!-- Chart Panel Starts -->
                            <div class="panel chart-panel border-b0">
                                <div class="panel-heading">
                                    <h3>Associated Alerts By Numbers</h3>
                                </div>
                                <div class="panel-body">
                                    <div id="sideAlertsChart"></div>
                                </div>
                            </div>
                            <!-- Chart Panel Ends -->
                        </div>
                        <div class="col-sm-6 custom-col border-0">
                            <!-- Chart Panel Starts -->
                            <div class="panel chart-panel">
                                <div class="panel-heading">
                                    <h3>Associated Alerts By Numbers</h3>
                                </div>
                                <div class="panel-body">
                                    <div id="sideRiskBarChartTwo"></div>
                                </div>
                            </div>
                            <!-- Chart Panel Ends -->
                        </div>
                    </div>
                </div>
                <!--  Second Column Ends  -->

                <!--  Third Column Starts  -->
                <div class="col-sm-12 custom-col risk-custom-col">
                    <!--  Custom Tabs Wrapper Starts  -->
                    <div class="custom-tabs-wrapper">

                        <!--  Nav Tabs Starts  -->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="a-pad">Detected Transaction</a>
                            </li>
                            <li>
                                <a>All Transactions</a>
                            </li>
                        </ul>
                        <!--  Nav Tabs Ends  -->

                        <!--  Tab Panes Starts  -->
                        <div class="tab-content">  

                            <!--  Notifications Tab Starts  -->
                            <div class="tab-pane active" id="detectedTransaction">
                                <table class="table custom-table-stripped">
                                    <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Type</th>
                                            <th>Counterparty</th>
                                            <th>Country of Counterparty</th>
                                            <th>Amount</th>
                                            <th>Counterparty Bank</th>
                                            <th>Bank Location</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>04-01-2017</td>
                                            <td>Wire In</td>
                                            <td>Fluke Acoustics</td>
                                            <td>Iran</td>
                                            <td>$3,268.00</td>
                                            <td>Absolute Financial Inc.</td>
                                            <td>Iran</td>
                                        </tr>
                                        <tr>
                                            <td>04-01-2017</td>
                                            <td>Wire In</td>
                                            <td>Fluke Acoustics</td>
                                            <td>Iran</td>
                                            <td>$3,268.00</td>
                                            <td>Absolute Financial Inc.</td>
                                            <td>Iran</td>
                                        </tr>
                                        <tr>
                                            <td>04-01-2017</td>
                                            <td>Wire In</td>
                                            <td>Fluke Acoustics</td>
                                            <td>Iran</td>
                                            <td>$3,268.00</td>
                                            <td>Absolute Financial Inc.</td>
                                            <td>Iran</td>
                                        </tr>
                                        <tr>
                                            <td>04-01-2017</td>
                                            <td>Wire In</td>
                                            <td>Fluke Acoustics</td>
                                            <td>Iran</td>
                                            <td>$3,268.00</td>
                                            <td>Absolute Financial Inc.</td>
                                            <td>Iran</td>
                                        </tr>
                                        <tr>
                                            <td>04-01-2017</td>
                                            <td>Wire In</td>
                                            <td>Fluke Acoustics</td>
                                            <td>Iran</td>
                                            <td>$3,268.00</td>
                                            <td>Absolute Financial Inc.</td>
                                            <td>Iran</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--  Notifications Tab Ends  -->

                            <!--  Notifications Tab Starts  -->
                            <div class="tab-pane" id="allTransactions"></div>
                            <!--  Notifications Tab Ends  -->

                        </div>
                    </div>
                    <!--  Custom Tabs Wrapper Ends  -->
                </div>
                <!--  Third Column Ends  -->

            </div>
            <!--  Corporate Structure Row Ends  -->
        </div>
        <!--  Corporate Structure Grid Starts  -->
    </div>
    <!--  Alert Dashboard Wrapper Starts  -->
</div>
<!--  Corporate Modal Ends  -->

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.transaction-modal .modal-body .alert-dashboard-wrapper').mCustomScrollbar({
		axis : "y",
		theme : "minimal-dark"
	});
});
</script>