

<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title"><span style="cursor:pointer" ng-hide="selectAlert"><i class="fa fa-chevron-left" ng-click="selectAlert =true;header='Generate/Upload An Alert'"></i> &nbsp </span>{{ header }}</h4>
</div>
<div class="modal-body">
<!--  Spinner Starts  -->
<div class="custom-spinner" ng-show="showSpinner1">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->
	<!--  Entity Company Starts  -->
	<form class="form">
		<div class="ti-alert-type" ng-show="selectAlert">
			
			<div class="alert-selection-options">
				<ul class="list-inline">
					<li>
						<a href ng-click="showUploadAlert();header='Upload An Alert'" class="alert-select-upload">
							<span class="alert-icon"><i class="fa fa-upload"></i></span>
							<span class="alert-name">Upload</span>
						</a>
					</li>
					<li>
						<a href ng-click="showGenerateAlert();header='Generate An Alert'" class="alert-select-generate">
							<span class="alert-icon"><i class="fa fa-refresh"></i></span>
							<span class="alert-name">Generate</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- <div class="custom-radio">
				<label class="radio-inline">
					<input class="" type="radio" name="tiAlertType" id="tiCustomer" checked value="Customer">
					<span>
						<i class="fa fa-circle"></i>
					</span>Customer
				</label>
				<label class="radio-inline">
					<input class="" type="radio" name="tiAlertType"  id="tiTransaction" value="Transaction">
					<span>
						<i class="fa fa-circle"></i>
					</span>Transaction
				</label>
				<label class="radio-inline">
					<input class="" type="radio" name="tiAlertType" id="tiAccount" value="Account">
					<span>
						<i class="fa fa-circle"></i>
					</span>Account
				</label>
			</div> -->
		</div>
		<div class="row" ng-hide="selectAlert">
			<div class="col-sm-6">
				<div class="ti-alert-upload">
					<!-- <h5>File</h5> -->
					<div class="custom-upload-wrapper">
						<div class="custom-file-upload">
		                     <input type="file" name="uploadCustomerDetails" id="uploadCustomerDetails" class="">
		                     <label for="uploadCustomerDetails" class="file-inline" ngf-select="upload($file,'customers')">
		                         <span class="custom-input">
		                     		<strong class="text-uppercase uploaded-name" title="{{ uploadCustomerDetailsName }}">{{ uploadCustomerDetailsName }} </strong>
		                   			<small class="text-uppercase">Upload</small>
		                     	</span>
		                     </label>
		                 </div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="ti-alert-upload">
					<div class="custom-upload-wrapper">
						<div class="custom-file-upload">
		                     <input type="file" name="uploadAccountFile" id="uploadAccountFile" class="">
		                     <label for="uploadAccountFile" class="file-inline" ngf-select="upload($file,'accounts')">
		                         <span class="custom-input">
		                     		<strong class="text-uppercase uploaded-name" title="{{ uploadAccountName }}">{{ uploadAccountName }} </strong>
		                   			<small class="text-uppercase">Upload</small>
		                     	</span>
		                     </label>
		                 </div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="ti-alert-upload">
					<!-- <h5>File</h5> -->
					<div class="custom-upload-wrapper">
						<div class="custom-file-upload">
		                     <input type="file" name="uploadCustomerRelation" id="uploadCustomerRelation" class="">
		                     <label for="uploadCustomerRelation" class="file-inline" ngf-select="upload($file,'customerRelationships')">
		                         <span class="custom-input">
		                     		<strong class="text-uppercase uploaded-name" title="{{ uploadCustomerRelationShiptxName }}">{{ uploadCustomerRelationShiptxName }} </strong>
		                   			<small class="text-uppercase">Upload</small>
		                     	</span>
		                     </label>
		                 </div>
					</div>
				</div>
			</div>
			<div class="col-sm-6" ng-hide="isGenerate">
				<div class="ti-alert-upload">
					<div class="custom-upload-wrapper">
						<div class="custom-file-upload">
		                     <input type="file" name="fileuploadAlerts" id="fileuploadAlerts" class="">
		                     <label for="fileuploadAlerts" class="file-inline" ngf-select="upload($file,'alert')">
		                         <span class="custom-input">
		                     		<strong class="text-uppercase uploaded-name" title="{{ alertName }}">{{ alertName }} </strong>
		                   			<small class="text-uppercase">Upload</small>
		                     	</span>
		                     </label>
		                 </div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="ti-alert-upload">
					<!-- <h5>File</h5> -->
					<div class="custom-upload-wrapper">
						<div class="custom-file-upload">
		                     <input type="file" name="uploadTxData" id="uploadTxData" class="">
		                     <label for="uploadTxData" class="file-inline" ngf-select="upload($file,'transactions')">
		                         <span class="custom-input">
		                     		<strong class="text-uppercase uploaded-name" title="{{ uploadTxDataName }}">{{ uploadTxDataName }} </strong>
		                   			<small class="text-uppercase">Upload</small>
		                     	</span>
		                     </label>
		                 </div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	<!--  Entity Company Ends  -->
</div>
<div class="modal-footer" ng-hide="selectAlert">
   <!--<button type="button" ng-click="uploadFile()" class="btn btn-update">Create</button> -->
	<button type="button" class="btn btn-update" ng-click="processData()">Process Data</button>
</div>
