<style>
#vlaTIFull{
	height:85vh;
	width:100%;
	position:absolute;
]}
</style>
<!--  Spinner Starts  -->
<div class="custom-spinner" ng-show="showSpinner1">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

<!-- <div class="modal-header"> -->
<!-- 	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button> -->
<!-- 	<h4 class="modal-title" ng-hide="strReported">Full Analysis</h4> -->
<!-- </div> -->
<div class="modal-body">
	<div class="full-analysis-modal-wrapper">
		<div class="row">
			<div class="col-sm-9 pad-rt-0">
				<div class="full-analysis-vla-wrapper">
					<!--VLA CHART HERE-->					
					<div id="vlaTIFull"></div>
					<button class="compress-vla-section" ng-click="closeModal()">
						<span><i class="fa fa-compress"></i></span>
					</button>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="scenario-filter-wrapper">
					<h5 class="scenario-filter-title">Scenario</h5>
					<span class="modal-close-btn" ng-click="closeModal()">&#x2716;</i></span>
					<!-- <div class="scenario-filter-content">
						<select class="text-uppercase" id="setScenario" ng-model="setScenario" ng-change="changeScenario()">
							<option vlaue="All">All</option>
							<option vlaue="International Transfer">International Transfer</option>
							<option vlaue="Wired Transfer">Wired Transfer</option>
							<option vlaue="Wired Transfer">CreditCard Transfer</option>
							<option vlaue="Wired Transfer">Cheque Transfer</option>
						</select>
					</div> -->
				</div>
				<div class="full-analysis-right-wrapper">
					<div class="full-analysis-transactions-table">
						<div class="panel-group">
							<!-- ngRepeat: transact in transactionDetails -->
							<div class="panel panel-default ng-scope" ng-repeat="transact in transactionDetails"> <!-- ng-repeat here -->
							    <div class="panel-heading">
							    	<div class="tranx-panel-heading-content">
					    				<!-- <div class="transactionCheckbox">
								    		<div class="checkbox-wrapper">
								    			<div class="custom-checkbox">
								    				<label class="checkbox-inline">
								    					<input type="checkbox" id="{{'txCheck'+$index+'full'}}" name="{{'txCheck_'+$index}}" ng-model="txCheck" ng-click="highlightTx(transact,$index)">
								    					<span><i class="fa fa-check"></i></span>
							    					</label>
						    					</div>
					    					</div>
					    				</div> 
				    					<div class="str-update">
					    					<button type="button" class="btn" ng-click="showResolveAnalysis('str')">STR</button>
					    				</div> -->
							    		<ul class="list-inline">
							    		<li class="tranx-heading-list" ng-if="transact['is-alerted-transaction']">
								    				<i class="fa fa-exclamation-triangle" style="color: red;"></i>
								    			</li>
								    			<li class="tranx-heading-list" ng-if="transact['alert'] && !transact['is-alerted-transaction']">
								    				<i class="fa fa-exclamation-triangle" style="color: #fe9b93;"></i>
								    			</li>
							    			<li class="tranx-heading-list">
							    				<div class="panel-tranx-id">
							    					<p>ID : <span> {{ transact.id || "N/A"}}</span></p>
							    				</div>
							    			</li>
							    			<li class="tranx-heading-list">
							    				<div class="panel-tranx-date">
							    					<p>Date : <span> {{ (transact.date | date:"dd/MM/yyyy") || "N/A" }}</span></p>
							    				</div>
							    			</li>
							    			<li class="tranx-heading-list">
							    				<div class="panel-tranx-type">
							    					<p>Product Type : <span> {{ transact.txtype2 || "N/A"}}</span></p>
							    				</div>
							    			</li>
							    			<li class="tranx-heading-list">
							    				<div class="panel-tranx-counterparty">
							    					<p>Counter Party : <span> {{ transact.counterParty || "N/A"}} </span></p>
							    				</div>
							    			</li>
							    		</ul>
							    	</div>
							    </div>
							    <div class="panel-body">
							    	<div class="tranx-panel-body-content">
							    		<div class="row">
							    			<div class="col-sm-4">
							    				<div class="detailed-tranx-counterparty">
							    					<ul class="list-unstyled">
							    						<li>
							    							<p class="detailed-tranx-header">Beneficiary </p>
							    						</li>
							    						<li>
							    							<p> Name : <span>{{ transact.namebene || "N/A"}}</span></p>
							    						</li>
							    						<li>
							    							<p>Amount : <span>{{ transact.activity_amount_bene || "N/A"}}</span></p>
							    						</li>
							    						<li>
							    							<p>Location : <span>{{ transact.countrybene || "N/A"}}</span></p>
							    						</li>
							    						<li>
							    							<p>Currency : <span>{{ transact.currencybene || "N/A"}}</span></p>
							    						</li>
							    					</ul>
							    				</div>
							    			</div>
							    			<div class="col-sm-4 pad-lt-0">
							    				<div class="detailed-tranx-ownparty">
							    					<ul class="list-unstyled">
							    						<li>
							    							<p class="detailed-tranx-header">Organization </span></p>
							    						</li>
							    						<li>
							    							<p>Name : <span>{{ transact.nameorg || "N/A"}}</span></p>
							    						</li>
							    						<li>
							    							<p>Amount : <span>{{ transact.activity_amount_org || "N/A"}}</span></p>
							    						</li>
							    						<li>
							    							<p>Location : <span>{{ transact.countryorg || "N/A"}}</span></p>
							    						</li>
							    						<li>
							    							<p>Currency  : <span>{{ transact.currencyorg || "N/A"}}</span></p>
							    						</li>
							    					</ul>
							    				</div>
							    			</div>
							    			<div class="col-sm-4 pad-lt-0">
							    				<div class="detailed-tranx-purpose">
							    					<ul class="list-unstyled">
							    						<li>
							    							<p>Channel : <span>{{transact.txype  || "N/A"}}</span></p>
							    						</li>
<!-- 							    						<li> -->
<!-- 							    							<p>Data Source : <span>{{ (transact['data-source']?transact['data-source']:"-") }}</span></p> -->
<!-- 							    						</li> -->
							    						<li>
							    							<p>Purpose : <span class="purpose-first">{{ transact.purpose1  || "N/A"}}</span> </p>
							    						</li>
							    						<li>
							    							<div class="detailed-tranx-amount {{ transact.DirectoinCls}}">
										    					<p>{{ transact.inputOut }} 
										    						<strong>{{ (transact.amt  | currency:"$":0) || "N/A" }}</strong>
										    					</p>
										    				</div>
							    						</li>
							    					</ul>
							    				</div>
							    			</div>
<!-- 							    			<div class="col-sm-3 pad-lt-0"> -->
<!-- 							    				<div class="detailed-tranx-amount {{ transact.DirectoinCls}}"> -->
<!-- 							    					<p>{{ transact.inputOut }}</p> -->
<!-- 							    					<strong>{{ transact.amt  | currency:"$":0 }}</strong> -->
<!-- 							    				</div> -->
<!-- 							    				<div class="str-update"> -->
<!-- 							    					<button type="button" class="btn" ng-click="showResolveAnalysis('str')">STR</button> -->
<!-- 							    				</div> -->
<!-- 							    			</div> -->
							    		</div>
							    	</div>
							    </div>
							 </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.full-analysis-wrapper .modal-body .full-analysis-right-wrapper').mCustomScrollbar({
		axis : "y",
		theme : "minimal-dark"
	});
});
</script>