<!--  Spinner Starts  -->
<div class="custom-spinner" ng-show="showSpinner1">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<!--  Spinner Ends  -->

<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="closeModal()"><span>&#x2716;</span></button>
	<h4 class="modal-title" ng-hide="strReported">Resolve Analysis</h4>
</div>
<div class="modal-body">
	<!--  Entity Company Starts  -->
	<form class="form" ng-hide="strReported">
		<div class="form-group mar-b0">
			<textarea rows="10" placeholder="Type here..." class="form-control" ng-model="resolveComment"></textarea>		
		</div>
		<div ng-show="sarReported" class="text-uppercase text-center sar-update-status"> the SAR has been reported to Concern Person </div>
	</form>
	<div ng-show="strReported" class="text-uppercase text-center str-update-status"> the STR has been reported to Concern Person </div>
	
	<!--  Entity Company Ends  -->  
</div>
<div class="modal-footer" ng-hide="strReported">
	<!--  Entity Company Starts  -->
	<button type="button" class="btn btn-update" ng-click="resolveTransaction()">Resolve</button>
<!-- 	<button type="button" class="btn btn-update" disabled ng-click="resolveTransaction('sar')">SAR</button> -->
	<button class="btn btn-update" disabled href="../vendor/data/PetroSaudi - STR.docx">Download SAR</button>
	 <!--  Entity Company Ends  -->
</div>
