<!--  Risk Modal Starts  -->
<div class="modal-header">
	<button type="button" class="close" ng-click="closeModal()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title">Alert Details</h4>
	<h2>Amritesh</h2>
</div>
<div class="modal-body">
	<!--  Alert Dashboard Wrapper Starts  -->
	<div class="alert-dashboard-wrapper">
		<!--  Risk Grid Starts  -->
		<div class="chart-panel-wrapper four-grid">
			<!--  Risk Row Starts  -->
			<div class="row custom-row">

				<!--  First Column Starts  -->
				<div class="col-sm-4 custom-col left-col">

					<!-- Chart Panel Starts -->
					<div class="panel chart-panel panel-alert">
						<div class="panel-heading">
							<div class="person-alert-info">
								<div class="person-alert-img">
									<a style="pointer-events:none;" class="btn-grey-circle">
										<i class="fa fa-user"></i>
									</a>
								</div>
								<div class="person-alert-details">
									<h3 class="alert-name text-lighter-grey">{{ customerDetails.customerName }}</h3>
<!-- 									<p class="text-lighter-grey"> -->
<!-- 										Age : <span></span> -->
<!-- 									</p> -->
								</div>
							</div>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled custom-list light-grey">
<!-- 								<li> -->
<!-- 									<a href="javscript:void(0);">Passport Number : -->
<!-- 										<span> </span> -->
<!-- 									</a> -->
<!-- 								</li> -->
								<li ng-if="customerDetails.customerType !='CORP'">
									<a href="javscript:void(0);">Date of Birth :
										<span>{{ customerDetails.dateOfBirth | date:'dd-MM-yyyy'}}</span>
									</a>
								</li>
								<li ng-if="customerDetails.customerType =='CORP'">
									<a href="javscript:void(0);">Founded in :
										<span>{{ customerDetails.dateOfIncorporation | date:'dd-MM-yyyy'}}</span>
									</a>
								</li>
								<li>
									<a href="javscript:void(0);">City : {{customerDetails.city }}</a>
								</li>
								<li>
									<a href="javscript:void(0);">Country : {{customerDetails.country }}</a>
								</li>
								<li>
									<a href="javscript:void(0);">Address :
										<span>{{customerDetails.adderssLine }}</span>
									</a>
								</li>
								<li>
									<a href="javscript:void(0);">Type of Activity :
										<span>{{ customerDetails.activityType }} </span>
									</a>
								</li>
								<li>
									<a href="javscript:void(0);">Average Monthly Turnover :
										<span>{{ customerDetails.estimatedTurnoverAmount }}</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="panel-heading ">
							<h3>Counter Parties</h3>
							
						</div>
						<div class="panel-body">
							<ul class="list-unstyled custom-list light-grey">							
								
								<li>
									<a href="javscript:void(0);">Geography of Business Operations :
										<span>{{ countriesListString }}</span>
									</a>
								</li>
								<li>
									<a style="pointer-events:none;">Main Counter Parties :
										<span title="{{ counterPartiesListString }}" class="text-light-blue main-counter-parties-scroll">{{ counterPartiesListString }}</span>
									</a>
								</li>
							</ul>
						</div>
<!-- 						<div class="panel-heading"> -->
<!-- 							<h3>Documents</h3> -->
<!-- 						</div> -->
<!-- 						<div class="panel-body"> -->
<!-- 							<ul class="list-unstyled custom-list light-grey custom-list-li-a--lh"> -->
<!-- 								<li> -->
<!-- 									<a href="javscript:void(0);">Passport </a> -->
<!-- 								</li> -->
<!-- 								<li> -->
<!-- 									<a href="javscript:void(0);">Certificate of Owenership of Business</a> -->
<!-- 								</li> -->
<!-- 								<li> -->
<!-- 									<a href="javscript:void(0);">Financial Statements</a> -->
<!-- 								</li> -->
<!-- 								<li> -->
<!-- 									<a href="javscript:void(0);">Registration Card</a> -->
<!-- 								</li> -->
<!-- 							</ul> -->
<!-- 						</div> -->
					</div>
					<!-- Chart Panel Ends -->

				</div>
				<!--  First Column Ends  -->

				<!--  Second Column Starts  -->
				<div class="col-sm-8 custom-col right-col border-l0 border-t0">
					<div class="row custom-row">
						<div class="col-sm-12 custom-col ">
							<!-- Chart Panel Starts -->
							<div class="panel chart-panel">
								<div class="panel-heading scenario-amount-border">
									<div class="scenario-amount-wrapper">
										<div class="scenario-amount-details">
											<h3 class="scenario-name risky-name" style="color:{{currentColor}} !important">Scenario : {{ selectedScenario }}</h3>
											<p class="text-lighter-grey scenario-amount">Amount :
												<strong>{{ customerAmount | currency}}</strong>
											</p>
										</div>
<!-- 										<div class="scenario-risk-score"> -->
<!-- 											<p class="text-lighter-grey">Risk Score : -->
<!-- 												<span>19</span> -->
<!-- 											</p> -->
<!-- 										</div> -->
									</div>
								</div>
								<div class="panel-heading">
									<h3>Counter Parties</h3>
								</div>
								<div class="panel-body ">
									<div class="side-risk-chart-wrapper">
										<div id="custCounterPartyChart"></div>
									</div>
								</div>
							</div>
							<!-- Chart Panel Ends -->
						</div>
						<div class="col-sm-6 custom-col">
							<!-- Chart Panel Starts -->
							<div class="panel chart-panel border-b0">
								<div class="panel-heading">
									<h3>Countries</h3>
								</div>
								<div class="panel-body">
									<div id="riskAlertModalCountries"></div>
								</div>
							</div>
							<!-- Chart Panel Ends -->
						</div>
						<div class="col-sm-6 custom-col">
							<!-- Chart Panel Starts -->
							<div class="panel chart-panel border-0">
								<div class="panel-heading">
									<h3>Geography</h3>
								</div>
								<div class="panel-body">
									<div id="riskAlertModalGeography"></div>
								</div>
							</div>
							<!-- Chart Panel Ends -->
						</div>
					</div>
				</div>
				<!--  Second Column Ends  -->

				<!--  Third Column Starts  -->
				<div class="col-sm-12 custom-col risk-custom-col">
					<!--  Custom Tabs Wrapper Starts  -->
					<div class="custom-tabs-wrapper">

						<!--  Nav Tabs Starts  -->
						<ul class="nav nav-tabs">
							<li ng-class="{'active': detectedTransactionTab}" ng-click="tabClicked('detectedTransaction')">
								<a class="a-pad">Detected Transaction</a>
							</li>
							<li ng-class="{'active': !detectedTransactionTab}" ng-click="tabClicked('allTransactions')">
								<a>All Transactions</a>
							</li>
						</ul>
						<!--  Nav Tabs Ends  -->

						<!--  Tab Panes Starts  -->
						<div class="tab-content">

							<!--  Notifications Tab Starts  -->
							<div class="tab-pane" ng-class="{'active': detectedTransactionTab}" id="detectedTransaction">
								<table class="table custom-table-stripped">
									<thead>
										<tr>
											<th>Data</th>
											<th>Type</th>
											<th>Counterparty</th>
                                            <th>Country of Counterparty</th>
											<th>Amount</th>
											<th>Counterparty Bank</th>
											<th>Bank Location</th>
										</tr>
									</thead>
									<tbody>
									<tr ng-repeat="txns in detectedTransactions">
										<td>{{ txns.date | date:'dd-MM-yyyy' }}</td>
										<td>{{ txns.transactionType }}</td>
										<td>{{ txns.counterParty }}</td>
										<td>{{ txns.country }}</td>
										<td>{{ txns.amount }}</td>
										<td>{{ txns.counterPartyBank }}</td>
										<td>{{ txns.country }}</td>
									</tr>
										
									</tbody>
								</table>
								 <div class="text-right">
                                      <ul class="transaction-alert-pagination" uib-pagination total-items="detectedTransactionsLength" items-per-page="{{ itemsPerPage }}" ng-model="pageNum"
                                          ng-change="pageChanged(pageNum)" max-size="2" class="pagination-sm" boundary-link-numbers="true">

                                      </ul>
                                  </div>
							</div>
							<!--  Notifications Tab Ends  -->

							<!--  Notifications Tab Starts  -->
							<div class="tab-pane" ng-class="{'active': !detectedTransactionTab}" id="allTransactions">
								<table class="table custom-table-stripped">
									<thead>
										<tr>
											<th>Data</th>
											<th>Type</th>
											<th>Counterparty</th>
                                            <th>Country of Counterparty</th>
											<th>Amount</th>
											<th>Counterparty Bank</th>
											<th>Bank Location</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="txns in allTransactions">
										<td>{{ txns.date | date:'dd-MM-yyyy' }}</td>
										<td>{{ txns.transactionType }}</td>
										<td>{{ txns.counterParty }}</td>
										<td>{{ txns.country }}</td>
										<td>{{ txns.amount }}</td>
										<td>{{ txns.counterPartyBank }}</td>
										<td>{{ txns.country }}</td>
									</tr>
									</tbody>
								</table>
								 <div class="text-right">
                                      <ul class="transaction-alert-pagination" uib-pagination total-items="allTransactionsLength" items-per-page="{{ itemsPerPage }}" ng-model="pageNumAll"
                                          ng-change="pageChanged(pageNumAll,'all')" max-size="2" class="pagination-sm" boundary-link-numbers="true">

                                      </ul>
                                  </div>
							</div>
							<!--  Notifications Tab Ends  -->

						</div>
					</div>
					<!--  Custom Tabs Wrapper Ends  -->
				</div>
				<!--  Third Column Ends  -->

			</div>
			<!--  Risk Row Ends  -->
		</div>
		<!--  Risk Grid Starts  -->
	</div>
	<!--  Alert Dashboard Wrapper Starts  -->
</div>
<!--  Risk Modal Ends  -->

<script>
$(document).ready(function() {
	/*Custom Scroll Bar*/
	$('.transaction-modal .modal-body .alert-dashboard-wrapper, .main-counter-parties-scroll').mCustomScrollbar({
		axis : "y",
		theme : "minimal-dark"
	});
});
</script>
	