<!--  Side Risk Modal Starts  -->
<div class="modal-header">
	<button type="button" class="close" style="color:{{txtColor}} !important" ng-click="closeUploadDocument()">
		<span>&#x2716;</span>
	</button>
	<h4 class="modal-title" style="color:{{txtColor}} !important">{{type}}</h4>
</div>
<div class="modal-body">	
	<div class="alert-dashboard-wrapper">
		<div class="chart-panel-wrapper four-grid">
			<!--  Risk Right Col Starts  -->
			<div class="row custom-row">

				<!--  First Column Starts  -->
				<div class="col-sm-12 custom-col">  

					<!-- Chart Panel Starts -->
					<div class="panel chart-panel">
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-4"><p class=" text-dark-grey1 mar-b5" >Amount</p></div>
								<div class="col-sm-8"><p class="count text-dark-grey1 mar-b5" style="color:{{txtColor}} !important">{{Amount}}</p></div>
							</div>
							<div class="row">
								<div class="col-sm-4"><p class="text-dark-grey1 mar-0">Alert</p></div>
								<div class="col-sm-8 text-light-red"><p class="text-dark-grey1 count mar-0" style="color:#CD3F87 !important">{{CountTotal}}<span class="text-dark-grey1 mar-l5">({{ alertRatio }}%)</span></p></div>								
							</div>  
						</div>
					</div>
					<!-- Chart Panel Ends -->

				</div>
				<!--  First Column Ends  -->

				<!--  Second Column Starts  -->
				<div class="col-sm-12 custom-col">

					<!-- Chart Panel Starts -->
					<div class="panel chart-panel">
						<div class="panel-heading">
							<div class="row">
								<div class="col-sm-4">
									<h3 class="width-100">Scenarios</h3>
								</div>
								<div class="col-sm-8">
									<div class="custom-multiselect-wrapper w-100">
									<select class="custom-select square" ng-change=getScenariosGraph() ng-model="selectedToTopModel">
										<option ng-repeat="scenario in scenarios">{{ scenario }}</option>
									</select>
<!-- 										<div ng-change=getScenariosGraph() ng-dropdown-multiselect="" options="selectedToTopData" selected-model="selectedToTopModel" extra-settings="selectedToTopSettings"></div> -->
									</div>
								</div>
							</div>
							<!-- Chart Panel Ends -->

						</div>
						<div class="panel-body">
							<div class="side-risk-chart-wrapper" ng-if="loadDummy">
								<div class="centered-text">
									<span>Select A Scenario</span>To View Visualisation
								</div>		
													
							</div>
							<div id="sideRiskBarChartOne"></div>
							 <span ng-if="sideRiskBarChartOnePreloader" class="custom-spinner case-dairy-spinner">
                                  <i class="fa fa-spinner fa-spin fa-2x"></i>
                            </span>	
							
						</div>
					</div>
				</div>
				<!--  Second Column Ends  -->

				<!--  Third Column Starts  -->
				<div class="col-sm-12 custom-col risk-custom-col">

					<!-- Chart Panel Starts -->
					<div class="panel chart-panel">
						<div class="panel-heading">
							<h3>Associated Alerts By Amount</h3>
						</div>
						<div class="panel-body">
							<div id="associatedAlertsByAmount"></div>
						</div>
					</div>
					<!-- Chart Panel Ends -->

					<!-- Chart Panel Starts -->
					<div class="panel chart-panel">
						<div class="panel-heading">
							<h3>Associated Alerts By Numbers</h3>
						</div>
						<div class="panel-body">
							<div id="associatedAlertsByNumber"></div>
						</div>
					</div>
					<!-- Chart Panel Ends -->

				</div>
				<!--  Third Column Ends  -->

			</div>
			<!--  Risk Right Col Ends  -->
		</div>
	</div>
</div>
 <span ng-if="sideModalPreloader" class="custom-spinner case-dairy-spinner">
                                  <i class="fa fa-spinner fa-spin fa-2x"></i>
  </span>
<!--  Side Risk Modal Ends  -->

<script>
	setTimeout(function () {
		$('.custom-modal.right .modal-dialog .modal-content .modal-body').mCustomScrollbar({
			axis: "y",
			theme: "minimal-dark"
		});
	}, 10);
</script>