<span ng-show="viewAllTxsPreloader" class="custom-spinner case-dairy-spinner"> 
	<i class="fa fa-spinner fa-spin fa-2x"></i>
</span>
<div class="modal-header">
    <button type="button" class="closePulseModal" ng-click="closeViewAllTransModal()" data-dismiss="modal">&times;</button>
    <h4 class="modal-title" ng-hide="strReported">{{modalHeader}}</h4>
</div>
<div class="modal-body">
    <div class="row text-uppercase">
        <div class="col-sm-4">
            <p class="text-lighter-grey">total transaction :
                <span>{{txsdetails.totalTransactions}}</span>
            </p>
        </div>
        <div class="col-sm-4">
            <p class="text-lighter-grey">total amount :
                <span ng-if="productType == 'ActivityType' || productType == 'Banks' || productType == 'GeoGraphic' || productType == 'BankLocations' || productType == 'Geography' || productType == 'Shareholders' || productType == 'CorporateStructure' ||  productType == 'allTxs' ||  productType == 'CustomerRisk' || productType == 'ProductRisk' || productType == 'CorruptionRisk' || productType == 'PoliticalRisk' || productType == 'GeoGraphicRisk'">
                	{{ txsdetails.totalAmount }}
               	</span>
                <span ng-if="productType != 'ActivityType' && productType != 'Banks' && productType != 'GeoGraphic' && productType != 'BankLocations' && productType != 'Geography' && productType != 'Shareholders' && productType != 'CorporateStructure' &&  productType != 'allTxs' &&  productType != 'CustomerRisk' && productType != 'ProductRisk' && productType != 'CorruptionRisk' && productType != 'PoliticalRisk' && productType != 'GeoGraphicRisk'">
                	$ {{ txsdetails.totalAmount | number : 1 }}
               	</span>
            </p>
        </div>
        <div class="col-sm-4">
            <p class="text-lighter-grey">alerted :
                <span>{{txsdetails.alerted}}</span>
            </p>
        </div>
    </div>
    <div class="custom-data-table-wrapper tab-content">
        <table class="table transaction-alerts-table custom-table-stripped" datatable="ng" dt-options="dtOptions1">
            <thead>
                <th width="20%">Date</th>
                <th width="20%">Time</th>
                <th width="40%">Alerted amount</th>
                <th width="20%">transaction amount</th>
            </thead>
            <tbody>
                <tr ng-repeat="txsData in txsDataByproductType track by $index">
                    <td>{{txsData.txDate}}</td>
                    <td>{{txsData.txTime}}</td>
                    <td>{{txsData.alertAmount | currency}}</td>
                    <td>{{txsData.txAmount | currency}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" ng-hide="txsLength == 0 || txsLength <= 25">
	         <ul class="transaction-alert-pagination" uib-pagination total-items="txsLength" items-per-page="25" ng-model="pageNum"
	             ng-change="pageChanged(pageNum)" max-size="2" class="pagination-sm" boundary-link-numbers="true">
	         </ul>
   	    </div>
    </div>
</div>
<!-- <div class="modal-footer" ng-hide="strReported">

</div> -->